details, summary {display: block;}
details.details_shim_closed > * {display: none;}
details.details_shim_closed > summary {display: block;}
details.details_shim_open   > summary {display: block;}
details.details_shim_closed > summary:before {display: inline-block;}
details.details_shim_open   > summary:before {display: inline-block;}