//@import "../index.less";

//Iconography (http://fontawesome.io/cheatsheet/)
@icons:
twitter "\f099",
facebook "\f09a",
youtube "\f167",
close "\f00d",
bell "\f0f3",
user "\f007",
caret-right "\f0da",
news "\f1ea",
eye "\f06e",
institution "\f19c",
heart "\f004",
important "\f06a",
flag "\f024",
book "\f02d",
envelope "\f0e0",
cal "\f073",
graph "\f1fe",
megaphone "\f0a1",
camera "\f030",
ticket "\f145";



@iconsLength : length(@icons);
.icons-init(@icons; @index) when (@index > 0) {
    .icons-init(@icons; (@index - 1)); // decrement.
    @pair : extract(@icons, @index);
    @key:   extract(@pair, 1);
    @value: extract(@pair, 2);
    .icon-@{key}{
        &:before{ .fa; content:'@{value}'; }
        &.icon-after{
            &:before{content:'';}
            &:after{.fa; content:'@{value}'}
        }
    }
}

//Initialize Icon Classes
.icons-init(@icons; @iconsLength);

.icon[aria-expanded="true"][data-toggle="canvas"]{
    &:before{ content:'\f00d'; }
    &.icon-after{
        &:before{content: '';}
        &:after{content:'\f00d'; }
    }
}
