@import (reference) "/views/styles/index.less";
@import (reference) "/views/styles/animate.import.less";

#main section.outreach{
    background-color: @white;
    & > div > header p {
        margin-bottom: 30px;
    }
    .action-alert-link{
        margin-bottom: 20px;
        background:@teal;
        clear: both;
        display: block;
        margin: 0 auto;
        margin-top: 30px;
        &:before{
            width: 100%;
            height: 1px;
            display: block;
            clear: both;
        }
    }
    menu.tabs.left >li:first-child:before{ content: 'Get Involved'; }
    @media (min-width:768px){
        background-color: @navy;
        //background: url('/lib/img/outreach_bg.jpg') no-repeat center;
        background: #4B79A1; /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #4B79A1 , #283E51); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #4B79A1 , #283E51); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        //padding-bottom: 80px;
    }
    position: relative;
    div.tab-box{
        background: -webkit-linear-gradient(to right, #4b79a1, #283e51);
        background: linear-gradient(to right, #4b79a1, #283e51);
    }
    div.tabs > article{
        details{
            .borderRadius(2px);
            //overflow: hidden;
            margin-bottom:10px;
            //background-color: lighten(@gray,5%);
            background: #fff;
            .inner{padding: 0px !important;}
            p{
                color: @black !important; //override tabs default
                margin-bottom:10px;
                }
            summary{
                padding: 15px;
                display: block;
                .buttonColor(darken(@blueGray, 0%)) !important;
                .shadow(far);
                .down{display: none;}
                .up{display: inline;}
                h4{margin: 0px;color: @white;}
                color:@white !important;
                .transition(background-color,300ms,ease,0ms);
                h1{color:@white !important;}
                cursor: pointer;
                &:hover{
                    //background-color: @teal;
                    h4{color: @white;}
                    box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.15);
                }
            }
            &[open]{
                .down{display: inline;}
                .up{display: none;}
                summary{
                    //background-color: @teal;
                    h4{color: @white;}
                }
            }
        }
        button.cta{
            background-color: @orange;
            color: @white;
            font-size: 14px;
            line-height: 14px;
            padding: 12px;
            text-transform: uppercase;
            height: auto;
            display: block;
            margin: 0 auto;
            &:hover{
                background-color: darken(@orange, 4%);
            }
            &:active{
                background-color: darken(@orange, 8%);
            }
        }
        &.active{
            max-height: 2000px;
            overflow: visible;
            //border-top: 5px solid @teal;
            //border-bottom: 5px solid @teal;
            opacity: 1;
            .scale(1,1);
            @media @mobile{
                border-top: none;
                border-bottom: none;
            }
        }
    }
}

//section.outreach h1, section.outreach header p{color: @black;}
//Outreach
#main > section.outreach > div > header{
    @media (min-width:768px){
        h1, p{color: @white;}
        h1{
            &:before, &:after{
                content:'';
                height: 6px;
                width: 6px;
                background-color: @gray;
                border:3px solid @white;
            }
        }
    }
}

section.outreach{
    .shadow-box{
        &:after, &:before{
            z-index: -1;
        }
    }
}

@media print{
    #main section.outreach .action-alert-link {
        display: inline;
    }
    #main section.outreach div.tabs > article > h2{ border: none !important;}
    #main section.outreach .tab-box {
        max-width: none;
        margin: 0;
    }
    #main section.outreach div.tabs > article details summary {
        background: transparent !important;
        padding: 0px !important;
        box-shadow: none !important; -webkit-box-shadow:none !important;
    }
    #main section.outreach div.tabs > article details summary h1 {
        color: #333 !important;
    }
    #main section.outreach div.tabs > article > h2 {
        text-align: left;
    }
    section.outreach [data-list-type="article"] .inner article {
        padding: 0px;
        margin-top: 20px !important;
    }
}