<template name="navigation">
    <header class="main" id="menu">
        <div class="brand">
            <a href="/" class="brandLink">
                <img src="/lib/img/wcasa-wisconsin-coalition-against-sexual-assault.svg" alt="WCASA" />
            </a>
        </div>
        <div class="brand-small">
            <a href="/" class="brandLink">
                <img src="/lib/img/wcasa-small.svg" alt="WCASA" />
            </a>
        </div>
        <nav class="mainNav container">
            <ul>
                {{#each sections}}
                    {{> menuItem}}
                {{/each}}
            </ul>
        </nav>
    </header>
</template>

<template name="menuItem">
    <li data-type="main-navigation-item">
        <a href="/{{anchor name=name}}">{{name}}</a>
    </li>
</template>