<template name="utility">
    <nav id="utility" class="utility" data-focus="global">
        <ul>
            {{#if currentUser}}
                <li class="feedback right">
                    {{> feedback}}
                </li>
            {{/if}}
            {{#if currentUser}}
                {{#each items}}
                    {{#if equals user 'active'}}
                        {{>utilityItem}}
                    {{/if}}
                {{/each}}
            {{else}}
                 {{#each items}}
                    {{#if equals user 'inactive'}}
                        {{>utilityItem}}
                    {{/if}}
                {{/each}}
            {{/if}}
             {{#each items}}
                {{#if equals user 'public'}}
                    {{>utilityItem}}
                {{/if}}
            {{/each}}
            {{#if isAdmin}}
                <li class="right admin">
                    {{> admin}}
                </li>
                {{> feedbackAdmin}}
            {{/if}}
        </ul>
    </nav>
</template>

<template name="utilityItem">
    <li class="{{#if equals position 'right'}}right{{/if}} {{#if more}}more{{/if}} {{classes}}">
        <a href="{{#if equals type 'link'}}{{{url}}}{{/if}}{{#if equals type 'sidebar'}}/{{{sidebar}}}{{/if}}{{#if equals type 'null'}}/{{/if}}" target="{{target}}" class="{{#if icon}}icon icon-{{{icon}}}{{/if}} {{#if iconAfter}}icon-after{{/if}} {{#if this.alerts}}{{#if show}}notificationAlert{{/if}}{{/if}}" aria-controls="{{#if equals type 'sidebar'}}{{{sidebar}}}{{/if}}" aria-expanded="false" data-toggle="{{#if equals type 'sidebar'}}canvas{{/if}}" data-action="{{#if action}}{{action}}{{/if}}" data-notification={{this.alert.show}}>
            {{{title}}}
            {{#if equals sidebar 'account'}}<i>&#xf007;</i> {{name}}{{/if}}
        </a>
        {{#if more}}
                {{> Template.dynamic template=more}}
        {{/if}}
    </li>
</template>
