section.contact{
    position: relative; //To prevent 'top' button from going down page during dev (Not required)
    background-color: @gray; //to be removed. just for FED
    main{
        max-width: 655px;
        margin: 0 auto;
    }
    ul.contactInfo, p.address{
        text-align: center;
        font-size: 13px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: @navy;
        .os;
        a{
            color: @black;
            text-decoration: underline;
            &:hover{
                color: @teal;
            }
        }
        li{
            display: inline-block;
            width: 30%;
        }
        @media @mobile{
            li{
                display: block;
                width: 100%;
            }
        }
    }
    p.address{
        margin-top: 30px;
    } 
    form{
        max-width: 540px;
        margin: 0 auto;
        margin-top: 40px;
        ::-webkit-input-placeholder {color: @white;}
        :-moz-placeholder {color: @white;}
        ::-moz-placeholder {color: @white;}
        :-ms-input-placeholder {color: @white;}
        @media @mobile{
            padding: 20px;
            margin-top: 0px;
        }
        input, textarea{
            .rw;
            background-color: @navy;
            color: @white;
            text-transform: uppercase;
            font-size: 26px;
            font-weight: 100;
            border: none;
            &:hover{
                background-color: darken(@navy, 1%);
            }
            &:focus{
                outline: none;
                border: none;
                background-color: darken(@navy, 3%);
            }
            @media @mobile{
                font-size: 18px;
            }
        }
        textarea{
            padding:10px;
            width: ~'calc(100% - 20px)';
            height: 250px;
            margin-bottom: 20px;
        }
        input[type=submit]{
            background-color: @orange;
            display: block;
            width: auto;
            padding: 20px;
            margin: 0 auto;
            &:hover{
                background-color: darken(@orange, 5%);
            }
            &:active{
                background-color: darken(@orange, 10%);
            }
        }
    }
    .footerBrand{
        text-align: center;
        margin: 60px 0px;
    } 
    .top{
        position: absolute;
        right: 0px;
        bottom: 0px;
        padding: 17px 25px;
        color: @white;
        font-size: 20px;
        letter-spacing: 1px;
        font-weight: 600;
        text-transform: uppercase;
        background-color: @navy;
        span{
            font-size: 12px;
            position: relative;
            top: -2px;
        }
        &:hover{
            background-color: darken(@navy, 1%);
        }
        &:active{
            background-color: darken(@navy, 3%);
        }
    }
    .copyright{
        .os;
        color: darken(@gray,25%);
        text-transform: uppercase;
        text-align: center;
        padding-bottom: 40px;
        font-size: 12px;
        letter-spacing: 1px;
    }
    .formResponse{
        text-align: center;
        margin: 40px 0px 0px 0px;
        padding: 40px;
        p, h3{
            text-align: center;
            color: @white;
            max-width: 400px;
            margin: 0 auto;
            font-weight: 600;
        }
        h3{
            font-weight: 800;
        }
        @media @mobile{
            padding: 20px;
            margin: 20px;
        }
    }
    &.thanksContact{
        background-color: @teal;
    }
    &.failureContact{
        background-color: @orange;
    }
}