<template name="list">
    {{#if equals type 'article'}}
        <section data-list-type="{{type}}" data-list-paginate="{{#if paginate}}{{paginate}}{{/if}}" data-list-paginate-count="{{#if perPage}}{{perPage}}{{/if}}" class="{{type}}{{#if style}} {{style}}{{/if}}">
            {{#if equals itemType 'category'}}
                {{#each item}}
                    <article>
                        <details aria-expanded="false" aria-controls="{{category.id}}">
                            <h1>{{category.title}}</h1>                     
                            <summary id="{{category.id}}">
                                <h1>{{category.title}}</h1>
                            </summary>
                            {{#each category.item}} 
                                {{>articleItem}} 
                            {{/each}}
                        </details>
                    </article>
                {{/each}}
            {{/else}}
                {{#each item}}
                    {{>articleItem}}
                {{/each}}
            {{/if}}
        </section>
    {{/if}}

    {{#if equals type 'catalog'}}
        <section data-list-type="{{type}}" data-list-paginate="{{#if paginate}}{{paginate}}{{/if}}" data-list-paginate-count="{{#if perPage}}{{perPage}}{{/if}}" class="{{type}}{{#if style}} {{style}}{{/if}}">
        {{#each item}}
            <article>
                <aside>
                    {{#if type}}
                        <dl class="material"><dt>Material</dt><dd>{{catalog.type}}</dd></dl>
                    {{/if}}
                    {{#if stauts}}
                        <dl class="{{catalog.status.type}}"><dt>Status</dt><dd>{{catalog.status.text}}</dd></dl>
                    {{/if}}
                    <menu>
                        {{#if equals catalog.status.type 'transit'}}
                            <li><button>Request Copy</button></li>
                        {{/if}}
                        <!--Remaining interaction buttons here-->
                    </menu>
                </aside>
                <details aria-expanded="false" aria-controls="{{catalog.id}}">
                    <summary id="catalog{{catalog.id}}">
                        <h1>{{catalog.title}}</h1>   
                        <p>{{catalog.byline}}</p>   
                    </summary>       
                    <dl>
                        <dt>Call Number</dt><dd>{{catalog.callNumber}}</dd>
                        <dt>Copies</dt><dd>{{catalog.copies}}</dd>
                        <dt>Subject Headings</dt><dd>{{catalog.subjectHeading}}</dd>
                        <dt>Classification</dt><dd>{{catalog.classification}}</dd>
                        <dt>Category</dt><dd>{{catalog.category}}</dd>
                        <dt>Material</dt><dd>{{catalog.type}}</dd>
                    </dl>
                </details>
            </article>
        {{/each}}
        </section>
    {{/if}}

    {{#if equals type 'toggle'}}
    <!--container-->
        {{#each item}}
        {{/each}}
    <!--container-->
    {{/if}}
    {{#if equals type 'event'}}
    <!--container-->
        {{#each item}}
        {{/each}}
    <!--container-->
    {{/if}}
    {{#if equals type 'location'}}
    <!--container-->
        {{#each item}}
        {{/each}}
    <!--container-->
    {{/if}}
</template>




<!--This could exist in another file perhaps.-->
<template name="articleItem">
    <article role="document">
        <a href="{{url}}" target="_blank" class="{{#if icon}}icon icon-{{{icon}}}{{/if}}">
            {{#if date}}<time class="dateMeta" datetime="{{date}}">{{friendlyDate}}</time>{{/if}}
            {{#if title}}<h3>{{title}}</h3>{{/if}}
            {{#if content}}<p class="content">{{content}}</p>{{/if}}
        </a>  
    </article>
</template>