<template name="espanolServiciosBilingues">
  <header class="mobile"><h2>{{title}}</h2></header>
  <div class="sidebar-editable sidebar-document">
    <p>En caso de un incidente de abuso sexual o violación.</p>
    <h3>Dane County</h3>
    <ul>
      <li>
        <h4>Centro para Crisis por Violación (<a href="https://thercc.org/" target="_blank">Rape Crisis Center</a>)</h4>
        <p>RCC ofrece servicios a víctimas de abuso sexual en el Condado de Dane. Los servicios son gratuitos y confidenciales. Pedir por intérprete en español.</p>
        <p>
          <a href="https://www.google.com/maps?q=2801+Coho+St.+%0D%0A+%0D%0A+Suite+301+%0D%0A+%0D%0A+Madison,+WI+53713&entry=gmail&source=g" target="_blank">
            2801 Coho St., Suite 301<br />
            Madison, WI 53713<br />
          </a>
          Teléfono: (608) 25 – VALOR
        </p>    
        <hr />
      </li>
      <li>
        <h4>Proyecto Respeto (<a href="http://www.arccommserv.com/programs.html#RESPECT" target="_blank">Project Respect</a>)</h4>
        <p>Esta organización es parte del ARC Servicio Comunitario y provee servicios de intervención, consejería e intervención en caso de crisis para mujeres con una historia de prostitución.</p>
        <p>
          <a href="https://www.google.com/maps?q=822+E+Johnson+St+%0D%0A+%0D%0A+Madison,+WI+53703&entry=gmail&source=g" target="_blank">
            822 E Johnson St<br />
            Madison, WI 53703<br />
          </a>
          Telefono: (608) 283-6435
        </p>    
        <hr />
      </li>
      <li>
        <h4>Examen Médico en el Hospital Meriter para víctimas de abuso sexual (SANE Exam)</h4>
        <p>Este examen se realiza en el Departamento de Emergencia del Hospital Meriter en Madison. Pida por intérprete en  Español si es necesario.</p>
        <p>
          <a href="https://www.google.com/maps?q=202+South+Park+St+%0D%0A+%0D%0A+Madison,+WI+53715&entry=gmail&source=g" target="_blank">
            202 South Park St<br />
            Madison, WI 53715<br />
          </a>
          Telefono: (608) 417-5916<br />
          Puede llamar directamente al programa de SANE en el Hospital al teléfono: (608) 417-5916. Pida por intérprete en español si es necesario.
        </p>    
        <hr />
      </li>
      <li>
        <h4><a href="https://unidoswi.org/es/" target="_blank">UNIDOS Contra la Violencia Domestica</a></h4>
        <p>UNIDOS provee información de los recursos para las víctimas de violencia domestica y abuso sexual en el condado. Todos los servicios son gratuitos y confidenciales. Todas las personas en nuestras oficinas hablan español.</p>
        <p>
          <a href="https://www.google.com/maps?q=128+E.+Olin+Ave.+%0D%0A+%0D%0A+Suite+201+%0D%0A+%0D%0A+Madison,+WI+53713&entry=gmail&source=g" target="_blank">
            128 E. Olin Ave., Suite 201<br />
            Madison, WI 53713<br />
          </a>
          Teléfono: 1-800-510-9195
        </p>    
        <hr />
      </li>
      <li>
        <h4><a href="https://abuseintervention.org/help/servicios-recursos/" target="_blank">Servicio de Intervención al Abuso Domestico (DAIS)</a></h4>
        <p>Albergue del Condado de Dane para mujeres con niños menores de 18 que sean víctimas de violencia doméstica y/o abuso sexual. Entre otros servicios, esta organización ofrece: ayuda legal, programa para niños que son víctimas o testigos de abuso, intervención durante una crisis de violencia domestica, albergue, y otros.</p>
        <p>
          Línea de Ayuda: (608) 251-4445 o Línea gratuita: 1- 800-747-4045
        </p>    
      </li>
    </ul>
    <h3>Kenosha County</h3>
    <ul>
      <li>
        <h4><a href="http://vdlf.org/es/" target="_blank">Voces de la Frontera</a> - Kenosha (<a href="https://www.facebook.com/VocesdelaFronteraWI/" target="_blank">Facebook</a>)</h4>
        <p>Voces de la Frontera es la organización líder de los derechos de los inmigrantes en <a href="https://www.google.com/maps?q=Wisconsin%E2%80%A6+%0D%0A+%0D%0A+1213+55th+Street+%0D%0A+%0D%0A+Kenosha,+WI&entry=gmail&source=g" target="_blank">Wisconsin</a>...</p>
        <p>
          <a href="https://www.google.com/maps?q=Wisconsin%E2%80%A6+%0D%0A+%0D%0A+1213+55th+Street+%0D%0A+%0D%0A+Kenosha,+WI&entry=gmail&source=g" target="_blank">
            1213 55th Street<br />
            Kenosha, WI<br />
          </a>
          Tel: (262) 484-4577
        </p>    
      </li>
    </ul>
    <h3>Racine County</h3>
    <ul>
      <li>
        <h4><a href="http://vdlf.org/es/" target="_blank">Voces de la Frontera</a> - Racine (<a href="https://www.facebook.com/VocesdelaFronteraWI/" target="_blank">Facebook</a>)</h4>
        <p>Voces de la Frontera es la organización líder de los derechos de los inmigrantes en <a href="https://www.google.com/maps?q=Wisconsin%E2%80%A6+%0D%0A+%0D%0A+1213+55th+Street+%0D%0A+%0D%0A+Kenosha,+WI&entry=gmail&source=g" target="_blank">Wisconsin</a>...</p>
        <p>
          <a href="https://www.google.com/maps?q=Wisconsin%E2%80%A6+%0D%0A+%0D%0A+2100+Layard+Avenue+%0D%0A+%0D%0A+Racine,+WI+53404&entry=gmail&source=g" target="_blank">
            2100 Layard Avenue<br />
            Racine, WI 53404<br />
          </a>
          Tel: (262) 619-4180
        </p>    
      </li>
    </ul>    
    <h3>Milwaukee County</h3>
    <ul>
      <li>
        <h4><a href="https://www.umos.org/social_services/latina_resource_center.html" target="_blank">UMOS Latina Resource Center</a> (<a href="https://www.facebook.com/pages/UMOS-Latina-Resource-Center/139549329430780" target="_blank">Facebook</a>)</h4>
        <p>The UMOS Latina Resource Center, has the specific mission to empower women and strengthen families impacted by domestic violence, dating violence, sexual assault and Human Trafficking.</p>
        <p>
          <a href="https://www.google.com/maps?q=802+W.+Mitchell+Street+%0D%0AMilwaukee,+WI+53204&entry=gmail&source=g" target="_blank">
            802 W. Mitchell Street<br />
            Milwaukee, WI 53204<br />
          </a>
          Phone: (414) 389-6508<br />
          Crisis Line: (414) 389-6510<br />
          Email: <a href="mailto:mariana.rodriguez@umos.org">mariana.rodriguez@umos.org</a>
        </p>    
        <hr />
      </li>
      <li>
        <h4><a href="http://vdlf.org/es/" target="_blank">Voces de la Frontera</a> - Milwaukee (<a href="https://www.facebook.com/VocesdelaFronteraWI/" target="_blank">Facebook</a>)</h4>
        <p>Voces de la Frontera es la organización líder de los derechos de los inmigrantes en <a href="https://www.google.com/maps?q=Wisconsin%E2%80%A6+%0D%0A+%0D%0A+1213+55th+Street+%0D%0A+%0D%0A+Kenosha,+WI&entry=gmail&source=g" target="_blank">Wisconsin</a>...</p>
        <p>
          <a href="https://www.google.com/maps?q=Wisconsin%E2%80%A6+%0D%0A+%0D%0A1027+S.+5th+Street+%0D%0A+%0D%0AMilwaukee,+WI+53204&entry=gmail&source=g" target="_blank">
            1027 S. 5th Street<br />
            Milwaukee, WI 53204<br />
          </a>
          Tel: (414) 643-1620<br />
          Fax: (414) 643-1621
        </p>    
      </li>
    </ul>    
  </div>
</template>

<template name="espanolRecursos">
  <header class="mobile"><h2>{{title}}</h2></header>
  <div class="sidebar-editable sidebar-document">
    <h3>Serie de Hojas de Informacion de WCASA</h3>
    <ul>
      <li><a href="https://www.nsvrc.org/publications/en-espanol-sexual-assault-awareness-month/que-es-la-violencia-sexual" target="_blank">¿Queì es la violencia sexual? (NSVRC, 2016)</a></li>
      <li><a href="http://www.wcasa.org/file_open.php?id=153" target="_blank">Abuso Sexual Infantil (2010)</a></li>
      <li><a href="http://www.wcasa.org/file_open.php?id=1564" target="_blank">Recursos Legales Civiles (2018)</a></li>
      <li><a href="http://www.wcasa.org/file_open.php?id=1561" target="_blank">Denuncia Obligatoria por Abuso y Negligencia Infantil (2016)</a></li>
      <li><a href="http://www.wcasa.org/file_open.php?id=1560" target="_blank">Definición de Delitos Previstos en la Legislación de Wisconsin Sobre Abuso Sexual (2018)</a></li>
      <li><a href="http://www.wcasa.org/file_open.php?id=1562" target="_blank">Ley de Prescripción de Plazos (2016)</a></li>
      <li><a href="http://www.wcasa.org/file_open.php?id=1563" target="_blank">Leyes sobre el Asalto Sexual Infantil (2014)</a></li>
      <li><a href="http://www.wcasa.org/file_open.php?id=1559" target="_blank">Crímenes contra menores en Wisconsin (2014)</a></li>
      <li><a href="http://www.wcasa.org/admin/file/file_open.php?id=1558&linkvars=startrow%3D0%26search%3Dconfidencialidad" target="_blank">Confidencialidad en las Conversaciones entre una Intercesora y una Víctima  (2014) </a></li>
      <li><a href="http://www.wcasa.org/file_open.php?id=1565" target="_blank">Trata de Personas y Trata de Menores (2014)</a></li>
    </ul>
    <h3>Otros Recursos</h3>
    <ul>
      <li><a href="https://beta.wcasa.org/what-we-do/anti-oppression/lgbtq">LGBTQ en Espanol (WCASA)</a></li>
      <li><a href="https://hotline.rainn.org/es/" target="_blank">La Linea de Ayuda Nacional Online del Asalto Sexual (RAINN)</a></li>
      <li>
        <a href="https://www.nsvrc.org/es" target="_blank">National Sexual Assault Resource Center (NSVRC)</a>
        <br />
        - La misión del NSVRC es proporcionar liderazgo en la prevención y responder a la agresión sexual a través de la colaboración, el intercambio y la creación de recursos, y la promoción de la investigación.
        <ul>
          <li>CALCASA</li>
          <li>TAASA</li>
        </ul>
      </li>
    </ul>
  </div>
</template>

<template name="espanolSubhead">
  <p>Los latinos pueden enfrentar barreras adicionales para tener acceso a los servicios y la información.</p>
</template>