<template name="calendarList">
    <section id="calendar-list" class="calendar-list">
        <h4 class="fa list-view">
            <span>&#xf053;</span> 
            List View
        </h4>
            <ul>
                {{#each events}}
                    {{> eventListItem}}
                {{/each}}
            </ul>
    </section>
</template>


<template name="eventListItem">
    <li>
        <a class="details-ref" href="javascript:void(0)">
            <img src="/lib/img/temp-event-featured.jpg" alt="" />
            <div class="event-meta">
                <h4>{{name}}</h4>
                <time datetime="{{start}}">
                    <span class="date">{{date this}}</span>
                    <span class="time">{{time this}}</span></time>
                <address>Location: {{location}}</address>
            </div>
        </a>
    </li>
</template>