<template name="eventDetail">
    <article class="event-detail">
        <div class="a-map-canvas">
            Map data 
        </div>
        <h4>Survivors &amp; Allies Task Force Meeting</h4>
        <time>4:00pm to 11:00pm</time>
        <time class="date" datetime="2008-02-14 20:00">
            <span>21</span>Aug
        </time>
        <a href="javascript:void(0)" class="close-carousel">Back to Calendar</a>
        <div class="meta">
            <address>
                Event Center<br>
                123 Fake Street<br>
                Milwaukee, WI 53211
            </address>          
            <span class="contact-information">
                <a href="#" title="">www.website.com</a>
                <a href="mailto:#" title="">joe@website.com</a>
                <a href="tel:14141234567" title="">414-123-4567</a>
            </span>
            <span class="event-note">
                Coatcheck opens at 7pm. Reserve parking in advance. Please no clown suits.
            </span>
        </div>
        <img src="lib/img/temp-event-featured.jpg" alt="" />
        <details>
            <p>
                Survivors and Allies Task Force Meetings are held to bring Wisconsin survivors and their allies together so they may network and discuss new developments in the sexual assault movement. It is important to make the connection between the two groups. The purpose of the meeting is to provide survivors with opportunities to voice their concerns and suggestions about current issues that the sexual assault movement is facing.
            </p>
            <p>
                Featured Sessions:  Healing thru Art, Boundaries, Survivor Stories, Healthy Relationships
            </p>
        </details>
        <button class="register-for-event">
            <span>
                8/21 - Survivors &amp; Allies Task Force Meeting
            </span>
            Register as tomJones@gmail.com
        </button>
        <ul class="share">
            <li><a href="#" title="" class="facebook fa">&#xf09a;</a></li>
            <li><a href="#" title="" class="twitter fa">&#xf099;</a></li>
            <li><a href="#" title="" class="calendar fa">&#xf271;</a></li>
            <li><a href="#" title="" class="print fa">&#xf02f;</a></li>
        </ul>
    </article>
</template>





<!--Do be deleted, simply duplicate of above to add class active on first element until function in place-->
<template name="eventDetailActive">
    <article class="event-detail active">
        <div class="a-map-canvas">
            Map data
        </div>
        <h4>Survivors &amp; Allies Task Force Meeting</h4>
        <time>4:00pm to 11:00pm</time>
        <time class="date" datetime="2008-02-14 20:00">
            <span>21</span>Aug
        </time>
        <div class="meta">
            <address>
                Event Center<br>
                123 Fake Street<br>
                Milwaukee, WI 53211
            </address>          
            <span class="contact-information">
                <a href="#" title="">www.website.com</a>
                <a href="mailto:#" title="">joe@website.com</a>
                <a href="tel:14141234567" title="">414-123-4567</a>
            </span>
            <span class="event-note">
                Coatcheck opens at 7pm. Reserve parking in advance. Please no clown suits.
            </span>
        </div>
        <img src="lib/img/temp-event-featured.jpg" alt="" />
        <details>
            <p>
                Survivors and Allies Task Force Meetings are held to bring Wisconsin survivors and their allies together so they may network and discuss new developments in the sexual assault movement. It is important to make the connection between the two groups. The purpose of the meeting is to provide survivors with opportunities to voice their concerns and suggestions about current issues that the sexual assault movement is facing.
            </p>
            <p>
                Featured Sessions:  Healing thru Art, Boundaries, Survivor Stories, Healthy Relationships
            </p>
        </details>
        <button class="register-for-event">
            <span>
                8/21 - Survivors &amp; Allies Task Force Meeting
            </span>
            Register as tomJones@gmail.com
        </button>
        <ul class="share">
            <li><a href="#" title="" class="facebook fa">&#xf09a;</a></li>
            <li><a href="#" title="" class="twitter fa">&#xf099;</a></li>
            <li><a href="#" title="" class="calendar fa">&#xf133;</a></li>
            <li><a href="#" title="" class="print fa">&#xf02f;</a></li>
        </ul>
    </article>
</template>