header.mainHeader{
    position: fixed;
    z-index: 11;
    .hardShadow(170%,55px,-35%,-50px);
    nav.mainNav{
        text-align: center;
        background-color: @white;
        z-index: 1;
        ul{
            padding: 185px 0px 31px 0px;
        }
        li{
            display: inline-block;
            margin: 10px 0px 10px 0px;
            &:first-child{
                margin: 0px;
            }
        }
        a {
            display: block;
            .font(1.8,1.8,0.2,@normal,uppercase);
            .color(color,@navy,light);
            padding:0px 0px 8px 0px;
            margin: 0px 36px 0px 36px;
            position: relative;
            &:after {
                content: '';
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                height: 3px;
                .color(background-color,@gray,darker);
                .opacity(0);
                .translate(0px,10px);
            }
            &:hover {
                &:after {
                    opacity: 1;
                    .translate(0px,0px);
                }
            }
            &:focus {
            }
            @media @1450{
                margin: 0px 15px 0px 15px;
                .font(1.6,1.6,0.2,@normal,uppercase);
            }
        }
        li.brand {
            z-index: 10;
            display: block;
            position: absolute;
            left: 50%;
            margin-left: -200px;
            top: 74px;
            width: 400px;
            text-indent: 0px;
            margin-bottom: 42px;
            height: 70px;
            a{
                border: none;
                display: block;
                padding: 0px;
                margin: 0px;
                &:active, &:hover, &:focus{
                    border: none;
                }
                svg, svg image{
                    width: 100%;
                    height: 70px;
                }
                &:after{
                    display: none;
                }
            }
        }
    }
}


//Fixed Header Styles
.fixedHeader header.mainHeader{
    nav.mainNav{
        ul{
            padding:45px 0px 0px 0px;
            @media @1250{
                text-align: right;
            }
            @media @1024{
                text-align: center;
            }
        }
        a{
            border-color: transparent;
            font-size: 14px;
            color: lighten(@navy, 2.5%);
            &:after{
                display: none;
            }
            &:hover, &.active {
                border-color: transparent;
                color: darken(@teal, 2.5%);
            }
            @media @1024{
                line-height: 20px;
                font-size: 12px;
            }
        }
        li.brand{
            top: 47px;
            width: 132px;
            left: 12px;
            height: 36px;
            margin-left: 0px;
            svg, svg image{
                height: 36px;
            }
            @media @1024{
                left: 50%;
                margin-left: -67px;
            }
        }
        @media @1450{
            &:last-child{
                padding-right: 20px;
            }
        }
    }
}

