header.mainHeader{
    position: fixed;
    z-index: @headerZ;
    height: 269px;
    width: 100%;
    .hardShadow(170%,55px,-35%,-50px);
    nav.mainNav{
        text-align: center;
        background-color: @white;
        ul{
            padding: 197px 0px 55px 0px;
            height: 17px;
        }
        li{
            display: inline-block;
        }
    }
}


//Logo
header.mainHeader nav.mainNav li.brand {
    display: block;
    position: absolute;
    top: 75px;
    height: 70px;
    width: 311px;
    left: 50%;
    margin-left: -155px;
    a, a:active, a:hover, a:focus{
        border: none;
        display: block;
        padding: 0px;
        margin: 0px;
        &:after{
            display: none;
        }
    }
}


// Link Styles
header.mainHeader nav.mainNav li a{
    display: block;
    position: relative;
    padding:16px;
    margin: 0px 12px 0px 12px;
    .font(1.8,1.8,0.2,@normal,uppercase);
    .color(color,@navy,light);
    &:after {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: @teal;
        .opacity(0);
        .translate(0px,10px);
    }
    &:hover {
        &:after {
            opacity: 1;
            .translate(0px,0px);
        }
    }
    &:focus {
    }
    @media @1450{
        margin: 0px 0px 0px 0px;
        .font(1.6,1.6,0.2,@normal,uppercase);
    }
}


//Fixed Header Styles
.fixedHeader header.mainHeader{
    height: auto;
    nav.mainNav, nav.mainNav ul{
    height: auto;
    }
}
.fixedHeader header.mainHeader{
    nav.mainNav{
        ul{
            padding:54px 0px 18px 0px;
            li{margin: 0px;}
            @media @1250{
                text-align: right;
            }
            @media @1024{
                text-align: center;
            }
        }
        a{
            will-change:background-color,color;
            .font(1.4,1.4,0.2,@normal,uppercase);
            .color(color,lighten(@navy, 2.5%),none);
            .transition2(background-color,200ms,@canvasEase,0ms,color,200ms,@canvasEase,0ms);
            &:after{
                top: 83%;
                left: 16px;
                width: ~'calc(100% - 32px)';
            }
            &.active,&:active{
                border-color: transparent;
                background-color: @teal;
                color: @white;
                &:after{
                    .opacity(0);
                }
            }
            &:active{
                background-color: @gray;
            }
            &:focus{
                &:after{
                    .opacity(0);
                }
            }
            @media @1024{
                .font(1.2,2.0,0.2,@normal,uppercase);
            }
        }
        li.brand{
            width: 132px;
            height: 36px;
            top: 53px;
            left: 12px;
            margin-left: 0px;
            svg, svg image, a{
                height: 36px;
                width: 166px;
            }
            @media @1024{
                left: 50%;
                margin-left: -67px;
            }
        }
        @media @1450{
            &:last-child{
                padding-right: 20px;
            }
        }
    }
}

//Header Animations/ Transitions
.fixedHeader header.mainHeader .brand{
    will-change:transform;
    animation: brandanimate @headerDuration @headerDelay 1 @headerFirstEase alternate;
}

.fixedHeaderReturn header.mainHeader .brand{
    will-change:transform;
    animation: brandanimatereturn @headerDuration @headerDelay 1 @headerEase alternate;
}
@media @mobile{
    header.mainHeader .brand{
        .noAnimation;
    }
}

header.mainHeader nav.mainNav{
    will-change:transform;
    .transition(transform,@canvasDuration,@canvasEase,@canvasDelay);
    ul{
        will-change:padding;
        .transition(padding,@headerDuration,@headerEase,@headerDelay);
    }
    li a {
        .transition(font,@headerDuration,@headerEase,@headerDelay);
        will-change:font;
        &:after {
            .transition2(opacity,250ms,@canvasEase,0ms,transform,250ms,@canvasEase,0ms);
        }
    }
    li.brand svg, li.brand svg image{
        will-change:width,height;
        .transition2(width,0ms,ease-out,@headerSVGdelay,height,0ms,ease-out,@headerSVGdelay);
    }
}

