@import (reference) "/views/styles/index.less";

// container
.post-page-container{
  background: linear-gradient(top, #00a5a8 0%, #2277b4 100%);
  background: -webkit-linear-gradient(top, #00a5a8 0%, #2277b4 100%);
  .contain{ margin: 0 auto; }
  .contain{ max-width:720px; margin: 0 auto }
}
// setup
section.post {
  max-width: 70%;
  @media (max-width: 1100px){ max-width: 960px; }
  margin: 0 auto;
  background-color: @white;
  box-shadow: 2px 2px 60px 0px rgba(0,0,0,0.4);
  @media @1024 {
    max-width: 740px;
  }
  @media @mobile {
    margin: 0px;
  }
}

section.post {
  // header
  header {
    padding: 40px;
    @media @mobile {
      text-align: center;
      padding: 20px;
    }
    a {
      display: inline-block;
      @media @mobile {
        display: block;
      }
      img {
        height: 80px;
        width: auto;
      }
      &.associatedBrandLinkSingle {
        float: right;
        @media @mobile {
          float: none;
        }
      }
    }
  } 
  // social
  article>aside {
    padding: 7px 40px;
    position: relative;
    z-index: 2;
    .clearfix;
    @media @mobile {
      text-align: center;
    }
    h3 {
      .font(1.4, 1.4, 0.025, @normal, none);
    }
    h3,
    ul,
    ul li {
      display: inline-block;
      margin: 0px;
      padding: 0px;
    }
    a {
      font-size: 23px;
      padding: 0px 5px;
      position: relative;
      top: 2px;
      .textButtonColor(@blue);
    }
    .left a {
      .font(1.4, 1.4, 0.025, bold, none);
    }
    .left {
      float: left;
    }
    .right {
      float: right;
    }
    @media @mobile {
      padding: 0px;
      .left,
      .right {
        display: block;
        padding: 10px;
        float: none;
      }
      .left {
        background-color: @navy;
        h3 a {
          .textButtonColor(@white);
        }
      }
      .right {
        background-color: @gray;
      }
    }
  } 
  // article title
  header.title {
    background-color: #f5f7f7;
    @media @mobile {
      padding: 20px;
    }
    p {
      color: #f4633f;
      .font(2.2, 2.7, 0.025, 400, uppercase);
      margin: 0px;
      @media @mobile {
        font-size: 20px;
      }
    }
    h1 {
      margin: 0px;
      color: #333;
      .font(3.8, 4.1, 0.025, 400, uppercase);
      @media @mobile {
        .font(2.6, 2.8, 0.025, normal, uppercase);
      }
    }
  } 
  // main section styles
  main{ 
    padding: 40px 150px; 
    p, li{ 
      font-size: 1.4rem;
      line-height: 2.6rem;
    }
  }
  header { 
    padding: 59px 150px 53px 150px; 
  }
  main,
  header {
    a{
      display: block;
      text-align: center;
    }
    @media @1024 {
      padding: 40px;
    }
    @media @mobile {
      padding: 20px;
    }
    position: relative; // for admin controls positioning
  } 
  // footer styles
  footer {
    padding: 40px;
    background-color: @gray;
    position: relative;
    @media @mobile {
      padding: 20px;
    }
    p {
      margin-bottom: 10px;
      clear: both;
      color: @black;
      .font(1.1, 1.9, 0, normal, none);
    }
    h3 {
      margin-top: 40px;
    }
    p.hash {
      margin-bottom: 0px;
      @media @mobile {
        margin-top: 20px;
      }
      text-align: center;
      .color(color, @midnightBlue, lightest);
      .font(4.0, 4.0, 1, bold, none);
    }
    ul {
      float: left;
      padding: 0px 30px 40px 0px;
      list-style: none;
      margin: 0px;
      .phone a {
        color: @black;
      }
      li.phone,
      li.email,
      li.name {
        &:before {
          .fa;
          margin-right: 5px;
          color: @midnightBlue;
        }
      }
      li.name:before {
        content: "\f007";
      }
      li.phone:before {
        content: "\f095";
      }
      li.email:before {
        content: "\f0e0";
      }
    }
    ul.social {
      text-align: center;
      clear: both;
      float: none;
      padding: 0px;
      margin: 40px 0px 20px 0px;
      li {
        display: inline-block;
        font-size: 26px;
        margin: 0px 5px 0px 5px;
        a {
          .textButtonColor(@blue);
        }
      }
    }
  }
}

// Admin styles
.post aside.admin {
  position: absolute;
  right: 15px;
  margin-top: -25px;
  button {
    color: @orange;
    font-size: 20px;
  }
}

.post main.edit {
  section {
    display: none;
  }
  textarea {
    width: 100%;
    height: 300px;
    &:focus {
      box-shadow: none;
      -webkit-box-shadow: none;
    }
  }
  &>button {
    background: @teal;
    display: inline-block;
  }
}