<template name="calendar">
        <section id="calendar">
            <h2>Events Calendar</h2>
            <menu>
                    <!--<li>"\f03a"</li>-->
                <a href="javascript:void(0);" class="fa grid-view active">&#xf00a;</a>
                <a href="javascript:void(0);" class="fa list-view">&#xf03a;</a>
            </menu>
            <h3></h3>
            <button class="close-calendar fa">&#xf00d;</button>
            <header>
                <a href="javascript:void(0);" class="previous">&#9664;</a>
                <a href="javascript:void(0);" class="next">&#9658;</a>
            </header>
            <section class="th">
                <span>Sunday</span>
                <span>Monday</span>
                <span>Tuesday</span>
                <span>Wednesday</span>
                <span>Thursday</span>
                <span>Friday</span>
                <span>Saturday</span>
            </section>
            <section id="weeks"></section>

            {{> calendarList}}
        </section>
</template>