<template name="calendarList">
        <section id="calendar-list">
            <h3>Events</h3>
                <ul>
                    <li><a class="details-ref" href="#"><span>1/21</span> An upcoming event title</a></li>
                    <li><a class="details-ref" href="#"><span>1/21</span> An upcoming event title</a></li>
                    <li><a class="details-ref" href="#"><span>1/21</span> An upcoming event title</a></li>
                    <li><a class="details-ref" href="#"><span>1/21</span> An upcoming event title</a></li>
                    <li><a href="#"><span>1/21</span> An upcoming event title</a></li>
                    <li><a class="details-ref" href="#"><span>1/21</span> An upcoming event title</a></li>
                </ul>
        </section>
</template>