<template name="calendarList">
        <section id="calendar-list">
            <h3 class="fa list-view">&#xf03a; Events List</h3>
                <ul>
                    {{> eventListItem}}
                    {{> eventListItem}}
                    {{> eventListItem}}
                    {{> eventListItem}}
                    {{> eventListItem}}
                    {{> eventListItem}}
                    {{> eventListItem}}
                    {{> eventListItem}}
                </ul>
        </section>
</template>


<template name="eventListItem">
    <li>
        <a class="details-ref" href="javascript:void(0)">
            <time class="date" datetime="2008-02-14 20:00">
                <span>
                    21
                </span>
                Aug
                <!--Would it make sense here to put a function which renders a variable based on the speificed datetime property? For instance:
                        if datetime is before current date
                            "<span class="passed-event">
                                {{> date}}"
                            </span>"
                        if datetime is today
                            "<span class="today">
                                Today
                            </span>"
                        if datetime is after today
                            "<span class="upcoming">
                                Today
                            </span>"
                    -->
            </time>
            <img src="/lib/img/temp-event-featured.jpg" alt="" />
            <div class="event-meta">
                <h4>An upcoming event title</h4>
                <time>4:00pm to 11:00pm</time>
                <address>Location: Event Hall, Milwaukee.</address>
            </div>
        </a>
    </li>
</template>