<template name="community">
    <section class="community tabs tabs-bottom" id="{{anchor name=name}}" data-id="{{_id}}">
        {{#if isAdmin}}
            {{> sectionAdmin}}
        {{/if}}
        <main>
            {{#each tabs}}
                {{> article id=this}}
            {{/each}}
            <!--Remove me
            <article class="active">
                {{> article1}}
            </article>
            <article>
                {{> article2}}
            </article>
            <article>
                {{> article3}}
            </article>
            Remove me end-->
        </main>
        <menu class="tabs">
            <ul>
                {{#each tabs}}
                    {{> tab id=this}}
                {{/each}}
                <!--Remove me
                <li class="active">Prevention</li>
                <li>Advocacy</li>
                <li>Evaluation</li>
                Remove me end-->
            </ul>
        </menu>
    </section>
</template>