<template name="header">
<div class="menu">
   <ul class="nav">
      <li>
         <a href="#about">Our Work</a>
      </li>
      <li>
         <a href="#services">Who We Are</a>
      </li>
      <li>
         <a href="#contact">Community</a>
      </li>
      <li>
         <a href="#contact">Service Providers</a>
      </li>
      <li>
         <a href="#contact">Contact</a>
      </li>
      <li>
         <a href="#contact">Members</a>
      </li>
      <li>
         <a href="#contact">Get Help</a>
      </li>
      <li>
         <a href="#contact">Donate</a>
      </li>
   </ul>
</div>
</template>