<template name="header">
    <header class="header" id="menu">
        <a href="#masthead" class="brand">
            <img src="/lib/img/brand-min.png" alt="WCASA" />
        </a>
        <nav>
           <ul>
               {{#each sections}}
                   {{> menuItem}}
               {{/each}}
               <li class="login">
                   {{> loginButtons}}
               </li>
           </ul>
        </nav>
   </header>
</template>

<template name="menuItem">
    <li>
        <a href="#{{anchor name=name}}">{{name}}</a>
    </li>
</template>