<template name="providers">
    <section class="providers drawer" id="{{anchor name=name}}" data-id="{{_id}}">
        {{#if isAdmin}}
            {{> sectionAdmin}}
        {{/if}}
   	    <h2>Locate a WCASA Service Provider Nearest to You</h2>
        <form>
            <label for="county">Find by County</label>
            <span class="select">
                <select id="county" class="county">
                    {{#each counties}}
                        {{> county}}
                    {{/each}}
                </select>
            </span>
                <label for="zip">Find by Zip Code</label>
                <span class="float-right">
                    <!-- All of Wisconsin's ZIP codes fall between 53001 and 54990 -->
                    <input id="zip" type="number" pattern="[0-9]*" maxlength="5" 
                        min="53001" max="54990" name="zip">
                    <input class="submit" type="submit" value="Go">
                </span>
        </form>
        <figure class="map">
            <div id="map-canvas"></div>
        </figure>
        <article class="location-details details">
            <!--{{> provider}}-->
            {{#with currentProvider}}
                <h2>{{name}}</h2>
                <p class="county-served">Counties Served: {{providerCounties}}</p>
                <div class="left">
                    <address>{{address}}</address>
                    <p class="phone">Phone: <b>{{phone}}</b></p>
                    <p class="phone crisis">Crisis: <b>{{crisis}}</b></p>
                </div>
                <div class="right">
                    <a href="mailto:{{email}}" class="email icon">{{email}}</a>
                    <a href="{{website}}" target="_blank" class="website icon">{{website}}</a>
                    <a href="{{facebook}}" target="_blank" class="facebook icon">
                        {{name}} on Facebook</a>
                </div>
                <button class="cta button-aqua">Jobs &amp; More</button>
            {{/with}}
        </article>
    </section>
</template>

<template name="county">
    <option value="{{name}}">{{name}}</option>
</template>