<template name="work">
    <section class="work tabs tabs-right" id="{{anchor name=name}}" data-id="{{_id}}">
        {{#if isAdmin}}
            {{> sectionAdmin}}
        {{/if}}
        <main>
            {{#each tabs}}
                {{> article id=this}}
            {{/each}}
        </main>
        <menu class="tabs">
            <ul>
                {{#each tabs}}
                    {{> tab id=this}}
                {{/each}}
            </ul>
        </menu>
    </section>
</template>

<template name="tab">
    <li data-id="{{id}}" data-icon="{{icon id}}">{{name id}}</li>
</template>

<template name="article">
    <article data-id="{{id}}">
        <h2><span class="fa">{{icon id}}</span> {{name id}}</h2>
        <div class="content">
            {{#markdown}}{{content id}}{{/markdown}}
        </div>
    </article>
</template>