<template name="webinars">
  <header class="mobile"><h2>{{title}}</h2></header>
  {{#each lists}}
    {{>list}}
  {{/each}}
</template>

<template name="infosheets">
  <header class="mobile"><h2>{{title}}</h2></header>
  {{#each lists}}
    {{>list}}
  {{/each}}
</template>

<template name="lcSubHead">
  {{#if isAdmin}}
    <aside class="admin">
      <button class="fa add">&#xf067; Add Resource Center Item</button>
      {{> quickForm collection=resources id="LCForm"
        meteormethod="addResourceCenterItem" type="method" doc=doc class="hide" }}
    </aside>
  {{/if}}
</template>

<template name="library">
  <header class="mobile"><h2>{{title}}</h2></header>
  <header class="librarySearchHeader">
      <h2>Library Results</h2>
      <dl class="breadcrumb">
          <!--These List Items should only show based on user's filter selection-->
          <dt class="fa" title="search terms"></dt>
          <dd>"Survivor Stories"</dd>
          <dt class="fa" title="classification"></dt>
          <dd>Providers</dd>
          <dt class="fa" title="category"></dt>
          <dd>Resources</dd>
          <dt class="fa" title="material"></dt>
          <dd>Book or Booklet</dd>
          <dt class="count"></dt>
          <dd class="count">24 results</dd>
      </dl>
  </header>
  {{#each lists}}
      {{>list}}
  {{/each}}
</template>