@import (reference) "/views/styles/index.less";

//Element Styles
section#resource-center{
    div.tabs > article > p{
        padding: 20px;
        background: rgba(255, 255, 255, 0.05);
        color: #fff;
        line-height: 1.6;
        font-size: 1.4rem;
        margin: 30px;
    }
    .dateMeta + h3{
        padding: 0px;
        text-align: left !important;
    }
    h3 a{
        .font(1.6,1.6,0.01,@normal,none);
        .textButtonColor(#59c3cc);
    }
    a h3, a .icon{
        margin-top: 0px;
        margin-bottom: 6px;
        padding-top: 0px;
        text-align: center;
        .textButtonColor(lighten(@teal, 2.5%));
        .font(1.8,1.8,0.01,@normal,none);
    }
    form{
        button.viewAll{
            .textButtonColor(@gray);
            .shadowNone;
            .font(1.2,1.4,0.025,@normal,none);
        }
    }
    li.loadMore{
        text-align: center;
        padding: 30px 0px;
        button{
            .buttonColor(@blueGray);
            margin: 0 auto;
            & + span.everything {
                margin: 0 auto;
            }
        }
        &.everything { display: none; }
        &.everything + span.everything { display: block; }
    }
    .keyword-container{
        display: flex;
        flex-wrap: wrap;
        flex-flow: wrap;
        align-items: center;
        justify-content: space-between;
        & > div{
            flex: 31%;
        }
    }
}

//Library
//.library > li{
#resource-center article{
    details{ background-color: darken(@sidebarSecondaryColor, 3%); }
    &:nth-child(even) details{ background-color: darken(@sidebarSecondaryColor, 1%); }
    .inner-container-wide p, p.meta{ margin:0px; }
    p.description { margin-top: 10px;}
    text-align: left;
    .clearfix;
    &[data-id=library]{ 
        padding: 20px 0; 
        dt{ color: #fff; opacity: 0.9;}
        button.request-copy{
            .buttonColor(@teal);
        }
        details p.request-sent {
            line-height: 15px;
            font-size: 1.3rem;
            border: 2px solid @teal;
            padding: 11px 17px;
            font-weight: 600;
        }
    }
    &.library-item{ padding: 0; }
    details{
        position: relative;
        .inner-desc{ padding: 0 20px 5px 20px; }
        dt{ clear: none; float: left; }
        dd{ float: left; margin-right: 10px; margin-left: 4px;}
        .subject-headings{
            padding: 0 20px 10px 20px;
            h2{ color: #fff; font-size: 14px; }
            p{ padding-bottom: 0; }
        }
        p{
            .font(1.4,2.1,0.025,500,none);
            color: @gray;
            padding-bottom: 23px;
        }
        h1{
            .font(1.7,2.0,0.025,@normal,none);
            color: lighten(@gray,10%);
            margin-bottom: 9px;
        }
        h1, .status{ display: inline-block; }
        .status .fas{
            font-size: 10px;
            color: greenyellow;
            position: relative;
            top: -2px;
            margin-left: 3px;
            &.Unavailable{ color: gray; }
        }
        &:hover{
            h1{
                //color: @white;
            }
            p{
                //color: lighten(@teal, 5%);
            }
        }
        ul.cats-tags{
            clear: both;
            list-style: none;
            margin-bottom: 9px;
            li{
                border-radius: 2px;
                background:rgba(0,0,0, 0.15);
                display: inline-block;
                margin-right: 1px;
                padding: 0 8px;
                &.classification{ background: #293b44; }
                &.category{ 
                    background: #293b44;
                    font-weight: bold; 
                    &.material-Activities{ background: #bb8f02; }
                    &.material-Books{ background: #0297a2; }
                    &.material-Curriculum{ background: #4c6b7b; }
                    &.material-DVDs{ background: #0261ab; }
                    &.material-Guide{ background: #3a42c7; }
                    &.material-Handbook{ background: darken(#0297a2, 5%); }
                    &.material-Manual{ background: #00bbca; }
                    &.material-Report{ background: #282f96; }
                    &.material-Study{ background: #113888; }
                    &.material-Textbook{ background: darken(#0297a2, 7.5%); }
                    &.material-Toolkit{ background: #118864; }
                    &.material-Workbook{ background: darken(#0297a2, 10%); }
                }
            }

        }
        summary{ padding: 20px 20px 0 20px; }
        &[aria-expanded=true]{
            summary .meta{ display: none; }
        }
        summary, p.meta.inner-desc, aside.info {
            padding-left: 36px;
            padding-right: 36px;
        }
        summary:hover{
            background: rgba(0,0,0,0.1);
            cursor: pointer;
        }
        &[aria-expanded=true] summary:hover{ background: transparent; }
    }
    dl{
        //.dlColors(@black,@white,@white);
        margin:0px 0px 10px 0px;
        display: block;
        //white-space: nowrap;
        dd{
            &.statusStockAvailable{color: @teal;}
            &.statusStockUnavailable{color: @yellow;}
        }
    }
    dl dt, dl dd, button{.font(1.2,1.6,0.025,@normal,none)};
    button.requestLibraryItem{display: block;width: 100%;}
    dl.material dt{display: none;}
    aside.info{
        padding: 0px 20px 20px 20px;
        @media @mobile{
            padding: 0px;
        }
    }
    details dl, menu.availability{ display: inline-block; }
    menu.availability{
        float: right;
        position: relative;
        top: -4px;
    }
    details dl{
        //.dlColors(darken(@sidebarSecondaryColor, 8.5%),@gray,@yellow);
        padding: 0;
        margin: 5px 0 0 0;
        dt{font-weight: @normal;}
        dd,dt{
            //padding: 10px 0px 10px;
            .font(1.2,2.0,0.025,@normal,none);
        }
        dd{
            font-weight: bold;
            .clearfix;
        }
    }

    span.loginToRequest{
        .font(1.2,2.0,0.025,@normal,none);
        white-space: nowrap;
        position: relative;
        left: 3px;
        top: 6px;
        button{
            .shadowNone;
            background-color:transparent !important;
            white-space: nowrap;
            margin-left: -9px;
            padding: 0px;
            margin: 0px;
            .textButtonColor(@yellow);
        }
    }
}



.requestResults{
    p{
        color: @white;
        .font(1.2,2.0,0.025,@normal,none);
        .fa{.font(1.8,2.0,0.025,@light,none);}
        button{
            .textButtonColor(@teal);
            background-color: transparent !important;
            .shadowNone;
            margin: 0px;
            padding: 0px;
            display: block;
        }
    }
    p.requestSuccess{.fa{color: @teal;}}
    p.requestFailed{.fa{color:@orange;}}
}


#resource-center{
    h2{
        margin: 0px;
    }
    dl.breadcrumb{
        margin: 0px 30px 0px 30px;
        padding: 15px;
        text-align: center;
        @media @mobile{
            margin: 0px;
        }
        .dlColors(darken(@sidebarSecondaryColor, 8.5%),@teal,@gray);
        //.font(1.2,1.6,0.025,@normal,none);
        dt{
            margin-right: 5px;
            cursor: help;
            font-weight: @light;
            &:after{
                display: none;
            }
            &.count{display: none;}
        }
        dd{
            margin-right: 15px;
            &.count{color: @yellow;}
        }
    }
}

.librarySearchHeader{
    background: #3e505a;
}

article.itemCategory{
    .inner ul{
        margin: 0px 30px 0px 30px;
        > li{
            padding: 0px 20px;
            line-height: 30px;
            background-color: darken(@sidebarSecondaryColor, 5.5%) !important;
            .font(1.2,2.6,0.025,@normal,none);
            a{
                .font(1.3,2.6,0.025,@bold,none);
                .textButtonColor(@teal);
                //&:hover{color: @teal;}
            }
            &:first-child{
                padding-top: 20px;
            }
            &:last-child{
                padding-bottom: 20px;
            }
        }
    }
    .inner ul{
        background-color: darken(@sidebarSecondaryColor, 3%);
    }
    .inner ul{
        box-shadow:  0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        -webkit-box-shadow:  0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }
    details{
        summary{
            padding: 20px 20px 0 20px;
            background-color: transparent;
            .transition(background-color,250ms,ease,0ms);
            h1{
                .font(1.4,2.0,0.025,@normal,none);
                color: @gray;
                margin: 0px;
            }
            &:hover{
                background-color: darken(@sidebarSecondaryColor, 8%);
                h1{
                    //color: @teal;
                }
                p{
                   // color: lighten(@teal, 5%);
                }
            }
        }
        &[open]{
            p{ display: none; }
        }
    }
    &:nth-child(even){
        details, .inner ul{
        background-color: darken(@sidebarSecondaryColor, 1%);
        summary:hover{
            background-color: darken(@sidebarSecondaryColor, 6%);
        }
        }
    }
}


.itemCategory{
    h3{text-align: left !important;}
    details{
        h1{
            &:after{
                .fa;
                margin-left: 10px;
                content:"\f138";
            }
        }
    }
}
.itemCategory details[open]{
    padding-bottom: 30px;
    h1{
        color: lighten(@yellow, 5%);
        &:after{
            content:"\f13a";
        }
    }
    summary:hover{
        background-color: transparent !important;
    }
}

.status.transit dd{ color: @teal !important;}

//Basic Category Detail/summary
#resource-center article.itemCategory details{
    margin: 0px;
    width:100%;
    padding: 0px;
}
article.itemCategory{
    padding: 0px;
}


@media @mobile{
.librarySearchHeader{
    display: none;
}
#resource-center article aside.info > * {
    width: 100%;
    float: none;
    margin: 0px;
}
#resource-center article aside.info {
    padding: 0px;
    margin-bottom: 40px;
    text-indent: 20px;
}
menu.availability {
    margin-top: 10px !important;
}
}

// Admin styles
#resource-center aside.admin {
    margin: 0 0 15px;
    #LCForm {
        margin: 15px auto;
        text-align: left;
        width: 90%;

        select {
            padding: 5px 10px;
            font-size: 1.25rem;
            font-weight: normal;
            margin: 10px;
        }

        // Add * form styles
        [data-required="true"] label::after {
            content: '\f069';
            font: 10px FontAwesome;
            color: @orange;
            margin-left: 5px;
            font-weight: normal;
        }

        // Validation error styles
        span.help-block {
            color: #f55;
            font-weight: bold;
            float: right;
            margin-top: -53px;
            margin-right: 10px;
        }
    }
}
#resource-center article aside.admin {
    margin-top: -40px;
    right: 30px;
}
