<template name="webinars">
  <header class="mobile"><h2>{{title}}</h2></header>
  {{#each lists}}
    {{>list}}
  {{/each}}
</template>

<template name="infosheets">
  <header class="mobile"><h2>{{title}}</h2></header>
  {{#each lists}}
    {{>list}}
  {{/each}}
</template>

<template name="lcSubHead">
  {{#if isAdmin}}
    <aside class="admin">
      <div class="admin-tools" id="admin-tools-resources">
        <button id="admin-btn-resource-add" class="fa add resource">&#xf067; Webinar/Infosheet</button>
        <button id="admin-btn-library-add" class="fa add library">&#xf067; Library Item</button>
      </div>
      {{> resourceAddForm}}
      {{> libraryAddForm }}
    </aside>
  {{/if}}
</template>

<template name="library">
  <header class="mobile"><h2>{{title}}</h2></header>
  {{> filterObject}}
  {{#each lists}}
    {{> list}}
  {{/each}}
</template>

<template name="resourceData">
  <header class="mobile"><h2>{{title}}</h2></header>
  {{#each items}}
    {{>tabs}}
  {{/each}}  
</template>

<template name="resourceDataOverview">
  <p>
    <strong>Just how bad of a problem is sexual assault? </strong><br />
    The reality is that we don’t definitively know; the available data can not begin to paint the complete picture of the scope of the problem. <br /><br />
    <strong>Why? </strong><br />
    Because most of the numbers we have reflect the number of crimes reported to law enforcement. But, sexual assault is one of those crimes that is still so misunderstood; we know that many victims are not reporting – either because they are ashamed, feel the assault was somehow their fault, are worried about consequences to their perpetrator (who all too often is someone known to the victim and/or an intimate partner), or because they feel that what happened was just “normal” and wasn’t a crime at all.
  </p>
  <p><strong>In partnership with state agencies and the service providers we represent, WCASA is working toward a more comprehensive picture of sexual violence in Wisconsin.</strong></p>
  <br /><br />
</template>

<template name="resourceDataState">
  <div class="sidebar-editable sidebar-document">
    <h3>Burden of Sexual Violence in Wisconsin Report (2010)</h3>
    <ul>
      <li>
        Sexual violence is a significant public health problem impacting nearly a million people in Wisconsin. It is perhaps the most personal and invasive expression of violence that one person (or a group) can perpetrate upon another individual. Victims of sexual assault come from every walk of life, and this epidemic knows no boundaries; sexual violence affects us all. But what is the real burden of sexual violence on the communities in Wisconsin?
      </li>
      <li>
        The Burden of Sexual Violence in Wisconsin Report (2010) compiles data from a variety of sources to help us articulate the impact sexual violence has at a state level, as well as in each of the 72 counties. This report seeks to heighten awareness and provide critical information to communities so they can successfully initiate and support efforts to prevent sexual violence. The following data is included in the report: prevalence; reports to advocacy, medical (state-level only) and law enforcement; and convictions.
      </li>
    </ul>    
    <h3>Osnium</h3>
    <ul>
      <li>
        The <a href="http://www.endabusewi.org/osniumws" target="_blank"><strong>Osnium WS database</strong></a> is used throughout Wisconsin to track statistical data, which allows advocates to set goals, plan progress, and report on outcomes in prevention work.
      </li>
      <li>
        For questions on Osnium, please contact End Domestic Abuse Wisconsin at <a href="mailto:technology@endabusewi.org">technology@endabusewi.org</a>.
      </li>
    </ul>
    <h3>Other Wisconsin Data</h3>
    <ul>
      <li>
        <a href="http://www.stopstreetharassment.org/resources/2018-national-sexual-abuse-report/" target="_blank"><strong>2018 Study on Sexual Harrassment and Assault</strong></a> from <a href="https://stopsexualharrassment.org/" target="_blank">stopsexualharrassment.org</a> (SSH). "In January 2018, SSH commissioned a 2,000-person, nationally representative survey on sexual harassment and assault, conducted by GfK. It found that nationwide, 81% of women and 43% of men reported experiencing some form of sexual harassment and/or assault in their lifetime"
      </li>
      <li>
        See <a href="https://www.doj.state.wi.us/dles/bjia/ucr-arrest-data" target="_blank"><strong>arrest data from the Wisconsin Uniform Crime Reporting (UCR) Data Dashboard Center</strong></a> (Wisconsin Department of Justice), an interactive way to view data through 2017.
      </li>
      <li>
        The <strong>WI Office of Justice Assistance (OJA)</strong> released an annual sexual assault report through 2010 which can be accessed on the Wisconsin Department of Justice page for <a href="https://wilenet.org/html/justice-programs/programs/justice-stats/library.htm" target="_blank">Justice Statistics Documents</a> (scroll down for sexual assault reports 2006-2010)
      </li>
      <li>
        WI Department of Public Instruction <a href="http://sspw.dpi.wi.gov/sspw_yrbsindx" target="_blank"><strong>Youth Risk Behavior Survey</strong></a>
        <ul>
          <li>
              Get a quick glance of this data through <a href="https://create.piktochart.com/output/2396630-the-need-for-violence-prevention" target="_blank">The Need for Violence Prevention in Wisconsin Infographic</a>.
          </li>
        </ul>
      </li>
      <li>
          WI Child Abuse & Neglect Prevention Board - <a href="https://preventionboard.wi.gov/Documents/REVISEDWisconsinACEs.August2012.pdf" target="_blank"><strong>Adverse Childhood Experiences (ACE) in Wisconsin Report</strong></a>
        <ul>
          <li>
              Get a quick glance of national data via the <a href="https://vetoviolence.cdc.gov/childmaltreatment/phl/resource_center_infographic.html" target="_blank">ACE Infographic</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</template>
<template name="resourceDataNational">
    <div class="sidebar-editable sidebar-document">
        <h3>NISVS – National Intimate Partner and Sexual Violence Survey</h3>
        <p>In December, 2011, the <strong>Centers for Disease Control and Prevention (CDC)</strong> released the 2010 Report from the <strong>National Intimate Partner and Sexual Violence Survey (NISVS)</strong>. The report provides insight into the prevalence and characteristics of sexual violence, stalking, and intimate partner violence across the county, and in Wisconsin. The survey shows that more than 1 in 3 women and more than 1 in 4 men have experienced rape, physical violence, and/or stalking by an intimate partner in their lifetime.</p>
        <p>To access all NISVS information and reports please visit the <a href="https://www.cdc.gov/violenceprevention/nisvs/index.html" target="_blank">NISVS page</a> of the CDC website.</p>
        <p><strong>For information from the CDC please review resources available through the <a href="https://www.nsvrc.org/" target="_blank">National Sexual Violence Resource Center</a> (NSVRC):</strong></p>
        <ul>
          <li><a href="https://www.nsvrc.org/publications/NISVS-2010-summary-report" target="_blank">Summary</a></li>
          <li><a href="https://www.nsvrc.org/publications/NISVS-2010-fact-sheet" target="_blank">Fact Sheet</a></li>
          <li><a href="https://www.nsvrc.org/publications/NISVS-2010-toolkit" target="_blank">Toolkit</a> (the toolkit provides information on the survey methodology, best ways to interpret and use the data, tips for working with media, and answers to frequently-asked questions)</li>
        </ul>
        <p><a href="https://www.cdc.gov/mmwr/preview/mmwrhtml/ss6308a1.htm?s_cid=ss6308a1_e" target="_blank">Prevalence and Characteristics of Sexual Violence</a>, <a href="https://www.cdc.gov/mmwr/preview/mmwrhtml/ss6308a1.htm?s_cid=ss6308a1_e" target="_blank">Stalking</a>, and <a href="https://www.cdc.gov/mmwr/preview/mmwrhtml/ss6308a1.htm?s_cid=ss6308a1_e" target="_blank">Intimate Partner Violence Victimization</a> (NISVS 2011)</p>
        <p>This report examines the prevalence of sexual violence, stalking, and intimate partner violence victimization using data from the 2011 National Intimate Partner and Sexual Violence Survey.</p>
        <p><a href="https://www.cdc.gov/violenceprevention/pdf/cdc_nisvs_ipv_report_2013_v17_single_a.pdf" target="_blank"><strong>NISVS 2010 Report on Intimate Partner Violence</strong></a> explores patterns of victimization and impact: One of the key findings is that almost 1 in 10 women in the United States has been raped by an intimate partner  | Published: Feb 26, 2014</p> 
        <p><a href="https://www.cdc.gov/violenceprevention/pdf/nisvs_sofindings.pdf" target="_blank"><strong>NISVS 2010 Findings on Victimization by Sexual Orientation</strong></a> explores patterns of victimization and impact based on sexual orientation.</p>
        <ul><li><a href="https://www.glsen.org/sites/default/files/Transgender-Youth-In-Schools-Infographic-GLSEN-MAP-NCTE.pdf" target="_blank">Transgender Youth in Schools (infographic)</a> - presented by GLSEN, The Movement Advacement Project (MAP) and the National Center for Transgender Equality</li></ul>
      </div>
</template>
<template name="resourceInfographics">
    <div class="sidebar-editable">
      <ul class="flex-block-list">
        <li><a href="https://create.piktochart.com/output/31082810-general-prevalence-infographic" target="_blank">Sexual Violence Prevalence</a></li>
        <li><a href="https://create.piktochart.com/output/31113165-child-adolescent-infographic-copy" target="_blank">Child & Adolescent Sexual Assault Prevalence</a></li>
        <li><a href="https://create.piktochart.com/output/31157948-sexual-harassment-infographic" target="_blank">Sexual Harassment Prevalence</a></li>
        <li><a href="https://create.piktochart.com/output/31129357-sexual-violence-in-confinement" target="_blank">Sexual Violence in Confinement</a></li>
        <li><a href="https://create.piktochart.com/output/31077878-communities-of-color-infographic" target="_blank">Impact of Sexual Violence on Communities of Color</a></li>
        <li><a href="https://create.piktochart.com/output/29743601-lgbtq-infographic" target="_blank">Impact of Sexual Violence on the LGBTQ Community</a></li>        
      </ul>
    </div>
  </template>

<template name="libraryAddForm">
  <section id="admin-form-container-library-add" class="hide admin-form-container">
    <div class="form-container">
      <h4>Add Library Item</h4>
      <button class="fa add exit library">&#xf00d;</button>
      <form id="admin-form-library-add">
        <label>
          Title
          <input id="library-add-form-title" name="title" type="text" required />
        </label>
        <label>
          Description
          <textarea id="library-add-form-desc" name="description"></textarea>
        </label>
        <hr />
        <div class="styledSelect fullBlockMob w-50">
          <label>Material</label>
          <select name="material" id="library-add-form-material" >
            {{#each materials}}
              <option name="{{this}}">{{this}}</option>
            {{/each}}
          </select>
        </div>
        {{#if isAdmin}}
          <div class="styledSelect fullBlockMob w-50 margin-right-0">
            <label>Classification</label>
            <select name="classifications" id="library-add-form-classifications" >
              {{#each classifications}}
                <option name="{{this}}">{{this}}</option>
              {{/each}}
            </select>
          </div>
        {{/if}}
        <div class="styledSelect fullBlockMob w-66">
          <label>Status</label>
          <select name="status" id="library-add-form-status" >
            {{#each status}}
              <option name="{{this}}">{{this}}</option>
            {{/each}}
          </select>
        </div>
        <label class="w-33 margin-right-0">
          Copies
          <input id="library-add-form-copies" name="copies" type="number" />
        </label>
        <details aria-expanded="false" class="admin-form-details">
          <summary>
            Add Keywords <i class="fas fa-caret-right"></i>
          </summary>
          <div class="keyword-container">
            {{#each keywords}}
              <div>
                <div class="toggleSwitch">
                  <input type="checkbox" name="library-add-form-keywords" value="{{this}}" id="library-keyword-id-{{simpleString this}}">
                  <label for="library-keyword-id-{{simpleString this}}" role="checkbox" aria-checked="{{simpleString this}}"></label>
                </div>
                <label for="library-keyword-id-{{simpleString this}}" class="toggleSwitchLabel">
                  {{this}}
                </label>
              </div>
            {{/each}}
          </div>
          <hr />
        </details>
        <input type="submit" class="btn" value="Add Library Item" />
      </form>
    </div>
  </section>
</template>

<template name="resourceAddForm">
  <section id="admin-form-container-resource-add" class="hide admin-form-container">
    <div class="form-container">
      <h4>Add Webinar or Infosheet</h4>
      <button class="fa add exit resource">&#xf00d;</button>
      <form id="admin-form-resource-add">
        <input type="hidden" name="_id" />
        <label>
          Title
          <input type="text" name="title" id="resources-add-form-title" required />
        </label>
        <label>
          Publisher
          <input type="text" name="publisher" id="resources-add-form-publisher" />
        </label>
        <label class="clear-both">
          Description
          <textarea rows="5" name="description" id="resources-add-form-desc" ></textarea>
        </label>
        <hr />
        <div class="styledSelect fullBlockMob w-50">
          <label>Type</label>
          <select name="type" id="resources-add-form-type-select" >
            {{#each types}}
              <option value="{{this}}">{{this}}</option>
            {{/each}}
          </select>
        </div>
        <label class="w-50 margin-right-0">
          Date
          <input type="date" name="date" id="resources-add-form-date" required />
        </label>
        <label class="clear-both">
          Url
          <input type="text" name="url" id="resources-add-form-url" required  />
        </label>
        <input type="submit" class="btn btn-primary" value="Add Item" />        
      </form>
    </div>
  </section>
</template>