section.twitter{
    h2 a{font-weight: @normal;}
    .twitterElement {
        padding: 30px;
        background-color:@blueGray;
        .shadow(close);
    }
    iframe{
        height: ~'calc(100vh - 285px)' !important; //Overrides inline height
        max-width: 296px !important; //Overrides max-width
    }
}