section.twitter{
    //background-color:@midnightBlue;
    h4{
        border-color: @lightBlue;
    }
    .twitter-element {
        padding: 30px;
        background-color:mix(@gray, @navy, 35%);
    }
}
