<template name="masthead">
  {{#if isAdmin}}
  {{> sectionAdmin}}
  {{/if}}
  <section class="masthead active" id="{{anchor name=name}}" data-id="{{_id}}">
    <div class="container">
      {{#each items}}
      {{>tabs}}
      {{/each}}
    </div>
  </section>
</template>

<!--Content Templates (Could be markdown editable areas)-->
<template name="slideA">
  <h1>New Site, <br />New Features!</h1>
  <p class="subhead">More user friendly so you can find the information you need.</p>
  <ul>
    <li>Search by zip code for the nearest SASP under <a href="/service-providers">Service Providers</a>.</li>
    <li>Register (and unregister) for an event just by clicking a link.</li>
    <li>Subscribe to email lists and listservs and check out resources</li>
    <li>See WCASA’s <a href="/twitter">Twitter feed</a>.</li>
    <li>Receive notifications when there is an action alert or when your membership payment is due.</li>
    <li>Keep track of donations and payments and much more!</li>
  </ul>
  <a class="cta button" href="/register">Create an Account</a>
  <img class="masthead-bg" src="/lib/img/slide2.jpg" alt="" />
</template>

<template name="slideB">
  <h1>The Movement is <br />Bigger than WCASA</h1>
  <p class="subhead">Thanks to the #MeToo campaign, <br />America is experiencing a watershed moment.</p>
  <p>A reckoning has begun, led by survivors and women of color, that calls on all of us to name sexual violence and
    harassment as unacceptable and intolerable. Now more than ever, the movement needs your help!</p>
  <p>Join us in shifting the paradigm to support survivors, dismantle oppression, and champion prevention. This is how
    we end sexual violence.</p>
  <a class="cta button" href="/donate">Donate Today</a>
  <a class="cta button" href="/account/subscriptions">Get action alerts</a>
  <img class="masthead-bg" src="/lib/img/slide3.jpg" alt="" />
</template>

<template name="slideC">
  <h1>New SASPs Just Added!</h1>
  <p class="subhead">We congratulate and welcome these organizations as Sexual Assault Service Providers (SASPs):</p>
  <a href="https://wcasa.s3.us-east-2.amazonaws.com/resources/WCASA-SASP-Map-Contacts_2019%20Updated-2.pdf">
    <img src="https://wcasa.s3.us-east-2.amazonaws.com/resources/New_SASPs.png" alt="" style="max-width:580px;" />
  </a>
</template>

<template name="slideD">
  <br />
  <h1>Sexual Assault Awareness Month (SAAM)</h1>
  <p>Sexual Assault Awareness Month takes place each year in April to raise public awareness about sexual violence and educate communities on how to prevent it.</p>
  <p>
    This year's theme, "I Ask" conveys the message that consent is a necessary part of everyday interactions. 
  </p>
  <a class="cta button" href="https://www.nsvrc.org/saam" target="_blank">See SAAM Resources</a>
  <a href="https://www.nsvrc.org/saam" target="_blank">
    <img src="/lib/img/iask.jpg" alt="" style="max-width:450px;clear:both;display:block;margin-top:10px;" />
  </a>
  <img class="masthead-bg" src="/lib/img/slide4.jpg" alt="" />
</template>

<template name="slideE">
  <h1>2019 Events</h1>
  <ul>
    <li>
      <a href="https://www.facebook.com/PathsToHealing/" target="_blank">
        <strong>Paths to Healing Conference</strong>
      </a>
      <br />June 21, 2019<br /> American Family Insurance Training Center, Madison<br />
      Paths to Healing is a conference focused on adult survivors of child sexual assault, specifically addressing 
      male survivors.
    </li>
    <li>
      <a href="https://www.surveymonkey.com/r/MaySAVAS2019" target="_blank">
        <strong>Sexual Assault Victim Advocacy School (SAVAS)</strong>
      </a>
      <br />August 6-9, 2019<br /> Sleep Inn & Conference Center, Eau Claire <br />
      This training addresses the needs of being a victim advocate - whether working the crisis line, 
      providing medical or legal advocacy, working with a community coordinated response team or more. 
      Participants will have the opportunity to practice skills necessary to prove comprehensive advocacy for victims.
    </li>
  </ul>
  <a class="cta button" href="/events">View Events Calendar</a>
  <img class="masthead-bg" src="/lib/img/slide5.jpg" alt="" />
</template>

<template name="slideF">
  <h1>The Big Share</h1>
  <p class="subhead">WCASA is participating in The Big Share, an online giving day running now through Tuesday, March 5th, hosted by Community Shares of Wisconsin. </p>
  <a href="https://www.thebigshare.org/organizations/wisconsin-coalition-against-sexual-assault-wcasa" target="_blank">
    <img src="/lib/img/big-share-2.jpg" alt="" style="max-width:450px;" />
  </a>
  <p>This year we aim to broaden the scope of people who support ending sexual violence. A one-time or reoccurring donation of $10, $50, $100 or $250 will help increase funding for sexual assault victim services and prevention in Wisconsin.</p>
  <a class="cta button" href="https://www.thebigshare.org/organizations/wisconsin-coalition-against-sexual-assault-wcasa" target="_blank">Make a Donation</a>
  <img class="masthead-bg" src="/lib/img/big-share.jpg" alt="" />
</template>

<template name="slideG">
  <h1>Free Chrystul Kizer</h1>
  <p class="subhead">WCASA is in solidarity with local organizers in the Milwaukee community in advocating for the release of Chrystul Kizer.</p>
  <p>Chrystul is a sex trafficking victim who has experienced and is living with the impacts of trauma. We ask you join us in the actions to support Chrystul provided by the <a href="https://www.facebook.com/freechrystul/" target="_blank" >#FreeChrystul</a> Defense Committee.</p>
  <a class="cta button" href="https://bit.ly/2F3DrFe?fbclid=IwAR3KwfjsMF_fA5z25yZp043AmmcHHFz0bDpwpS9iaSrp4R9w-9vDHRw_RUc" target="_blank">View Action Letter</a>
  <a href="https://www.facebook.com/freechrystul/" target="_blank" >
    <img src="/lib/img/free.png" alt="" style="max-width:339px;clear:both;display:block;margin-top:10px;" />
  </a>
</template>