<template name="masthead">
  {{#if isAdmin}}
  {{> sectionAdmin}}
  {{/if}}
  <section class="masthead active" id="{{anchor name=name}}" data-id="{{_id}}">
    <div class="container">
      {{#each items}}
      {{>tabs}}
      {{/each}}
    </div>
  </section>
</template>

<!--Content Templates (Could be markdown editable areas)-->
<template name="slideA">
  <a href="/events/2020/May/wcasa-training-institute/">
    <img src="https://wcasa.s3.us-east-2.amazonaws.com/resources/Training%20Institute%202020_RFP_Website.png" alt="" style="max-width:100%;" />
  </a>
  <img class="masthead-bg" src="/lib/img/slide2.jpg" alt="" />
</template>

<template name="slideB">
  <h1>The Movement is <br />Bigger than WCASA</h1>
  <p class="subhead">Thanks to the #MeToo campaign, <br />America is experiencing a watershed moment.</p>
  <p>A reckoning has begun, led by survivors and women of color, that calls on all of us to name sexual violence and
    harassment as unacceptable and intolerable. Now more than ever, the movement needs your help!</p>
  <p>Join us in shifting the paradigm to support survivors, dismantle oppression, and champion prevention. This is how
    we end sexual violence.</p>
  <a class="cta button" href="/donate">Donate Today</a>
  <a class="cta button" href="/account/subscriptions">Get action alerts</a>
  <img class="masthead-bg" src="/lib/img/slide3.jpg" alt="" />
</template>

<template name="slideC">
  <h1>New SASPs Just Added!</h1>
  <p class="subhead">We congratulate and welcome these organizations as Sexual Assault Service Providers (SASPs):</p>
  <a href="/get-involved/sasp-membership" target="_blank">
    <img src="https://wcasa.s3.us-east-2.amazonaws.com/resources/New_SASPs-1019%20%281%29.jpg" alt="" style="max-width:580px;" />
  </a>
</template>

<template name="slideD">
  <h1>WCASA is hiring: <br />Director of Program Development</h1>
  <p>This is a Full-time position with benefits. Applications are due June 30th. Follow the link to apply.</p>
  <a class="cta button" href="https://wcasa.s3.us-east-2.amazonaws.com/resources/DirOfProgDev_June2019Updated.pdf" target="_blank">Job Description</a>
  <img class="masthead-bg" src="/lib/img/slide4.jpg" alt="" />
</template>

<template name="slideE">
  <h1>Events</h1>
  <ul>
    <li>
      <a href="/events/2019/November/wcasa-annual-meeting/">
        <strong>Annual Meeting</strong>
      </a><br />
      <br />November 8, 2019, <b>Madison</b><br />
      We invite members, partners and community members to join us in celebrating 2019's 
      accomplishments and our commitment to survivors. At the meeting we will announce 
      new board members, provide a recap of 2019 and discuss our legislative agenda and vision for 2020.
    </li>
    <li>
      <a href="/events/2019/December/sexual-assault-victim-advocacy-school-savas">
        <strong>Sexual Assault Victim Advocacy School (SAVAS)</strong>
      </a><br />
      <br />December 2-5, 2019, <b>Madison</b><br />
      This training addresses the needs of being a victim advocate - whether working the crisis line, 
      providing medical or legal advocacy, working with a community coordinated response team or more. 
      Participants will have the opportunity to practice skills necessary to provide comprehensive advocacy for victims.
    </li>
  </ul>
  <a class="cta button" href="/events">View Events Calendar</a>
  <img class="masthead-bg" src="/lib/img/slide5.jpg" alt="" />
</template>

<template name="slideF">
  <h1>The Big Share</h1>
  <p class="subhead">WCASA is participating in The Big Share, an online giving day running now through Tuesday, March 5th, hosted by Community Shares of Wisconsin. </p>
  <a href="https://www.thebigshare.org/organizations/wisconsin-coalition-against-sexual-assault-wcasa" target="_blank">
    <img src="/lib/img/big-share-2.jpg" alt="" style="max-width:450px;" />
  </a>
  <p>This year we aim to broaden the scope of people who support ending sexual violence. A one-time or reoccurring donation of $10, $50, $100 or $250 will help increase funding for sexual assault victim services and prevention in Wisconsin.</p>
  <a class="cta button" href="https://www.thebigshare.org/organizations/wisconsin-coalition-against-sexual-assault-wcasa" target="_blank">Make a Donation</a>
  <img class="masthead-bg" src="/lib/img/big-share.jpg" alt="" />
</template>

<template name="slideG">
  <h1>Free Chrystul Kizer</h1>
  <p class="subhead">WCASA is in solidarity with local organizers in the Milwaukee community in advocating for the release of Chrystul Kizer.</p>
  <p>Chrystul is a sex trafficking victim who has experienced and is living with the impacts of trauma. We ask you join us in the actions to support Chrystul provided by the <a href="https://www.facebook.com/freechrystul/" target="_blank" >#FreeChrystul</a> Defense Committee.</p>
  <a class="cta button" href="https://wcasa.s3.us-east-2.amazonaws.com/resources/RevisedFreeChrystul_letter-6.18.19+.pdf" target="_blank">View Action Letter</a>
  <a href="https://www.facebook.com/freechrystul/" target="_blank" >
    <img src="/lib/img/free.png" alt="" style="max-width:339px;clear:both;display:block;margin-top:10px;" />
  </a>
</template>