section.outreach{
    background-color: @navy;
    background: url('/lib/img/outreach_bg.jpg') no-repeat center;
    background-size: cover;
    padding-bottom: 80px;
    position: relative;
    &:before{
        content:'';
        background-color: @navy;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        opacity: 0;
        will-change:opacity;
        .transition(opacity,500ms,@canvasEase,300ms);
    }
    > main, > div{
        position: relative;
        z-index: 2;
    }
    &:after{
        content: '';
        width: 100%;
        z-index: 1;
        height: 100%;
        background-color: #062131;
        opacity: 0.85;
        top: 0px;
        left: 0px;
        position: absolute;
        pointer-events: none;
        @media @mobile{
            opacity: 0.75 !important; //override hover attribution
        }
    }
    @media @mobile{
        padding-bottom: 0px;
    }
    ul.outreachTabs{
        text-align: center;
        > li{
            display: inline-block;
            background-color: darken(@orange, 8%);
            color: #fff;
            cursor: pointer;
            padding: 20px;
            text-transform: uppercase;
            font-size: 20px;
            font-weight: 600;
            letter-spacing: 2px;
            margin-right: 10px;
            .scale(1,1);
            //.transition(all, 500ms, ease-out, 0ms);
            &:nth-child(2){
                background-color: darken(@orange, 4%);
            }
            &:nth-child(3){
                background-color: darken(@orange, 1.5%);
            }
            &:hover, &:nth-child(2):hover, &:nth-child(3):hover{
                .scale(0.95,0.95);
                background-color: darken(@orange, 12%);
            }
            &.active{
                .scale(0.95,0.95);
                background-color: @teal;
                &:hover, &:nth-child(2):hover, &:nth-child(3):hover{
                    background-color: @teal;
                }
                &:active{
                    background-color: darken(@teal, 2.5%);
                }
            }
            @media @mobile{
                padding: 20px 0px;
                width: 100%;
                .scale(1,1) !important; //no hovers
            }
        }
    }
    ul.outreachContent{
        //.transition(all, 500ms, ease-out, 0ms);
        max-height: 0px;
        overflow: hidden;
        border-top: 0px solid transparent;
        border-bottom: 0px solid transparent;
        max-width: 800px;
        margin: 0 auto;
        background-color: @white;
        margin-top: 20px;
        .transition2(transform,500ms,@canvasEase,0ms,opacity,400ms,@canvasEase,100ms);
        opacity: 0;
        .scale(0.9,0.9);
        .accelerate;
        //transform-origin:
        @media @1024{
            margin: 40px 40px 0px 40px;
        }
        @media @mobile{
            margin: 0px;
        }
        h3{
            font-size: 31px;
            font-weight: 100;
            margin-bottom: 20px;
            line-height: 32px;
        }
        button.cta{
            background-color: @orange;
            color: @white;
            font-size: 14px;
            line-height: 14px;
            padding: 12px;
            text-transform: uppercase;
            height: auto;
            display: block;
            margin: 0 auto;
            &:hover{
                background-color: darken(@orange, 4%);
            }
            &:active{
                background-color: darken(@orange, 8%);
            }
        }
        &.active{
            max-height: 2000px;
            overflow: auto;
            border-top: 5px solid @teal;
            border-bottom: 5px solid @teal;
            opacity: 1;
            .scale(1,1);
            @media @mobile{
                border-top: none;
                border-bottom: none;
            }
        }
        > li{
            visibility: hidden;
            overflow: hidden;
            max-height: 0px;
            opacity: 0;
            .scale(1,1);
            .accelerate;
            transform-origin:50% 0%;
            .transition3(transform,500ms,ease,0ms,opacity,250ms,ease,0ms,max-height,0ms,@canvasEase,0ms);
            &.active{
                visibility: visible;
                max-height: 9999px;
                opacity: 1;
                //.translate(0px,0px);
            }
            ul > li{
                background-color: @white;
                padding: 40px;
                @media @mobile{
                    padding: 20px;
                }
                &:nth-child(even){
                    background-color: @gray;
                }
                p{
                    color: @black;
                    margin-bottom: 20px;
                }
            }
            &.joinTheBoard{
                //padding: 40px;
                .boardContainer{
                    padding: 40px;
                    @media @mobile{
                        padding: 20px;
                    }
                }
                p{
                    color: @black;
                }
            }
        }
    }
}

body.outreachTransition{
    section.outreach:before{
        .transition(opacity,300ms,@canvasEase,0ms);
        opacity: 1;
    }
    .outreachContent{
        > li{
            .transition2(transform,200ms,ease,0ms,opacity,100ms,ease,0ms);
            .scale(0.95,0.95) !important;
            opacity: 0 !important;
        }
    }
}