section.masthead{
    overflow: hidden;
    height: ~'calc(100vh - 278px)';
    padding-top: 147px;
    .translate(0px, 131px);
    width: 100%;
    background-color: @gray;
    display: table;
    background: url('/lib/img/masthead.jpg') no-repeat center;
    background-size: cover;
    color: @white;
    position: relative;
    .transition(all,375ms,ease-out,0ms);
    z-index: 2;
    div{
        display: table-cell;
        vertical-align: middle;
        &:after{
            content: '';
            width: 100%;
            height: ~'calc(100vh - 278px)';
            background-color: #062131;
            opacity: 0.6;
            top: 0px;
            padding-top: 147px;
            left: 0px;
            position: absolute;
        }
        h1{
            position: relative;
            z-index: 2;
        }
        a{
            display: inline-block;
            padding: 24px;
            font-size: 28px;
            text-transform: uppercase;
            font-weight: 600;
            letter-spacing: 2px;
            background-color: @orange;
            color: @white;
            position: relative;
            z-index: 2;
            margin-top: 40px;
            &:hover, &:focus{
                background-color: darken(@orange, 2.5%);
            }
            &:active{
                background-color: darken(@orange, 5%);
            }
        }
        &.center{
            text-align: center;
        }
        &.left{
            text-align: left;
        }
        &.right{
            text-align: right;
        }
        &.impact{
            h1{
                font-size: 112px;
                font-weight: 600;
                letter-spacing: 3px;
                line-height: 84px;
                max-width: 1200px;
                text-transform: uppercase;
                margin:0 auto;
                span.small{
                    font-family: 'Old Standard TT', serif;
                    display: block;
                    clear: both;
                    font-size: 36px;
                    font-weight: 100;
                    position: relative;
                    &:nth-child(3){
                        &:after, &:before{
                            content:'';
                            width: 200px;
                            height: 3px;
                            background-color: @white;
                            position: absolute;
                            margin-top: 42px;
                        }
                        &:before{
                            margin-left: -240px;
                        }
                        &:after{
                            margin-left: 40px;
                        }
                    }
                }
                span.large{
                    &:last-child{
                        font-size: 96px;
                    }
                }
            }
        }
    }
}

.fixedHeader{
    section.masthead{
        .translate(0px, 0px);
    }
}