<template name="filter">
	<aside class="filter">
		<form autocomplete="off" id="{{filterId}}Form">
			<label for="{{filterId}}" class="fa">&#xf002;</label>
			<input id="{{filterId}}" type="search" placeholder="Search" />
		</form>
	</aside>
</template>

<template name="filterObject">
	{{#if filters}}
		<form class="flex-form">
			{{#each filters}}
				<div class="styledSelect fullBlockMob">
					<label class="">{{label}}</label>
					<select id="{{name}}" name="{{name}}" {{multiple}}>
						<option value="">Show All</option>
						{{#each options}}
							<option value="{{this}}">{{this}}</option>
						{{/each}}
					</select>
				</div>
			{{/each}}
		</form>
	{{/if}}
</template>
