@import (reference) "/views/styles/animate.import.less";
@import (reference) "/views/styles/index.less";

//Variables
@headerBgColor: #fff;

header#menu{
  background-color: @headerBgColor;
  position: relative;
  display: table;
  width: 100%;
  padding-top: 45px;
  padding-bottom: 5px;
  .boxShadow(0px 0px 3px 0px rgba(0, 0, 0, 0.8));
  border-bottom: none;
  @media @mobile{display: none;}
  div.brand{
    display: block;
    position: absolute;
    top: 46px;
    height: 140px;
    width: 311px;
    left: 50%;
    //.trans(all @durationDefault @easeDefault);
    //.transform(translate(0px,0px));
    margin-left: -155px;
    a, a:active, a:hover, a:focus{
      border: none;
      &:after{ display: none; }
      .shadowNone !important;
    }
    body.fixedHeader &{
      //.transform(translate(0px,-200px));
       // a{ opacity: 1 !important; }
    }
  }
  body.fixedHeader &{
    position: fixed;
  }
  div.brand-small{
    display: none;
     //.trans(all @durationDefault @easeDefault 0ms);
     //.transform(translate(0px,-200px));
    list-style: none;
    position: absolute;
    width: 180px;
    height: 39px;
    left: 15px;
    margin: 0px;
    list-style: none;
    position: absolute;
    width: 180px;
    height: 33px;
    left: -5px;
    margin: 0px;
    top: 55px;
    @media (max-height:750px){ top: 44px; }
    a, a:active, a:hover, a:focus{
      border: none;
      .shadowNone !important;
      &:after{ display: none; }
    }
  }
  a.brandLink img{
    max-width: 100%;
    max-height: 100%;
  }
  nav.mainNav{
    display: table-cell;
    vertical-align: bottom;
    padding: 0px;
    > ul{
      padding: 0; margin: 0 auto;
      //.trans(all @durationDefault @easeDefault 0ms);
      margin-left: -15px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      width:100%;
      padding-bottom: 10px;
      li[data-type="main-navigation-item"]{
        list-style:none;
        display: inline-block;
        &:focus{ .shadowNone !important; }
        margin-right: 10px;
        &:last-child{ margin-right: 0; }
        @media (max-width:1100px){
          //display: flex;
          //flex: 1;
        }
        a{
          display: block;
          position: relative;
          padding: 12px 18px 12px 18px;
          margin: 0;
          position:relative;
          z-index: 1;
          /*
          display: block;
          padding: 15px;
          text-decoration: none;
          color: #aaa;
          font-weight: 800;
          text-transform: uppercase;
          margin: 0 10px;
          */
          @media @1450{margin: 0px;}
          .font(1.4,1.6,0.1,@normal,uppercase);
          .color(color,#2b4d63,none);
          @media (max-width:1100px){
            .font(1.4,1.6,0.02,@normal,uppercase);
            //padding: 16px 0px 16px 0px;
          }
          &, &:before, &:after{
            transition: all .5s;
          }
          &:after {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            margin: auto;
            width: 100%;
            height: 1px;
            content: '.';
            color: transparent;
            background: rgba(226, 234, 238, 0.35);
            visibility: none;
            opacity: 0;
            z-index: -1;
          }
          &:hover, &:focus {
            color: #05acb9 !important;
            &:after {
                opacity: 1;
                visibility: visible;
                height: 100%;
            }
          }
          &.active{
            &:after{
                opacity: 1;
                visibility: visible;
                height: 100%;
            }
          }
          //&:active{background-color: @gray;}
          &:focus, &.active{
            .shadowNone !important;
            &:after{

            }
          }
        }
      }
    }
  }
}

//Fixed header
body.fixedHeader header#menu{
  .brand{display: none;}
  .headerOpen;
  div.brand-small{
    display: block;
    .transform(translate(0px,0px));
  }
  padding-top: 51px;
  padding-bottom: 23px;
  @media (max-height:750px){
    padding-top: 40px;
    padding-bottom: 11px;
  }
  height: auto;
  background: fade(@navy,100%);
  background: #ffffff;
  box-shadow: 0 0 8px rgba(0,0,0,0.12), 0 8px 8px rgba(0,0,0,0.24) !important;
  -webkit-box-shadow: 0 0 8px rgba(0,0,0,0.12), 0 8px 8px rgba(0,0,0,0.24) !important;
  nav.mainNav > ul{
    padding: 0px;
    justify-content:flex-end;
    align-items:flex-end;
    padding-right: 20px;
    @media (max-width:900px){
      width: 76%;
      float: right;
    }
  }
  nav.mainNav > ul li[data-type="main-navigation-item"]{
    position: relative;
    top: 4px;
  }
  nav.mainNav > ul li[data-type="main-navigation-item"] a{
    .font(1.3,1.5,0.05,@normal,uppercase);
    .color(color,desaturate(lighten(@navy, 10%),50%),none);
    //.color(color,@black,none);
    //padding-bottom: 10px;
  }
  li{margin: 0px;}
  /*@media (max-width:1200px){
    nav.mainNav > ul{
      display: block;
      float: right;
      width: auto;
      padding-right: 15px;
    }
    .brand-small{width: 140px; top: 28px;}
  }
  @media (max-width:940px){
    nav.mainNav > ul li a{
      padding: 16px 6px;
      font-size: 80%;
      //margin: 0px;
      &:after{
        left: 10px;
        width: 100%;
        width: ~'calc(100% - 20px)';
      }
    }
  }*/
}

@media print{
  // HEADER
  header#menu{
    -webkit-transform: none;
    transform: none;
    position: static;
    padding: 0px;
    margin: 0px;
    height: auto;
    background: transparent;
  }
  header#menu div.brand{
    position: static;
    margin: 0px;
  }
  body{ #mobile-header, #utility, nav.mainNav, .brand-small, #mobile-navigation{ display: none !important; } }
}
