<template name="list">
    {{#if equals type 'article'}}
        <section data-list-type="{{type}}" data-list-paginate="{{paginate}}"
          data-list-paginate-count="{{perPage}}"
          data-tag="{{tag}}" class="{{type}} {{style}}">
            {{#if equals itemType 'category'}}
                {{#each categories}}
                    <article class="itemCategory" data-id="{{id}}">
                        <details aria-expanded="false" aria-controls="{{id}}">
                            <summary id="{{id}}">
                                <h1>{{{title}}}</h1>
                                {{#if isAdmin}}
                                    <aside class="admin">
                                        <button class="fa oppEdit">&#xf044;</button>
                                        <button class="fa oppDelete">&#xf1f8;</button>
                                    </aside>
                                {{/if}}
                            </summary>
                            <div class="inner">
                                {{#if content}}
                                    {{> articleItem this}}
                                {{/if}}
                                {{#each items}}
                                    {{>articleItem}}
                                {{/each}}
                            </div>
                        </details>
                    </article>
                {{/each}}
            {{else}}
                {{#each items}}
                    <article role="document" data-id="{{_id}}">
                        <div class="inner-container-wide">
                            <a href="{{url}}" target="_blank" class="{{#if icon}}icon icon-{{icon}}{{/if}}">
                                <time class="dateMeta" datetime="{{ISODate date}}">
                                    {{friendlyDate date}}
                                </time>
                                {{#if title}}<h3>{{title}}</h3>{{/if}}
                                {{#if publisher}}<p class="content text">{{publisher}}</p>{{/if}}
                                {{#if description}}<p class="content text description">{{description}}</p>{{/if}}
                                {{#if content}}<p class="content text description">{{content}}</p>{{/if}}
                            </a>
                        </div>
                        {{#if isAdmin}}
                            <aside class="admin">
                                <button class="fa delete">&#xf1f8;</button>
                            </aside>
                        {{/if}}
                    </article>
                {{/each}}
            {{/if}}
            {{#if equals paginate 'true'}}
            <li class="loadMore">
                <button type="button">Load More <span class="fa"></span></button>
                <span class="everything hide">That's everything!</span>
            </li>
            {{/if}}
        </section>
    {{/if}}
    {{#if equals type 'catalog'}}
      <section data-list-type="{{type}}" data-list-paginate="{{paginate}}" data-tag="{{tag}}"
        data-list-paginate-count="{{perPage}}" class="{{type}} {{style}}">
          {{#each items}}
            <article data-id="{{_id}}" class="library-item">
                <div class="inner">
                    <details aria-expanded="false" aria-controls="{{id}}">
                        <summary id="catalog{{id}}">
                            <h1>{{title}}</h1>
                            {{#if isAdmin}}
                                <aside class="admin">
                                    <!--<button class="fa libEdit">&#xf044;</button>-->
                                    <button class="fa libDelete">&#xf1f8;</button>
                                </aside>
                            {{/if}}
                            <span class="status gem"><i class="fas fa-circle"></i></span>
                            <ul class="cats-tags">
                                <li class="category"><i class="fas fa-book"></i> {{material}}</li>
                                <li class="classification">{{classification}}</li>
                                {{#each keywords}}
                                    <li class="tag">{{this}}</li>
                                {{/each}}
                            </ul>
                            <p class="meta">{{truncate description}}</p>
                        </summary>
                        <p class="meta inner-desc">{{description}}</p>
                        <hr />
                        <aside class="info">
                            <dl>
                                <dt>Status</dt><dd>{{status}}</dd>
                                <dt>Call Number</dt><dd>{{callNumber}}</dd>
                                <dt>Copies</dt><dd>{{copies}}</dd>
                            </dl>
                            <menu class="availability">
                                {{#if equals status.type 'transit'}}
                                    <li><button>Request Copy</button></li>
                                {{/if}}
                            </menu>
                        </aside>
                    </details>
                </div>
            </article>
        {{/each}}
        {{#if equals paginate 'true'}}
        <li class="loadMore">
            <button type="button">Load More <span class="fa"></span></button>
            <span class="everything">That's everything!</span>
        </li>
        {{/if}}
        </section>
    {{/if}}
    {{#if equals type 'event'}}
    <!--container-->
        {{#each items}}
        {{/each}}
    <!--container-->
    {{/if}}
    {{#if equals type 'location'}}
    <!--container-->
        {{#each items}}
        {{/each}}
    <!--container-->
    {{/if}}
    {{#if equals type 'toggle'}}
    <!--container-->
        {{#each items}}
        {{/each}}
    <!--container-->
    {{/if}}
</template>

<!--This could exist in another file perhaps.-->
<template name="articleItem">
    <article role="document">
        <a href="{{url}}" target="_blank" class="{{#if icon}}icon icon-{{{icon}}}{{/if}}">
            {{#if date}}<time class="dateMeta" datetime="{{date}}">{{{friendlyDate}}}</time>{{/if}}
            {{#if title}}<h3>{{{title}}}</h3>{{/if}}
            {{#if content}}<p class="content">{{{content}}}</p>{{/if}}
        </a>
    </article>
</template>
