@import (reference) "/views/styles/index.less";
@import (reference) "/views/styles/forms.import.less";
@import (reference) "/views/styles/context.import.less";

//Defaults
/*@sidebarPrimaryColor: #222;
@sidebarSecondaryColor: #444;
@sidebarHeadingColor: #fff;
@sidebarTextColor: #fff;
@sidebarTabBgColor: #555;*/

//Sidebar Styles
aside.off-canvas{
    background-color: @sidebarPrimaryColor;
    text-align: center;
    @media @mobile{ text-align: left; }
    ul, ol, li{ list-style: none; margin: 0;}
    form { 
        .formColors(darken(@blueGray, 5%),@gray,@teal,@gray,darken(@blue, 2%),@teal,@gray,darken(@blue, 2%)); 
        padding: 50px 40px;
    }
    header{
        h1, h2{
            display: block;
            padding: 50px 0px 50px 0px;
            margin: 0;
            text-align: center;
            color: #ffffff;
            font-size: 16px;
            font-size: 1.6rem;
            line-height: 16px;
            line-height: 1.6rem;
            letter-spacing: 1px;
            letter-spacing: 0.1rem;
            font-weight: 600;
            text-transform: uppercase;
            font-weight: 400;
            font-size: 24px;
            letter-spacing: 0.2rem;
            a{ color: @sidebarHeadingColor; }
            @media @mobile{
                padding: 20px;
                text-align: left;
            }
            &:before{
                opacity: 0.45;
                margin-right: 12px;
            }
        }
    }
    .sidebar-content{
        background-color: @sidebarSecondaryColor;
        color:@sidebarTextColor;
        @media @mobile { .shadowNone; }
    }
    .sidebar-document{
        padding: 40px;
        text-align: left;
        &, p, h1, h2, h3, h4{ color: #fff; }
        h2{
            text-transform: uppercase;
            font-size: 15px;
            line-height: 20px;
            margin-top: 40px;
            margin-bottom: 10px;
        }
    }
    form + button[data-action], .ref{
        cursor: pointer;
        color: #ffffff;
        font-size: 14px;
        font-size: 1.4rem;
        line-height: 14px;
        line-height: 1.4rem;
        letter-spacing: 0.25px;
        letter-spacing: 0.025rem;
        font-weight: 600;
        text-transform: none;
        margin: 0px auto 0px auto;
        display: block;
        text-align: center;
        padding: 0px;
        .shadowNone;
        &:after{
            .fa;
            content: '\f0da';
            margin-left: 5px;
        }
    }
    .ref{ margin-top: 20px; }
    .none{ text-align: center; font-weight: 600; }
    button[data-canvas-event="close"]{
        margin: 15px auto 15px auto;
        padding: 15px;
        color: #ebf2f2;
        text-decoration: underline;
        //border-bottom: 2px solid #ebf2f2;
        .shadowNone;
        .font(1.2,1.5,0.025,600,none);
        &:focus{ background-color: rgba(0,0,0,0.25); }
        @media @mobile{display: none;}
    }
    ul.stripes, section.stripes, details div{
        > li, > article{
            background-color: darken(@sidebarSecondaryColor, 5%);
            &:nth-child(even){ background-color: darken(@sidebarSecondaryColor, 4%); }
        }
        &.hoverLi{
            li:hover{
                background-color: darken(@sidebarSecondaryColor, 7.5%);
                &:nth-child(even){ background-color: darken(@sidebarSecondaryColor, 6.5%); }
            }
        }
        //&:last-child{ margin-bottom: -30px; }
    }
}

//Sidebar Tabs Colors
div.tabs{
    background-color: @sidebarTabBgColor;
}

menu.tabs{
    > li{
        //Currently Supports 12 tabs
        &:first-child > a[aria-expanded=false]{ background-color: lighten(@sidebarTabBgColor, 3%); }
        &:nth-child(2) > a[aria-expanded=false]{ background-color: lighten(@sidebarTabBgColor, 5%); }
        &:nth-child(3) > a[aria-expanded=false]{ background-color: lighten(@sidebarTabBgColor, 7%); }
        &:nth-child(4) > a[aria-expanded=false]{ background-color: lighten(@sidebarTabBgColor, 9%); }
        &:nth-child(5) > a[aria-expanded=false]{ background-color: lighten(@sidebarTabBgColor, 11%); }
        &:nth-child(6) > a[aria-expanded=false]{ background-color: lighten(@sidebarTabBgColor, 13%); }
        &:nth-child(7) > a[aria-expanded=false]{ background-color: lighten(@sidebarTabBgColor, 15%); }
        &:nth-child(8) > a[aria-expanded=false]{ background-color: lighten(@sidebarTabBgColor, 17%); }
        &:nth-child(9) > a[aria-expanded=false]{ background-color: lighten(@sidebarTabBgColor, 19%); }
        &:nth-child(10) > a[aria-expanded=false]{ background-color: lighten(@sidebarTabBgColor, 21%); }
    }
}

//Sidebar Mobile
@media @mobile{
    body.tab-open{
        section.sidebar > .scroll{ overflow: hidden; }
    }
    section.sidebar{
        background-color: @sidebarSecondaryColor;
        > header{
             background:@sidebarPrimaryColor;
        }
    }
    aside.off-canvas{
        div.tabs{
            > article{
                //display: block;
                position: absolute;
                top: 0px;
                left: 0px;
                background: @sidebarSecondaryColor;
                min-height: 100vh;
                width: 100%;
                height: ~'calc(100vh - @{headerMobileH})';
                overflow: scroll;
                -webkit-overflow-scrolling: touch;
                isolation: isolate;
                //>
                > header + *, * > header + *{ //Containing element after header
                    background-color: @sidebarSecondaryColor;
                    color:@sidebarTextColor;
                    margin-bottom: 50px;
                    &.toggleSwitches:nth-child(2) {
                        margin-bottom: 0px;
                    }
                }
                > header{
                    background:@sidebarPrimaryColor;
                }
            }
        }
    }
}

//Article Styles
[data-list-type="article"]{
    text-align: left;
    position: relative;
    p{ margin-bottom: 0px; color: @white;}
    article{
        padding: 20px;
        color: @white;
    }
}

//Read More paginate button
aside.off-canvas{
    li.loadMore{
        text-align: center;
        padding: 30px 0px;
        button{
            .buttonColor(@blueGray);
            margin: 0 auto;
            & + span.everything {
                margin: 0 auto;
            }
        }
        &.everything { display: none; }
        &.everything + span.everything { display: block; }
    }
    @media @mobile{
        li.loadMore{
            text-align: left;
            padding: 20px;
        }
    }
}

//Icons on articles
article a.icon:before{
    font-size: 30px;
    font-weight: 100;
    display: block;
    color:@teal;
}

@media @mobile{
    .librarySearchHeader{margin-bottom: 0px !important;}
    #resources article details{
        width: auto !important;
        margin: 0px !important;
    }
    #resources article aside.info{
        width:100% !important;
        padding-top: 0px !important;
        > *{
            width:25%;
            float: left;
            button{
                //min-height: 65px;
            }
        }
    }
}


@media @mobile{
    #resources article.itemCategory details{width: 100% !important;}
}


// Print Optimization
@media print{
    [data-canvas-state=open] .off-canvas section.sidebar[aria-hidden="false"]{ height: auto !important; }
    body aside.off-canvas{
        padding: 20px;
        //width: auto !important;
        menu.tabs{ display: none; }
        form label.toggleSwitchLabel {
            left: 0px;
        }
        ul.notificationMenu button.redirectButton, ul.eventsMenu button.redirectButton, ul.libraryMenu button.redirectButton {
            text-align: left;
            margin: 0px;
        }
        &, & *{ background: transparent !important; text-align: left !important; }
        *{ color: #333 !important; }
        header h1{ text-align: left; color: #333; padding: 0px;}
        .sidebar-content{
            box-shadow: none; -webkit-box-shadow:none;
            form {
                max-width: 360px;
                &.flex-form{ max-width: 90%; }
                margin: 20px 0px;
                padding: 0px !important;
                input, textarea{
                    background: transparent !important;
                    color: #333 !important;
                    padding: 0px !important;
                    text-indent: 0px !important;
                    border-bottom: 1px solid #999 !important;
                }
            }

        }
        .sidebar-content input[type=submit], button, a, button[data-canvas-event="close"]{
            color: #01B6C7 !important;
            padding: 0px !important;
            text-decoration: underline !important;
            font-weight: bold !important;
            text-indent: 0px;
            border-bottom: none !important;
        }
        ul.eventsMenu > li, ul.notificationMenu > li, ul.libraryMenu > li{ padding: 10px 0px !important;}
        [data-list-type="article"] article {
            padding: 10px 0px;
            margin: 0px;
        }
        .inner-container-wide {
            max-width: 100%;
        }
        .filter{display: none;}

        //Twitter
        section#twitter .twitterElement {
            padding: 0px;
            box-shadow: none;
            margin-top: 20px;
        }
        section#twitter iframe {
            height: 3000px !important;
            max-width: 100% !important;
        }

        //Newsroom
        section#newsroom .links {
            margin: 10px 0px;
        }

        //Donate
        section#donate p, section#payments p {
            max-width: 100% !important;
            margin: 0px;
            padding: 0px;
        }
        section#donate form fieldset, section#payments form fieldset{ padding: 0px;}

    }
}

// Sidebar Editable Content Styles
.sidebar-editable{
    padding: 40px;
    &, p{ color: #fff; }
}