<template name="tabs">
    <menu class="tabs {{class}}">
        {{#each tabs}}
            {{> tabAnchor this}}
        {{/each}}
        {{#if isAdmin}}
            {{#if showAddPage}}
                <li class="new-section">
                    <a href="#" aria-expanded="false"><span class="fa">&#xf055;</span> Section</a>
                </li>
            {{/if}}
        {{/if}}
    </menu>
    {{#if filter}}
        {{>filter}}
    {{/if}}
    <div class="tabs {{class}}">
        {{#each tabs}}
            <article data-id="{{id}}" aria-hidden="{{#if isFirst}}false{{else}}true{{/if}}" data-editable="{{editable}}"
                class="{{#if isAdmin}}admin{{/if}}">
                {{#if isAdmin}}
                  <aside class="admin">
                    {{#if addable}}
                      <button class="fa add">&#xf067;</button>
                    {{/if}}
                    {{#if editable}}
                      <button class="fa edit">&#xf044;</button>
                      <button class="fa delete">&#xf1f8;</button>
                    {{/if}}
                  </aside>
                {{/if}}
                {{> Template.dynamic template=template}}
            </article>
        {{/each}}
    </div>
</template>

<template name="generic">
    <h2>{{title}}</h2>
    <section class="content" data-hash="{{hash this}}">
        {{{ markdown content }}}
        {{#each lists}}
            {{>list}}
        {{/each}}
    </section>
</template>

<template name="tabAnchor">
    <li>
        <a href="#" data-icon="{{icon}}" aria-controls="#{{id}}" data-no-filter="{{#if noFilter}}true{{else}}false{{/if}}" aria-expanded="{{#if isFirst}}true{{else}}false{{/if}}" data-toggle="tabs" data-id="{{id}}">{{title}}</a>
    </li>
</template>
