@import (reference) "/views/styles/index.less";

#back-to-top {
    display: none;
    @media (min-width:767px){ display: block; }
    position: fixed;
    bottom: 0px;
    right: 13px;
    background: #e2eaee;
    padding: 3px 21px;
    border-radius: 3px 3px 0 0;
    z-index: 99;
    color: #94adb9;
    opacity: 1;
    font-size:12px;
    opacity: 0;
    .transform(translate(0px, 100px));
    .trans(all 250ms ease);
    &.active{
        .transform(translate(0px, 0px));
        opacity: 1;
        &:hover{ opacity: 1; background: @teal; color: #fff; }
    }
    span{
        display: block;
        font-weight: 100;
        font-size: 26px;
        margin-top: 3px;
    }
}
