//Notifications & Events Lists
ul.notificationMenu, ul.eventsMenu{
    li{
        button{
            display: inline-block;
            padding:6px 10px 6px 10px;
            color: #fff;
            margin-top: 10px;
            font-weight: bold;
            text-transform: uppercase;
            margin-right: 2px;
            line-height: 22px;
            .backgroundColorButton(@teal);
            &.deny{
                .backgroundColorButton(@orange);
            }
        }
        &.notificationEmpty, &.eventsEmpty {
            color: mix(@gray, @navy, 35%);
            font-weight: bold;
            text-transform: uppercase;
            font-size: 14px;
            letter-spacing: 0.25px;
            background-color: transparent;
            text-align: center;
            padding: 0px 30px;
        }
    }
    span.response{
        display: none;
        margin-top: 10px;
        font-size: 14px;
        font-weight: bold;
        color: lighten(@teal, 5%);
    }
    li.selected{
        span.response{
            display: block;
        }
        button.deny, button.approve, button.viewEvent, button.unregister{
            display: none;
        }
    }
}