//Notifications & Events Lists
ul.notificationMenu, ul.eventsMenu{
    li{
        button{
            display: inline-block;
            padding:6px 10px 6px 10px;
            color: #fff;
            margin-top: 10px;
            font-weight: bold;
            text-transform: uppercase;
            margin-right: 2px;
            line-height: 22px;
            .backgroundColorButton(@teal);
            &.deny{
                .backgroundColorButton(@orange);
            }
        }
        &.notificationEmpty, &.eventsEmpty {
            color: mix(@gray, @navy, 35%);
            font-weight: bold;
            text-transform: uppercase;
            font-size: 14px;
            letter-spacing: 0.25px;
            background-color: transparent;
            text-align: center;
            padding: 0px 30px;
        }
    }
    span.response{
        display: none;
        margin-top: 10px;
        font-size: 14px;
        font-weight: bold;
        color: lighten(@teal, 5%);
    }
    li.selected{
        span.response{
            display: block;
        }
        button.deny, button.approve, button.viewEvent, button.unregister{
            display: none;
        }
    }
}



//Acount Details
section.accountDetails{
    form{
        .row {
            text-align: right;
            max-width: 177px;
            margin: 0 auto;
            margin-bottom: 20px;
        }
    }
    ul.accountDetailsTabs{
        height: 52px;
        background-color: @lightBlue;
        li {
            display: block;
            width: 33.3333333%;
            float: left;
            padding: 20px 0px;
            cursor: pointer;
            text-align: center;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: 12px;
            line-height: 12px;
            .fa{
                font-size: 17px;
                font-weight: 100;
                position: relative;
                top: -1px;
                left: -2px;
            }
            //.transition(all,200ms,ease,0ms);
            &:first-child{
                background-color: #5e727d;
            }
            &:nth-child(2){
                background-color: #637782;
            }
            &:nth-child(3){
                background-color: #6d818c;
            }
            &:hover{
                background-color: darken(@lightBlue, 5%);
            }
            &:active{
                color: lighten(@aqua, 10%);
            }
            &.active{
                background-color: @lightBlue;
                color: lighten(@aqua, 2.5%);
                &:hover{
                    background-color: @lightBlue;
                    //color: lighten(@aqua, 5%);
                }
            }
        }
    }

    ul.accountDetailsContent{
        background-color: @lightBlue;
        form{
            max-width: 360px;
            margin: 0 auto;
            padding-bottom: 20px;
            &#subscriptions {
                max-width: none;
                padding: 0px;
                li{
                    position: relative;
                }
            }
        }
        h3{
            color: @white;
            background-color: @lightBlue;
            text-align: center;
            padding: 36px 0px 18px 0px;
            font-size: 16px;
            letter-spacing: 1px;
        }
        > li{
            padding: 0px;
            background-color: @lightBlue;
            display: none;
            //.animateDisplayAccountDetailsTabs;
            //.transition(all,400ms,ease-out,0ms);
            ul{
                li{
                    //.transition(all,400ms,ease-out,0ms);
                    span{
                        max-width: 360px;
                        margin: 0 auto;
                        display: block;
                        &.response{
                            display: none;
                            padding: 23px 0px 10px 0px;
                        }
                    }
                    &.selected{
                        span.response{
                            display: block;
                        }
                    }
                }
            }
            &.active{
                display: block;
                //background-color: @lightBlue;
            }
        }
    }
}