@import (reference) "/views/styles/index.less";

section#twitter{
    h2 a{font-weight: @normal;}
    .twitterElement {
        padding: 60px 30px 30px 30px;
        background-color:@blueGray;
        @media @mobile{
            padding: 10px;
            box-shadow: none;
            -webkit-box-shadow:none;
        }
    }
    iframe{
        max-width: 366px !important; //Overrides max-width
        border-radius: 4px;
    }
}
