<template name="list">
        {{#if equals type 'article'}}
            <section data-list-type="{{type}}" data-list-paginate="{{#if paginate}}{{paginate}}{{/if}}" data-list-paginate-count="{{#if perPage}}{{perPage}}{{/if}}" class="{{type}}{{#if style}} {{style}}{{/if}}">
                {{#if equals itemType 'category'}}
                    {{#each categories}}
                        <article>
                            <details aria-expanded="false" aria-controls="{{id}}">
                                <summary id="{{id}}">
                                    <h1>{{title}}</h1>
                                </summary>
                                {{#each items}} 
                                    {{>articleItem}} 
                                {{/each}}
                            </details>
                        </article>
                    {{/each}}
                {{else}}
                    {{#each items}}
                        {{>articleItem}}
                    {{/each}}
                {{/if}}
            </section>
        {{/if}}


        {{#if equals type 'toggle'}}
            <ul class="toggleList{{#if style}} {{style}}{{/if}}">
                {{#each items}}
                    <li>
                        <label for="{{id}}">{{title}}</label>
                        <div>
                            <input tabindex="-1" id="{{id}}" type="checkbox" checked="{{currentUser.property id}}">
                            <label tabindex="0" for="{{id}}" role="checkbox" aria-checked="{{currentUser.property id}}"></label>
                        </div>
                    </li>
                {{/each}}
            </ul>
        {{/if}}

        {{#if equals type 'catalog'}}
            <section data-list-type="{{type}}" data-list-paginate="{{#if paginate}}{{paginate}}{{/if}}" data-list-paginate-count="{{#if perPage}}{{perPage}}{{/if}}" class="{{type}}{{#if style}} {{style}}{{/if}}">
            {{#each items}}
                <article>
                    <details aria-expanded="false" aria-controls="{{catalog.id}}">
                        <summary id="catalog{{catalog.id}}">
                            <h1>{{catalog.title}}</h1>   
                            <p>{{catalog.byline}}</p>   
                        </summary>       
                        <dl>
                            <!--Would be nice to have the spacebars tag just do: prop:val-->
                            <dt>Call Number</dt><dd>{{catalog.callNumber}}</dd>
                            <dt>Copies</dt><dd>{{catalog.copies}}</dd>
                            <dt>Subject Headings</dt><dd>{{catalog.subjectHeading}}</dd>
                            <dt>Classification</dt><dd>{{catalog.classification}}</dd>
                            <dt>Category</dt><dd>{{catalog.category}}</dd>
                            <dt>Material</dt><dd>{{catalog.type}}</dd>
                        </dl>
                    </details>
                    <aside>
                        {{#if type}}
                            <dl class="material"><dt>Material</dt><dd>{{catalog.type}}</dd></dl>
                        {{/if}}
                        {{#if stauts}}
                            <dl class="{{catalog.status.type}}"><dt>Status</dt><dd>{{catalog.status.text}}</dd></dl>
                        {{/if}}
                        <menu>
                            {{#if equals catalog.status.type 'transit'}}
                                <li><button>Request Copy</button></li>
                            {{/if}}
                            <!--Remaining interaction buttons here-->
                        </menu>
                    </aside>
                </article>
            {{/each}}
            </section>
        {{/if}}

        {{#if equals type 'event'}}
        <!--container-->
            {{#each items}}
            {{/each}}
        <!--container-->
        {{/if}}
        {{#if equals type 'location'}}
        <!--container-->
            {{#each items}}
            {{/each}}
        <!--container-->
        {{/if}}

</template>

<!--This could exist in another file perhaps.-->
<template name="articleItem">
    <article role="document">
        <a href="{{url}}" target="_blank" class="{{#if icon}}icon icon-{{{icon}}}{{/if}}">
            {{#if date}}<time class="dateMeta" datetime="{{date}}">{{friendlyDate}}</time>{{/if}}
            {{#if title}}<h3>{{title}}</h3>{{/if}}
            {{#if content}}<p class="content">{{content}}</p>{{/if}}
        </a>  
    </article>
</template>