<template name="base">
    <div id="canvas" class="canvas">
        {{>header}}
        <main>
            <!--{{#each sections}}
                {{> Template.dynamic template=template}}
            {{/each}}-->
        </main>
        <aside class="offCanvas">
            {{#each sidebars}}
                {{> Template.dynamic template=sidebar}}
            {{/each}}
        </aside>
        <div class="overlay" id="overlay" role="presentational" aria-hidden="true"></div>
        <!--{{> articleNews}} //Article Page Template -->
        <!--{{>help}} //Get Help Modules -->
        <!--{{>alerts}} //Alert Templates -->
    </div>
</template>