<template name="tabs">
    <menu class="tabs">
        <li><a href="#actionAlerts" aria-expanded="false" aria-controls="#actionAlerts" data-toggle="tabs">Action Alerts</a></li>
        <li><a href="#actionAlerts2" aria-expanded="false" aria-controls="#actionAlerts2" data-toggle="tabs">Action Alerts2</a></li>
        <li><a href="#actionAlerts3" aria-expanded="false" aria-controls="#actionAlerts3" data-toggle="tabs">Action Alerts3</a></li>
    </menu>
    <div class="tabs">
        <article id="actionAlerts" aria-hidden="true">
            content
        </article>
        <article id="actionAlerts2" aria-hidden="true">
            content 2
        </article>
        <article id="actionAlerts3" aria-hidden="true">
            content 3
        </article>
    </div>
</template>