.canvasCenter, aside.sidebar, header.mainHeader, header.mobileHeader{
    display: none !important;
}


section.articleNews{
    max-width:1200px;
    margin: 20px auto 20px auto;
    background-color: @white;
    .shadow(0px,0px,10px,0px,0.3);
    header{
        padding: 40px;
    }
    div.title{
        background-color: @orange;
        padding: 40px;
    }
    footer{
        background-color: @gray;
        padding: 40px;
    }
}