//setup
section.articleNews{
    max-width:960px;
    margin: 20px auto 20px auto;
    background-color: @white;
    .shadow(far);
    @media @1024{max-width: 740px;}
    @media @mobile{margin: 0px;}
}

section.articleNews{
    //header
    header{
        padding: 40px;
        @media @mobile{
            text-align: center;
            padding: 20px;
        }
        a{
            display: inline-block;
            @media @mobile{display: block;}
            &.associatedBrandLinkSingle{
                float: right;
                @media @mobile{float: none;}
                img{
                    max-height: 80px;
                    width: auto;
                }
            }
        }
    }
    //social
    div.articleUtility{
        background: @gray;
        padding: 7px 40px;
        position: relative;
        z-index: 2;
        .shadow(closeRight);
        .clearfix;
        @media @mobile{text-align: center;}
        h3, ul, ul li{
            display: inline-block;
            margin: 0px;
            padding: 0px;
        }
        a{
            font-size: 23px;
            padding: 0px 5px;
            position: relative;
            top: 2px;
        }
        .left a{
            color: @black;
            .font(1.4,1.4,0.025,bold,none);
        }
        .left{float: left;}
        .right{float: right;}
    }
    //article title
    div.title{
        padding: 40px;
        background-color: @orange;
        @media @mobile{padding: 20px;}
        p{
            .font(3.2,3.2,0.025,normal,uppercase);
            @media @mobile{font-size: 20px;}
        }
        h1{
            margin-top: 0px;
            color: @white;
            .font(5.7,5.6,0.025,@normal,uppercase);
            @media @mobile{.font(2.6,2.8,0.025,normal,uppercase);}
        }
    }
    //main section styles
    main{
        padding: 40px 150px;
        @media @1024{padding: 40px;}
        @media @mobile{padding: 20px;}
    }
    //footer styles
    footer{
        padding: 40px;
        background-color: @gray;
        @media @mobile{padding: 20px;}
        p{
            margin-bottom: 10px;
            clear: both;
            color: @black;
            .font(0.9,1.5,0,normal,none);
        }
        h3{margin-top: 40px;}
        p.hash {
            margin-bottom: 0px;
            @media @mobile{margin-top: 20px;}
            text-align: center;
            color: @midnightBlue;
            .font(4.0,4.0,1,bold,none);
        }
        ul{
            float: left;
            padding: 0px 30px 20px 0px;
            .phone a{color: @black;}
            li.phone, li.email, li.name{
                &:before{
                    .fa;
                    margin-right: 5px;
                    color: @midnightBlue;
                }
            }
            li.name:before{content:"\f007";}
            li.phone:before{content:"\f095";}
            li.email:before{content:"\f0e0";}
        }
        ul.social{
            text-align: center;
            clear: both;
            float: none;
            padding: 0px;
            li{
                display: inline-block;
                font-size: 26px;
                margin: 30px 5px 20px 5px;
            }
        }
    }
}