.callout{ 
    background: @white;
    h3 {
        border-left: 100px solid @teal;
        .borderColorChangeLinear;
        &:hover{
            border-color: lighten(@teal, 5%);
        }
        padding:2em;
        margin: 0px;
        max-width: 900px;
    }
    h3, h3 p {
        font-size: 32px;
        font-weight: 300;
        text-transform: uppercase;
        color: #2b2b2b;
        letter-spacing: 0.05em;
        line-height: 1.5em;
    }
    h3 :last-child { margin-bottom: 0; } // added to remove excess white space
}

@media (max-width:767px){
    .callout{ 
        h3{
            border-left: none;
            font-size: 1.2em;
            strong{
                color: @teal;
            }
        }
    }
}