.contact{
	background: @blueAsh;
    padding: 70px;        
    color: @white;
    @media (max-width:767px){
        padding: 20px;
    }
    img.footer-brand {
        position: absolute;
        right: 70px;
        top: 65px;
        height: 38px;
        @media (max-width:767px){
            display: none;
        }
    }
    h2{
        font-size: 32px;
        line-height: 38px;
        max-width: 1400px;
        margin-bottom: 0px;
        font-weight: 100;
        text-transform: uppercase;
        padding-bottom: 40px;
        @media (max-width:767px){
            padding-bottom: 20px;
        }
    }
    form{
        label{
            line-height: 18px;
            padding: 10px 0px 5px 0px;
        }
        label, input, textarea{
            clear: both;
            display: block;
            width: 60%;
            @media (max-width:767px){
                width: 96%;
                text-indent: 0px;
                padding: 10px 2%;
            }
        }
        label{
            @media (max-width:767px){
                padding: 10px 0px 10px 0px;
            }
        }
        textarea{
            width: 90%;
            height: 109px;
            @media (max-width:767px){
                width: 96%;
                padding:10px 2%;
                text-indent: 0px;
            }
        }
        input{
            height: 39px;
            line-height: 39px;
        }
        .button{
            width: auto;
            text-indent: 0px;
            height: auto;
            margin-top: 20px;
        }
    }
    .footer-map, form{
        float: left;
        width: 48%;
        @media (max-width:767px){
            width: 100%;
        }
    }
    .footer-map{
        text-align: right;
        margin-left: 4%;
        position: relative;
        top: 30px;
        height: 300px;
        overflow: hidden;
        @media (max-width:767px){
            margin: 0px;
        }
        img{
            min-height: 100%;
            min-height: 100%;
            width: 100%;
            @media (max-width:1200px){
                min-height: 100%;
                width: 100%;
                left: -50%;
                position: relative;
                width: 150%;
            }

        }
        address {
            position: absolute;
            top: 20px;
            right: 20px;
            padding: 30px 20px;
            background-color: @darkGray;
            background-color: rgba(0,0,0,0.8);
            text-align: left;
        }
    }
}