
//Donate Object
.donate-object{
    width: 100%;
    z-index: 101;
    top: 33px;
    .easeInOutAll1000;
    background-color: #fff;
    text-align: left;
    border-bottom: 5px solid @melon;
    border-top: 5px solid @melon;
    height: 1000px; 
    margin-top: -1050px;
    .donate-inner{
        padding:60px 30px 30px 30px;
        margin: 0 auto;
        max-width: 900px;
    }
   h2{
        font-size: 42px;
        line-height: 38px;
        max-width: 1400px;
        margin-bottom: 0px;
        font-weight: 100;
        text-transform: uppercase;
        padding-bottom: 40px;
        color: @deepGray;
        span{
            color: @melon;
        }
    }
    h3{
        font-size: 18px;
        border-bottom: 5px solid #bbb;
        margin-bottom: 20px;
        padding-bottom: 5px;
        color: @teal;
        margin-top: 16px;
    }
    p{
        font-weight: 500;
        max-width: 700px;
        padding-bottom: 25px;
    }
    form{
        color: @deepGray;
        table{
            width: 100%;
            td{
                width: 100px;
            }
        }
        input, textarea{
            border: none;
            height: 40px;
            line-height: 41px;
            font-size: 16px;
            text-indent: 20px;
            width: 190px;
            margin-left: 5px;
            background-color: #e6e1c1;
        }
        label.full input {
            width: 400px;
            display: block;
            margin-top: 10px;
        }
        label.full {
            width: 100%;
            display: block;
        }
        input[type="radio"]{
            width: auto;
            cursor: pointer;
            clear: left;
            height: auto;
            &:hover + label{
                color: @teal;
            }
            &:hover + label.recommended{
                color: @teal;
            }
        }
        label.recommended{
            color: darken(@teal, 5%);
            &:hover{
                color: @teal;
            }
        }
        label{
            font-size: 20px;
            font-weight: 600;
            line-height: 24px;
            cursor: pointer;
            .colorChangeLinear;
            margin-right: 20px;
            margin-bottom: 20px;
            &:hover{
                color: @teal;
            }
        }
        .button{
            text-indent: 0px;
            height: auto;
            padding: 20px;
            line-height: 30px;
            margin-top: 30px;
        }
    }
    button.close-donate{
        position: absolute;
        top: 11px;
        right: 0px;
        background-color: transparent;
        color: @deepGray;
        &:hover{
            color: darken(@deepGray, 5%);
        }
        font-size: 40px;
        border: none;
    }
}


//Active Donation State
span.cc-pic {
    display: none;
}

body.donation-active{
    .donate-object{
        margin-top: 0px;
    }
    header.header{
        top: 1010px;
    }
}