.header, .utility-nav {
    -webkit-font-smoothing: antialiased;
    width: 100%;
    line-height: 4em;
    top: 0px;
    z-index: 11;
    position: absolute;
    @media (max-width:767px){
        //z-index: 101;
    }
    //Header Image
    span.brand {
        height: 52px;
        padding-top: 24px;
        padding-left: 25px;
        display: block;
        width: auto;
        position: absolute;
        left: 16px;
        top: 50px;
        img{
            max-height: 100%;
            max-width: 100%;
        }
        @media (max-width: 920px){
            position: static;
            text-align: center;
            margin: 0 auto;
            margin-top: 80px;
        }
        @media (max-width:767px){
            padding: 0px;
            height: 20px;
            width: auto;
            top: 5px;
            right: 0px;
            position: fixed;
            margin: 0px;
            img {
                max-height: 25px;
                width: auto;
                position: absolute;
                left: 1px;
                top: -3px;
            }
        }
    }
    .scrolled-brand {
        visibility: hidden;
        float: left;
        margin: 9px 20px 0px 31px;
        height: 44px;
        opacity: 0;
        .crossFade;
        @media (max-width: 920px){
            display: none;
        }
    }
    .scrolled-brand img { height: 44px; }

    //Main Menu
    nav, ul, li{
        display: inline-block;
        height: 100%;
    }
    nav{
        text-align: right;
        float: right;
        .noTransition;
        @media (max-width:920px){
            float: none;
            width: 100%;
            text-align: center;
        }
        ul{
            margin-top: 33px;
            margin-top: 33px;
            margin-right: 40px;
            font-size: 18px;
            color: #fff;
            font-weight: 800;
            @media (max-width: 920px){
                width: 100%;
                text-align: center;
            }
        }
        li{
            height: auto;
            line-height: 72px;
            margin-right: 15px;
            #login-buttons a, .accounts-dialog a{
                text-decoration: none;
            }
            a{
                line-height: 40px;
                padding-right: 10px;
                margin-top: 50px;
                font-weight: 800;
                color: #fff;
                opacity: 1;
                .colorChangeLinear;
                &:hover{
                    color: @teal;
                }
                @media (max-width: 920px){
                    margin-top: 0px;
                }
            }
        }
        a{
            color: @gray91;
            font-weight: bold;
            display: block;
            padding-right: 25px;
            &:hover{
                color: @deepGray;
            }
        }
        a.current{
            color: @teal;
        }
    }

} //End Header



//Header Scroll State
//Resets
li.brand-small, li.menu-toggle{visibility: hidden;}
main.content-wrapper {
    position: relative;
    left: 0px; 
    .contentMoveBack;
    &:before {
        content: '';
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        background-color: rgba(255,255,255,0.8);
        z-index: 1;
        visibility: hidden;
        opacity: 0;
        .crossFade;
    }
}


header.header{
    //.easeInOutAll;
}

//Header Scrolled
@media (min-width:768px){
    body.scrolling{
        header.header{
            position: relative;
            left: 700px;
        }
    }
}

@media (min-width:768px){
    body.scrolled.scrolling{
        li.brand-small{
            left: 10px;
            .brandHeadlineReveal;
            @media (max-width:1100px){
                display: none;
            }
        }
        .scrolled-brand{
            visibility: visible;
            opacity: 1;
            @media (max-width: 920px){
                display: block;
            }
        }
        //Header
        header.header {
            position: fixed;
            top: 30px;
            left:0px;
            height: 60px;
            background-color: #f6f7ee;
            .mintyHorizontalGradient;
            border-bottom: 5px solid #444;
            .easeInOutAll;
            nav{
                float: left;
                padding-left: 30px;
                @media (max-width:920px){
                    width: auto;
                    float: right;
                }
                @media (max-width:767px){
                    padding-left: 0px;
                }
            }
            nav li a, ul {
                padding-top: 0px;
                margin: 0px;
                color: #444;
                opacity: 1;
                text-align: left;
            }
            img.main-brand {
                display: none;
            }
            nav a:hover{
                color: @teal;
            }
            nav li.active a{
                color: @teal;
            }
        }
    }
}


//Mobile
@media (max-width:767px) {
    body{
        .header{
            background-color: darken(@somberBlue, 5%);
            height: 32px;
            position: fixed;
        }
        .utility-nav{
            text-align: right;
        }
        .header, .utility-nav{
            li.menu-toggle{
                position: relative;
                //left: 0px;
                .menuToggleReveal;
                visibility: visible;
            }
            nav{
                width: 100%;
                height: 100%;
                left: -100%;
                position: fixed;
                background-color: darken(@somberBlue, 5%);
                padding-left: 0px;
                .contentMoveBack;
                ul{
                    display: block;
                    float: left;
                    padding-left: 20px;
                    padding-top: 0px;
                    margin-top: 47px;
                    li{
                        display: block;
                        width: 100%;
                        text-align: left;
                        a{
                            line-height: 40px !important;
                            margin-top: 0px !important;
                            text-transform: uppercase;
                            font-size: 16px;
                            letter-spacing: 2px;
                        }
                        &.social{
                            width: auto;
                            display: inline-block;
                            float: left;
                            margin-right: 10px;
                            font-size: 20px;

                        }
                    }
                }
            }
        }
        header.header nav{
            top:32px;
        }
        &.open-nav{
            overflow: hidden;
            height: 100%;
            main.content-wrapper{
                left: 100%;
                .contentMove;
                &:before{
                    visibility: visible;
                    opacity: 1;
                }
            }
            header.header nav{
                left: 0px;
                .contentMove;
                top: 32px;
            }
        }
    } //End Body Scrolled
}
