.providers{
	background: #fff;
    border-bottom: 5px solid @melon;
	text-align: center;
	font-size: 1.5em;
	color: #111111;
    padding-top: 150px; // changed to padding from margin by Micah for admin controls
    h2{
        position: relative;
        text-transform: uppercase;
        font-size: 28px;
        line-height: 32px;
        font-weight: 100;
        margin-bottom: 70px;
        &:before{
            content: "\f041";
            position: absolute;
            .fa;
            font-size: 60px;
            line-height: 60px;
            margin-top: -100px;
            left:50%;
            margin-left: -20px;
        }
    }
    .map, .details{
        //display: none;  probably not necessary - Micah
    }
    .map.active, .details.active{
        display: block;
    }
    form{
        max-width: 502px;
        margin: 0 auto;
        padding-bottom: 70px;
        overflow: hidden;
        label{
            float: left;
            clear: both;
            width: 41%;
            text-align: right;
        }
        .select, .float-right{
            float: right;
        }
    }

    .map{
        height: 400px;
        overflow: hidden;
        width: 100%;
        position: relative;
        border-top: 5px solid @melon;
        &:after{
            content:'';
            position: absolute;
            bottom: 0px;
            left:70px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 31.5px 24px 31.5px;
            border-color: transparent transparent @melon transparent;
        }
    }
    .details{
        padding: 70px;
        color: @white;
        background: @gray50;
        border-top: 5px solid @melon;
        text-align: left;
        font-weight: 100;
        overflow: hidden;
        .left, .right{
            float: left;
            width: 50%;
        }
        a.icon{
            color: @skyBlue;
            display: block;
            font-size: 16px;
            position: relative;
            text-indent: 40px;
            line-height: 40px;
            &:hover{
                color:darken(@skyBlue, 10%);
                text-decoration: underline;
                &:after{
                    color:darken(@skyBlue, 10%);
                }
            }
        }
        .icon:before{
            content:'x';
            color: @skyBlue;
            display: block;
            position: absolute;
            left: -40px;
            top: 0px;
            font-size: 26px;
            .fa;
        }
        .facebook:before{
            content:"\f230";
            left: -38px;
        }
        .email:before{
            content:"\f0e0";
        }
        .website:before{
            content:"\f108";
        }
        .twitter:before{
            content:"\f099";
        }
        p.county-served{
            margin-bottom: 20px;
        }
        p{
            color: @white;
            font-weight: 100;
            margin-bottom: 0px;
        }
        h2{
            font-size: 32px;
            line-height: 38px;
            max-width: 1400px;
            margin-bottom: 0px;
            &:before{
                display: none;
            }
        }
        address {
            font-style: normal;
            font-size: 16px;
            line-height: 20px;
            padding-bottom:20px;
        }
        button{
            position: absolute;
            right: 30px;
            bottom: 30px;
        }
   }
}


//New Column Layout
.providers.left{
    overflow: hidden;
    .map{
        margin-top: 23px;
        width: 60%;
        float: left;
        border-top: none;
        &:after{
            left: inherit;
            right: -19px !important;
            margin-top: -31px;
            top: 50%;
            -ms-transform: rotate(-90deg);
            -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
        }
        @media (max-width:767px){
            width: 100% !important;
            height: 300px !important;
            margin: 0px;
            border-top: none;
            &:after{
                display: none;
            }
            #map-canvas{
                height: 350px;
            }
        }
    }
    @media (max-width:767px){
        padding-top: 50px;
    }
    .map, #map-canvas{
        height: 627px;
    }
    .details{
        padding: 56px 40px 40px 40px;
        height: 560px;
        border-left: 5px solid @melon;
        border-top: none;
        @media (max-width:767px){
            border-left: none;
            height: auto;
        }
        .right, .left{
            width: 100%;
        }
        .right{
            padding: 20px 0px 20px 0px;
        }
        a.icon{
            font-size: 13px;
            letter-spacing: 0px;
            line-height: 16px;
            display: block;
            margin-bottom: 12px;
            white-space: nowrap;
            &:before{
                left: -40px;
                top: 1px;
                font-size: 21px;
            }
        }
        button{
            position: static;
        }
    }
    .map{
        @media (max-width:1050px){
            width: 50%;
        }
    }
    .provider-search {
        position: absolute;
        z-index: 2;
        background-color: white;
        width: 100%;
        top: -286px;
        padding-top: 160px;
        cursor: pointer;
        border-bottom: 5px solid @melon;
        .easeInOutAll;
        @media (max-width:767px){
            position: static;
            padding-top: 0px;
        }
        h2{
            .easeInOutAll;
            font-weight: 500;
            span{
                .easeInOutAll;
                color: @melon;
                font-size: 40px;
                position: relative;
                left: -10px;
                top: -4px;
            }
            &:before{
                display: none;
            }
        }
        &:hover{
            background-color: #eee;
            h2{
                //color: darken(@melon, 5%);
                span{
                    color: darken(@melon, 5%);
                }
            }
        }
    }
    .provider-search.active{
        top: -90px;
    }

}




















