.work.tabs.tabs-right{
    // Tab Defaults
    background-color: @white;
    //padding-bottom:160px;
    border-top: 5px solid @deepGray;
    margin:0px;
    min-height: 100vh;
    article{
        background-color: @white;
        .content{
            padding:40px 60px 125px 159px;
            max-width: 900px;
            margin: 0px;
        }
        h2{
            position: relative;
            border-bottom: 5px solid darken(@blue, 5%);
            background-color: lighten(@fontBlack, 5%);
            padding: 30px 30px 30px 164px;
            font-size: 40px;
            font-weight: 100;
            line-height: 28px;
            text-transform: uppercase;
            color:@white;
            min-height: 28px; // allow proper height without text - Micah
            span{
                width: 50px;
                height: 50px;
                color: lighten(@fontBlack, 5%);
                background-color: @white;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                display: inline-block;
                line-height: 53px;
                text-indent: 6px;
            }
        }
    }

    main{
        float: left;
        width: 70%;
    }

    //Menu 
    menu{
        float: left;
        width: 30%;
        background: @gray50;
        min-height: 100vh;
        ul{
            border-bottom: 5px solid @blue;
        }
        &:hover h4{
            color: #fff;
        }
        h4{
            font-size: 20px;
            color: #ccc;
            text-transform: uppercase;
            font-weight: 300;
            text-align: left;
            padding: 20px 0px;
            border-bottom: 5px solid darken(@blue, 5%);
            line-height: 70px;
            text-indent: 20px;
            .easeInOutAll;
            span.title-icon{
                font-weight: 100;
            }
        }
        li{
            padding-right: 30px;
            color: @white;
            font-weight: bold;
            background-color: @fontBlack;
            border-bottom: 5px solid @fontBlack;
            line-height: 50px;
            font-size: 14px;
            letter-spacing: 1px;
            cursor: pointer;
            position: relative;
            .easeInOutAll;
            font-weight: 300;
            &:last-child{
                border-bottom: 0px;
            }
            span{
                /*display: block;
                float: left;  removed by Micah */
                line-height: 52px;
                background-color: @gray34;
                /*padding: 0px 20px;  replaced by Micah */
                padding: 17px 20px;
                font-size: 21px;
                font-weight: 100;
                margin-right: 10px;
                margin-top: -2px;
                cursor: pointer;
                .easeInOutAll;
            }

        }
        li.active, li:hover{
            background-color: @deepGray;
            span{
                background-color: @bgBlack;
                &:after{
                    content:'';
                    background-color: darken(@blue, 5%);
                    width: 5px;
                    position: absolute;
                    height: 100%;
                    left: -5px;
                }
            }
            &::before {
                background-color: @bgBlack;
                border-left: 5px solid @blue;
                margin-left: -5px;
            }
            &:after{
                content: '';
                position: absolute;
                left: -11px;
                top: 50%;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 6px 7px 6px 0;
                border-color: transparent @blue transparent transparent;
                margin-top: -5.5px;
            }
        }
        li:hover{
            &::before {
                border-left: 5px solid darken(@blue, 5%);
            }
            &:after{
                border-color: transparent darken(@blue, 5%) transparent transparent;
            }
        }
        li.active:hover{
            &::before {
                border-left: 5px solid @blue;
            }
            &:after{
                border-color: transparent @blue transparent transparent;
            }
        }
        li::before {
            content: attr(data-icon);
            background-color: @gray34;
            font: 21px/52px fontawesome;
            margin-right: 10px;
            display: inline-block;
            width: 55px; height: 55px;
            text-align: center;
        }
    }
    menu.fixed{
        position: fixed;
        right: 0px;
        top: 93px;
    }
}
