.work.tabs.tabs-right{
    // Tab Defaults
    background-color: @white;
    //padding-bottom:160px;
    border-top: 5px solid @teal;
    margin:0px;
    min-height: 1000px;
    button.work-filter {
        position: absolute;
        right: 0px;
        background-color: @teal;
        border-bottom: none;
        display: none;
        @media (max-width:767px){
            display: block;
        }
    }
    article{
        background-color: @white;
        border-left: 100px solid #ddd;
        @media (max-width:1260px){
            border-left: 0px;
        }
        @media (max-width:767px){
            padding: 20px;
        }
        padding: 40px;
        .content{
            max-width: 700px;
            margin: 0 auto;
            padding: 35px 0px 0px 0px;
        }
        h2{
            position: relative;
            border-bottom: 5px solid #ddd;
            //background-color: lighten(@fontBlack, 5%);
            background-color: transparent;
            padding: 0px 0px 37px 0px;
            font-size: 40px;
            font-weight: 100;
            line-height: 57px;
            text-transform: uppercase;
            color:#222;
            //text-align: center;
            min-height: 28px; // allow proper height without text - Micah
            max-width: 700px;
            margin: 0 auto;
            @media (max-width:1260px){
                font-size: 30px;
                line-height: 32px;
                padding: 40px 0px 20px 0px;
            }
            span{
                color: @white;
                background-color: @teal;
                text-indent: 2px;
                border-radius: 50%;
                -webkit-border-radius:50%;
                height: 60px;
                width: 60px;
                display: inline-block;
                text-align: center;
                line-height: 57px;
                padding: 0px;
            }
        }
    }

    main{
        float: left;
        width: 70%;
        position: relative; //Used for animating our mobile filter
        left: 0px; // See above
        @media (max-width:960px){
            width: 65%;
        }
        @media (max-width:767px){
            width: 100%;
        }
    }

    //Menu 
    menu{
        position: absolute;
        right: 0px;
        width: 30%;
        background: @gray50;
        display: table;
        z-index: 2;
        //min-height: 100vh;
        &:before{
            content: '';
            width: 5px;
            height: 100%;
            background-color: darken(@teal, 5%);
            top: 0px;
            position: absolute;
            z-index: 1;
        }
        @media (max-width:960px){
           width: 35%;
        }
        ul{
            position: relative;
            z-index: 3;
        }
        &:hover h4{
            color: #fff;
        }
        h4{
            font-size: 20px;
            color: #ccc;
            text-transform: uppercase;
            font-weight: 300;
            text-align: left;
            padding: 20px 0px;
            border-bottom: 5px solid darken(@teal, 5%);
            line-height: 70px;
            text-indent: 20px;
            .easeInOutAll;
            span.title-icon{
                font-weight: 100;
            }
        }
        li{
            letter-spacing: 2px;
            font-weight: 500;
            font-size: 17px;
            color: @white;
            font-weight: bold;
            background-color: @fontBlack;
            //border-bottom: 5px solid @fontBlack;
            border-left: 5px solid darken(@teal, 5%);
            line-height: 50px;
            //font-size: 14px;
            cursor: pointer;
            position: relative;
            text-transform: uppercase;
            //.easeInOutAll;
            font-weight: 300;
            .easeInOutAll;
            cursor: pointer;
            &:last-child{
                border-bottom: 0px;
            }
            span.caret:before{
                content:"\f0da";
                font-size: 12px;
                position: relative;
                top: -2px;

            }
            ul { 
                display: block;
                max-height: 0px;
                height: 0px;
                overflow: hidden;
                padding: 0px;
                .easeInOutAll1000;
            }
            ul.open { 
                max-height: 9999px;
                height: auto;
            }

        }
        li.active{
            max-height: 9999px;
            height: auto;
            span.caret:before{
                content:"\f0d7";
            }
        }
        li.active, li:hover{
            //background-color: @deepGray;
            background-color: @bgBlack;
            //background-color: @teal;
            //color: @fontBlack;
            border-left: 5px solid @teal;
            span{
                //background-color: @bgBlack;

            }
            &::before {
                background-color: @teal;
            }
            &:after{
                content: '';
                position: absolute;
                left: -11px;
                top: 25px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 6px 7px 6px 0;
                border-color: transparent @teal transparent transparent;
                margin-top: -5.5px;
                //.easeInOutAll;
            }
        }
        li:hover{
            &::before {
                //border-left: 5px solid darken(@blue, 5%);
            }
            &:after{
                border-color: transparent @teal transparent transparent;
            }
        }
        li.active:hover{
            &::before {
                //border-left: 5px solid @blue;
            }
            &:after{
                border-color: transparent @teal transparent transparent;
            }
        }
        li::before {
            content: attr(data-icon);
            background-color: @gray34;
            font: 21px/52px fontawesome;
            margin-right: 10px;
            display: inline-block;
            width: 55px; height: 55px;
            text-align: center;
        }
        li{
            ul{
                padding: 20px 0px;
                //background-color: saturate(@fontBlack, 10%);
                background-color: darken(@teal, 40%);
                border-left: 55px solid darken(@fontBlack, 5%);
                li.active, li{
                    background-color: transparent;
                    border:none;
                    line-height: 20px;
                    padding-left: 20px;
                    margin: 15px 0;
                    //border-color: darken(@blue, 10%);
                    font-size: 14px;
                    &:after{
                        display: none;
                        //top:11px;
                    }
                    &:before{
                        display: none;
                    }
                    &:hover{
                        border:none;
                        background-color: transparent;
                        color: @teal;
                    }
                }
                li.active{
                    color: @teal;
                    background-color: transparent;
                    &:before{
                        content: "\f0d9";
                        .fa;
                        position: absolute;
                        color: @teal;
                        background-color: transparent;
                        display: inline;
                        height: auto;
                        width: auto;
                        margin-left: -13px;
                        top: -6px;
                        font-size: 12px;
                        display: none;
                    }
                }
            }
        }
    }
    menu.fixed{
        position: fixed;
        right: 0px;
        bottom: 0px;
    }
    menu.fixed.bottom{
        position: absolute;
    }
}

@media (max-width:767px){
    .work-menu-active .work.tabs.tabs-right{
        menu.tabs{
            position: fixed;
            width: 100% !important;
            top: 65px;
            overflow-y: auto;
            z-index: 9;
        }
    }
}


section#work:after {
    content: '';
    position: absolute;
    width: 30%;
    height: 100%;
    min-height: 3000px;
    background-color: #222;
    right: -5px;
    z-index: 0;
    border-left: 5px solid darken(@teal, 5%);
    border-top: 5px solid darken(@teal, 5%);
    @media (max-width:960px){
       width: 35%;
    }
    @media (max-width:767px){
        width: 100%;
    }
}