//Logo Animation
.logoAnimateFixed{
    -moz-animation-name: logoAnimate;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-out;
    -moz-animation-duration: 450ms;
    -moz-animation-delay: 0ms;

    -webkit-animation-name: logoAnimate;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-duration: 450ms;
    -webkit-animation-delay: 0ms;

    animation-name: logoAnimate;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: 450ms;
    animation-delay: 0ms;
    @media @mobile{
        animation-duration: 0ms;
        -webkit-animation-duration: 0ms;
        -moz-animation-duration: 0ms;
    }
}



@keyframes logoAnimate {
    0% {
        transform: translateY(0px);
        left: 50%;
        margin-left: -200px;
        width: 400px;
    }
    50%{
        transform: translateY(-180px);
        left: 50%;
        margin-left: -200px;
        width:400px;
    }
    51%{
        transform: translateY(-180px);
        left: -200px;
        margin-left: 0px;
        width: 85px;
    }
    52%{
        transform: translateY(-30px);
        left: -200px;
        margin-left: 0px;
        width: 85px;
    }
    100% {
        transform: translateY(-30px);
        left: 12px;
        margin-left: 0px;
        width: 85px;
    }
}
@-moz-keyframes logoAnimate {
    0% {
        transform: translateY(0px);
        left: 50%;
        margin-left: -200px;
        width: 400px;
    }
    50%{
        transform: translateY(-180px);
        left: 50%;
        margin-left: -200px;
        width:400px;
    }
    51%{
        transform: translateY(-180px);
        left: -200px;
        margin-left: 0px;
        width: 85px;
    }
    52%{
        transform: translateY(-30px);
        left: -200px;
        margin-left: 0px;
        width: 85px;
    }
    100% {
        transform: translateY(-30px);
        left: 12px;
        margin-left: 0px;
        width: 85px;
    }
}
@-webkit-keyframes logoAnimate {
    0% {
        transform: translateY(0px);
        left: 50%;
        margin-left: -200px;
        width: 400px;
    }
    50%{
        transform: translateY(-180px);
        left: 50%;
        margin-left: -200px;
        width:400px;
    }
    51%{
        transform: translateY(-180px);
        left: -200px;
        margin-left: 0px;
        width: 85px;
    }
    52%{
        transform: translateY(-30px);
        left: -200px;
        margin-left: 0px;
        width: 85px;
    }
    100% {
        transform: translateY(-30px);
        left: 12px;
        margin-left: 0px;
        width: 85px;
    }
}


//Logo Animation
.logoAnimateReturn{
    -moz-animation-name: logoAnimateReturn;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-out;
    -moz-animation-duration: 400ms;
    -moz-animation-delay: 0ms;

    -webkit-animation-name: logoAnimateReturn;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-duration: 400ms;
    -webkit-animation-delay: 0ms;

    animation-name: logoAnimateReturn;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: 400ms;
    animation-delay: 0ms;

    @media @mobile{
        animation-duration: 0ms;
        -webkit-animation-duration: 0ms;
        -moz-animation-duration: 0ms;
    }
}

@keyframes logoAnimateReturn {
    0% {
        transform: translateY(-30px);
        left: 12px;
        margin-left: 0px;
        width: 85px;
    }
    30%{
        transform: translateY(-30px);
        left: -200px;
        margin-left: 0px;
        width: 85px;
    }
    31%{
        transform: translateY(-180px);
        left: -200px;
        margin-left: 0px;
        width: 85px;
    }
    32%{
        transform: translateY(-180px);
        left: 50%;
        margin-left: -200px;
        width: 400px;
    }
    55% {
        left: 50%;
        margin-left: -200px;
        top: 40px;
        width: 400px;
    }
    100% {
        left: 50%;
        margin-left: -200px;
        top: 40px;
        width: 400px;
    }
}

@-moz-keyframes logoAnimate {
    0% {
        transform: translateY(-30px);
        left: 12px;
        margin-left: 0px;
        width: 85px;
    }
    30%{
        transform: translateY(-30px);
        left: -200px;
        margin-left: 0px;
        width: 85px;
    }
    31%{
        transform: translateY(-180px);
        left: -200px;
        margin-left: 0px;
        width: 85px;
    }
    32%{
        transform: translateY(-180px);
        left: 50%;
        margin-left: -200px;
        width: 400px;
    }
    55% {
        left: 50%;
        margin-left: -200px;
        top: 58px;
        width: 400px;
    }
    100% {
        left: 50%;
        margin-left: -200px;
        top: 58px;
        width: 400px;
    }
}

@-webkit-keyframes logoAnimate {
    0% {
        transform: translateY(-30px);
        left: 12px;
        margin-left: 0px;
        width: 85px;
    }
    30%{
        transform: translateY(-30px);
        left: -200px;
        margin-left: 0px;
        width: 85px;
    }
    31%{
        transform: translateY(-180px);
        left: -200px;
        margin-left: 0px;
        width: 85px;
    }
    32%{
        transform: translateY(-180px);
        left: 50%;
        margin-left: -200px;
        width: 400px;
    }
    55% {
        left: 50%;
        margin-left: -200px;
        top: 40px;
        width: 400px;
    }
    100% {
        left: 50%;
        margin-left: -200px;
        top: 40px;
        width: 400px;
    }
}



//Animating the Newsroom Tabs
@keyframes slideIn {
  0% {
    display: none;
    opacity: 0.25;
    background-color: #4e606a;
  }
  1% {
    display: block;
    opacity: 0.25;
    background-color: #4e606a;
    //transform: translateX(20px);
  }
  100% {
    opacity: 1;
    //background-color: transparent;
    background-color: #4e606a;
    //transform: translateX(0px);
  }
}

.animateNewsTabs{
    -moz-animation-name: slideIn;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-in;
    -moz-animation-duration: 250ms;
    -moz-animation-delay: 0ms;

    -webkit-animation-name: slideIn;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: 250ms;
    -webkit-animation-delay: 0ms;

    animation-name: slideIn;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 250ms;
    animation-delay: 0ms;
    @media @mobile{
        animation-duration: 0ms;
        -webkit-animation-duration: 0ms;
        -moz-animation-duration: 0ms;
    }
}
