.sidebar{
    position: fixed;
    height: 100%;
    height: 100vh;
    background-color:mix(@gray, @navy, 55%);
    top: 32px;
    z-index: 9;
    .transition(all,400ms,ease-out,0ms);
    .scroller{
        text-align: center;
        height: ~'calc(100vh - 32px)';
    }
    section{
        position: absolute;
        opacity: 0;
        text-align: center;
        top: 0px;
        .transition(all,400ms,ease-out,0ms);
    }
    h2{
        border-color: mix(@gray, @navy, 45%);
        padding: 27px 0px 18px 0px;
        margin: 0px 30px 30px 30px;
        display: block;
        margin-top: 30px;
        text-align: center;
        max-width: 355px;
        &:first-child{
            margin-top: 0px;
        }
    }
    ul{
        li{
            display: block;
            padding: 30px;
            background-color: @lightBlue;
            color: @white;
            text-align: left;
            font-size: 14px;
            line-height: 19px;
            &:nth-child(even){
                background-color: @darkBlue;
            }
            .dateMeta{
                text-transform: uppercase;
                font-size: 12px;
                font-weight: bold;
                color: lighten(@lightBlue, 30%);
            }
            .text{
                font-weight: bold;
                letter-spacing: 0.25px;
                font-size: 14px;
                display: block;
            }
        }
    }
    button{
        font-size: 12px;
        &.closeTab, &.loadMore, &.unregister, &.viewEvents {
            .colorButton(@white);
            background-color: transparent;
            text-transform: none;
            text-align: center;
            display: block;
            font-weight: 600;
            margin: 0 auto;
            line-height: 12px;
            //font-size: 12px;
            height: auto;
            margin-top: 36px;
            &:hover, &:focus, &:active{
                background-color: transparent;
            }
        }
        &.unregister{
            display: block;
            text-align: left;
            margin: 10px 0px;
            padding: 0px;
        }
        &.closeTab{
            margin-bottom: 36px;
        }
    }
    form{
        padding: 0px 30px 0px 30px;
    }
    &.sidebarsLeft{
        width: 356px;
        left: -356px;
        section{
            position: absolute;
            left: -356px;
            width: 356px;
            &.active{
                left: 0px;
                opacity: 1;
            }
        }
    }
    &.sidebarsRight{
        width: 356px;
        right: -356px;
        background-color: @midnightBlue;
        h2{
            border-color: @lightBlue;
        }
        section{
            right: -356px;
            &.active{
                right: 0px;
                opacity: 1;
            }
            &.news{
                right: -800px;
                &.active{
                    right: 0px;
                    opacity: 1;
                }
            }
            &.donate{
                right: -656px;
                &.active{
                    right: 0px;
                    opacity: 1;
                }
            }
        }
    }
}