<template name="donate">
  {{#each states}}
    <div id="{{id}}" aria-hidden="{{#if active}}false{{else}}true{{/if}}">
      {{{content}}}
    </div>
  {{/each}}
  <form id="donateForm" autocomplete="off">
    <fieldset>
      <h4>{{amountTitle}}</h4>
      {{#each amount}}
        <input id="amt{{value}}" type="radio" name="amount" value="{{value}}" {{checked}} />
        <label for="amt{{value}}" class="radio">${{{value}}}</label>
      {{/each}}
      <input id="radio5" type="radio" name="amount" value="custom" {{checked}} />
      <label for="radio5" class="radio custom">Other <span class="bill">$</span></label>
      <input class="customAmt" id="customAmt" type="number" name="amount" min="0" value="75" onfocus="this.value = this.value;" />
    </fieldset>
    {{#if reoccur}}
      <fieldset class="reoccur">
        <h4>{{reoccurTitle}}</h4>
        {{#each reoccur}}
          <input id="reoccur{{value}}" type="radio" name="reoccur" value="{{value}}" {{checked}} />
          <label for="reoccur{{value}}" class="radio">{{{value}}}</label>
        {{/each}}
      </fieldset>
    {{/if}}
    <fieldset>
      <h4>{{detailsTitle}}</h4>
      <label>
        Name on Card
        <input type="text" name="name" value="{{name}}" placeholder="Name on Card" required />
      </label>
      <label>
        Card Details
        <div id="card-element"></div>
      </label>
    </fieldset>
    <div id="card-errors" role="alert"></div>
    <fieldset>
      <button type="submit" class="submit">Donate</button>
    </fieldset>
  </form>
</template>
