<template name="donate">
  {{#each states}}
    <div id="{{id}}" aria-hidden="{{#if active}}false{{else}}true{{/if}}">
      {{{content}}}
    </div>
  {{/each}}
  <form id="donateForm" autocomplete="off">
    <fieldset>
      <h4>{{amountTitle}}</h4>
      {{#each amount}}
        <input id="amt{{value}}" type="radio" name="amount" value="{{value}}" {{checked}} />
        <label for="amt{{value}}" class="radio">${{value}}</label>
      {{/each}}
      <input id="radio5" type="radio" name="amount" value="custom" {{checked}} />
      <label for="radio5" class="radio custom">Other <span class="bill">$</span></label>
      <input class="customAmt" id="customAmt" type="number" name="amount" min="0" value="75" />
    </fieldset>
    {{#if recur}}
      <fieldset class="reoccur">
        <h4>{{recurTitle}}</h4>
        {{#each recur}}
          <input id="recur-{{value}}" type="radio" name="recur" value="{{value}}" {{checked}} />
          <label for="recur-{{value}}" class="radio">{{text}}</label>
        {{/each}}
      </fieldset>
    {{/if}}

    <!-- Pay with Credit Card tab -->
    <button type="button">Credit Card</button>
    <!-- Apple Pay, Google Pay, Microsoft Pay, etc. -->
    <div id="donate-payment-request-button"></div>

    <!-- Pay with Credit Card Form -->
    <section id="donate-with-card">
      <fieldset>
        <h4>{{detailsTitle}}</h4>
        <label>
          Name on Card
          <input type="text" name="name" value="{{name}}" placeholder="Name on Card" required />
        </label>
        <label>
          Card Details
          <div id="donate-card-element"></div>
        </label>
      </fieldset>
      <div id="donate-card-errors" role="alert"></div>
      <fieldset>
        <button type="submit" class="submit">Donate</button>
      </fieldset>
    </section>
  </form>
</template>
