#utility a[aria-controls="payments"]{
  display: none;
}
section#payments{
  p{ text-align: left;}
  h3{ background: rgba(0,0,0,0.15); padding: 20px 0px;}
  .text-center{ text-align: center; }
  .amt{
    background: rgba(0,0,0,0.1);
    max-width: 460px;
    padding: 20px;
    margin: 0 auto;
    h4{
      font-size: 50px;
      line-height:40px;
      padding: 0; margin: 0;
      span{ font-size: 20px; opacity: 0.6;}
    }
    hr{ margin: 10px 0px 0px 0px;}
  }
}