<template name="payments">
  {{#each states}}
    <div id="{{id}}" aria-hidden="{{#if active}}false{{else}}true{{/if}}">
      {{{content}}}
    </div>
  {{/each}}
  <form id="paymentForm" autocomplete="off">
    <fieldset class="amt">
      <span class="subhead">{{amountTitle}}</span>
      <h4><span>$</span>{{amount}}</h4>
      <hr>
    </fieldset>
    <!-- Pay with Credit Card tab -->
    <button type="button">Credit Card</button>
    <!-- Apple Pay, Google Pay, Microsoft Pay, etc. -->
    <div id="payment-request-button"></div>

    <!-- Pay with Credit Card Form -->
    <section id="pay-with-card">
      <fieldset>
        <h4>{{detailsTitle}}</h4>
        <label>
          Name on Card
          <input type="text" name="name" value="{{name}}" placeholder="Name on Card" required />
        </label>
        <label>
          Card Details
          <div id="pay-card-element"></div>
        </label>
      </fieldset>
      <div id="pay-card-errors" role="alert"></div>
      <fieldset>
        <button type="submit" class="submit">Register</button>
      </fieldset>
    </section>
  </form>
</template>
