section.events{
    background-color: @white;
    padding-bottom: 100px;
    .eventsContainer{
        max-width: 1200px;
        .shadow(far);
        margin: 0 auto;
        .flex;
    }
    aside.eventsSidebar{
        flex:1.1;
        width: 300px;
        height: 750px;
        background-color: darken(@teal,0.5%);
        h1{
            color: #fff;
            text-align: center;
            padding: 20px 0px 20px 0px;
            margin: 0px;
        }
        h2{
            display: block;
            //margin: 0px 32px 23px 32px;
            text-align: center;
            //background-color: @gray;
            //color: @teal;
            border-bottom: none;
            padding: 0px 0px 7px 0px;
            font-size: 14px;
            line-height: 14px;
            white-space: nowrap;
        }   
    }
    .eventsMain{
        background-color: lighten(@gray, 5%);
        flex:3;
        .shadow(closeLeft);
        width: ~'calc(100% - 323px)';
        header{
            width: 100%;
            height: 100px;
            background-color: @white;
            .shadow(far);
            position: relative;
            z-index: 9;
        }
        .eventsSlider{
            .flex;
            align-items: stretch;
            width: 100%;
            margin: auto;
            position: relative;
            button.fa {
                line-height: 100%;
                height: 100%;
                font-size: 36px;
                font-weight: 100;
                position: absolute;
                //background: @white;
                color: @black;
                padding: 0px 23px;
                opacity: 0.2;
                z-index: 3;
                //.shadow(0px,0px,12px,-3px,0.15);
                &.sliderNext{
                    right: 0px;
                }
            }
            .slideScroller{
                flex: 1;
                overflow: hidden;
                .slides{
                    .extended{
                        max-height: 0px;
                        visibility: hidden;
                        overflow: hidden;
                        opacity: 0;
                        .transition3(height,275ms,@canvasEase,0ms,opacity,275ms,@canvasEase,0ms,visibility,0ms,linear,0ms);
                    }
                    li.eventSlide.extendedContent{
                        .extended{
                            max-height: 9999px;
                            opacity: 1;
                            visibility: visible;
                        }
                        span.truncated{
                            display: none;
                        }
                    }
                    list-style-type: none;
                    height: 649px;
                    white-space: nowrap;
                    .transition(transform,375ms,@canvasEase,0ms);
                    .eventSlide{
                        white-space: initial;
                        display: inline-block;
                        width: 100%;
                        height: 649px;
                        margin-right: -3px;
                        .eventContainer{
                            padding: 80px 80px 80px 80px;
                            overflow: auto;
                            height: 489px;
                            .inner{
                                padding: 40px;
                                background-color: @white;
                                min-height: 407px;
                                .shadow(far);
                            }
                        }
                        aside.otherEvents{
                            text-align: center;
                            margin: 20px 0px 0px 0px;
                            > ul{
                                > li{
                                    display: inline;
                                    &:after{
                                        content: ", ";
                                    }
                                    &:last-child:after{
                                        content: '';
                                    }
                                }
                            }
                        }
                        h2{
                        //background: @midnightBlue;
                        border-top: 3px solid #ebf2f2;
                        border-bottom: none;
                        display: block;
                        color: @navy;
                        //padding: 40px;
                        margin: 20px 0px 0px 0px;
                        text-align: left;
                        }
                        span.truncated.fa {
                            text-align: center;
                            font-size: 30px;
                            font-weight: 100;
                            color: @navy;
                            cursor: pointer;
                            margin: 4px 0px 0px 6px;
                            position: absolute;
                        }
                        p{
                            color: @black;
                            &.eventDate{
                                .os;
                                text-transform: uppercase;
                                font-size: 24px;
                                text-align: center;
                                font-weight: 100;
                                letter-spacing: 1px;
                                color: @navy;
                                &:before, &:after{
                                    content:'';
                                    width: 20px;
                                    height: 2px;
                                    background-color: @teal;
                                    margin:0px 15px 0px 15px;
                                    display: inline-block;
                                    position: relative;
                                    top: -6px;
                                }
                            }
                        }
                        ul.actions{
                            margin:20px 0px 20px 0px;
                            li.register, li.details{
                                display: inline-block;
                                background: @orange;
                                color: #fff;
                                font-weight: bold;
                                padding: 8px 32px;
                                .shadow(close);
                                margin-bottom: 20px;
                                cursor: pointer;
                            }
                            li.details{
                                background-color: @midnightBlue;
                            }
                        }
                    }
                }
            }
        }
    }
}





//Calendar
.calendar, .sun {
    clear: left;
}
.calendar{
    width: 17em;
    margin: 0px 0px 9px 1.9em;
    //background-color: darken(@teal, 1%);
    background-color: @teal;
    .shadow(far);
    padding: 1em;
    span{
        float: left; 
        //width: 2.25em; 
        width: 2.42em;
        padding: 0; 
        text-align: center;
        color: #fff;
        font-weight: 800;
        line-height: 2em;
        position: relative;
        z-index: 2;
        &.notCurrent{
            color: lighten(@teal, 2.75%);
        }
        &.weekday{
            //background-color: #23cfdc;
        }   
        &.currentWeekStart{
            &:before {
                content: '';
                width: 700%;
                height: 2.1em;
                background: lighten(@teal, 2.5%);
                position: absolute;
                z-index: -1;
                border-radius: 20px;
                margin-left: -8px;
            }
        }
        &.today{
            &:after {
                border-radius: 50%;
                background: @teal;
                width: 1.9em;
                content: '';
                position: absolute;
                height: 1.9em;
                z-index: -1;
                margin-left: -21px;
                margin-top: 1px;
            }
        }
        &.hasEvent{
            button.eventDate {
                height: auto;
                padding: 0px;
                margin: 0px;
                line-height: 17px;
                color: @yellow;
               //border-bottom: 3px solid @yellow;
                border-radius: 50%;
            }
            span.eventSummary{
                position: absolute;
                background: @white;
                .shadow(close);
                width: 250px;
                z-index: 9;
                height: auto;
                color: @black;
                text-align: left;
                font-size: 12px;
                padding: 10px;
                left: -207px;
                bottom:33px;
                pointer-events: none;
                visibility: hidden;
                opacity: 0;
                .accelerate;
                .transition3(opacity,250ms,@canvasEase,1ms,transform,250ms,@canvasEase,1ms,visibility,0ms,linear,250ms);
                transform-origin:80% 100%;
                .scale(0,0);
                &:after{
                    content:"\f0d7";
                    .fa;
                    position: absolute;
                    bottom: -12px;
                    right: 40px;
                    font-size: 22px;
                    color: @white;
                }
            }
            &:hover{
                button.eventDate{
                    background-color: lighten(@aqua, 10%);
                    color:@white;
                }
                span.eventSummary{
                    .transition3(opacity,250ms,@canvasEase,1ms,transform,250ms,@canvasEase,1ms,visibility,0ms,linear,0ms);
                    opacity: 1;
                    .scale(1,1);
                    visibility: visible;
                }
            }
            &:active{
                button.eventDate{
                    color:lighten(@aqua, 5%);
                    border-color:lighten(@aqua, 5%);
                }
            }
            &.past{
                color: #b3e9ed;
                &:hover{
                    color: #b3e9ed;
                    cursor: text;                        
                }
                &:after{
                    background-color: #b3e9ed;
                }
            }
        }
        &.monthPaginate{
            float: none;
            cursor: pointer;
            &:hover{
                color: #ffee2f;
            }
        }
    }   
}





//Header
header.eventsHeader{
    width: 100%;
    background-color: #fff;
    height: 100px;
    border-bottom: 1px solid #dddfe1;
    ul{
        margin: 0px;
        padding: 0px;
        color: #7d9698;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 300;
        li{
            display: inline-block;
            list-style:none;
            cursor: pointer;
            line-height: 100px;
            margin: 0px;
            padding: 0px 30px 0px 60px;
            position: relative;
            span.fa{
                opacity: 0.5;
                position: relative;
                top: 2px;
                left: -5px;                
            }
            &:first-child{
                &:after{
                    position: absolute;
                    content: '';
                    width: 1px;
                    height: 100%;
                    background-color: #dddfe1;
                    margin-left: 30px;
                }
            }
            &:nth-child(2), &:nth-child(3){
                padding: 0px 60px 0px 30px;
            }
            &:nth-child(2) span.fa{
                left: 5px;
            }
            &.search{
                float: right;
            }
            &:hover{
                color: #4e8084;
            }
        }
    }
    input[type="search"] {
        border: none;
        border-bottom: 2px solid #ddd;
        width: 200px;
        position: relative;
        color: #4e8084;
        font-weight: 500;
        font-size: 15px;
        &:focus{
            outline: none;
        }
    }
}





//Upcoming Events
ul.upcomingEvents{
    //padding: 0px 24px 0px 24px;
    height: 326px;
    background: darken(@teal, 2.5%);
    border-radius: 5px;
    margin: 0px 26px 0px 26px;
    .shadow(closeInset);
    > li{
        padding: 24px 24px;
        background: darken(@teal, 5.5%);
        &:nth-child(even){
            background: darken(@teal, 7%);
        }
        &:first-child{
            padding-top: 24px;
        }
        &:last-child{
            padding-bottom: 24px;
        }
    }
    h3{
        line-height: 15px;
        font-size: 14px;
        font-weight: 600;
    }
    .actions a, h3 a{
        color: @white;
            &:hover{
                color: @yellow;
                border-color: @yellow;
            }
            &:active{
                color: darken(@yellow, 10%);
                border-color:darken(@yellow, 10%);
            }
    }
    .actions{
        li{
            a{
                color: @white;
                font-weight: 700;
                border-bottom: 2px solid @white;
            }
            &.info {
                font-weight: 700;
                color: lighten(@aqua,10%);
                font-size: 14px;
                line-height: 16px;
                margin-bottom: 7px;
                &.noRegistered{
                    //color: @navy;
                }
            }
            &.action{
                display: inline-block;
                margin-right: 10px;
            }
            &.notAccount{
                color: @white;
                a{
                    color: @yellow;
                    border-bottom: none;
                }
            }
        }
    }
}


