section.events{
    background-color: #fafafa;
    padding-bottom: 100px;
    .eventsContainer{
        max-width: 1200px;
        .shadow(0px,0px,20px,-3px,0.15);
        margin: 0 auto;
        .flex;
    }
    aside.eventsSidebar{
        flex:1;
        width: 300px;
        min-height: 600px;
        background-color: @teal;
        h2{
            display: block;
            //margin: 0px 32px 23px 32px;
            text-align: center;
            background-color: @gray;
            color: @teal;
            border-bottom: none;
            padding: 5px 0px;
            font-size: 14px;
            line-height: 14px;
            white-space: nowrap;
        }   
    }
    .eventsMain{
        background-color: lighten(@gray, 5%);
        flex:3;
        .shadow(-5px,0px,6px,-3px,0.2);
        header{
            width: 100%;
            height: 100px;
            background-color: @white;
            .shadow(0px,0px,20px,-3px,0.15);
            position: relative;
            z-index: 9;
        }
        .eventsSlider{
            .flex;
            align-items: stretch;
            width: 100%;
            margin: auto;
            position: relative;
            button.fa {
                line-height: 100%;
                height: 100%;
                position: absolute;
                background: @white;
                color: @gray;
                padding: 0px 10px;
                z-index: 3;
                .shadow(0px,0px,12px,-3px,0.15);
                &.sliderNext{
                    right: 0px;
                }
            }
            .slideScroller{
                flex: 1;
                overflow: hidden;
                .slides{
                    list-style-type: none;
                    white-space: nowrap;
                    .transition(transform,375ms,@canvasEase,0ms);
                    .eventSlide{
                        white-space: initial;
                        display: inline-block;
                        width: 100%;
                        height: 600px;
                        margin-right: -3px;
                        .eventContainer{
                            padding: 40px 80px 40px 80px;
                        }
                        h2{
                            color: @navy;
                        }
                    }
                }
            }
        }
    }
}





//Calendar
.calendar, .sun {
    clear: left;
}
.calendar{
    width: 17em;
    margin: 32px 0px 32px 2.25em;
    //background-color: darken(@teal, 1%);
    background-color: @teal;
    .shadow(0px,0px,27px,0px,0.17);
    span{
        float: left; 
        //width: 2.25em; 
        width: 2.42em;
        padding: 0; 
        text-align: center;
        color: #fff;
        font-weight: 800;
        line-height: 2em;
        position: relative;
        z-index: 2;
        &.notCurrent{
            color: #3cc4cf;
        }
        &.weekday{
            background-color: #23cfdc;
        }   
        &.currentWeekStart{
            &:before {
                content: '';
                width: 700%;
                height: 2em;
                background: #69d5dd;
                position: absolute;
                z-index: -1;
                border-radius: 5px;
                margin-left: -10px;
            }  
        }
        &.today{
            &:before {
                border-radius: 50%;
                background: #51b2b9;
                width: 2em !important;
                content: '';
                position: absolute;
                height: 2em;
                z-index: -1;
                margin-left: -7px;
                margin-top: 0px;
            }
        }
        &.hasEvent{
            button.eventDate {
                height: auto;
                padding: 0px;
                margin: 0px;
                line-height: 17px;
                color: @yellow;
                border-bottom: 3px solid @yellow;
            }
            &.past{
                color: #b3e9ed;
                &:hover{
                    color: #b3e9ed;
                    cursor: text;                        
                }
                &:after{
                    background-color: #b3e9ed;
                }
            }
        }
        &.monthPaginate{
            float: none;
            cursor: pointer;
            &:hover{
                color: #ffee2f;
            }
        }
    }   
}





//Header
header.eventsHeader{
    width: 100%;
    background-color: #fff;
    height: 100px;
    border-bottom: 1px solid #dddfe1;
    ul{
        margin: 0px;
        padding: 0px;
        color: #7d9698;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 300;
        li{
            display: inline-block;
            list-style:none;
            cursor: pointer;
            line-height: 100px;
            margin: 0px;
            padding: 0px 30px 0px 60px;
            position: relative;
            span.fa{
                opacity: 0.5;
                position: relative;
                top: 2px;
                left: -5px;                
            }
            &:first-child{
                &:after{
                    position: absolute;
                    content: '';
                    width: 1px;
                    height: 100%;
                    background-color: #dddfe1;
                    margin-left: 30px;
                }
            }
            &:nth-child(2), &:nth-child(3){
                padding: 0px 60px 0px 30px;
            }
            &:nth-child(2) span.fa{
                left: 5px;
            }
            &.search{
                float: right;
            }
            &:hover{
                color: #4e8084;
            }
        }
    }
    input[type="search"] {
        border: none;
        border-bottom: 2px solid #ddd;
        width: 200px;
        position: relative;
        color: #4e8084;
        font-weight: 500;
        font-size: 15px;
        &:focus{
            outline: none;
        }
    }
}






