//Animation Mixins & Classes
.animation(@name, @iteration, @duration, @ease, @delay) {
    -moz-animation-name: @name;
    -moz-animation-iteration-count: @iteration;
    -moz-animation-duration: @duration;
    -moz-animation-timing-function: @ease;
    -moz-animation-delay: @delay;

    -webkit-animation-name: @name;
    -webkit-animation-iteration-count: @iteration;
    -webkit-animation-duration: @duration;
    -webkit-animation-timing-function: @ease;
    -webkit-animation-delay: @delay;

    animation-name: @name;
    animation-iteration-count: @iteration;
    animation-duration: @duration;
    animation-timing-function: @ease;
    animation-delay: @delay;
}

.keyframes(@name; @arguments) {
    @-moz-keyframes @name { @arguments(); }
    @-webkit-keyframes @name { @arguments(); }
    @keyframes @name { @arguments(); }
}



.translate(@x, @y){
    -ms-transform: translate(@x,@y);
    -webkit-transform: translate(@x,@y);
    transform: translate(@x,@y);
}

.translateY(@x){
    -ms-transform: translateY(@x);
    -webkit-transform: translateY(@x);
    transform: translateY(@x);
}

.scale(@x, @y){
    -ms-transform: scale(@x,@y); /* IE 9 */
    -webkit-transform: scale(@x,@y); /* Safari */
    transform: scale(@x,@y);
}


.noAnimation{
    animation-duration: 0ms;
    -webkit-animation-duration: 0ms;
    -moz-animation-duration: 0ms;
}




//Logo Animation
.logoAnimatedFixed{
    .animation(logoAnimatedFixed, 1, 450ms, ease-out, 0ms);
    .keyframes(logoAnimatedFixed;{
        0% {
            .translate(0px, 0px);
            left: 50%;
            margin-left: -155px;
            width: 311px;
            height: 70px;
        }
        50%{
            .translate(0px, -180px);
            left: 50%;
            margin-left: -155px;
            width:311px;
            height: 70px;
        }
        51%{
            .translate(0px, -180px);
            left: -155px;
            margin-left: 0px;
            width: 135px;
            height: 36px;
        }
        52%{
            .translate(-155px, -30px);
            left: -155px;
            //margin-left: 0px;
            width: 135px;
            height: 36px;
        }
        100% {
            .translate(0px, -30px);
            left: 12px;
            //margin-left: 0px;
            width: 135px;
            height: 36px;
        }
    });
    @media @mobile{
        .noAnimation;
    }
}





//Special Pulse Animation just for News Tab switch
.animateDisplay{
    .animation(slideIn, 1, 500ms, @canvasEase, 0ms);
    .keyframes(slideIn;{
        0% {
            display: none;
            .opacity(0);
        }
        1% {
            display: block;
            .opacity(0);
        }
        100% {
            .opacity(1);
        }
    });
    @media @mobile{
        .noAnimation;
    }
}


//Work Main Animation
.workMainAnimationNav{
    .animation(workMainAnimationNav, 1, 1000ms, ease-out, 0ms);
    .keyframes(workMainAnimationNav;{
        0% {
            background-color: transparent;
            .translate(-100px,0px);
            opacity: 0;
            display: none;
        }
        25%{
            background-color: transparent;
            .translate(-100px,0px);
            opacity: 0;
            display: none;
        }
        90%{
            .translate(-100px,0px);
            background-color: transparent;
            opacity: 1;
            display: none;
        }
        100% {
            background-color: lighten(@navy, 1.5%);
            .translate(0px,0px);
            opacity: 1;
            display: table-cell;
        }
    });
    @media @mobile{
        .noAnimation;
    }
}






//Logo Animation
@keyframes brandanimate {
    0%  {
        .translate(0px,0px);
        top: 85px;
        height: 70px;
        width: 311px;
        left: 50%;
        margin-left: -155px;
    }
    40%{
        .translate(0px,0px);
        top: 85px;
        height: 70px;
        width: 311px;
        left: 50%;
        margin-left: -155px;        
    }
    41%{
        .translate(-450px,0px);
        top: 85px;
        height: 36px;
        width: 132px;
        left: 12px;
        margin-left: 0px;
    }
    42%{
        .translate(-450px,0px);
        top: 203px;
        height: 36px;
        width: 132px;
        left: 12px;
        margin-left: 0px;
    }
    100%{
        .translate(0px,0px);
        width: 132px;
        height: 36px;
        top: 203px;
        left: 12px;
        margin-left: 0px;
    }
}

@keyframes brandanimatereturn {
    0%  {
        .translate(0px,0px);
        width: 132px;
        height: 36px;
        top: 203px;
        left: 12px;
        margin-left: 0px;
    }
    24%{  
        .translate(-300px,0px);
        top: 203px;
        height: 36px;
        width: 132px;
        left: 12px;
        margin-left: 0px;    
    }
    25%{
        .translate(-300px,0px);
        top: 85px;
        height: 36px;
        width: 132px;
        left: 12px;
        margin-left: 0px;
    }
    26%{
        .translate(0px,0px);
        top: 85px;
        height: 70px;
        width: 311px;
        left: 50%;
        margin-left: -155px;  
    }
    100%{
        .translate(0px,0px);
        top: 85px;
        height: 70px;
        width: 311px;
        left: 50%;
        margin-left: -155px;
    }
}



//Work Section Animations


@keyframes workcontent {
    0%  {
        width: 0px;
        opacity: 0;
        .translate(0px,100px);
    }
    100% {  
        width: inherit;
        opacity: 1;
        .translate(0px,0px);
    }
}

@keyframes workmain {
    0%  {
        background-color: transparent;
        //.shadow(0px,0px,5px,-3px,0.0);
        .scale(0.93,0.93);
        //max-width: 900px;
        opacity: 0;
    }
    100%  {
        background-color: @white;
        .scale(1,1);
        //.shadow(0px,0px,20px,-3px,0.15);
        opacity: 1;
    }
}

@keyframes workfadein {
    0%  {
        background-color: @white;
        .scale(1,1);
        //.shadow(0px,0px,20px,-3px,0.15);
        opacity: 1;
    }
    100%  {
        background-color: transparent;
        //.shadow(0px,0px,5px,-3px,0.0);
        .scale(0.93,0.93);
        //max-width: 900px;
        opacity: 0;
    }
}

@keyframes workfadeinend {
    0%  {
        opacity: 0;
    }
    1%  {
        opacity: 0;
    }

    100%  {
        opacity: 1;
    }
}