//Animation Mixins & Classes
.animation(@name, @iteration, @duration, @ease, @delay) {
    -moz-animation-name: @name;
    -moz-animation-iteration-count: @iteration;
    -moz-animation-duration: @duration;
    -moz-animation-timing-function: @ease;
    -moz-animation-delay: @delay;

    -webkit-animation-name: @name;
    -webkit-animation-iteration-count: @iteration;
    -webkit-animation-duration: @duration;
    -webkit-animation-timing-function: @ease;
    -webkit-animation-delay: @delay;

    animation-name: @name;
    animation-iteration-count: @iteration;
    animation-duration: @duration;
    animation-timing-function: @ease;
    animation-delay: @delay;
}

.keyframes(@name; @arguments) {
    @-moz-keyframes @name { @arguments(); }
    @-webkit-keyframes @name { @arguments(); }
    @keyframes @name { @arguments(); }
}

.transition (@transitionProperty, @duration, @ease, @delay) {
    -webkit-transition: @transitionProperty @duration @ease @delay;
    -moz-transition:    @transitionProperty @duration @ease @delay;
    -ms-transition:     @transitionProperty @duration @ease @delay;
    -o-transition:      @transitionProperty @duration @ease @delay;
}

.translate(@x, @y){
    -ms-transform: translate(@x,@y); /* IE 9 */
    -webkit-transform: translate(@x,@y); /* Safari */
    transform: translate(@x,@y);
}

.translateX(@x){
    -ms-transform: translateX(@x); /* IE 9 */
    -webkit-transform: translateX(@x); /* Safari */
    transform: translateX(@x);
}


.noAnimation{
    animation-duration: 0ms !important;
    -webkit-animation-duration: 0ms !important;
    -moz-animation-duration: 0ms !important;    
}

.noTransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
}


//// Translated Element Classes

.translateIn{
    .translate(0px, 0px);
}
.translateLeftOut{
    .translate(-100%, 0px);
}
.translateTopOut{
    .translate(0px, -100%);
}




//Logo Animation
.logoAnimatedFixed{
    .animation(logoAnimatedFixed, 1, 450ms, ease-out, 0ms);
    .keyframes(logoAnimatedFixed;{
        0% {
            .translate(0px, 0px);
            left: 50%;
            margin-left: -200px;
            width: 400px;
            height: 90px;
        }
        50%{
            .translate(0px, -180px);
            left: 50%;
            margin-left: -200px;
            width:400px;
            height: 90px;
        }
        51%{
            .translate(0px, -180px);
            left: -200px;
            margin-left: 0px;
            width: 135px;
            height: 36px;
        }
        52%{
            .translate(-200px, -30px);
            left: -200px;
            //margin-left: 0px;
            width: 135px;
            height: 36px;
        }
        100% {
            .translate(0px, -30px);
            left: 12px;
            //margin-left: 0px;
            width: 135px;
            height: 36px;
        }
    });
    @media @mobile{
        .noAnimation;
    }
}



//Logo Animation
/*.logoAnimateReturn{
    .animation(logoAnimateReturn, 1, 400ms, ease-out, 0ms);
    .keyframes(logoAnimateReturn;{
        0% {
            .translate(0px, -30px);
            left: 12px;
            margin-left: 0px;
            width: 85px;
        }
        30%{
            .translate(0px, -30px);
            left: -85px;
            margin-left: 0px;
            width: 85px;
        }
        31%{
            .translate(0px, -180px);
            left: -85px;
            margin-left: 0px;
            width: 85px;
        }
        32%{
            .translate(0px, -180px);
            left: 50%;
            margin-left: -200px;
            width: 400px;
        }
        55% {
            left: 50%;
            margin-left: -200px;
            top: 40px;
            width: 400px;
        }
        100% {
            left: 50%;
            margin-left: -200px;
            top: 90px;
            width: 400px;
        }
    });
    @media @mobile{
        .noAnimation;
    }
}*/



//Special Pulse Animation just for News Tab switch
.animateDisplay{
    .animation(slideIn, 1, 150ms, ease-in, 0ms);
    .keyframes(slideIn;{
        0% {
            display: none;
            opacity: 0;
        }
        1% {
            display: block;
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    });
    @media @mobile{
        .noAnimation;
    }
}


//These are buggy. Probably better to add opacity via script
/*
//Special Pulse Animation just for News Tab switch
.animateDisplayNewsTabs{
    .animation(slideIn, 1, 250ms, ease-in, 0ms);
    .keyframes(slideIn;{
        0% {
            display: none;
            opacity: 0.25;
            background-color: #4e606a;
        }
        1% {
            display: block;
            opacity: 0.25;
            background-color: #4e606a;
        }
        100% {
            opacity: 1;
            background-color: #4e606a;
        }
    });
    @media @mobile{
        .noAnimation;
    }
}

//Special Pulse Animation just for Accounts Tab Switch
.animateDisplayAccountDetailsTabs{
    .animation(slideIn, 1, 250ms, ease-in, 0ms);
    .keyframes(slideIn;{
        0% {
            display: none;
            opacity: 0.25;
            background-color: lighten(@lightBlue, 10%);
        }
        1% {
            display: block;
            opacity: 0.25;
            background-color: lighten(@lightBlue, 10%);
        }
        100% {
            opacity: 1;
            background-color: lighten(@lightBlue, 10%);
        }
    });
    @media @mobile{
        .noAnimation;
    }
}*/
