body{
    &.leftSmall, &.leftMedium, &.rightSmall, &.rightMedium, &.rightLarge{
        overflow: hidden;
        .overlay{
            opacity: 0.85; 
            visibility: visible;
            &:hover{
                opacity: 0.95;
            }       
        }
    }
    &.leftSmall{
        .canvasCenter, .mainNav{
           .translateX(356px);
        }
        .sidebarsLeft{
           .translateX(0px);
        }
    }
    &.leftMedium{
        .canvasCenter, .mainNav{
           .translateX(570px);
        }
        .sidebarsLeft{
            width: 570px;
           .translateX(0px);
        }
    }
    &.rightSmall{
        .canvasCenter, .mainNav{
            .translateX(-356px);
        }
        .sidebarsRight{
            right: 0px;
            .translateX(0px);
        }
    }
    &.rightMedium{
        .canvasCenter, .mainNav{
            left: inherit;
            .translateX(-656px);
        }
        .sidebarsRight{
            width: 656px;
            .translateX(0px);
        }
    }
    &.rightLarge{
        .canvasCenter, .mainNav{
            left: inherit;
            .translateX(-900px);
        }
        .sidebarsRight{
            width: 900px;
            .translateX(0px);
        }
    }
}