
input[type=submit], .button, button{
    display: inline-block;
    cursor: pointer;
    .font(1.4,2.2,0.05,@bold,normal);
    .color(color,@white,none);
    .shadow(far);
    padding: 10px 15px;
    span{
        .font(1.6,2.2,0.05,@light,normal);
        position: relative;
        &.close{
            position: absolute;
            .opacity(0);
            left: 14px;
            top: 5px;
        }
        &.notificationsAlert{
            position: absolute;
            display: block;
            margin-left: 2px;
            width: 12px;
            font-size: 14px;
            height: 12px;
            color: @yellow;
            border: 2px solid darken(@teal, 2.5%);
            text-align: center;
            border-radius: 50%;
            line-height: 12px;
            top: 2px;
            right: 5px;
            font-size: 100%;
            pointer-events: none;
            letter-spacing: 8px;            
        }
    }
}


//Active Buttons
li.active > button:first-child, button.active{
    .color(background-color,@navy,none) !important;
    .fa.close{
        .opacity(1);
    }
    .fa.up{
        .opacity(0);
    }
    &.notifications{
        .notificationAlert{
            .opacity(0);
        }
    }
}

//Button Colors
.buttonColor(@color){
    .color(background-color,@color,none);
    &:hover, &:focus{
        .color(background-color,@color,dark);
    }
    &:active{
        .color(background-color,@color,darker);
    }
}

//Text Button Colors
.textButtonColor(@color){
    .color(color,@color,none);
    &:hover, &:focus{
        .color(color,@color,dark);
    }
    &:active{
        .color(color,@color,darker);
    }
}

