//Color Variables
@white: #ffffff;
@black: #062031;
@gray: #ebf2f2;
@navy: #062131;
@blue: #2c5465; //Only used in Utility nav twice?
@teal: #00b7c5;
@aqua: #1db7c5;
@orange: #f1592a;
@yellow: #F5D76E;
@lightBlue: #566a75; //Flat
@darkBlue: #4e606a; //Flat
@midnightBlue: #6d7f88; //Flat

//Refined
@blueGray: mix(@navy, @gray, 69%);

//Color Classes
.color (@property, @color, @style) {
    & when (@style = light) {
        @{property}: lighten(@color, 2.5%);
    }
    & when (@style = lighter) {
        @{property}: lighten(@color, 5%);
    }
    & when (@style = lightest) {
        @{property}: lighten(@color, 7.5%);
    }
    & when (@style = dark) {
        @{property}: darken(@color, 2.5%);
    }
    & when (@style = darker) {
        @{property}: darken(@color, 5%);
    }
    & when (@style = darkest) {
        @{property}: darken(@color, 7.5%);
    }
    & when (@style = none) {
        @{property}: @color;
    }
}