//Media Queries
@1450: ~"only screen and (max-width: 1450px)";
@1250: ~"only screen and (max-width: 1250px)";
@1024: ~"only screen and (max-width: 1024px)";
@mobile: ~"only screen and (max-width: 768px)";




//Opacity
.opacity(@amt){
    zoom: 1;
    filter: ~'alpha(opacity='100*@amt~')';
    opacity: @amt;
}

.borderRadius(@amt){
  -webkit-border-radius: @amt;
  -moz-border-radius: @amt;
  border-radius: @amt;
}

//Opacity
//Flex
//Animations
//Transitions
//Border Radius
//Padding/Margina
//Text Shadow?





//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////



//Color Mixins
.backgroundColorButton(@x){
    background-color: @x;
    &:hover{
        background-color: darken(@x, 5%);
    }
    &:active{
        background-color: darken(@x, 10%);
    }
    &:focus{
        background-color: @x;
    }
}

.colorButton(@x){
    color: @x;
    &:hover{
        color: darken(@x, 5%);
    }
    &:active{
        color: darken(@x, 10%);
    }
    &:focus{
        color: @x;
    }
}


//Special Condition of the .background_color_button mixin
.utilityBackgroundColorButton(@x){
    button{
        background-color: @x;
        &:hover{
            background-color: darken(@x, 5%);
        }
        &:active{
            background-color: darken(@x, 10%);
        }
        &:focus{
            background-color: @x;
        }
    }
    &.active button{
        background-color: @navy;
         &:hover{
            background-color: darken(@navy, 5%);
        }
        &:active{
            background-color: darken(@navy, 10%);
        }  
        &:focus{
            background-color: @navy;
        }    
    }
}

.utilityNotificationBorder(@x){
    button{
        .unreadNotifications{
            border-color: @x;
        }
        &:hover{
            .unreadNotifications{
                border-color: darken(@x, 5%);
            }
        }
        &:active{
            .unreadNotifications{
                border-color: darken(@x, 10%);
            }
        }
        &:focus{
            .unreadNotifications{
                border-color: @x;
            }
        }
    }  
}

//Special Condition for utility text links
.utilityColorButton(@x){
    button{
        color: @x;
        &:hover{
            color: darken(@x, 5%);
        }
        &:active{
            color: darken(@x, 10%);
        }
        &:focus{
            color: @x;
        }
    }
    &.active button{
        color: @navy;
         &:hover{
            color: darken(@navy, 5%);
        }
        &:active{
            color: darken(@navy, 10%);
        }  
        &:focus{
            color: @navy;
        }    
    }
}



.mastheadGradient{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#062131+0,ffffff+100&1+0,0+100 */
background: -moz-linear-gradient(top,  rgba(6,33,49,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(6,33,49,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(6,33,49,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#062131', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */

}
