//Media Queries
@1450: ~"only screen and (max-width: 1450px)";
@1250: ~"only screen and (max-width: 1250px)";
@1024: ~"only screen and (max-width: 1024px)";
@mobile: ~"only screen and (max-width: 768px)";




//Opacity
.opacity(@amt){
    zoom: 1;
    filter: ~'alpha(opacity='100*@amt~')';
    opacity: @amt;
}

.borderRadius(@amt){
  -webkit-border-radius: @amt;
  -moz-border-radius: @amt;
  border-radius: @amt;
}

//Opacity
//Flex
//Animations
//Transitions
//Border Radius
//Padding/Margina
//Text Shadow?