body, html{
    background-color:mix(@gray, @navy, 70%);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}



body{
    max-width: 100%;
    .full{
        width: 100%;
    }
    .masterContainer{
        //padding-top: 376px;
        //will-change: padding;
        //.transition(padding,375ms,ease-out,0ms);
        background-color: @white;
        @media @mobile{
            padding-top: 0px;
        }
        min-height: 300px; // just for allowing a new section to be added via admin controls
    }
    &.fixedHeader{
        .masterContainer{
            //padding-top: 74px;
            @media @mobile{
                padding-top: 0px;
            }
        }
    }
}

//This needs home
.asideLink{
    margin: 36px auto 45px auto;
    padding: 0px;
    color: @gray;
    border-bottom: 2px solid @gray;
    .shadowNone;
    .font(1.2,1.5,0.025,@normal,none);
}

.container{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}

.containerSmall{
    max-width: 960px;
    margin: 0 auto;
    //padding: 30px;
}
.scroller{
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
.canvasCenter{
    position: relative;
    left: 0px;
    z-index: 2;
    will-change: transform;
    .transition(transform,@canvasDuration,@canvasEase,@canvasDelay);
    //padding-top: 376px;
}
.overlay{
    position: fixed;
    top: 0px;
    left: 0px;
    visibility: hidden;
    background-color: @navy;
    opacity: 0;
    z-index: 3;
    cursor: pointer;
    width: 100%;
    height: 100%;
    .transition(all,375ms,ease-out,0ms);
}


.flex{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
}

.flexNoWrap{
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
}




//Overrides
.inline{
    display: inline !important;
}

.dtHide{
    display: none !important;
    @media @mobile{
        display: inherit !important;
    }
}

.mobHide{
    display: inherit !important;
    @media @mobile{
        display: none !important;
    }
}

@media @mobile{
    .fullBlockMob{
        width: 100% !important;
        display: block !important;
    }
}



//Make first section under masthead animate into place
.masterContainer > section:nth-child(2){
    will-change:opacity,transition;
    .transition2(transform,500ms,@canvasEase, 100ms, opacity,500ms,@canvasEase, 100ms);
    opacity: 0;
    .translate(0px,-35px);
}
.fixedHeader{
    .masterContainer > section:nth-child(2){
        opacity: 1;
        .translate(0px,0px);
    }
}

.accelerate{
    backface-visibility: hidden;
    //transform: translateZ(0);
}

// Generic hide property
.hide, .hidden { display: none; }

// Generic property for prevent text selection
.preventSelect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select  : none; /* Chrome/Safari/Opera */
    -khtml-user-select   : none; /* Konqueror */
    -moz-user-select     : none; /* Firefox */
    -ms-user-select      : none; /* IE/Edge */
    user-select          : none; /* not yet supported */
}


















body{
    overflow-x: hidden;
    &.leftSmall, &.leftMedium, &.rightSmall, &.rightMedium, &.rightLarge{
        overflow: hidden;
        .overlay{
            opacity: 0.85; 
            visibility: visible;
            &:hover{
                opacity: 0.95;
            }       
        }
    }
    &.leftSmall{
        .canvasCenter, .mainNav{
           .translate(356px,0px);
        }
        .sidebarsLeft{
           .translate(0px,0px);
        }
    }
    &.leftMedium{
        .canvasCenter, .mainNav{
           .translate(570px,0px);
        }
        .sidebarsLeft{
            width: 570px;
           .translate(0px,0px);
        }
    }
    &.rightSmall{
        .canvasCenter, .mainNav{
            .translate(-356px,0px);
        }
        .sidebarsRight{
            right: 0px;
            .translate(0px,0px);
        }
    }
    &.rightMedium{
        .canvasCenter, .mainNav{
            left: inherit;
            .translate(-656px,0px);
        }
        .sidebarsRight{
            width: 656px;
            .translate(0px,0px);
        }
    }
    &.rightLarge{
        .canvasCenter, .mainNav{
            left: inherit;
            .translate(-1100px,0px);
        }
        .sidebarsRight{
            width: 1100px;
            .translate(0px,0px);
        }
        @media @1250{
            .canvasCenter, .mainNav{
                left: inherit;
                .translate(-900px,0px);
            }
            .sidebarsRight{
                width: 900px;
                .translate(0px,0px);
            }            
        }
        @media @1024{
            .canvasCenter, .mainNav{
                left: inherit;
                .translate(-700px,0px);
            }
            .sidebarsRight{
                width: 700px;
                .translate(0px,0px);
            }            
        }
    }
}







//// Translated Element Classes

.translateIn{
    .translate(0px, 0px);
}
.translateLeftOut{
    .translate(-100%, 0px);
}
.translateTopOut{
    .translate(0px, -100%);
}




.canvasCenter{
    min-height: 1500px;
    min-height: 100vh;
    //background-color: @gray;
    .masterContainer{
        min-height: 1500px;
        min-height: 100vh;
    }
    //This prevents strange page loading loading behavior
}




//Should be m
/*> li{
    :nth-child(even){background-color: darken(@background, 2%);
}*/


//Transfered from sidebar.import.less

.sidebar{
    position: fixed;
    height: 100%;
    height: 100vh;
    top: 36px;
    z-index: @sidebarZ;
    will-change: transform, width;
    .transition2(transform,@canvasDuration,@canvasEase,@canvasDelay,width,@canvasDuration, @canvasEase, @canvasDelay);
    .scroller{
        height: ~'calc(100vh - 24px)';
    }
    section{
        position: absolute;
        top: 0px;
        text-align: center;
        will-change: transform, opacity;
        .opacity(0);
        .transition2(transform,@canvasDuration,@canvasEase,0ms, opacity,100ms, @canvasEase, 0ms);
    }
}

.sidebar.sidebarsLeft{
    width: 356px;
    left: 0px;
    .translate(-356px,0px);
    section{
        position: absolute;
        left:0px;
        .translate(-356px,0px);
        width: 356px;
        &.active{
            .translate(0px,0px);
            opacity: 1;
        }
        &.accountDetails{
            width: 570px;
            left: 0px;
            .translate(-570px,0px);
            &.active{
                .translate(0px,0px);
                opacity: 1;
            }
        }
    }
}



.sidebar.sidebarsRight{
    width: 356px;
    right: 0px;
    .translate(356px,0px);
    section{
        right: 0px;
        .translate(356px,0px);
        &.active{
            .translate(0px,0px);
            opacity: 1;
        }
        &.news{
            right: 0px;
            .translate(1100px,0px);
            &.active{
                .translate(0px,0px);
                opacity: 1;
            }
        }
        &.donate{
            right: 0px;
            .translate(656px,0px);
            &.active{
                .translate(0px,0px);
                opacity: 1;
            }
        }
    }
}




