body, html{
    background-color:mix(@gray, @navy, 70%);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}



body{
    max-width: 100%;
    .full{
        width: 100%;
    }
    .masterContainer{
        //padding-top: 376px;
        //will-change: padding;
        //.transition(padding,375ms,ease-out,0ms);
        background-color: @white;
        @media @mobile{
            padding-top: 0px;
        }
        min-height: 300px; // just for allowing a new section to be added via admin controls
    }
    &.fixedHeader{
        .masterContainer{
            //padding-top: 74px;
            @media @mobile{
                padding-top: 0px;
            }
        }
    }
}

.container{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}

.containerSmall{
    max-width: 960px;
    margin: 0 auto;
    //padding: 30px;
}
.scroller{
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
.canvasCenter{
    position: relative;
    left: 0px;
    z-index: 2;
    will-change: transform;
    .transition(transform,@canvasDuration,@canvasEase,@canvasDelay);
    //padding-top: 376px;
}
.overlay{
    position: fixed;
    top: 0px;
    left: 0px;
    visibility: hidden;
    background-color: @navy;
    opacity: 0;
    z-index: 3;
    cursor: pointer;
    width: 100%;
    height: 100%;
    .transition(all,375ms,ease-out,0ms);
}
button{
    .transition(background-color, 200ms, ease, 0ms);
}


.shadow(@horizontal, @vertical, @blur, @spread, @opacity){
    -webkit-box-shadow: @horizontal @vertical @blur @spread rgba(0,0,0,@opacity);
    -moz-box-shadow: @horizontal @vertical @blur @spread rgba(0,0,0,@opacity);
    box-shadow: @horizontal @vertical @blur @spread rgba(0,0,0,@opacity);
}
.shadowInset(@horizontal, @vertical, @blur, @spread, @opacity){
    -webkit-box-shadow: inset @horizontal @vertical @blur @spread rgba(0,0,0,@opacity);
    -moz-box-shadow: inset @horizontal @vertical @blur @spread rgba(0,0,0,@opacity);
    box-shadow: inset @horizontal @vertical @blur @spread rgba(0,0,0,@opacity);
}

.flex{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
}

.flexNoWrap{
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
}


.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}


//Overrides
.inline{
    display: inline !important;
}

.dtHide{
    display: none !important;
    @media @mobile{
        display: inherit !important;
    }
}

.mobHide{
    display: inherit !important;
    @media @mobile{
        display: none !important;
    }
}

@media @mobile{
    .fullBlockMob{
        width: 100% !important;
        display: block !important;
    }
}



//Make first section under masthead animate into place
.masterContainer > section:nth-child(2){
    will-change:opacity,transition;
    .transition2(transform,500ms,@canvasEase, 100ms, opacity,500ms,@canvasEase, 100ms);
    opacity: 0;
    .translate(0px,-35px);
}
.fixedHeader{
    .masterContainer > section:nth-child(2){
        opacity: 1;
        .translate(0px,0px);
    }
}

.accelerate{
    backface-visibility: hidden;
    //transform: translateZ(0);
}

// Generic hide property
.hide, .hidden { display: none; }















.sidebar{
    position: fixed;
    height: 100%;
    height: 100vh;
    background-color:mix(@gray, @navy, 55%);
    top: 36px;
    .shadow(7px,2px,15px,-5px,0.2);
    &.sidebarsRight{
        .shadow(-7px,2px,15px,-5px,0.2);
    }
    z-index: 11;
    will-change: transform, width;
    .transition2(transform,@canvasDuration,@canvasEase,@canvasDelay,width,@canvasDuration, @canvasEase, @canvasDelay);
    .scroller{
        text-align: center;
        height: ~'calc(100vh - 24px)';
    }
    section{
        position: absolute;
        opacity: 0;
        text-align: center;
        top: 0px;
        //max-width: 100%;
        will-change: transform, opacity;
        .transition2(transform,@canvasDuration,@canvasEase,0ms, opacity,100ms, @canvasEase, 0ms);

    }
    h2{
        border-color: mix(@gray, @navy, 45%);
        padding: 27px 0px 18px 0px;
        margin: 0px 30px 30px 30px;
        display: block;
        margin-top: 30px;
        text-align: center;
        max-width: 355px;
        &:first-child{
            margin-top: 0px;
        }
    }
    ul{
        li{
            display: block;
            padding: 30px;
            background-color: @lightBlue;
            color: @white;
            text-align: left;
            font-size: 14px;
            line-height: 19px;
            &:nth-child(even){
                background-color: @darkBlue;
            }
            .dateMeta{
                text-transform: uppercase;
                font-size: 12px;
                font-weight: bold;
                color: lighten(@lightBlue, 30%);
            }
            .text{
                font-weight: bold;
                letter-spacing: 0.25px;
                font-size: 14px;
                display: block;
            }
        }
        &.eventsMenu, &.toggleSwitches{
            li{
                background-color: @darkBlue;
                &:nth-child(even){
                    background-color: @lightBlue;
                }
            }
        }
    }
    button{
        font-size: 12px;
        &.closeTab, &.loadMore, &.unregister, &.viewEvents, &.undo {
            .colorButton(@white);
            background-color: transparent;
            text-transform: none;
            text-align: center;
            display: block;
            font-weight: 600;
            margin: 0 auto;
            line-height: 12px;
            //font-size: 12px;
            height: auto;
            margin-top: 36px;
            &:hover, &:focus, &:active{
                background-color: transparent;
            }
        }
        &.viewEvents{
            padding: 0px;
            margin: 0 auto;
            text-align: center;
            display: block;
        }
        &.undo{
            margin: 10px 0px 0px 0px;
            text-align: left;
            display: block;
            padding: 0px;
            clear: both;
        }
        &.unregister{
            display: block;
            text-align: left;
            margin: 10px 0px;
            padding: 0px;
        }
        &.closeTab{
            margin-bottom: 36px;
        }
    }
    form{
        padding: 0px 30px 0px 30px;
    }
    &.sidebarsLeft{
        width: 356px;
        left: 0px;
        .translate(-356px,0px);
        section{
            position: absolute;
            left:0px;
            .translate(-356px,0px);
            width: 356px;
            &.active{
                .translate(0px,0px);
                opacity: 1;
            }
            &.accountDetails{
                width: 570px;
                left: 0px;
                .translateX(-570px);
                &.active{
                    .translateX(0px);
                    opacity: 1;
                }
                h2{
                    max-width: 360px;
                    margin: 0 auto;
                    margin-bottom: 30px;
                }
            }
        }
    }
    &.sidebarsRight{
        width: 356px;
        right: 0px;
        .translateX(356px);
        background-color: @midnightBlue;
        h2{
            border-color: @lightBlue;
        }
        section{
            right: 0px;
            .translateX(356px);
            &.active{
                .translateX(0px);
                opacity: 1;
            }
            &.news{
                right: 0px;
                .translateX(800px);
                &.active{
                    .translateX(0px);
                    opacity: 1;
                }
            }
            &.donate{
                right: 0px;
                .translateX(656px);
                &.active{
                    .translateX(0px);
                    opacity: 1;
                }
            }
        }
    }
}


@media @mobile{
    .sidebar.sidebarsRight, .sidebar .sidebarsLeft {
        right: inherit;
        left: 0px;
        transform: translateX(-100%);
        width: 85%;
        top: 60px;
        z-index: 20;
        pointer-events: none;
        //display: none;
        //.transition(all,375ms,ease-out,0ms);
        .scroller > div > h2, .scroller > h2 {
            background: @aqua;
            margin-left: -20px;
            width: 100%;
            padding-right: 40px;
        }
        section{
            h2{
                color: @white;
                text-align: left;
                font-size: 14px;
                line-height: 19px;
                font-weight: 700;
                letter-spacing: 1px;
                text-indent: 20px;
                //.transition(all,100ms,ease,0ms);
                max-width: 999px;
                border: none;
                padding: 0px;
                line-height: 60px;
                height: 60px;
                span{
                    display: none;
                }
                &:before{
                    .fa;
                    //display: inline;
                    display: none;
                    content:"\f0d9";
                }
                &:active{
                    //font-size: 98%;
                    //background-color: #4e606a;
                    //.transition(all,100ms,ease,0ms);
                }
            }
            .closeTab{
                display: none;
            }
            //.transition(all,375ms,ease-out,0ms);
            background-color: #566a75;
            width: 100% !important; //override desktop
            transform: translateX(0%) !important; //Override desktop
            .scroller{
                padding: 0px 20px;
            }
            button.closeTab{
                margin-bottom: 60px;
                margin-top: 0px;
            }
            h3, h4{
                font-size: 14px;
                line-height: 20px;
                font-weight: 600;
                letter-spacing: 1px;
            }
            li.mainTitle{
                padding: 0px;
                background-color: @aqua !important; //Override pseudoselector
            }
        }
    }
}


//Accounts Side
@media @mobile{
    .sidebar.sidebarsLeft{
        left: initial;
        right: 1px;
        width: ~'calc(85% - 60px)';
        .translate(101%,0px);
        z-index: 20;
        top: 113px;
        background-color: darken(@darkBlue, 5%);
        form {
            p#login-error {
                margin-top: 10px;
            }
        }
        .loginToggle{
            color: #fff;
            margin: 0 auto;
            margin-top: 17px;
        }
        section.login, section.register{
            opacity: 1;
            display: block;
            right: 0px;
            left: inherit;
            top: -113px;
            width: 100%;
            position: fixed;
            z-index: 99;
            padding-bottom: 113px;
            background-color:mix(@gray, @navy, 55%);
            left: -30px;
            .translate(120%,0px);
            //.transition(all, 375ms, ease-out, 0ms) !important;
            .scroller{
                width: 116%;
                margin-left: -8%;
            }
            form{
                margin-top: 23px;
            }
            h2{
                display: block;
                font-size: 14px;
                letter-spacing: 0.5px;
                font-weight: 700;
                padding: 0px;
                line-height: 60px;
                white-space: nowrap;
                margin-bottom: 0px;
                max-width: none;
            }
        }
        section.notifications{
            ul > li{
                background-color: transparent;
                padding: 10px 20px;
            }
            button.loadMore {
                padding-bottom: 30px;
            }
        }
        section, section.accountDetails{
            .scroller{
                height: ~'calc(100vh - 113px)';
            }
            width: 100%;
            opacity: 0;
            z-index: 8;
            background-color: darken(@darkBlue, 5%);
            button.closeTab{
                display: none;
            }
            .noTransition;
            .translateX(0px);
            form label.toggleSwitchLabel{
                //float: right;
                text-align: left;
                white-space: nowrap;
                left: 90px;
            }
            form .toggleSwitches .toggleSwitch{
                left: 20px;
            }
            form#subscriptions li {
                padding: 30px 20px 30px 20px;
            }
            form.editable label{
                color: @white;
            }
            form.editable{
                padding-top: 20px;
                max-width: none;
            }
            li.eventsRegistered {
                padding: 10px 20px;
            }
            h2, ul.accountDetailsTabs{
                display: none;
            }
            h3, h2.notificationsHeading{
                background: transparent;
                padding: 0px;
                margin: 0px 20px 5px 20px;
                line-height: 58px;
                height: 58px;
                text-align: left;
                cursor: pointer;
                border-bottom: 2px solid darken(@darkBlue, 10%);
                font-size: 13px;
                white-space: nowrap;
                letter-spacing: 0.5px;
                font-weight: 700;
                display: block;
                &:before{
                    content: "\f0d9";
                    font-size: 12px;
                    position: relative;
                    top: -2px;
                    padding-right: 5px;
                    .fa;
                }
                &:active{
                    background-color: darken(@darkBlue, 6%);
                    font-size: 90%;
                }
            }
            ul.accountDetailsContent {
                background-color: transparent;
                > li{
                    background-color: transparent;
                    .noTransition;
                    ul li, ul li:nth-child(even) {
                        background-color: transparent;
                        span {
                            max-width: none;
                        }
                    }
                }
            }
        }
    }

    .accountOpen{
        .sidebar.sidebarsLeft section.login{
            .translate(-100%,0px);
        }
    }

    .accountOpen.registerMob{
        .sidebar.sidebarsLeft{
            section.login{
                .translate(120%,0px);
            }
            section.register{
                .translate(-100%,0px);
            }
        }
    }

    .registeredEventsM{
        header.mobileHeader section.mobileMenuAccount div > ul > li.registeredEventsMob a{
            background-color: darken(@darkBlue, 5%);
        }
        .sidebar.sidebarsLeft{
            .translate(0px,0px);
            section.notifications{
                .translate(100%,0px);
            }
            section.accountDetails{
                .translate(0px,0px);
                opacity: 1;
                ul.accountDetailsContent > li{
                    .translate(100%,0px);
                    &.registeredEvents{
                        display: block;
                        .translate(0px,0px);
                        opacity: 1;
                        z-index: 9;
                    }
                }
            }
        }
    }


    .subscriptionsManagerM{
        header.mobileHeader section.mobileMenuAccount div > ul > li.subscriptionsManagerMob a{
            background-color: darken(@darkBlue, 5%);
        }
        .sidebar.sidebarsLeft{
            .translate(0px,0px);
            section.notifications{
                .translate(100%,0px);
            }
            section.accountDetails{
                .translate(0px,0px);
                opacity: 1;
                ul.accountDetailsContent > li{
                    .translate(100%,0px);
                    &.subscriptions{
                        display: block;
                        .translate(0px,0px);
                        opacity: 1;
                        z-index: 9;
                    }
                }
            }
        }
    }


    .notificationsM{
        header.mobileHeader section.mobileMenuAccount div > ul > li.notificationsMob a{
            background-color: darken(@darkBlue, 5%);
        }
        .sidebar.sidebarsLeft{
            .translate(0px,0px);
            section.accountDetails{
                .translate(100%,0px);
            }
            section.notifications{
                .translate(0px,0px);
                opacity: 1;
                ul.accountDetailsContent > li{
                    .translate(100%,0px);
                    &.notifications{
                        display: block;
                        .translate(0px,0px);
                        opacity: 1;
                        z-index: 9;
                    }
                }
            }
        }
    }


    .profileSettingsM{
        header.mobileHeader section.mobileMenuAccount div > ul > li.profileSettingsMob a{
            background-color: darken(@darkBlue, 5%);
        }
        .sidebar.sidebarsLeft{
            .translate(0px,0px);
            section.notifications{
                .translate(100%,0px);
            }
            section.accountDetails{
                .translate(0px,0px);
                opacity: 1;
                ul.accountDetailsContent > li{
                    .translate(100%,0px);
                    &.accountSettings{
                        display: block;
                        .translate(0px,0px);
                        opacity: 1;
                        z-index: 9;
                    }
                }
            }
        }
    }




}






























body{
    overflow-x: hidden;
    &.leftSmall, &.leftMedium, &.rightSmall, &.rightMedium, &.rightLarge{
        overflow: hidden;
        .overlay{
            opacity: 0.85; 
            visibility: visible;
            &:hover{
                opacity: 0.95;
            }       
        }
    }
    &.leftSmall{
        .canvasCenter, .mainNav{
           .translateX(356px);
        }
        .sidebarsLeft{
           .translateX(0px);
        }
    }
    &.leftMedium{
        .canvasCenter, .mainNav{
           .translateX(570px);
        }
        .sidebarsLeft{
            width: 570px;
           .translateX(0px);
        }
    }
    &.rightSmall{
        .canvasCenter, .mainNav{
            .translateX(-356px);
        }
        .sidebarsRight{
            right: 0px;
            .translateX(0px);
        }
    }
    &.rightMedium{
        .canvasCenter, .mainNav{
            left: inherit;
            .translateX(-656px);
        }
        .sidebarsRight{
            width: 656px;
            .translateX(0px);
        }
    }
    &.rightLarge{
        .canvasCenter, .mainNav{
            left: inherit;
            .translateX(-1100px);
        }
        .sidebarsRight{
            width: 1100px;
            .translateX(0px);
        }
        @media @1250{
            .canvasCenter, .mainNav{
                left: inherit;
                .translateX(-900px);
            }
            .sidebarsRight{
                width: 900px;
                .translateX(0px);
            }            
        }
        @media @1024{
            .canvasCenter, .mainNav{
                left: inherit;
                .translateX(-700px);
            }
            .sidebarsRight{
                width: 700px;
                .translateX(0px);
            }            
        }
    }
}