//Form Setup
.formColors(@baseColor,@inputColor,@buttonColor,@labelColor,@radioColor,@radioSelect,@placeholderColor, @autofillColor){
    .placeholderColor(@placeholderColor);
    label{
        .textButtonColor(@labelColor);
    }
    label.radio{
        background-color: @radioColor;
        &:hover{
            background-color: darken(@radioColor, 5%);
        }
    }
    input, textarea{
        background-color: @baseColor;
        color: @inputColor;
        &:focus{
            background-color: darken(@baseColor, 3%);
        }
        &:-webkit-autofill {
            //Chrome Autocomplete
            -webkit-box-shadow: 0 0 0px 1000px @autofillColor inset !important;
            -webkit-text-fill-color: @white;
            &:focus{
                -webkit-text-fill-color: @white;
            }
        }
    }
    input[type=radio]:checked + label.radio{
        background-color: @radioSelect;
        &:before {
            background-color: @radioSelect;
        }
    }
    .styledSelect, .cvv2, input[type=text]{        
        background-color: @baseColor;
        &:hover{
            background-color: darken(@baseColor, 2.5%);
        }
        &:focus, input:focus{
            background-color: darken(@baseColor, 5%);
        }
    }
    .styledSelect, .cvv2, input[type=text]{
        &:hover{
            //background-color: darken(@baseColor, 1%);
        }
    }
    button.submit, input[type=submit]{
        .buttonColor(@buttonColor);
    }
}

//Form Defaults
form{
    input, textarea, select{
        font-family:inherit;
    }
    label{
        display: block;
        position: relative;
        .font(1.2,1.2,0.01,@bold,none);
    }
    label.radio{
        line-height: 47px;
        padding: 1px 0px;
        cursor: pointer;
        display: block;
        position: relative;
        float: left;
        text-align: center;
        width: 33.33333%;
        margin: 0px;
        .transition(background-color, 200ms, ease, 0ms);
    }
    input{
        display: block;
        width: 100%;
        text-indent: 12px;
        padding: 16px 0px;
        border: none;
        .font(1.4,1.7,0.01,@bold,none);
        .transition(background-color, 100ms, ease, 0ms);
        &:focus{
            outline: none;
        }
    }
    button.submit{
        text-indent: 0px;
    }
    input[type="radio"] {
        display: none;
        width: auto;
        margin: 0px 4px 0px 24px;
        position: relative;
        top: -1px;
    }
    input[type='search']{
        background: transparent;
        border: none;
        width: 100%;
        max-width: 300px;
        padding: 0px;
        margin: 0 auto;
        text-indent: 20px;
        border-bottom: 2px solid @white;
        .font(1.2,3.0,0.01,@bold,uppercase);
        color: @white;
    }
}


//Styled Selects & cvv2
form{
    .styledSelect:after{
        .fa;
        content: "\f0d7";
        position: absolute;
        right: 12px;
        top: 12px;
        z-index: 2;
        font-size: 12px;
        pointer-events: none;
    }
    .styledSelect, .cvv2{
        position: relative;
        float: left;
        width: 45%;
        margin: 30px 1% 0px 0px;
        height: 49px;
        color: @white;
        font-weight: bold;
        label{
            position: absolute;
            left: 0px;
            top: -20px;
        }
        &.small{
            width: 18%;
            margin-right: 0px;
        }
        select{
            display: block;
            background: transparent;
            width: 100%;
            height: 49px;
            border: 0;
            text-indent: 15px;
            -webkit-appearance: none;
            .font(1.4,1.4,0.025,@light,none);
            .borderRadius(none);
            &:focus{
                outline: none;
            }
        }
        select, select option {
            color: @white;
            font-weight: bold;
        }
        input{
            background-color: @darkBlue;
            color: @midnightBlue;
        }
    }
    .cvv2{
        margin-left: 5%;
        width: 30%;
        &:focus{
            background-color: transparent;
        }
        input{
            width: 100%;
            color: @white;
        }
        label{
            position: absolute;
        }
    }
    .styledSelect, .cvv2, input[type=text]{
        &:hover{
            background-color: darken(@darkBlue, 1%);
        }
    }
}




//Toggle Switches
form{
    ul.toggleSwitches > li{
        line-height: 60px;
    }
    //On Off Switches
    label.toggleSwitchLabel{
        color: @white;
        position: relative;
        display: inline-block;
        width: 50%;
        left: -15px;
        margin-right: 15px;
        cursor: pointer;
        text-align: right;
        .opacity(1);
        .font(1.4,1.4,0.025,@normal,none);
    }
    .toggleSwitch {
        display: inline-block;
        position: absolute;
        top: -4px;
        width: 60px;
        .userSelect(none);
        &:before{
            .fa;
            content:"\f00c";
            position: absolute;
            text-indent: 7px;
            font-size: 16px;
            font-weight: 100;
            z-index: 4;
            margin-top: 3px;
            .opacity(1);
        }
        label:first-child{
            color: @white;
            cursor: pointer;
        }
        input{
            display: none;
            + label{
                display: block; 
                overflow: hidden; 
                cursor: pointer;
                height: 36px; 
                line-height: 36px;
                padding: 0; 
                background-color: rgba(255, 255, 255, 0.2);
                .shadow(far);
                .transition(background-color,200ms,ease,0ms);
                &:before{
                    content: "";
                    display: block; 
                    position: absolute; 
                    top: 0; 
                    bottom: 0;
                    right: 30px;
                    width: 30px; 
                    margin: 0px;
                    background: @gray;
                    z-index: 4;
                    .opacity(1);
                    .transition(all,200ms,ease,0ms);
                }
                &:hover{
                    &:before{
                        opacity: 1;
                    }
                }
            }
            &:checked{
                +label{
                    background-color: @aqua;
                }
                +label, +label:before{
                    border-color: @aqua;
                    .opacity(1);
                }
                +label:before{
                    right: 0px; 
                    background-color: @white;
                }
            }
        }
    }
}


//Errors & Messages

form{
    p#login-error {
        padding: 0px 0px 14px 0px;
        margin-bottom: 37px;
        font-weight: bold;
        text-align: center;
        border-bottom: 3px solid @orange;
    }
    .error {
        margin-bottom: 12px;
        margin-top: 5px;
        -webkit-box-shadow: inset 0 0 0px 3px @orange;
        -moz-box-shadow: inset 0 0 0px 3px @orange;
        box-shadow: inset 0 0 0px 3px @orange;
        &.customAmt{
            margin: 0px;
        }
    }
    [data-error]{
        &:after {
            content: attr(data-error);
            display: block;
            clear: both;
            padding: 9px 14px 7px 14px;
            margin-bottom: 5px;
            color: @white;
            background: darken(@orange, 2.5%);
            .font(1.2,1.5,0.025,@bold,none);
        }
        &:before{
            content: "\f0d7";
            display: block;
            position: absolute;
            top: 62px;
            left: 18px;
            color: #f1592a; //Searching purpose
            font-size: 14px;
            .fa;
        }
    }
    [data-error='Donation amount must be greater than zero']{
        &:after{
            position: relative;
            margin-bottom: 12px;
            top: 12px;
        }
        &:before{
            left: inherit;
            right: 126px;
            top: inherit;
            bottom: 28px;
            z-index: 9;
        }
        input[type=radio]:checked + label.radio.custom{
            background-color: @orange, 2.5%;
        }
    }
}

