//Forms
form{
    //Toggle Switches
    .toggleSwitch {
        display: table-cell;
        vertical-align: middle;
        padding: 10px;
        input {
            display: none;
            + label {
                display: block;
                //position: relative;
                cursor: pointer;
                outline: none;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                padding: 2px;
                width: 60px;
                height: 30px;
                background-color: #dddddd;
                -webkit-transition: background 0.4s;
                -moz-transition: background 0.4s;
                -o-transition: background 0.4s;
                transition: background 0.4s;
                &:before, &:after{
                    display: block;
                    position: absolute;
                    content: "";
                }
                &:before{
                    top: 2px;
                    left: 2px;
                    bottom: 2px;
                    right: 2px;
                    background-color: #fff;
                    -webkit-transition: background 0.4s;
                    -moz-transition: background 0.4s;
                    -o-transition: background 0.4s;
                    transition: background 0.4s;
                }
                &:after{
                    top: 4px;
                    left: 4px;
                    bottom: 4px;
                    width: 30px;
                    background-color: #dddddd;
                    -webkit-transition: margin 0.4s, background 0.4s;
                    -moz-transition: margin 0.4s, background 0.4s;
                    -o-transition: margin 0.4s, background 0.4s;
                    transition: margin 0.4s, background 0.4s;
                }
            }
            &:checked + label{
                background-color: #8ce196;
                &:after{
                    margin-left: 30px;
                    background-color: #8ce196; 
                }
            }
        }
    }


    p#login-error {
        font-weight: bold;
        text-align: center;
        border-bottom: 3px solid @orange;
        padding: 0px 0px 14px 0px;
        margin-bottom: 37px;
    }
    input, button.submit{
        display: block;
        border: none;
        padding: 16px 0px;
        margin: 12px 0px;
        width: 100%;
        text-indent: 12px;
        width: 300px;
        width: 100%;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 1px;
        color: @navy;
        .transition(background-color, 100ms, ease, 0ms);
        &:focus{
            outline: none;
            background-color: @gray;
        }
    }
    label {
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 1px;
        line-height:12px;
        font-weight: bold;
        color: mix(@gray, @navy, 25%);
        display: block;
        position: relative;
    }
    input[type="radio"] {
        display: inline-block;
        width: auto;
        margin: 0px 4px 0px 24px;
        position: relative;
        top: -1px;
    }
    input[type='search']{
        background: transparent;
        border: none;
        border-bottom: 2px solid #fff;
        width: 100%;
        max-width: 300px;
        font-size: 14px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #fff;
        font-weight: bold;
        line-height: 31px;
        text-indent: 20px;
        padding: 0px;
        font: 12px/30px 'Raleway', sans-serif;
        margin: 0 auto;
    }
    input[type='submit'], button.submit{
        text-indent: 0px;
        .backgroundColorButton(@teal);
        color: @white;
    }
    label.radio{
        color: @white;
        line-height: 47px;
        cursor: pointer;
        position: relative;
        font-size: 13px;
        width: 33.33333%;
        background: @darkBlue;
        display: block;
        margin: 0px;
        text-align: center;
        font-weight: bold;
        float: left;
        padding: 1px 0px;
        .transition(background-color, 200ms, ease, 0ms);
        &:last-child{
            margin-bottom: 30px;
        }
        &:hover{
            background-color: darken(@darkBlue, 5%);
        }
    }
    input[type=radio]:checked + label.radio{
        background-color: @aqua;
        &:before {
            background-color: @aqua;
        }
    }
    input[type='radio']{
        display: none;
    }
    .styledSelect:after{
        .fa;
        content: "\f0d7";
        position: absolute;
        z-index: 2;
        right: 12px;
        top: 12px;
        font-size: 12px;
    }
    .styledSelect, .cvv2{
        width: 45%;
        margin-right: 1%;
        height: 49px;
        //overflow: hidden;
        background-color: @darkBlue;
        color: #fff;
        font-weight: bold;
        float: left;
        margin-top: 30px;
        position: relative;
        &:focus, input:focus{
            background-color: darken(@darkBlue, 5%);
        }
        label{
            position: absolute;
            left: 0px;
            top: -20px;
        }
        &.small{
            width: 18%;
            margin-right: 0px;
        }
        select{
            background: transparent;
            width: 100%;
            display: block;
            font-size: 14px;
            line-height: 1;
            border: 0;
            border-radius: 0;
            height: 49px;
            -webkit-appearance: none;
            text-indent: 15px;
            &:focus{
                outline: none;
            }
        }
        select, select option {
            color: @white;
            font-weight: bold;
        }
        input{
            background-color: @darkBlue;
            color: @midnightBlue;
        }
    }
    .cvv2{
        margin-left: 5%;
        width: 30%;
        &:focus{
            background-color: transparent;
        }
        input{
            width: 100%;
            color: #fff;
        }
        label{
            position: absolute;
        }
    }
    .styledSelect, .cvv2, input[type=text]{
        &:hover{
            background-color: darken(@darkBlue, 1%);
        }
    }
    /* Input field error styles */
    .error {
        box-shadow: 0 0 0px 3px @orange inset;
        margin-bottom: 12px !important; //override specific section margins
        margin-top: 5px !important; //override specific section margins
        &.customAmt{
            margin: 0px !important;
        }
    }
    [data-error]{
        &:after {
            content: attr(data-error);
            color: @white;
            background: transparent;
            display: block;
            font-weight: bold;
            font-size: 12px;
            line-height: 15px;
            font-size: 12px;
            line-height: 15px;
            margin-bottom: 5px;
            background: darken(@orange, 2.5%);
            display: block;
            padding: 9px 14px 7px 14px;
            clear: both;
        }
        &:before{
            content: "\f0d7";
            display: block;
            color: #f1592a;
            position: absolute;
            top: 62px;
            left: 18px;
            font-size: 14px;
            .fa;
        }
    }
    [data-error='Donation amount must be greater than zero']{
        &:after{
            margin-bottom: 12px;
            top: 12px;
            position: relative;
        }
        &:before{
            left: inherit;
            right: 126px;
            z-index: 9;
            top: inherit;
            bottom: 28px;
        }
        input[type=radio]:checked + label.radio.custom{
            background-color: @orange, 2.5%;
        }
    }
    ::-webkit-input-placeholder {color: mix(@gray, @navy, 55%);}
    :-moz-placeholder {color: mix(@gray, @navy, 55%);}
    ::-moz-placeholder {color: mix(@gray, @navy, 55%);}
    :-ms-input-placeholder {color: mix(@gray, @navy, 55%);}

    //Editable Forms
    &.editable{
        input{
            background: rgba(255,255,255,0.2);
            color: @white;
            position: relative;
            margin-bottom: 20px;
            margin-top: 5px;
            &:focus{
                background-color: mix(@gray, @navy, 45%);
            }
        }
        label{
            text-align: left;
            display: block;
        }
        input[type='submit']{
            .backgroundColorButton(@teal);
            color: @white;
        }
    }

}