//Media Queries
@1600: ~"only screen and (max-width: 1600px)";
@1450: ~"only screen and (max-width: 1450px)";
@1300: ~"only screen and (max-width: 1300px)";
@1100: ~"only screen and (max-width: 1100px)";
@mobile: ~"only screen and (max-width: 768px)";