.sidebar{
    position: fixed;
    height: 100%;
    height: 100vh;
    background-color:mix(@gray, @navy, 55%);
    top: 36px;
    z-index: 11;
    .transition(all,375ms,ease-out,0ms);
    .scroller{
        text-align: center;
        height: ~'calc(100vh - 24px)';
    }
    section{
        position: absolute;
        opacity: 0;
        text-align: center;
        top: 0px;
        .transition(all,375ms,ease-out,0ms);
    }
    h2{
        border-color: mix(@gray, @navy, 45%);
        padding: 27px 0px 18px 0px;
        margin: 0px 30px 30px 30px;
        display: block;
        margin-top: 30px;
        text-align: center;
        max-width: 355px;
        &:first-child{
            margin-top: 0px;
        }
    }
    ul{
        li{
            display: block;
            padding: 30px;
            background-color: @lightBlue;
            color: @white;
            text-align: left;
            font-size: 14px;
            line-height: 19px;
            &:nth-child(even){
                background-color: @darkBlue;
            }
            .dateMeta{
                text-transform: uppercase;
                font-size: 12px;
                font-weight: bold;
                color: lighten(@lightBlue, 30%);
            }
            .text{
                font-weight: bold;
                letter-spacing: 0.25px;
                font-size: 14px;
                display: block;
            }
        }
        &.eventsMenu, &.toggleSwitches{
            li{
                background-color: @darkBlue;
                &:nth-child(even){
                    background-color: @lightBlue;
                }
            }
        }
    }
    button{
        font-size: 12px;
        &.closeTab, &.loadMore, &.unregister, &.viewEvents, &.undo {
            .colorButton(@white);
            background-color: transparent;
            text-transform: none;
            text-align: center;
            display: block;
            font-weight: 600;
            margin: 0 auto;
            line-height: 12px;
            //font-size: 12px;
            height: auto;
            margin-top: 36px;
            &:hover, &:focus, &:active{
                background-color: transparent;
            }
        }
        &.viewEvents{
            padding: 0px;
            margin: 0 auto;
            text-align: center;
            display: block;
        }
        &.undo{
            margin: 10px 0px 0px 0px;
            text-align: left;
            display: block;
            padding: 0px;
            clear: both;
        }
        &.unregister{
            display: block;
            text-align: left;
            margin: 10px 0px;
            padding: 0px;
        }
        &.closeTab{
            margin-bottom: 36px;
        }
    }
    form{
        padding: 0px 30px 0px 30px;
    }
    &.sidebarsLeft{
        width: 356px;
        left: 0px;
        .translate(-356px,0px);
        section{
            position: absolute;
            left:0px;
            .translate(-356px,0px);
            width: 356px;
            &.active{
                .translate(0px,0px);
                opacity: 1;
            }
            &.accountDetails{
                width: 570px;
                left: 0px;
                .translateX(-570px);
                &.active{
                    .translateX(0px);
                    opacity: 1;
                }
                h2{
                    max-width: 360px;
                    margin: 0 auto;
                    margin-bottom: 30px;
                }
            }
        }
    }
    &.sidebarsRight{
        width: 356px;
        right: 0px;
        .translateX(356px);
        background-color: @midnightBlue;
        h2{
            border-color: @lightBlue;
        }
        section{
            right: 0px;
            .translateX(356px);
            &.active{
                .translateX(0px);
                opacity: 1;
            }
            &.news{
                right: 0px;
                .translateX(800px);
                &.active{
                    .translateX(0px);
                    opacity: 1;
                }
            }
            &.donate{
                right: 0px;
                .translateX(656px);
                &.active{
                    .translateX(0px);
                    opacity: 1;
                }
            }
        }
    }
}


@media @mobile{
    .sidebar.sidebarsRight, .sidebar .sidebarsLeft {
        right: inherit;
        left: 0px;
        transform: translateX(-100%);
        width: 85%;
        top: 60px;
        z-index: 20;
        pointer-events: none;
        //display: none;
        .transition(all,375ms,ease-out,0ms);
        .scroller > div > h2, .scroller > h2 {
            background: @aqua;
            margin-left: -20px;
            width: 100%;
            padding-right: 40px;
        }
        section{
            h2{
                color: @white;
                text-align: left;
                font-size: 14px;
                line-height: 19px;
                font-weight: 700;
                letter-spacing: 1px;
                text-indent: 20px;
                .transition(all,100ms,ease,0ms);
                max-width: 999px;
                border: none;
                padding: 0px;
                line-height: 60px;
                height: 60px;
                span{
                    display: none;
                }
                &:before{
                    .fa;
                    //display: inline;
                    display: none;
                    content:"\f0d9";
                }
                &:active{
                    //font-size: 98%;
                    //background-color: #4e606a;
                    //.transition(all,100ms,ease,0ms);
                }
            }
            .closeTab{
                display: none;
            }
            .transition(all,375ms,ease-out,0ms);
            background-color: #566a75;
            width: 100% !important; //override desktop
            transform: translateX(0%) !important; //Override desktop
            .scroller{
                padding: 0px 20px;
            }
            button.closeTab{
                margin-bottom: 60px;
                margin-top: 0px;
            }
            h3, h4{
                font-size: 14px;
                line-height: 20px;
                font-weight: 600;
                letter-spacing: 1px;
            }
            li.mainTitle{
                padding: 0px;
                background-color: @aqua !important; //Override pseudoselector
            }
        }
    }
}


//Accounts Side
@media @mobile{
    .sidebar.sidebarsLeft{
        left: initial;
        right: 0px;
        width: ~'calc(85% - 60px)';
        .translate(100%,0px);
        z-index: 20;
        top: 113px;
        section, section.accountDetails{
            width: 100%;
            opacity: 0;
            z-index: 8;
            .translateX(0px);
            h2, ul.accountDetailsTabs{
                display: none;
            }
        }
    }

    .registeredEventsM{
        .sidebar.sidebarsLeft{
            .translate(0px,0px);
            section.notifications{
                .translate(100%,0px);
            }
            section.accountDetails{
                .translate(0px,0px);
                opacity: 1;
                ul.accountDetailsContent > li{
                    .translate(100%,0px);
                    &.registeredEvents{
                        display: block;
                        .translate(0px,0px);
                        opacity: 1;
                        z-index: 9;
                    }
                }
            }
        }
    }


    .subscriptionsManagerM{
        .sidebar.sidebarsLeft{
            .translate(0px,0px);
            section.notifications{
                .translate(100%,0px);
            }
            section.accountDetails{
                .translate(0px,0px);
                opacity: 1;
                ul.accountDetailsContent > li{
                    .translate(100%,0px);
                    &.subscriptions{
                        display: block;
                        .translate(0px,0px);
                        opacity: 1;
                        z-index: 9;
                    }
                }
            }
        }
    }


    .notificationsM{
        .sidebar.sidebarsLeft{
            .translate(0px,0px);
            section.accountDetails{
                .translate(100%,0px);
            }
            section.notifications{
                .translate(0px,0px);
                opacity: 1;
                ul.accountDetailsContent > li{
                    .translate(100%,0px);
                    &.notifications{
                        display: block;
                        .translate(0px,0px);
                        opacity: 1;
                        z-index: 9;
                    }
                }
            }
        }
    }


    .profileSettingsM{
        .sidebar.sidebarsLeft{
            .translate(0px,0px);
            section.notifications{
                .translate(100%,0px);
            }
            section.accountDetails{
                .translate(0px,0px);
                opacity: 1;
                ul.accountDetailsContent > li{
                    .translate(100%,0px);
                    &.accountSettings{
                        display: block;
                        .translate(0px,0px);
                        opacity: 1;
                        z-index: 9;
                    }
                }
            }
        }
    }




}