@sidebarBgColor: @blueGrayLight;
@sidebarContentBgColor : @blueGray;

.sidebar{
    background-color:@sidebarBgColor;
    .shadow(closeRight);
    &.sidebarsRight{
        .shadow(closeLeft);
    }
}


//Elements
.sidebar{
    //Text & Lists
    h2{
        display: block;
        padding: 36px 0px 34px 0px;
        text-align: center;
        color: @white;
        .font(1.8,1.8,0.1,@normal,uppercase);
    }
    h3 {
        color: @white;
        .font(1.5,1.8,0.1,@normal,uppercase);
        text-align: center;
        padding: 36px 0px 34px 0px;
    }
    ul{
        li{
            display: block;
            text-align: left;
            color: @white;
            .font(1.4,1.9,0.025,@light,none);
            .dateMeta{
                .font(1.2,1.7,0.025,@bold,uppercase);
                color: lighten(@lightBlue, 30%);
            }
            .text{
                display: block;
                .font(1.4,1.7,0.025,@bold,none);
            }
            li{
                background-color: darken(@sidebarContentBgColor, 5%);
                &:nth-child(even){
                    background-color: darken(@sidebarContentBgColor, 4%);
                }
            }
        }
    }
    button.closeTab{
        margin: 36px auto 36px auto;
        padding: 0px;
        color: @gray;
        border-bottom: 2px solid @gray;
        .shadowNone;
        .font(1.2,1.5,0.05,@normal,none);
    }
}













































////////////////////////////////////////////////////////////////////////////////////


@media @mobile{
    .sidebar.sidebarsRight, .sidebar .sidebarsLeft {
        right: inherit;
        left: 0px;
        .translate(-100%,0px);
        width: 85%;
        top: 60px;
        z-index: 20;
        pointer-events: none;
        .scroller > div > h2, .scroller > h2 {
            background: @aqua;
            margin-left: -20px;
            width: 100%;
            padding-right: 40px;
        }
        section{
            h2{
                color: @white;
                text-align: left;
                font-size: 14px;
                line-height: 19px;
                font-weight: 700;
                letter-spacing: 1px;
                text-indent: 20px;
                max-width: 999px;
                border: none;
                padding: 0px;
                line-height: 60px;
                height: 60px;
                span{
                    display: none;
                }
                &:before{
                    .fa;
                    display: none;
                    content:"\f0d9";
                }
            }
            .closeTab{
                display: none;
            }
            background-color: #566a75;
            width: 100% !important; //override desktop
            .translate(0%,0px) !important; //Override desktop
            .scroller{
                padding: 0px 20px;
            }
            button.closeTab{
                margin-bottom: 60px;
                margin-top: 0px;
            }
            h3, h4{
                font-size: 14px;
                line-height: 20px;
                font-weight: 600;
                letter-spacing: 1px;
            }
            li.mainTitle{
                padding: 0px;
                background-color: @aqua !important; //Override pseudoselector
            }
        }
    }
}


//Accounts Side
@media @mobile{
    .sidebar.sidebarsLeft{
        left: initial;
        right: 1px;
        width: ~'calc(85% - 60px)';
        .translate(101%,0px);
        z-index: 20;
        top: 113px;
        background-color: darken(@darkBlue, 5%);
        form {
            p#login-error {
                margin-top: 10px;
            }
        }
        .loginToggle{
            color: #fff;
            margin: 0 auto;
            margin-top: 17px;
        }
        section.login, section.register{
            opacity: 1;
            display: block;
            right: 0px;
            left: inherit;
            top: -113px;
            width: 100%;
            position: fixed;
            z-index: 99;
            padding-bottom: 113px;
            background-color:mix(@gray, @navy, 55%);
            left: -30px;
            .translate(120%,0px);
            //.transition(all, 375ms, ease-out, 0ms) !important;
            .scroller{
                width: 116%;
                margin-left: -8%;
            }
            form{
                margin-top: 23px;
            }
            h2{
                display: block;
                font-size: 14px;
                letter-spacing: 0.5px;
                font-weight: 700;
                padding: 0px;
                line-height: 60px;
                white-space: nowrap;
                margin-bottom: 0px;
                max-width: none;
            }
        }
        section.notifications{
            ul > li{
                //background-color: transparent;
                padding: 10px 20px;
            }
            button.loadMore {
                padding-bottom: 30px;
            }
        }
        section, section.accountDetails{
            .scroller{
                height: ~'calc(100vh - 113px)';
            }
            width: 100%;
            opacity: 0;
            z-index: 8;
            //background-color: darken(@darkBlue, 5%);
            button.closeTab{
                display: none;
            }
            .noTransition;
            .translate(0px,0px);
            form label.toggleSwitchLabel{
                //float: right;
                text-align: left;
                white-space: nowrap;
                left: 90px;
            }
            form .toggleSwitches .toggleSwitch{
                left: 20px;
            }
            form#subscriptions li {
                padding: 30px 20px 30px 20px;
            }
            form.editable label{
                color: @white;
            }
            form.editable{
                padding-top: 20px;
                max-width: none;
            }
            li.eventsRegistered {
                padding: 10px 20px;
            }
            h2, ul.accountDetailsTabs{
                display: none;
            }
            h3, h2.notificationsHeading{
                //background: transparent;
                padding: 0px;
                margin: 0px 20px 5px 20px;
                line-height: 58px;
                height: 58px;
                text-align: left;
                cursor: pointer;
                border-bottom: 2px solid darken(@darkBlue, 10%);
                font-size: 13px;
                white-space: nowrap;
                letter-spacing: 0.5px;
                font-weight: 700;
                display: block;
                &:before{
                    content: "\f0d9";
                    font-size: 12px;
                    position: relative;
                    top: -2px;
                    padding-right: 5px;
                    .fa;
                }
                &:active{
                   // background-color: darken(@darkBlue, 6%);
                    font-size: 90%;
                }
            }
            ul.accountDetailsContent {
                //background-color: transparent;
                > li{
                    //background-color: transparent;
                    .noTransition;
                    ul li, ul li:nth-child(even) {
                        //background-color: transparent;
                        span {
                            max-width: none;
                        }
                    }
                }
            }
        }
    }

    .accountOpen{
        .sidebar.sidebarsLeft section.login{
            .translate(-100%,0px);
        }
    }

    .accountOpen.registerMob{
        .sidebar.sidebarsLeft{
            section.login{
                .translate(120%,0px);
            }
            section.register{
                .translate(-100%,0px);
            }
        }
    }

    .registeredEventsM{
        header.mobileHeader section.mobileMenuAccount div > ul > li.registeredEventsMob a{
            //background-color: darken(@darkBlue, 5%);
        }
        .sidebar.sidebarsLeft{
            .translate(0px,0px);
            section.notifications{
                .translate(100%,0px);
            }
            section.accountDetails{
                .translate(0px,0px);
                opacity: 1;
                ul.accountDetailsContent > li{
                    .translate(100%,0px);
                    &.registeredEvents{
                        display: block;
                        .translate(0px,0px);
                        opacity: 1;
                        z-index: 9;
                    }
                }
            }
        }
    }


    .subscriptionsManagerM{
        header.mobileHeader section.mobileMenuAccount div > ul > li.subscriptionsManagerMob a{
            //background-color: darken(@darkBlue, 5%);
        }
        .sidebar.sidebarsLeft{
            .translate(0px,0px);
            section.notifications{
                .translate(100%,0px);
            }
            section.accountDetails{
                .translate(0px,0px);
                opacity: 1;
                ul.accountDetailsContent > li{
                    .translate(100%,0px);
                    &.subscriptions{
                        display: block;
                        .translate(0px,0px);
                        opacity: 1;
                        z-index: 9;
                    }
                }
            }
        }
    }


    .notificationsM{
        header.mobileHeader section.mobileMenuAccount div > ul > li.notificationsMob a{
            //background-color: darken(@darkBlue, 5%);
        }
        .sidebar.sidebarsLeft{
            .translate(0px,0px);
            section.accountDetails{
                .translate(100%,0px);
            }
            section.notifications{
                .translate(0px,0px);
                opacity: 1;
                ul.accountDetailsContent > li{
                    .translate(100%,0px);
                    &.notifications{
                        display: block;
                        .translate(0px,0px);
                        opacity: 1;
                        z-index: 9;
                    }
                }
            }
        }
    }


    .profileSettingsM{
        header.mobileHeader section.mobileMenuAccount div > ul > li.profileSettingsMob a{
            //background-color: darken(@darkBlue, 5%);
        }
        .sidebar.sidebarsLeft{
            .translate(0px,0px);
            section.notifications{
                .translate(100%,0px);
            }
            section.accountDetails{
                .translate(0px,0px);
                opacity: 1;
                ul.accountDetailsContent > li{
                    .translate(100%,0px);
                    &.accountSettings{
                        display: block;
                        .translate(0px,0px);
                        opacity: 1;
                        z-index: 9;
                    }
                }
            }
        }
    }




}











