

.tabStyle(@background,@tabWidth,@tabHeight,@gradation){
    ul.tabs{
        width: 100%;
        height: @tabHeight;
        .shadow(closeUp);
        > li{
            display: block;
            float: left;
            cursor: pointer;
            text-align: center;
            width: @tabWidth;
            height: @tabHeight;
            .font(1.2,@tabHeight,0.2,@bold,uppercase);
            .fa{
                .font(1.7,1.7,0,@light,none);
                position: relative;
                top: -1px;
                left: -2px;
            }
            background-color: lighten(@background, 5%);
            & when (@gradation = true){
                &:first-child{background-color: lighten(@background, 3%);}
                &:nth-child(2){background-color: lighten(@background, 5%);}
                &:nth-child(3){background-color: lighten(@background, 7%);}
                &:nth-child(4){background-color: lighten(@background, 9%);}
                &:nth-child(5){background-color: lighten(@background, 11%);}
                &:nth-child(6){background-color: lighten(@background, 13%);}
            }
            &:hover{
                background-color: lighten(@background, 2%);
            }
            &:active{
                background-color: darken(@background, 2%);
            }
            &.active{
                background-color: @background;
            }
        }
    }
    ul.tabsContent{
        width: 100%;
        background-color: @background;
        .shadow(closeDown);
        > li{
            position: relative;
            //.shadow(middleUp);
            display: none;
            will-change:opacity,transform;
            //Changed progromatically for animation of block property
            .opacity(0);
            .animateDisplay;
            &.active{
                display: block;
                .opacity(1);
            }
        }
    }
}