body, html{
    background-color:mix(@gray, @navy, 70%);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body{
    .full{
        width: 100%;
    }
    .masterContainer{
        padding-top: 348px;
        will-change: padding;
        .transition(padding,375ms,ease-out,0ms);
        @media @mobile{
            padding-top: 0px;
        }
    }
    &.fixedHeader{
        .masterContainer{
            padding-top: 74px;
            @media @mobile{
                padding-top: 0px;
            }
        }
    }
}

.container{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}

.containerSmall{
    max-width: 960px;
    margin: 0 auto;
    padding: 30px;
}
.scroller{
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
.canvasCenter{
    position: relative;
    left: 0px;
    z-index: 2;
    .transition(all,375ms,ease-out,0ms); //Was previously commented out for performance?
}
.overlay{
    position: fixed;
    top: 0px;
    left: 0px;
    visibility: hidden;
    background-color: @navy;
    opacity: 0;
    z-index: 3;
    cursor: pointer;
    width: 100%;
    height: 100%;
    .transition(all,375ms,ease-out,0ms);
}
button{
    .transition(background-color, 200ms, ease, 0ms);
}


.shadow(@horizontal, @vertical, @blur, @spread, @opacity){
    -webkit-box-shadow: @horizontal @vertical @blur @spread rgba(0,0,0,@opacity);
    -moz-box-shadow: @horizontal @vertical @blur @spread rgba(0,0,0,@opacity);
    box-shadow: @horizontal @vertical @blur @spread rgba(0,0,0,@opacity);
}


//Overrides
.inline{
    display: inline !important;
}
