body, html{
    background-color:mix(@gray, @navy, 70%);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}



body{
    max-width: 100%;
    .full{
        width: 100%;
    }
    .masterContainer{
        //padding-top: 376px;
        //will-change: padding;
        //.transition(padding,375ms,ease-out,0ms);
        background-color: @white;
        @media @mobile{
            padding-top: 0px;
        }
        min-height: 300px; // just for allowing a new section to be added via admin controls
    }
    &.fixedHeader{
        .masterContainer{
            //padding-top: 74px;
            @media @mobile{
                padding-top: 0px;
            }
        }
    }
}

.container{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}

.containerSmall{
    max-width: 960px;
    margin: 0 auto;
    //padding: 30px;
}
.scroller{
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
.canvasCenter{
    position: relative;
    left: 0px;
    z-index: 2;
    .transition(transform,@canvasDuration,@canvasEase,@canvasDelay);
    //padding-top: 376px;
}
.overlay{
    position: fixed;
    top: 0px;
    left: 0px;
    visibility: hidden;
    background-color: @navy;
    opacity: 0;
    z-index: 3;
    cursor: pointer;
    width: 100%;
    height: 100%;
    .transition(all,375ms,ease-out,0ms);
}
button{
    .transition(background-color, 200ms, ease, 0ms);
}


.shadow(@horizontal, @vertical, @blur, @spread, @opacity){
    -webkit-box-shadow: @horizontal @vertical @blur @spread rgba(0,0,0,@opacity);
    -moz-box-shadow: @horizontal @vertical @blur @spread rgba(0,0,0,@opacity);
    box-shadow: @horizontal @vertical @blur @spread rgba(0,0,0,@opacity);
}
.shadowInset(@horizontal, @vertical, @blur, @spread, @opacity){
    -webkit-box-shadow: inset @horizontal @vertical @blur @spread rgba(0,0,0,@opacity);
    -moz-box-shadow: inset @horizontal @vertical @blur @spread rgba(0,0,0,@opacity);
    box-shadow: inset @horizontal @vertical @blur @spread rgba(0,0,0,@opacity);
}

.flex{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
}

.flexNoWrap{
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
}


.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}


//Overrides
.inline{
    display: inline !important;
}

.dtHide{
    display: none !important;
    @media @mobile{
        display: inherit !important;
    }
}

.mobHide{
    display: inherit !important;
    @media @mobile{
        display: none !important;
    }
}

@media @mobile{
    .fullBlockMob{
        width: 100% !important;
        display: block !important;
    }
}



//Make first section under masthead animate into place
.masterContainer > section:nth-child(2){
    //.transition(all, 375ms, ease-out,0ms);
    //opacity: 0;
    //.translate(0px,-30px);
}
.fixedHeader{
    .masterContainer > section:nth-child(2){
        //opacity: 1;
        //.transition(all, 375ms, ease-out,100ms);
        //.translate(0px,0px);
    }
}
