

//Animation Variables
//Canvas relationships, sidebars, main canvas
@canvasDuration: 450ms;
@canvasEase: cubic-bezier(0.465, 0.183, 0.153, 0.946);
@canvasDelay: 0ms;

//Logo/Header Animations
@headerDuration: 350ms;
@headerEase: cubic-bezier(0.465, 0.183, 0.153, 0.946);
@headerFirstEase: cubic-bezier(0.550, 0.085, 0.680, 0.530);
@headerDelay: 0ms;
@headerSVGdelay: 170ms;
@headerSVGdelay2: 100ms;


.transition (@transitionProperty, @duration, @ease, @delay) {
    -webkit-transition: @transitionProperty @duration @ease @delay;
    -moz-transition:    @transitionProperty @duration @ease @delay;
    -ms-transition:     @transitionProperty @duration @ease @delay;
    -o-transition:      @transitionProperty @duration @ease @delay;
}

.transition2 (@transitionProperty, @duration, @ease, @delay, @transitionProperty2, @duration2, @ease2, @delay2) {
    -webkit-transition: @transitionProperty @duration @ease @delay, @transitionProperty2 @duration2 @ease2 @delay2;
    -moz-transition:    @transitionProperty @duration @ease @delay, @transitionProperty2 @duration2 @ease2 @delay2;
    -ms-transition:     @transitionProperty @duration @ease @delay, @transitionProperty2 @duration2 @ease2 @delay2;
    -o-transition:      @transitionProperty @duration @ease @delay, @transitionProperty2 @duration2 @ease2 @delay2;
}

.transition3 (@transitionProperty, @duration, @ease, @delay, @transitionProperty2, @duration2, @ease2, @delay2, @transitionProperty3, @duration3, @ease3, @delay3) {
    -webkit-transition: @transitionProperty @duration @ease @delay, @transitionProperty2 @duration2 @ease2 @delay2, @transitionProperty3 @duration3 @ease3 @delay3;
    -moz-transition:    @transitionProperty @duration @ease @delay, @transitionProperty2 @duration2 @ease2 @delay2, @transitionProperty3 @duration3 @ease3 @delay3;
    -ms-transition:     @transitionProperty @duration @ease @delay, @transitionProperty2 @duration2 @ease2 @delay2, @transitionProperty3 @duration3 @ease3 @delay3;
    -o-transition:      @transitionProperty @duration @ease @delay, @transitionProperty2 @duration2 @ease2 @delay2, @transitionProperty3 @duration3 @ease3 @delay3;
}

.transition4 (@transitionProperty, @duration, @ease, @delay, @transitionProperty2, @duration2, @ease2, @delay2, @transitionProperty3, @duration3, @ease3, @delay3, @transitionProperty4, @duration4, @ease4, @delay4) {
    -webkit-transition: @transitionProperty @duration @ease @delay, @transitionProperty2 @duration2 @ease2 @delay2, @transitionProperty3 @duration3 @ease3 @delay3, @transitionProperty4 @duration4 @ease4 @delay4;
    -moz-transition:    @transitionProperty @duration @ease @delay, @transitionProperty2 @duration2 @ease2 @delay2, @transitionProperty3 @duration3 @ease3 @delay3, @transitionProperty4 @duration4 @ease4 @delay4;
    -ms-transition:     @transitionProperty @duration @ease @delay, @transitionProperty2 @duration2 @ease2 @delay2, @transitionProperty3 @duration3 @ease3 @delay3, @transitionProperty4 @duration4 @ease4 @delay4;
    -o-transition:      @transitionProperty @duration @ease @delay, @transitionProperty2 @duration2 @ease2 @delay2, @transitionProperty3 @duration3 @ease3 @delay3, @transitionProperty4 @duration4 @ease4 @delay4;
}

.noTransition {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    transition: none;
}
