//Fonts
.fa{font-family: "FontAwesome";}
.os{font-family: "Old Standard TT', serif";}
.rw{font-family: 'Raleway', sans-serif;}

//Weights
@light: 400;
@normal: 600;
@bold: 700;

//Base font-size,line-height,letter-spacing
@baseFS: 1.4;
@baseLH: 2.2;
@baseLS: 0.025;

.font(@fontSize,@lineHeight,@letterSpacing,@fontWeight,@fontStyle){
    font-size: @fontSize*10px;
    font-size: @fontSize*1rem;
    line-height: @lineHeight*10px;
    line-height: @lineHeight*1rem;
    letter-spacing: @letterSpacing*10px;
    letter-spacing: @letterSpacing*1rem;
    font-weight: @fontWeight;
    text-transform: @fontStyle;
}

//Initialize rems
html{font-size: 62.5%;}
body{
    .rw;
    .font(@baseFS,@baseLH,@baseLS,@light,none);
}
//Text Globals
h1,h2,h3,h4,h5,p{
    margin: 17px 0px 17px 0px;
    color: @black;
}
h1{ //Should rarely be used as most content areas are children of predefined H1s
    .font(3.8,3.8,0.025,@normal,uppercase);
    color: @navy;
}
h2{.font(2.4,2.8,0.025,@bold,none);}
h3{.font(2.0,2.4,0.08,@normal,uppercase);}
h4{.font(1.6,1.6,0.1,@normal,uppercase);}
h5{.font(1.6,1.6,0,@bold,none);}
p { .font(1.6,2.6,0,@light,none);}
a{
    .textButtonColor(@teal);
    font-weight: @bold;
}
//Text Body content
/*.textBody{
    //textBody Specific Styles
}*/


//Main Section headings
section.mainSection > div > header{
    text-align: center;
    padding-top: 100px;
    margin-bottom: 70px;
    @media @mobile{
        padding-top: 40px;
        margin-bottom: 20px;
    }
    h1{
        display: inline-block;
        padding-bottom: 23px;
        margin-bottom: 26px;
        border-bottom: 3px solid @gray;
        color: @black;
        .font(5.0,5.0,0.025,@normal,uppercase);
        @media @mobile{
            .font(2.5,2.5,0.025,@normal,uppercase);
            padding-bottom: 10px;
            margin-bottom: 10px;
        }
        &:before, &:after{
            content:'';
            display: inline-block;
            position: relative;
            height: 6px;
            width: 6px;
            top: -10px;
            background-color: darken(@teal, 5%);
            border:3px solid @teal;
            @media @mobile{display: none;}
        }
        &:before{left:-32px;}
        &:after{right: -32px;}
    }
    p{
        color: @navy;
        text-align: center;
        .os;
        @media @mobile{
            padding: 0px 20px;
            .font(1.2,2.0,0.025,@normal,none);
            br{display: none;}
        }
        &:after{
            .fa;
            content: "\f107";
            display: none;
            margin-top: 22px;
            margin-bottom: 36px;
            color: @gray;
            .font(5.0,5.0,0.025,@light,none);
        }
    }
}




//Contact
.masterContainer section.mainSection.contact > div > header{
    margin-bottom: 0px;
    &:after{
        .fa;
        content: "\f107";
        display: block;
        color: @gray;
        font-size: 50px;
        line-height: 50px;
        font-weight: 100;
        margin-bottom: 36px;
    }
}
//Providers
.masterContainer section.mainSection.providers > div > header{margin-bottom: 20px;}
//Outreach
.masterContainer section.mainSection.outreach > div > header{
    h1, p{color: @white;}
    h1{
        &:before, &:after{
            content:'';
            height: 6px;
            width: 6px;
            background-color: @gray;
            border:3px solid @white;
        }
    }
}

