body, html{
    font: 14px/26px 'Raleway', sans-serif;
}
//Typopgraphy
.fa{font-family: "FontAwesome";}
.os{font-family: "Old Standard TT', serif";}
.rw{font-family: 'Raleway', sans-serif;}

button{
    .rw;
    font-weight: 800;
    font-size: 14px;
    height: 32px;
    line-height: 32px;
    letter-spacing: 0.25px;
}

a, a:link{
    .colorButton(@teal);
}

h2{
    font-weight: 600;
    color: @white;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 2px;
    padding-top: 20px;
    padding-bottom: 18px;
    border-bottom: 3px solid #ebf2f2;
    display: inline-block;
    a{
        .colorButton(@white);
    }
}

h3 {
    color: mix(@gray, @navy, 25%);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 0.5px;
    background-color: transparent;
    text-align: left;
    margin-bottom: 10px;
}
h4{
    color: @white;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1px;
    margin: 0px 0px 20px 0px;
    &:first-child{
        margin-top: 0px;
    }
}
p {
    color: @white;
    font-size: 14px;
    line-height: 22px;
    text-align: left;
    font-weight: 500;
}




//Main Section headings
.masterContainer section.mainSection > div > header{
    text-align: center;
    padding-top: 100px;
    margin-bottom: 70px;
    text-transform: uppercase;
    @media @mobile{
        padding-top: 40px;
        margin-bottom: 20px;
    }
    h1{
        color: @black;
        font-size: 50px;
        line-height: 50px;
        font-weight: normal;
        padding-bottom: 23px;
        border-bottom: 3px solid @gray;
        margin-bottom: 26px;
        display: inline-block;
        @media @mobile{
            font-size: 25px;
            line-height: 25px;
            padding-bottom: 10px;
            margin-bottom: 10px;
        }
        &:before, &:after{
            content:'';
            height: 6px;
            width: 6px;
            background-color: darken(@teal, 5%);
            border:3px solid @teal;
            display: inline-block;
            position: relative;
            top: -10px;
            @media @mobile{
                display: none;
            }
        }
        &:before{
            left:-32px;
        }
        &:after{
            right: -32px;
        }
    }
    p{
        text-align: center;
        font: normal 16px/27px Georgia, serif;
        .os;
        color: @navy;
        @media @mobile{
            font-size: 12px;
            line-height: 20px;
            padding: 0px 20px;
            br{
                display: none;
            }
        }
        &:after{
            .fa;
            content: "\f107";
            display: none;
            color: @gray;
            font-size: 50px;
            line-height: 50px;
            font-weight: 100;
            margin-top: 22px;
            margin-bottom: 36px;
        }
    }
}


//Contact
.masterContainer section.mainSection.contact > div > header{
    margin-bottom: 0px;
    &:after{
        .fa;
        content: "\f107";
        display: block;
        color: @gray;
        font-size: 50px;
        line-height: 50px;
        font-weight: 100;
        margin-bottom: 36px;
    }
}


//Text Body content
.textBody{
    p{
        color: @black;
        margin: 10px 0px 10px 0px;
        &:first-child{
            margin: 0px 0px 10px 0px;
        }
        &:last-child{
            margin: 10px 0px 0px 0px;
        }
    }
}