.carousel.events{
    width: 100%;
    overflow: visible;
    position: relative;
    visibility: hidden;
    .easeInOutAll;
    position: absolute;
    top: 100%;
    z-index: 9;
    nav{
        position: absolute;
        top: 400px;
        margin-top: -111px;
        width: 100%;
        li{
            cursor: pointer;
            font-size: 20px;
            color: @blueAsh;
            padding: 40px;
            &:hover{
                color: darken(@blueAsh, 5%);
            }
        }
        .prev{
            float: left;
        }
        .next{
            float: right;
        }
    }
    article.event-detail{
        width: 100%;
        margin:0px;
        display: inline-block;
        text-align: center;
        position: relative;
        padding: 0px;
        min-height: 700px;
        //margin-right: -6px;
        img.featured{
            -webkit-border-radius:50%;
            border-radius: 50%;
            height: 210px;
            width: 210px;
            margin:40px;
            float: left;
        }
        h2{
            position: relative;
            font-size: 28px;
            line-height: 32px;
            font-weight: 100;
            padding: 20px 20px 10px 20px;
            border-bottom: 4px solid #ebebeb;
            max-width: 800px;
            margin: 0 auto;
            margin-bottom: 40px;
        }
        address {
            text-align: left;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        time{
            margin-left: 20px;
            color: #fff;
            text-align: left;
            float: left;
            margin-left: 0px;
}
        }
        p{
            max-width: 800px;
            margin: 0 auto;
            padding-bottom: 40px;
            white-space: normal;
            clear: both;
            font-size: 14px;
            text-align: left;
            padding-top: 0px;
            line-height: 18px;
            top: 22px;
            position: relative;
        }

        button{
            border-color: #c7d1d2;
            display: inline-block;
            &:after{
                content: '\25BA';
                font-size: 10px;
                position: relative;
                top: -1px;
                left: 6px;
            }
        }

        button.map-details{
            background-color: #f3f3f3;
            position: absolute;
            top: 0px;
            right: 0px;
            padding: 0px 0px 0px 20px;
            border:none;
            color: @fontBlack;
            font-size: 16px;
            text-transform: none;
            &:after{
                display: none;
            }
            span {
                display: inline-block;
                background-color: @bgBlack;
                color: #fff;
                padding: 20px 25px 20px 20px;
                text-transform: uppercase;
                &:after{
                    content: '\25BA';
                    font-size: 10px;
                    position: relative;
                    top: -1px;
                    left: 6px;
                }
            }
            &:hover{
                background-color: darken(#f3f3f3, 2%);
                span{
                    background-color: darken(@bgBlack, 2%);
                    color: @yellow;
                }
            }
        }
    }
    main{
        width: 100%;
        overflow: visible;
        white-space: nowrap;
        position: relative;
        left:0%;
        .easeInOutAll;
    }
}

.carousel.events.active{
    visibility: visible;
    top: 0px;
}