section.who{
    padding-bottom: 80px;
    aside{
        background-color: @gray;
        padding: 40px;
        max-width: 700px;
        margin: 0 auto;
        h2{
            border-bottom: 2px solid darken(@gray, 5%);
            color: @teal;
            font-size: 28px;
            line-height: 32px;
            text-align: center;
            font-weight: 100;
            padding: 10px;

        }
    }
}