<template name="notifications">
  <ul class="notificationMenu stripes">
    {{#if notifications}}
      {{#each notifications}}
      {{global_debug this}}
        <li class="{{type}}">
          {{#if equals type "actionAlert"}}
            <a href="/action-alert/{{friendlyTitle}}" title="{{friendlyTitle}}" target="_blank">
              <span class="tag">Action Alert</span>
              <span class="date-meta">{{friendlyDate date}}</span>
              <h2>{{title}}</h2>
              <p class="publisher">{{publisher}}</p>
            </a>
          {{/if}}
        </li>
      {{/each}}
    {{else}}
      <li>No notifications at this time.</li>
    {{/if}}
  </ul>
</template>
