<template name="receiptsList">
  <header><h2>{{headingDonations}}</h2></header>
  <ul class="receiptsMenu stripes">
    {{#if donations}}
      {{#each donations}}
        <li class="receiptItem">
          <div class="item-container">
            <a href="/receipt/{{id}}" target="_blank">
              <h4 class="text">{{description}}</h4>
              <time class="dateMeta" datetime="{{timestampUTC}}">{{friendlyDate timestamp}}</time>
              <a href="/receipt/{{id}}" target="_blank" class="viewReceipts redirectButton button btn"><i class="fas fa-file"></i></a>
            </a>
          </div>
        </li>
      {{/each}}
    {{else}}
      <li class="none">{{noneDonations}}</li>
    {{/if}}
  </ul>
  <header><h2>{{headingPurchases}}</h2></header>
  <ul class="receiptsMenu stripes">
    {{#if purchases}}
      {{#each purchases}}
        <li class="receiptItem">
          <div class="item-container">
              <h4 class="text">${{total}} {{description}}</h4>
              <time class="dateMeta" datetime="{{timestampUTC}}">{{friendlyDate timestamp}}</time>
              <a href="/receipt/{{id}}" target="_blank" class="viewReceipts redirectButton button btn"><i class="fas fa-file"></i></a>
          </div>
        </li>
      {{/each}}
    {{else}}
      <li class="none">{{nonePurchases}}</li>
    {{/if}}
  </ul>
</template>
