<template name="signin">
    <form id="signin">
        {{#each items}}
            <label for ="{{id}}">{{title}}</label>
            <input id="{{id}}" type="{{type}}" name="{{type}}" placeholder="{{placeholder}}" {{disabled}} {{required}} />
        {{/each}}
        <input type="submit" value="{{submitValue}}">
        <p id="login-error" class="hide"></p>
    </form>
    <a href="/register">{{register}} <i class="fa fa-caret-right" aria-hidden="true"></i></a><br />
    <a href="/forgot-passphrase">Forgot Passphrase <i class="fa fa-caret-right" aria-hidden="true"></i></a>
</template>
