<template name="subscriptions">
    <form id="subscriptions">
        <header><h2>Email Subscriptions</h2></header>
        <ul class="toggleSwitches stripes">
            <li class="alert-item">
                <p>
                    <strong>We are currently updating our subscription features.</strong><br />
                    To receive updates on policy, action alerts and events, please contact the web administrator.<br />
                    <a class="btn button" href="mailto:peterf@wcasa.org">Request Changes</a>
                </p>
            </li>
            <li>
                <label class="toggleSwitchLabel">
                    General Updates
                    <span class="description">Receive updates on policy, action alerts, resources and events.</span>
                </label>
            </li>
            <li>
                <label class="toggleSwitchLabel">
                    Action Alerts
                    <span class="description">Receive notification when WCASA calls for action in support of survivors.</span>
                </label>
            </li>
            <li>
                <label class="toggleSwitchLabel">
                    Event Updates
                    <span class="description">Receive updates on in-person trainings and conferences, in addition to webinars.</span>
                </label>
            </li>
        </ul>
        {{#each lists}}
            <header><h2>{{heading}}</h2></header>
            <ul class="toggleSwitches stripes">
                {{#each items}}
                    <li>
                        <label for="{{id}}" class="toggleSwitchLabel">
                            {{title}}
                            <span class="description">{{description}}</span>
                        </label>
                        {{#if url}}
                            <a href="{{url}}" target="_blank" title="Manage Listserv" class="button btn">Manage</a>
                        {{else}}
                            <div class="toggleSwitch">
                                <input id="{{id}}" type="checkbox" checked="{{checked}}">
                                <label for="{{id}}" role="checkbox" aria-checked="{{checked}}"></label>
                            </div>
                        {{/if}}
                    </li>
                {{/each}}
            </ul>
        {{/each}}
    </form>
</template>