@import (reference) "/views/styles/index.less";

#sign-in, #register{
    form{
        label{display: none;}
        input[type="submit"]{ margin: 0; }
    }
    a { color: @white; }
}
#sign-in, #register, #accounts{
    form{
        label{text-align: left;}
        padding:30px;
        //@media @mobile{padding: 15px;}
        @media @mobile{ padding: 20px; }
    }
    .sidebar-content{
        padding-bottom: 30px;
        //@media @mobile {padding: 20px;}
        //@media @mobile { padding-bottom: 15px;}
    }
}
#accounts{
    .sidebar-content{ padding-bottom: 0px; }
    form{padding-top: 0px;}
    @media @mobile{ form{padding-top: 20px;} }
    a { color: @white; }
}





//Notifications & Events Lists
ul.notificationMenu{
    background-color: @blueGray;
}
aside.off-canvas{
    ul.eventsMenu, ul.notificationMenu, ul.libraryMenu{
        > li{
            padding: 36px;
            @media @mobile{ padding: 20px; }
        }
    }
    .dateMeta, .byLine{
        .font(1.2,1.7,0.025,@bold,normal);
        color: lighten(@lightBlue, 30%);
    }
    .text{
        display: block;
        margin:0px;
        .font(1.4,1.7,0.025,@light,none);
        a{
            .textButtonColor(@teal);
            color: @white;
        }
    }
    h3{margin-bottom: 3px;}
}


ul.notificationMenu, ul.eventsMenu, ul.libraryMenu{
    li.notificationEmpty, li.eventsEmpty{
        text-align: center;
        color: @white;
        .font(1.4,2.2,0.025,@normal,none);
        padding: 36px;
        @media @mobile{
            text-align: left;
            padding: 20px;
        }
    }
    button{
        display: block;
        margin-top: 10px;
        text-indent: 0px;
        .buttonColor(@teal);
        &.deny{
            .buttonColor(@orange);
        }
        &.unregister{
             .asideLink;
             margin: 10px 0px 0px 0px;
             background-color: transparent;
        }
        &.redirectButton{
            display: block;
            margin: 0px auto;
            @media @mobile{ margin: 0px; }
            .buttonColor(darken(@lightBlue, 2.5%));
            &:after{
                margin-left: 5px;
                content:"\f0da";
                .fa;
            }
        }

        a {
          color: @white;
        }
    }
    span.response{
        display: none;
        .font(1.2,1.4,0.025,@normal,none);
        color: @teal;
        margin: 5px 0px 0px 0px;
        .undo{
            .asideLink;
            clear: both;
            display: block;
            background-color: transparent;
            margin: 5px 0px 0px 0px;
        }
    }
    li.selected{
        span.response{
            display: block;
        }
        button.deny, button.approve, button.viewEvent, button.unregister{
            display: none;
        }
    }
}

ul.eventsMenu, ul.libraryMenu > li{
    text-align: left;
}


//Acount Details
aside.off-canvas{
    dl{
        //background-color: rgba(0,0,0,0.15);
        margin: 10px 0px;
    }
    form{
        .row{
            text-align: right;
            max-width: 177px;
            margin: 0 auto;
            margin-bottom: 20px;
        }
    }
    //Content
    .sidebar-content{
        form{
            max-width: 360px;
            &.flex-form{ max-width: 90%; margin-bottom: 20px; }
            margin: 23px auto 0 auto;
            @media @mobile{
                max-width: 9999px;
                margin: 0;
            }
            .toggleSwitch label{
                .opacity(1);
                &:first-child{
                    margin-bottom: 0px; //Override Form Default
                }
            }
            input[type=submit]{
                //margin: 16px 0px 0px 0px;
            }
            &#subscriptions,
            &#profile {
                max-width: 600px;
                li{
                    position: relative;
                }
            }
            &#profile {
                .form-group-container {
                    padding: 5px 30px 5px 30px;
                }
            }
        }
        form.flex-form{ margin-top: 0; }
        > li{
            ul > li > span, dl{
                margin: 0 auto;
                display: block;
                max-width: 360px;
                &.response{
                    display: none;
                }
            }
            dl{
                //.dlColors(@black,@white,@white);
                max-width: 340px;
                margin: 10px auto 0px auto;
                background-color: rgba(0,0,0,0.5);

                dd{
                    &.statusPending{color: @yellow;}
                    &.statusOccupy{color: @teal;}
                    &.statusDelivery{color: @yellow;}
                    &.statusPendingAvailability{color: @gray;}
                }
            }
            &.selected{
                span.response{
                    display: block;
                }
            }
            &.accountSettings{
                padding: 0px 0px 80px 0px;
            }
            &.subscriptions, &.registeredEvents{
                padding: 0px;
            }
            button{
                .buttonColor(darken(@sidebarSecondaryColor, 3%));
                &.viewEvent{.buttonColor(@teal);}
            }
            dl{background-color: darken(@sidebarSecondaryColor, 8.5%);}
            &:nth-child(even){
                button{.buttonColor(darken(@sidebarSecondaryColor, 1%));}
                dl{background-color: darken(@sidebarSecondaryColor, 6.5%);}
            }
            .byLine{
                margin-top: 5px !important; //this cascade needs adjusting
                font-style: normal;
            }
        }
    }
}

.eventsRegistered.selected .response{
    display: block !important;
    margin-top: 5px;
    color: @yellow;
}

.eventsRegistered button.unregister, .eventsRegistered button.undo{
    background-color: transparent !important;
}

#updateProfile > .panel > .panel-heading:first-child{display: none;}

// Registration successful
p.register-success {
    color: white;
    padding: 20px;
    margin: 0;
    font-size: 1.3em;
}
p.register-success.hide + a {
  display: inline-block;
}
p.register-success + a {
  display: none;
}
