<template name="callout">
	<section class="callout" id="{{anchor name=name}}" data-id="{{_id}}">
        {{#if isAdmin}}
            {{> sectionAdmin}}
        {{/if}}
        {{! TODO: Why keep the content in the DOM twice? }}
		<h3 class="content" data-content="{{content}}">
            {{{markdown content}}}
		</h3>
	</section>
</template>

<!--Temporary for layout-->
<template name="calloutBTemp">
    <section class="callout" id="{{anchor name=name}}" data-id="{{_id}}">
<h3 class="content" data-content="We are a **non-profit** agency guided by a board of directors and operated by an all star team.">
            We are a <strong>non-profit</strong> agency guided by a board of directors and operated by an all star team.
        </h3>
    </section>
</template>