<template name="contact">
    <section class="contact" id="{{anchor name=name}}" data-id="{{_id}}">
        {{#if isAdmin}}
            {{> sectionAdmin}}
        {{/if}}
   	    <h2>Contact WCASA</h2>
        <img class="footer-brand" src="/lib/img/brand-lrg.png" alt="wcasa" /> 
        <form>
            <label for="name">Name</label>
            <input id="name" type="text" name="name">
            <label for="email">Email</label>
            <input id="email" type="text" name="email">
            <label for="comments">Comments</label>
            <textarea id="comments" cols="20" rows="3" name="comments">
            </textarea>
            <input class="button button-melon" type="submit" value="Submit">
        </form>
        <figure class="footer-map">
            <img src="/lib/img/temp-map.jpg" style="width:100%;
            height:auto;min-height:400px;" alt="Temp Google Map, to be removed" />
            <address>
                2801 West Beltline Highway<br>
                Suite 202<br>
                Madison, Wisconsin 53713
            </address>
        </figure>
        {{> footer}}
    </section>
</template>