<template name="donate">
    <section class="donate-object">
        <div class="donate-inner"> <!-- what's the point of this element?? -->
            <h2><span class="fa">&#xf004;</span> Donate</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
                consequat.
            </p>
            <form>
                <h3>Amount</h3>
                <label><input type="radio" name="amount" value="25" />$25</label>
                <label><input type="radio" name="amount" value="50" />$50</label>
                <label><input type="radio" name="amount" value="100" checked />$100</label>
                <label><input type="radio" name="amount" value="200" />$200</label>
                <label><input type="radio" name="amount" value="custom" />
                    Custom: $<input type="number" name="amount" min="0" value="75" />
                </label>
                <h3>Payment Details</h3>
                <label>Name on Card <input name="name" value="{{name}}" required /></label>
                <label>Credit Card Number 
                    <input type="number" name="number" required pattern="\d{12,19}" />
                </label><span class="cc-pic"></span>
                <input type="hidden" name="type" value="mastercard" />
                <label>Expiration 
                    <select name="month">
                        <option value="01">January</option>
                        <option value="02">February</option>
                        <option value="03">March</option>
                        <option value="04">April</option>
                        <option value="05">May</option>
                        <option value="06">June</option>
                        <option value="07">July</option>
                        <option value="08">August</option>
                        <option value="09">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                    </select>
                    <select name="year">
                        {{#each year}}
                            <option value="{{this}}">{{this}}</option>
                        {{/each}}
                    </select>
                </label>
                <label>CVV2 Number <input type="number" name="cvv2" min="0" required 
                    pattern="\d{3,4}" /></label>
                <button type="submit">Donate</button>
            </form>
            <button class="close-donate fa">&#xf00d;</button>
        </div>
    </section>
</template>