<template name="masthead">
	<section class="masthead" id="masthead">
		<div class="va-object centered">
			<h1>Creating the Social Change Necessary to End Sexual Violence.</h1>
            <h2>WCASA is dedicated to lorem ipsum.</h2>
            <button><span>&#xf06a;</span> Get Help Now</button>
                <ul>
      {{#each tasks}}
        {{> task}}
      {{/each}}
    </ul>
		</div>
		<div class="down-arrow">
			<span class="glyphicon glyphicon-chevron-right masthead-directions"></span>
		</div>
	</section>
</template>