<template name="masthead">
	<section class="masthead" id="masthead">
		<div class="va-object centered">
			<h1>Celbrate Peace, Prevention &amp; Healing</h1>
            <h2>WCASA’s 30-year anniversary of supporting survivors of sexual assault. WCASA is honored to have Loretta Ross deliver the keynote address. Ross is a renowned leader of women of color in the Reproductive Justice Movement and a nationally recognized expert on human rights, violence against women, and racism.</h2>
            <a href="#community">
                <button><span class="fa">&#xf274;</span> Join Us</button>
            </a>
            <ul>
              {{#each tasks}}
                {{> task}}
              {{/each}}
            </ul>
		</div>
		<div class="down-arrow">
			<span class="fa masthead-directions">&#xf061;</span>
		</div>
	</section>
</template>