<template name="providers">
    <section class="providers left" id="{{anchor name=name}}" data-id="{{_id}}">
        {{#if isAdmin}}
            {{> sectionAdmin}}
        {{/if}}
        <div class="provider-search">
            <form id="search">
                <label for="county">Find by County</label>
                <span class="select">
                    <select id="county" class="county">
                        <option>- Select a County -</option>
                        {{#each counties}}
                            <option value="{{this}}">{{this}}</option>
                        {{/each}}
                    </select>
                </span>
                    <label for="zip">Find by Zip Code</label>
                    <span class="float-right">
                        <!-- All of Wisconsin's ZIP codes fall between 53001 and 54990 -->
                        <input id="zip" type="text" pattern="[0-9]*" 
                            maxlength="5" minlength="5" title="ZIP codes have 5 Digits"
                            min="53001" max="54990" name="zip">
                        <input class="submit" type="submit" value="Go">
                    </span>
            </form>
            <h2><span class="fa">&#xf002;</span> Search for a WCASA Sexual Assault Service Provider</h2>
        </div>
        <figure class="map">
            <div id="map-canvas"></div>
        </figure>
        <article class="location-details details">
            <!--{{> provider}}-->
            {{#with currentProvider}}
                <h2>{{name}}</h2>
                <p class="county-served">Counties Served: {{providerCounties}}</p>
                <div class="left">
                    <address>{{address}}</address>
                    <p class="phone">Phone: <b>{{phone}}</b></p>
                    <p class="phone crisis">Crisis: <b>{{crisis}}</b></p>
                </div>
                <div class="right">
                    <a href="mailto:{{email}}" class="email icon">{{email}}</a>
                    <a href="{{website}}" target="_blank" class="website icon">{{website}}</a>
                    <a href="{{facebook}}" target="_blank" class="facebook icon">
                        {{name}} on Facebook</a>
                    <a href="#" target="_blank" class="twitter icon">twitter.com/user/</a>
                </div>
                <button class="cta button-aqua">Jobs &amp; More</button>
            {{/with}}
        </article>
    </section>
</template>