<template name="who">
    <section class="who-we-are tabs tabs-top" id="{{anchor name=name}}" data-id="{{_id}}">
        {{#if isAdmin}}
            {{> sectionAdmin}}
        {{/if}}
        <menu class="tabs set-toggle">
            <ul>
                <li class="active">WCASA Staff</li>
                <li>Board of Directors</li>
            </ul>
        </menu>
        <main class="members">
            <article class="active">
                {{> slider people=staff }}
            </article>
            <article>
                {{> slider people=board }}
            </article>
        </main>
    </section>
    <script>
        // TODO: move to sections.js
        $('.tabs.who-we-are menu li').click(function(){
            var x = $(this).index() + 1;
            $('.tabs.who-we-are menu li').removeClass("active");
            $('.tabs.who-we-are article').removeClass("active");
            $(this).addClass("active");
            $(this).parent().parent().siblings().find( "article:nth-child(" + x + ")" ).addClass("active");
        });
    </script>
</template>

<!--Slider template-->
<template name="slider">
    <section class="slider contacts">
        <main class="slider-content">
                {{#each people}}
                    {{> person}}
                {{/each}}
        </main>
    </section>
    <!--<nav class="slider-nav">
        <ul>
            <li class="prev slider-nav">&#9664;</li>
            <li class="next slider-nav">&#9654;</li>
        </ul>
    </nav>-->
</template>

<!--Profile Figure Template-->
<template name="person">
    <figure>
        {{#if picture}}
            <img src="{{picture}}" alt="{{name}}" />
        {{else}}
            <img src="{{avatar.avatar}}" alt="{{name}}" />
        {{/if}}
        <div class="details">
            <h4>{{name}}</h4>
            <h5>{{title}}</h5>
            <a href="mailto:{{email}}">{{email}}</a>
        </div>
    </figure>
</template>