<template name="work">
    <section class="work tabs tabs-right" id="{{anchor name=name}}" data-id="{{_id}}">
        {{#if isAdmin}}
            {{> sectionAdmin}}
        {{/if}}
        <main>
            {{#each tabs}}
                <!--{{> article id=this}}-->
                {{#with that=this}}
                    {{#with template that}}
                        {{> Template.dynamic template=this data=../that }}
                    {{/with}}
                {{/with}}
            {{/each}}
        </main>
        <menu class="tabs">
            <ul class="elements">
                {{#each tabs}}
                    {{> tab id=this}}
                {{/each}}
            </ul>
        </menu>
        <button class="work-filter">Explore Work</button>
    </section>
</template>

<template name="tab">
    <li data-id="{{id}}" data-icon="{{icon id}}" 
        data-parent="{{../../_id}}{{../../id}}">{{name id}}
        {{#if hasChildren}}
            <span class="caret fa"></span>
            <ul>
                {{#each tabs}}
                    {{> tab id=this}}
                {{/each}}
            </ul>
        {{/if}}
    </li>
</template>

<template name="article">
    <article data-id="{{this}}">
        {{#if isAdmin}}
            {{> sectionAdmin}}
        {{/if}}
        <h2><span class="fa">{{icon this}}</span> {{name this}}</h2>
        <div class="content" data-content="{{content this}}">
            {{#with content this}}
                {{{markdown this}}}
            {{/with}}
        </div>
    </article>
</template>