<template name="work">
    <section class="work tabs tabs-right" id="{{anchor name=name}}" data-id="{{_id}}">
        {{#if isAdmin}}
            {{> sectionAdmin}}
        {{/if}}
        <main>
            {{#each tabs}}
                {{> article id=this}}
            {{/each}}
        </main>
        <menu class="tabs">
            <ul>
                {{#each tabs}}
                    {{> tab id=this}}
                {{/each}}
            </ul>
        </menu>
    </section>
</template>

<template name="tab">
    <li data-id="{{id}}" data-icon="{{icon id}}">{{name id}}</li>
</template>

<template name="article">
    <article data-id="{{id}}">
        <h2><span class="fa">{{icon id}}</span> {{name id}}</h2>
        <div class="content">
            {{{markdown content}}}
        </div>
    </article>
</template>









<template name="workTemp">
<section class="callout" data-id="6v7FJDr4bHX5NuX2A">
        
        
        <h3 class="content" data-content="Wisconsin Coalition Against Sexual Assault is dedicated to **creating the social change** necessary to end **sexual violence**.">
            Wisconsin Coalition Against Sexual Assault is dedicated to <strong>creating the social change</strong> necessary to end <strong>sexual violence</strong>.
        </h3>
    </section>
    <section class="work tabs tabs-right" id="work" data-id="hLDzCCgDWb2kXRTPE">
        
        <main>
            
                <article data-id="7gtw4oLyYDrRZHDgL" class="active">
        <h2><span class="fa"></span> Prevention</h2>
        <div class="content">
            <p>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit
            </p>
            <p>
                Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
            </p>
        </div>
    </article>
            
                <article data-id="Nfj3NDtKYytyehYoD">
        <h2><span class="fa"></span> Advocacy</h2>
        <div class="content">
            
        </div>
    </article>
            
                <article data-id="TDHJfuAaKSauoyRTE">
        <h2><span class="fa"></span> Evaluation</h2>
        <div class="content">
            
        </div>
    </article>
            
                <article data-id="6xSwQfHaqszGounx5">
        <h2><span class="fa"></span> Policy &amp; Law</h2>
        <div class="content">
            
        </div>
    </article>
            
                <article data-id="WQ8uej8eg7tSTDyrZ">
        <h2><span class="fa"></span> Technical Assistance</h2>
        <div class="content">
            
        </div>
    </article>
            
                <article data-id="XZdGA32R7ExFtx5Pp">
        <h2><span class="fa"></span> Webinars</h2>
        <div class="content">
            
        </div>
    </article>
            
                <article data-id="n3D8bCTnnkreBdjhY">
        <h2><span class="fa"></span> ALL*</h2>
        <div class="content">
            
        </div>
    </article>
            
                <article data-id="zWsg6X87S5JvMwbKz">
        <h2><span class="fa"></span> Resource Center</h2>
        <div class="content">
            
        </div>
    </article>
            
        </main>
        <menu class="tabs">
            <h4><span class="fa title-icon">&#xf03a;</span> Areas of Work</h4>
            <ul>
                
                    <li data-id="7gtw4oLyYDrRZHDgL" data-icon="" class="active">Prevention</li>
                
                    <li data-id="Nfj3NDtKYytyehYoD" data-icon="">Advocacy</li>
                
                    <li data-id="TDHJfuAaKSauoyRTE" data-icon="">Evaluation</li>
                
                    <li data-id="6xSwQfHaqszGounx5" data-icon="">Policy &amp; Law</li>
                
                    <li data-id="WQ8uej8eg7tSTDyrZ" data-icon="">Technical Assistance</li>
                
                    <li data-id="XZdGA32R7ExFtx5Pp" data-icon="">Webinars</li>
                
                    <li data-id="n3D8bCTnnkreBdjhY" data-icon="">ALL*</li>
                
                    <li data-id="zWsg6X87S5JvMwbKz" data-icon="">Resource Center</li>
                
            </ul>
        </menu>
    </section>
</template>