<template name="account">
    <section class="accountDetails leftMedium hasSidebar">
        <div class="scroller">
            <h2><span class="fa">&#xf007;</span> Account Details</h2>
            <!--newsTabs temp. class left on, can we combine with newsroom tab scripts-->
            <ul class="accountDetailsTabs tabs">
                <li class="active"><span class="fa">&#xf007;</span> Profile</li>
                <li><span class="fa">&#xf0e0;</span> Subscriptions</li>
                <li><span class="fa">&#xf274;</span> Events</li>
                <li><span class="fa">&#xf02d;</span> Requests</li>
            </ul>
            <!--See above comment-->
            <ul class="accountDetailsContent tabsContent">
                {{> profile }}
                {{> subscriptions }}
                {{> eventsRegister }}
                {{> libraryActivity}}
            </ul>
            <button type="button" class="closeTab">Close</button>
        </div>
    </section>
</template>