<!--Load More template needs to be globalized, currently in newsroom-->
<template name="resources">
    <section class="learningCenter rightMedium hasSidebar">
        <div class="scroller">
            <h2><span class="fa">&#xf19c;</span> Learning Center</h2>
            <ul class="resourcesTabs tabs">
                <li class="active library">Library</li>
                <li>Infosheets</li>
                <li>Stats &amp; Data</li>
                <li>Webinars</li>
            </ul>
            <aside class="toolBar filter">
                <form autocomplete="off">
                    <label for="searchResources" class="fa">&#xf002;</label>
                    <input id="searchResources" type="search" placeholder="Search" />
                    <fieldset class="filter">
                        <div class="styledSelect fullBlockMob">
                            <label class="dtHide">Classification</label>
                            <select id="category" name="category">
                                <option value="0">Select Classification</option>
                                <option value="01">Survivors</option>
                                <option value="02">Providers</option>
                                <option value="03">Resources</option>
                            </select>
                        </div>
                        <div class="styledSelect fullBlockMob">
                            <label class="dtHide">Category</label>
                            <select id="category" name="category">
                                <option value="0">Select Category</option>
                                <option value="01">Survivors</option>
                                <option value="02">Providers</option>
                                <option value="03">Resources</option>
                            </select>
                        </div>
                        <div class="styledSelect fullBlockMob">
                            <label class="dtHide">Material</label>
                            <select id="material" name="material">
                                <option value="0">Select Material Type</option>
                                <option value="01">Book</option>
                                <option value="02">CD</option>
                                <option value="03">eBook</option>
                            </select>
                        </div>
                        <input type="submit" value="Search Library" />
                        <button class="viewAll">View All Alphabetically <span class="fa">&#xf0da;</span></button>
                    </fieldset>
                </form>
            </aside>
            <ul class="resourcesContent tabsContent">
                {{> library }}
                {{> infosheets }}
                {{> infosheets }}
                {{> infosheets }}
                <!--Infosheets reused to mimick data/stats and webinars since they should use same template-->
                <!--{{> dataStatistics }}
                {{> webinarArchive }}-->
            </ul>
            <button type="button" class="closeTab">Close</button>
        </div>
    </section>
</template>


<template name="backToResourcesMobile">
    <li class="menuTitle resourcesTabMenu dtHide"><a href="#">Learning Center</a></li>
</template>





<template name="dataStatistics">
    <!--Duplicate of infoSheets-->
</template>

<template name="webinarArchive">
    <!--Duplicate of infoSheets-->
</template>




<!--Infosheets-->
<template name="infosheets">
    <li>
        <ul class="resourcesItems infosheets stripes">
            {{>backToResourcesMobile}}
            <li class="mainTitle dtHide"><h2>Infosheets</h2></li>
            <!--{{#each itemCategory}}-->
                    <!--Category of Items Loop Here-->
            <!--{{/each}}-->
            {{>itemCategory}}
            {{>itemCategory}}
            {{>itemCategory}}
            {{>itemCategory}}
            {{>itemCategory}}
            {{> loadMore }}
        </ul>
    </li>
</template>

<template name="itemCategory">
    <li class="itemCategory">
        <div class="inner">
            <details>
                <summary>
                    <h5>Learning Center Section Category</h5>
                </summary>
                <ul>
                    {{>itemResources}}
                    {{>itemResources}}
                    {{>itemResources}}
                    {{>itemResources}}
                    {{>itemResources}}
                </ul>
            </details>
        </div>
    </li>
</template>


<template name="itemResources">
    <li><a href="#">Doucment for Download</a></li>
</template>





<template name="library">
    <li class="active library">
        {{> librarySearchHeader}}
        <ul class="resourcesItems library stripes">
            {{>backToResourcesMobile}}
            <li class="mainTitle dtHide"><h2>Library</h2></li>
            <!--{{#each libraryItem}}-->
                <!--Library Item Loop Template-->
            <!--{{/each}}-->
            {{> libraryItem }}
            {{> libraryItem }}
            {{> libraryItem }}
            {{> libraryItem }}
            {{> loadMore }}
        </ul>
    </li>
</template>


<template name="librarySearchHeader">
    <header class="librarySearchHeader">
        <h2>Library Results</h2>
        <dl class="breadcrumb">
            <!--These List Items should only show based on user's filter selection-->
            <dt class="fa" title="search terms">&#xf002;</dt>
            <dd>"Survivor Stories"</dd>
            <dt class="fa" title="classification">&#xf0b1;</dt> 
            <dd>Providers</dd>
            <dt class="fa" title="category">&#xf07c;</dt>
            <dd>Resources</dd>
            <dt class="fa" title="material">&#xf02d;</dt>
            <dd>Book or Booklet</dd>
            <dt class="count"></dt>
            <dd class="count">24 results</dd>
        </dl>
    </header>
</template>

<template name="libraryItem">
    <li>
        <div class="inner">
            <details>
                <summary>
                    <h5>
                        "There is diversity Within Diversity": Community Leaders' Views on increasing diversity in youth serving organizations.
                    </h5>
                    <p class="meta">Sumru Erkut, et al., Center for Research on Women, 1993</p>
                </summary>
                {{> libraryItemDetails}}
            </details>
            <aside class="info">
                <dl class="material">
                    <dt>Material</dt>
                    {{>materialType}}
                </dl>
                <dl class="status">
                    <dt>Status</dt>
                    {{>statusStockAvailable}}
                </dl>
                {{> libraryItemTools}}
            </aside>
        </div>
    </li>
</template>


<template name="statusStockAvailable"><dd class="statusStockAvailable">Available</dd></template>
<template name="statusStockUnavailable"><dd class="statusStockUnavailable">Unavailable</dd></template>

<template name="materialType">
    <dd>Book or Booklet</dd>
</template>


<template name="libraryItemDetails">
    <dl>
      <dt>Call Number</dt>
      <dd>6504S</dd>
      <dt>Copies</dt>
      <dd>1</dd>
      <dt>Subject Headings</dt>
      <dd>Ethnology -- United States. Minority teenagers -- United States -- Societies and clubs.</dd>
      <dt>Classification Type</dt>
      <dd>Organizational</dd>
      <dt>Category Type</dt>
      <dd>Organizational</dd>
      <dt>Material Type</dt>
      <dd>Book or Booklet</dd>
    </dl>
</template>

<template name="libraryItemTools">
    <!--Each should only be rendered on the page if applicable-->
    {{#if currentUser}}
        <div class="availability">
            {{> requestButton}}
            <!--Display no 'requestButton' if item unavailable-->
            <!--{{> requestResults}}-->
            <!--'requestResults' template to replace 'requestButton' on button submit-->

        </div>
    {{else}}
        <div class="availability">
            {{> loginToRequest}}
        </div>
    {{/if}}
</template>

<!--Library Item Variables-->
<template name="requestResults">
    <div class="requestResults">
        {{> requestSuccess}}
        {{> requestFailed}}
    </div>
</template>

<template name="requestButton">
    <button class="requestLibraryItem">Request Copy</button>
</template>

<template name="loginToRequest">
    <span class="loginToRequest"><button>Login</button> to Request Copy</span>
</template>                


<template name="requestSuccess">
    <p class="requestSuccess requestResult">
        <span class="fa">&#xf058; </span>
        This item has been requested. Someone at the library will be in touch soon.
        <button class="undoRequest">Undo</button>
    </p>
</template>

<template name="requestFailed">
    <p class="requestFailed requestResult">
        <span class="fa">&#xf057; </span>
        This item could not be requested at this time. Please try again later.
    </p>
</template>


