section.news {
    width: 900px;
    height: ~"calc(100vh - 32px)";
    text-align: center;
    top: 0px;
    .transition(all,400ms,ease-out,0ms);
    h2{
        margin: 0 auto;
        //margin-bottom: 30px;
    }
    button.newsroomButton{
        margin-bottom: 30px;
        color: #fff;
        opacity: 0.7;
        line-height: 37px;
        margin-top: 21px;
        padding: 0px;
        font-size: 14px;
        .transition(opacity,200ms,ease,0ms);
        &:hover{
            opacity: 1;
        }
        &#manageSubscriptions{
            @media @mobile{
                position: absolute;
                width: 100%;
                margin: 0px;
                left: 0px;
                top: 387px;
            }
        }
    }


    h3{
        a{
            .colorButton(lighten(@aqua, 2.5%));
            font-size: 14px;
            text-transform: uppercase;
            letter-spacing: 1px;
        }
    }
    a{
        h3, .icon{
            color: lighten(@aqua, 2.5%);
            font-size: 14px;
            text-transform: uppercase;
            letter-spacing: 1px;
            text-align: center;
            margin-top: 0px;
            padding-top: 0px;
        }
        &:hover h3, &:hover .icon{
        color: lighten(@aqua, 5%);
        }
        &:active h3, &:hover .icon{
        color: lighten(@aqua, 10%);
        }
    }

    p{
        letter-spacing: 1px;
    }
    button.loadMore{
        margin: 0 auto;
        
        // "That's everything!" text should be hidden by default
        & + span.everything {
            display: none;
            margin: 0 auto;
            text-align: center;
            font-size: 12px;
            line-height: 17px;
            font-weight: 600;
            letter-spacing: 0.5px;
        }
        
        // When all results show, hide the "Load More" text and show the "everything" text
        &.everything { display: none; }
        &.everything + span.everything { display: block; }
    }
    
    ul.newsTabs{
        height: 52px;
        li {
            display: block;
            width: 20%;
            float: left;
            padding: 20px 0px;
            cursor: pointer;
            text-align: center;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: 12px;
            line-height: 12px;
            .transition(all,200ms,ease,0ms);
            &:first-child{
                background-color: #5e727d;
            }
            &:nth-child(2){
                background-color: #637782;
            }
            &:nth-child(3){
                background-color: #6d818c;
            }
            &:nth-child(4){
                background-color: #748893;
            }
            &:nth-child(5){
                background-color: #7f929c;
            }
            &:hover{
                background-color: darken(@lightBlue, 5%);
            }
            &:active{
                color: lighten(@aqua, 10%);
            }
            &.active{
                background-color: @lightBlue;
                color: lighten(@aqua, 2.5%);
                &:hover{
                    background-color: @lightBlue;
                    //color: lighten(@aqua, 5%);
                }
            }
        }
    }
    ul.newsContent{
        background-color: @darkBlue;
        @media @mobile{
            position: fixed;
            top: 0px;
            left: -100%;
            width: 100%;
        }
        > li{
            padding: 0px;
            background-color: transparent;
            display: none;
            @media @mobile{
                //position: fixed;
                top: 0px;
                left: 0px;
                padding: 0px;
                margin: 0px;
                width: 100%;
                overflow-y: auto;
                height: ~'calc(100vh - 24px)';
                .transition(all,400ms,ease-out,0ms);
                .translateX(0%);
            }
            &.active{
                @media @mobile{
                    .translateX(100%)
                }
            }
            //.animateDisplayNewsTabs;
            .transition(all,400ms,ease-out,0ms);
            ul{
                li{
                    background-color: @darkBlue;
                    padding: 30px 140px 30px 140px;
                    @media @mobile{
                        padding: 20px;
                    }
                    .transition(all,400ms,ease-out,0ms);
                    &:nth-child(even){
                        background-color: @lightBlue;
                    }
                    &:last-child{
                        @media @mobile{
                            padding-bottom: 50px;
                        }
                    }
                    &.pressMediaItem{
                        text-align: center;
                        a{
                            display: block;
                            .icon{
                                font-size: 22px;
                                display: block;
                                margin-bottom: 10px;
                            }
                        }
                    }
                }
            }
            &.active{
                display: block;
            }
        }

        ul.newsItems.inTheNews{
            li.menuTitle{
                background-color:mix(@gray, @navy, 55%);
                a{
                    text-transform: uppercase;
                    color: @white;
                    font-weight: 800;
                    .transition(all,250ms,ease-in,0ms);
                    &:before{
                        font-size: 12px;
                        position: relative;
                        top: -1px;
                        .transition(all,250ms,ease-out,0ms);
                        .fa;
                        content: "\f0d9";
                        margin-right: 4px;
                        opacity: 1;
                    }
                    &:active{
                        font-size: 98%;
                        background-color:mix(@gray, @navy, 40%);
                        .transition(all,100ms,ease,0ms);
                    }
                }
            }
            h3{
                margin-bottom: 0px;
            }
        }
    }
    aside.searchFieldContainer{
        padding: 35px 30px 40px 30px;
        background-color: @lightBlue;
        @media @mobile{
            display: none;
        }
        form{
            max-width: 300px;
            margin: 0 auto;
            position: relative;
            label{
                position: absolute;
                left: 31px;
                color: @white;
                font-size: 16px;
                top: 6px;
                font-weight: normal;
            }
            input{
                font-weight: bold;
            }
        }
    }
    ::-webkit-input-placeholder {  color: @white; font-weight: bold;  }
    :-moz-placeholder {  color: @white; font-weight: bold;  }
    ::-moz-placeholder {  color: @white; font-weight: bold;  }
    :-ms-input-placeholder {  color: @white; font-weight: bold;  }
}




@media @mobile{
    section.news {
        button#subscriptionsRegister {
            margin: 0px;
            padding: 0px 20px 0px 0px;
            position: static;
            line-height: 16px;
            text-align: left;
            font-size: 13px;
        }
        ul.newsTabs{
            height: auto;
            li {
                width: 100%;
                display: block;
                padding: 20px;
                background-color: @lightBlue !important;
                color: #ffffff;
                text-align: left;
                font-size: 14px;
                line-height: 19px;
                margin-left: -20px;
                float: none;
                display: block;
                font-weight: 600;
                letter-spacing: 0.5px;
                &:active{
                    background-color: darken(@lightBlue, 5%);
                    .transition(all,100ms,ease,0ms);
                    font-size: 98%;
                }
                &:nth-child(even){
                    background-color: @darkBlue !important;
                    &:active{
                        color: @white !important;
                        background-color: darken(@lightBlue, 5%) !important;
                    }
                }
                &.active{
                    color:@white !important;
                }
                &:after{
                    .fa;
                    content:"\f061";
                    color: #455056;
                    float: right;
                }
            }
        }
    }
}

