section.news {
    width: 800px;
    height: ~"calc(100vh - 32px)";
    //background-color:@midnightBlue;
    text-align: center;
    top: 0px;
    .transition(all,400ms,ease-out,0ms);
    h4{
        max-width: 355px;
        margin: 0 auto;
        margin-bottom: 30px;
        border-color: @lightBlue;

    }
    h5{
        a{
            color:@aqua;
            font-size: 14px;
            text-transform: uppercase;
            letter-spacing: 1px;
            &:hover{
                color: lighten(@aqua, 5%);
            }
            &:active{
                color: lighten(@aqua, 10%);
            }
        }
    }
    p{
        letter-spacing: 1px;
    }
    ul.news-tabs{
        height: 52px;
        li {
            display: block;
            width: 25%;
            float: left;
            padding: 20px 0px;
            cursor: pointer;
            text-align: center;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: 12px;
            line-height: 12px;
            .transition(all,200ms,ease,0ms);
            &:first-child{
                background-color: #5e727d;
            }
            &:nth-child(2){
                background-color: #637782;
            }
            &:nth-child(3){
                background-color: #6d818c;
            }
            &:nth-child(4){
                background-color: #748893;
            }
            &:hover{
                background-color: darken(@lightBlue, 5%);
            }
            &:active{
                color: lighten(@aqua, 10%);
            }
            &.active{
                background-color: @lightBlue;
                color: @aqua;
                &:hover{
                    background-color: @lightBlue;
                    //color: lighten(@aqua, 5%);
                }
            }
        }
    }
    ul.news-content{
        background-color: lighten(@darkBlue, 0%);
        > li{
            padding: 0px;
            background-color: transparent;
            display: none;
            .animateNewsTabs;
            .transition(all,400ms,ease-out,0ms);
            ul{
                li{
                    background-color: @darkBlue;
                    padding: 30px 140px 30px 140px;
                    //.translate(800px,0px);
                    .transition(all,400ms,ease-out,0ms);
                    &:nth-child(even){
                        background-color: @lightBlue;
                    }
                    &.press-media-item{
                        text-align: center;
                        a.fa.icon {
                            color: lighten(@aqua, 5%);
                            font-size: 22px;
                            display: block;
                            margin-bottom: 10px;
                        }
                    }
                }
            }
            &.active{
                display: block;
                ul{
                    li{
                        //.translate(0px,0px);
                    }
                }
            }

        }
    }
    aside.search-field-container{
        padding: 35px 30px 40px 30px;
        background-color: @lightBlue;
        form{
            max-width: 300px;
            margin: 0 auto;
            position: relative;
            label{
                position: absolute;
                left: 31px;
                color: #fff;
                font-size: 16px;
                top: 6px;
                font-weight: normal;
            }
            input{
                font-weight: bold;
            }
        }
    }
    ::-webkit-input-placeholder {  color: #fff; font-weight: bold;  }
    :-moz-placeholder {  color: #fff; font-weight: bold;  }
    ::-moz-placeholder {  color: #fff; font-weight: bold;  }
    :-ms-input-placeholder {  color: #fff; font-weight: bold;  }
}

