<template name="calloutB">
   <div class="jumbotron">
      <h1>We are a <span>non-profit agency</span> guided by a board of directors and operated by an all star team.</h1>
   </div>
</template>
<template name="who">
   <div class="container-fluid">
      <div class="row">
         <div class="col-xs-12">
            <!-- required for floating -->
            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
               <li class="active"><a href="#homes-r" data-toggle="tab">WCASA Staff</a></li>
               <li><a href="#profiles-r" data-toggle="tab">Board of Directors</a></li>
            </ul>
         </div>
         <div class="col-xs-12">
            <!-- Tab panes -->
            <div class="tab-content">
               <div class="tab-pane active" id="homes-r">
                  <div class="DocumentList">
                     <ul class="list-inline">
                        <li class="DocumentItem">
                           <img src="http://placehold.it/150x150" alt="" />
                           <span>Kathleen Brandenburg, BS <b>Office Manager </b><a href="#">kathleenb@wcasa.org</a></span>
                        </li>
                        <li class="DocumentItem">
                           <img src="http://placehold.it/150x150" alt="" />
                           <span>Kathleen Brandenburg, BS <b>Office Manager </b><a href="#">kathleenb@wcasa.org</a></span>
                        </li>
                        <li class="DocumentItem">
                           <img src="http://placehold.it/150x150" alt="" />
                           <span>Kathleen Brandenburg, BS <b>Office Manager </b><a href="#">kathleenb@wcasa.org</a></span>
                        </li>
                        <li class="DocumentItem">
                           <img src="http://placehold.it/150x150" alt="" />
                           <span>Kathleen Brandenburg, BS <b>Office Manager </b><a href="#">kathleenb@wcasa.org</a></span>
                        </li>
                        <li class="DocumentItem">
                           <img src="http://placehold.it/150x150" alt="" />
                           <span>Kathleen Brandenburg, BS <b>Office Manager </b><a href="#">kathleenb@wcasa.org</a></span>
                        </li>
                     </ul>
                     <ul class="list-inline">
                        <li class="DocumentItem">
                           <img src="http://placehold.it/150x150" alt="" />
                           <span>Kathleen Brandenburg, BS <b>Office Manager </b><a href="#">kathleenb@wcasa.org</a></span>
                        </li>
                        <li class="DocumentItem">
                           <img src="http://placehold.it/150x150" alt="" />
                           <span>Kathleen Brandenburg, BS <b>Office Manager </b><a href="#">kathleenb@wcasa.org</a></span>
                        </li>
                        <li class="DocumentItem">
                           <img src="http://placehold.it/150x150" alt="" />
                           <span>Kathleen Brandenburg, BS <b>Office Manager </b><a href="#">kathleenb@wcasa.org</a></span>
                        </li>
                        <li class="DocumentItem">
                           <img src="http://placehold.it/150x150" alt="" />
                           <span>Kathleen Brandenburg, BS <b>Office Manager </b><a href="#">kathleenb@wcasa.org</a></span>
                        </li>
                     </ul>
                  </div>
               </div>
               <div class="tab-pane" id="profiles-r">
                  <div class="DocumentList">
                     <ul class="list-inline">
                        <li class="DocumentItem">
                           <span>Test Data1</span>
                        </li>
                        <li class="DocumentItem">
                           <span>Test Data1</span>
                        </li>
                        <li class="DocumentItem">
                           <span>Test Data1</span>
                        </li>
                        <li class="DocumentItem">
                           <span>Test Data1</span>
                        </li>
                        <li class="DocumentItem">
                           <span>Test Data1</span>
                        </li>
                        <li class="DocumentItem">
                           <span>Test Data1</span>
                        </li>
                        <li class="DocumentItem">
                           <span>Test Data1</span>
                        </li>
                        <li class="DocumentItem">
                           <span>Test Data1</span>
                        </li>
                        <li class="DocumentItem">
                           <span>Test Data1</span>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</template>