<template name="contact">
   <div class="container-fluid">
      <div class="row">
         <div class="col-xs-7">
            <form>
               Name<br>
               <input type="text"><br>
               Email Address<br>
               <input type="text"><br>
               Comments<br>
               <textarea></textarea><br>
               <a class="btn btn-lg btn-primary" href="#" role="button">Submit</a>
            </form>
         </div>
         <div class="col-xs-5">
            WCASA<br>
            <div class="darkblock">
               2801 West Beltline Highway<br>
               Suite 202<br>
               Madison, Wisconsin 53713
            </div>
            <div class="mapplaceholder"></div>
         </div>
      </div>
      <div class="row">
         <div class="col-xs-12">
            &copy; 2010-2015 Wisconsin Coalition Against Sexual Assult, Inc. Phone (608) 257-1516 Fax: (608) 257-2150 <a href="#">wcasa@wcasa.org</a> <a href="#">top</a>
         </div>
      </div>
   </div>
</template>