<template name="masthead">
   <!-- Full Width Image Header -->
   <header class="header-image">
      <div class="headline">
         <div class="container-fluid">
            <h1>Creating the Social Change Necessary to End Sexual Violence.</h1>
         </div>
      </div>
   </header>
</template>
<template name="calloutA">
   <div class="container-fluid">
      <div class="row">
         <div class="jumbotron">
            <h1>Wisconsin Coalition Against Sexual Assult is dedicated to <span>creating the social change</span> necessary to <span>end sexual violence.</span></h1>
         </div>
      </div>
   </div>
</template>