<template name="providers">
   <h1>Locate a WCASA Service Provider Nearest to You</h1>
   <table>
      <tr>
         <td>Find by county</td>
         <td>
            <select>
               <option value="volvo">Jefferson</option>
               <option value="saab">Saab</option>
               <option value="mercedes">Mercedes</option>
               <option value="audi">Audi</option>
            </select>
         </td>
      </tr>
      <tr>
         <td>Find by zip code</td>
         <td><input type="text"><a href="#">Go</a></td>
      </tr>
   </table>
   <div class="googlemap"></div>
   <div class="map-data container-fluid">
      <div class="row">
         <div class="col-xs-12">
            <h2>People Against Domestic And Sexual Abuse (PADA)</h2>
            <p class="county-served">County Servied: Jefferson</p>
         </div>
      </div>
      <div class="row">
         <div class="col-xs-3">
            <p>P.O. Box 395<br>
               Jefferson, WI 53549<br>
               Phone: (920) 674-6748<br>
               Crisis Line: (920) 674-6768
            </p>
         </div>
         <div class="col-xs-3">
            <a href="#">pada@idcnet.com</a>
            <a href="#">padajc.org</a>
            <a href="#">PADA on Facebook</a>
            <a class="btn btn-lg btn-primary" href="#" role="button">Jobs &amp; More</a>
         </div>
      </div>
   </div>
</template>