<template name="work">
   <div class="container-fluid">
      <div class="row">
         <div class="col-xs-9">
            <!-- Tab panes -->
            <div class="tab-content">
               <div class="tab-pane active" id="prevention-r">
                  <h1>Prevention</h1>
                  <p>As with any disease, conflict, or endeavor, it is not enough to meet the challenges head-on. We must be a step ahead of the issue; we must be upstrea, investigating the root causes of the issue.</p>
                  <p>A collaborative initiative between Health Care Education and Training, Inc. (HCET), the Weisconsin Coalition Against Sexual Assult (WCASA), and the WI Department of Health Services (DHS) consisting of three parts - a webinar series, in-person event and Request for Proposals.</p>
                  <p>Preventative Measures start with you, follow the links below to take the first steps in your prevention.</p>
                  <a class="btn btn-lg btn-primary" href="#" role="button">Prevention on Youtube</a>
               </div>
               <div class="tab-pane" id="advocacy-r">Advocacy</div>
               <div class="tab-pane" id="evaluation-r">Evaluation</div>
               <div class="tab-pane" id="policy-law-r">Policy &amp; Law</div>
               <div class="tab-pane" id="technical-assistance-r">Technical Assistance</div>
               <div class="tab-pane" id="webinars-r">Webinars</div>
               <div class="tab-pane" id="all-r">ALL*</div>
               <div class="tab-pane" id="resource-center-r">Resource Center</div>
            </div>
         </div>
         <div class="col-xs-3">
            <!-- required for floating -->
            <!-- Nav tabs -->
            <ul class="nav nav-tabs tabs-right">
               <li class="active"><a href="#prevention-r" data-toggle="tab">Prevention</a></li>
               <li><a href="#advocacy-r" data-toggle="tab">Advocacy</a></li>
               <li><a href="#evaluation-r" data-toggle="tab">Evaluation</a></li>
               <li><a href="#policy-law-r" data-toggle="tab">Policy &amp; Law</a></li>
               <li><a href="#technical-assistance-r" data-toggle="tab">Technical Assistance</a></li>
               <li><a href="#webinars-r" data-toggle="tab">Webinars</a></li>
               <li><a href="#all-r" data-toggle="tab">ALL*</a></li>
               <li><a href="#resource-center-r" data-toggle="tab">Resource Center</a></li>
            </ul>
         </div>
      </div>
   </div>
</template>