//Setup
section.work{
    width: 100%;
    padding-bottom: 65px;
    //background-color: darken(@white, 4%);
    background-color: lighten(@lightBlue, 59%);
    > main{
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        background-color: transparent;
        .accelerate;
        .flex;
        @media @1024{margin: 30px;}
        @media @mobile{margin: 0px;}
        .workTextContainer{
            width: 620px;
            max-height: 588px;
            overflow: hidden;
            .accelerate;
            //Truncation Gradient
            &:after{
                content: '';
                display: block;
                position: absolute;
                width: 100%;
                height: 50px;
                bottom: 79px;
                left: 0px;
                .truncatedTextGradient;
            }
        }
    }
    @media @mobile{opacity: 1 !important;}
    .workContent, .workNav, .workTertiary{
        display: block;
        vertical-align: top;
    }
}

//Content Styles
section.work{
    .workContent{
        // Only show active content articles
        article { display: none; }
        article.active { display: initial; }
        position: absolute; //forFadeOutAnimation
        display: none;
        background-color: @white;
        .shadow(closeLeft);
        .opacity(0);
        header{
            padding: 40px 40px;
            border-bottom: 3px solid #ebf2f2;
            @media @mobile{padding: 20px;}
            h2{
                border: none;
                color: @teal;
                .font(3.9,4.2,0.1,@light,none);
                @media @mobile{.font(2.4,2.4,0.1,@light,none);}
            }
            i{
                position: relative;
                top: 5px;
                margin-right: 16px;
                font-style: normal;
                color:@black;
                .font(5.4,5.4,0,@light,none);  
                @media @mobile{
                    .font(2.4,2.4,0,@light,none); 
                    top: 0px;
                }
            }
            .print{ //Rework Me
                position: absolute;
                right: 40px;
                font-size: 19px;
                opacity: 0.5;
                margin-top: 28px;
                display: none;
                @media @mobile{
                    display: none;
                }
            }
        }
        main{
            width: 850px;
            padding: 40px;
            .flex;
            @media @mobile{padding: 20px;}
            .workInner, .workTextContainer{display: block;}
            .workTextContainer{
                padding-right: 40px;
                @media @mobile{padding-right: 0px;}
            }
            .workTertiary{
                width: 160px;
                position: relative;
                padding: 40px;
                background-color: @altWhite2;
                ul li{
                    &.title{
                        display: inline-block;
                        padding: 0px 0px 5px 0px;
                        margin-bottom: 15px;
                        text-align: left;
                        border-bottom: 2px solid @lightBlue;
                        color: @darkBlue;
                        .font(2.0,2.2,0.025,@light,uppercase);
                    }
                    a{
                        padding: 2px 0px 2px 0px;
                        display: block;
                    }
                }
            }
        }
        footer{
            position: relative;
            text-align: center;
            background: @orange;
            &:hover{background-color: darken(@orange, 5%);}
            button{
                display: inline-block;
                height: 40px;
                padding: 10px 0px;
                text-align: center;
                color: @white;
                .font(1.6,1.3,0,@normal,none);
                span{
                    font-size: 12px;
                }
            }
        }
    }
}

//Work Navigation
section.work{
    .workNav {
        background-color: transparent;
        .opacity(1);
        @media @mobile{margin-top: -30px;}
        > ul{
            width: 100%;
            max-width: 900px;
            margin: 0 auto;
            text-align: center;
            > li{
                width: 21%;
                min-width: 156px;
                padding: 0px 2%;
                display: inline-block;
                vertical-align: top;
                margin: 0px 0px 40px -4px;
                .opacity(1);
                &.backToIndexWork{display: none;}
                @media @1024{width: 28%;}
                @media @mobile{
                    width: 45%;
                    opacity: 1 !important; //override animation styles
                    margin-bottom: 15px;
                }
                .icon {
                    display: block;
                    width: 100%;
                    height: 156px;
                    max-width: 156px;
                    margin: 0 auto;
                    text-align: center;
                    cursor: pointer;
                    font-style: normal;
                    color: @gray;
                    background-color: lighten(@navy, 5%);
                    will-change:transform;
                    .font(6.5,15.6,0,@light,none);
                    .scale(1,1);
                    .borderRadius(50%);
                    .transition(transform,100ms,@canvasEase,0ms);
                    a{color: @white;}
                    &:hover{
                        background-color: darken(@navy, 2%);
                        .scale(0.97,0.97);
                        @media @mobile{.scale(1,1);}
                    }
                    @media @mobile{
                        margin-bottom: -30px;
                        .scale(0.7,0.7);
                        &:hover{.scale(0.7,0.7);}
                    }
                }
                > a{
                    display: block;
                    padding:16px 0px 0px 0px;
                    margin: 0px 0px 8px 0px;
                    border-bottom: none;
                    white-space: nowrap;
                    color: @orange;
                    .scale(1,1);
                    .font(2.8,3.2,0,@light,none);
                    &:hover{color: darken(@orange, 10%);}
                    @media @mobile{.font(1.8,2.0,0,@bold,none);}
                }
                ul li{
                    display: inline;
                    @media @mobile{line-height: 15px;}
                    &:after{content:',';}
                    &:last-child:after{content: '';}
                    a{
                        color: @navy;
                        .font(1.2,1.9,0,@light,none);
                        &:hover{text-decoration: underline;}
                    }
                }
            }
        }
    }
}
 
//Icon Clicks
body section.work .workNav > ul > li{
    &.active{
        will-change:opacity;
        .opacity(1);
        .icon{
            background-color: @teal;
            transform-origin:50% 50%;
            will-change:background-color,opacity,transform;
            .scale(3,3);
            .opacity(0);
            .transition3(background-color,100ms,@canvasEase,0ms, opacity,175ms,@canvasEase,0ms,transform,300ms,@canvasEase,0ms);
        }
        > ul, a.toggle{
            .opacity(0);
            will-change:opacity;
            .transition(opacity,150ms,ease-out,0ms);
        }
    }
}

body.workActive section.work .workNav > ul > li{
    .scale(1,1);
    > ul, a.toggle{.opacity(1);}
}

//Work Back Out
body.workBack section.work .workNav > ul > li{
    transform-origin:50% 25%;
    will-change:opacity;
    .opacity(0);
    .transition2(opacity,300ms,ease-out,150ms, transform, 250ms,ease-out,150ms);
}



//Active Work Object
body.workActive section.work{
    > main{
        margin-bottom: 30px;
        background-color: @white;
        .shadow(closeLeft);
    }
    .workNav{
        background-color: lighten(@navy, 1.5%);
        //media query temp for mobile UX flow
        @media @mobile{display: none !important;}
        > ul{
            width: 300px;
            margin: 0px;
            @media @1024{width:220px;}
            > li{
                width: 100%;
                padding: 0px;
                margin: 0px;
                text-align: left;
                &:active{background-color: darken(@navy, 1.5%);}
                &.backToIndexWork{
                    display: block;
                    > a{
                        display: block;
                        padding-left: 20px;
                        background-color: @lightBlue;
                        &:hover{
                            background-color: @teal;
                            color: @white;
                        }
                        &:after{display: none;}
                    }
                }
                > a{
                    margin-bottom: 0px;
                    padding:16px 0px 16px 0px;
                    text-transform: uppercase;
                    &:after{
                        content:"\f0da";
                        .fa;
                        position: relative;
                        top: -2px;
                        margin-left: 5px;
                        font-size: 14px;
                    }
                }
                .icon, > a{
                    display: inline-block;
                    height: auto;
                    width: auto;
                    background-color: transparent;
                    color: @white;
                    .font(2.0,2.0,0,@light,none);
                    .opacity(1);
                    .scale(1,1);
                    .accelerate;
                    @media @1024{.font(1.6,16.0,0,@light,none);}
                }
                .icon{margin: 0px 20px 0px 5px;}
                > ul{
                    max-height: 0px;
                    padding: 0px;
                    overflow: hidden;
                    background-color: darken(@navy, 3%);
                    >li{
                        display: block;
                        &:after{display: none;}
                        > a{
                            padding: 6px 20px 6px 20px;
                            display: block;
                            .font(1.4,1.4,0.05,@light,none);
                            &:hover{
                                background-color: darken(@navy,7%);
                                text-decoration: none;
                            }
                            &:active{background-color: darken(@teal, 2.5%);}
                            &:first-child{padding-top: 12px;}
                            &:last-child{padding-bottom: 12px;}
                        }
                        &.active > a{
                            background-color: darken(@teal, 2.5%);
                            &:hover, &:active{background-color: darken(@teal, 2.5%);}
                        }
                    }
                }
                //Active List Item
                &.active{
                    background-color: darken(@teal, 5%);
                    > a{color: @white;}
                    > ul{
                        max-height: 9999px;
                        > li > a{color: @white;}
                    }
                }
            }
        }
    }
    //Needs to be moved
    .workContent{
        position: relative;
        .shadow(closeLeft);
        .translate(0px,0px);
        .opacity(1);
    }
    .workContent, li.backToIndexWork{display: block;}
    .workTertiary{
        display: block;
        @media @1024{display: none;}
    }
}

//Animations and Transitions
body section.work > main{
    max-width: 900px;
    .workContent{overflow: hidden;}
}

body.workActive section.work > main{
    overflow: hidden;
    transform-origin: 50% 25%;
    max-width: 1200px;
    animation: workmain 350ms 0ms 1 cubic-bezier(0.860, 0.000, 0.070, 1.000) alternate;
}

//Work Out
body.workFadeIn section.work > main{
        animation: workfadein 350ms 0ms 1 cubic-bezier(0.860, 0.000, 0.070, 1.000) alternate;
}

body.workBack section.work > main{
    .workNav > ul > li{opacity: 1;}
    animation: workfadeinend 350ms 0ms 1 cubic-bezier(0.860, 0.000, 0.070, 1.000) alternate;
    .opacity(1);
}

//Tuncation Open
.workReading section.work > main{
    .workTextContainer{
        width: 620px;
        max-height: 9999px;
        overflow: hidden;
        &:after{display: none;}
    }
    .workContent footer.truncate button{display: none;}
}




/////////// April 22nd Work ////////////////
section.work{
    header details{
        summary{
            .buttonColor(@blue);
            display: inline-block;
            color: @white;
            .down{display: none;position: static;}
        }
        >div{
            //.insetBoxShadow(0px,0px,10px,0px,0.1);
            .shadow(far);
            margin: 40px 0px;
            padding: 15px 40px 15px 40px;
            //width: 100%;
            background-color: darken(@white, 1%);
            text-align: left;
            .clearfix;
            .column{
                width: 30.5%;
                padding: 0px 2% 0px 2%;
                float: left;
                &:first-child{padding: 0px 2% 0px 0px;}
                &:last-child{padding: 0px 0px 0px 2%;}
            }
            p{
                .rw;
                .font(1.4,1.8,0,@normal,none);
                text-align: left;
            }
            h2{
                //color: @white;
                border-bottom: 2px solid darken(@white, 10%);
                padding: 0px 0px 10px 0px;
                color: @blue;
            }
        }
        &[open]{
            summary{
                .down{display: inline-block;}
                .up{display: none;}
                &:after{
                    .fa;
                    content:"\f0d7";
                    color:@blue;
                    position: absolute;
                    bottom: -29px;
                    left: 50%;
                    margin-left: -8px;
                    .font(2.4,2.4,0,@light,none);
                }
            }
        }
    }
}
