<template name="utilityNav">
    <aside class="utility-nav">
        <ul>
            <li class="menu-toggle">
                {{> menuToggle}}
            </li>
            <li class="brand-small">
                <a href="#masthead" title="Top">
                    Wisconsin Coalition Against Sexual Assault
                </a>
            </li>
            <li class="social">
                <a class="fa" href="https://www.facebook.com/wcasa" target="_blank">&#xf082;</a>
            </li>
            <li class="social">
                <a class="fa" href="https://www.youtube.com/user/WCASAVPCC" target="_blank">&#xf167;</a>
            </li>
            <li class="social alerts">
                <a class="fa" href="javascript:void(0)">&#xf099;</a>
                <section class="notification-menu twitter-notifications">
                    <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/wcasa_org" 
                        data-widget-id="641768226804793344" data-chrome="">Tweets by @wcasa_org</a>
                    <script>
                        !function(d,s,id){
                            var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
                            if(!d.getElementById(id)){
                                js=d.createElement(s);
                                js.id=id;
                                js.src=p+"://platform.twitter.com/widgets.js";
                                fjs.parentNode.insertBefore(js,fjs);
                            }
                        }(document,"script","twitter-wjs");
                    </script>
                </section>
            </li>
            <li class="get-help">
                <a href="#providers" title="Get Help"><span>&#xf06a;</span> Get Help</a>
            </li>
            <li class="donate">
                <a href="javascript:void(0)" title="Donate" class="toggle">
                    <span>&#xf004;</span> Donate</a>
                {{> donate}}
            </li>
            {{#if currentUser}}
            <li class="notifications fa alerts" data-count="{{count}}">
                <a href="javascript:void(0)" title="notifications">&#xf0f3;</a>
                <ul class="notification-menu">
                    {{#each notifications}}
                        <li>
                            {{> Template.dynamic template=template }}
                        </li>
                    {{/each}}
                </ul>
            </li>
            {{/if}}
            <li class="login">
                {{> loginButtons}}
            </li>
        </ul>
    </aside>
</template>

<template name="notificationEmpty">
    No notifications at this time.
</template>

<template name="notificationGeneric">
    {{text}}
</template>

<template name="notificationApproval">
    {{text}}<br />
    <a href="javascript:void(0)">Approve</a>
    <a href="javascript:void(0)">Deny</a>
</template>

<template name="notificationRenewal">
    {{text}}<br />
    <a href="javascript:void(0)">Renew Now</a>
</template>