@import (reference) "/views/styles/index.less";
@import (reference) "/views/styles/animate.import.less";

//Setup
@backgroundWork: saturate(@blue, 10%);
section.work{
    .inner-container-wide{max-width: 900px;}
    background-color: lighten(@gray, 5.5%);
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+38,f2f2f2+100 */
    //background: rgb(255,255,255); /* Old browsers */
    //background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 38%, rgba(242,242,242,1) 100%); /* FF3.6-15 */
    //background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 38%,rgba(242,242,242,1) 100%); /* Chrome10-25,Safari5.1-6 */
    //background: radial-gradient(ellipse at center,  rgba(255,255,255,1) 38%,rgba(242,242,242,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    //background-size: 110%;
    overflow: visible !important;
    @media @mobile{
        .shadowNone !important;
        padding-bottom:0px !important;
        header h1{margin-top: 20px !important;}
    }
    div.markdown{
        padding-right: 80px;
        @media @mobile{padding: 0px;}
    }
    .workNav{position: relative;}
    h2.sidebarTitle{display: none;}
    h3{ margin-top: 25px;}
    > .main{
        background-color:transparent;
        //.accelerate;
        //.flex;
        .workTextContainer{
            width: 620px;
            min-height: 744px;
            max-height: 646px;
            overflow: hidden;
            //.accelerate;
            //Truncation Gradient
            &:after{
                content: '';
                display: block;
                position: absolute;
                width: 100%;
                height: 150px;
                bottom: 0px;
                left: 0px;
                .truncatedTextGradient;
                pointer-events: none;
            }
        }
    }
    // Admin styles
    .main > textarea, > button { display: none; }
    .main.edit textarea, .main.edit button { display: initial; }
    .edit .workTextContainer { display: none !important; }
    textarea:focus {
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .main article header h2[contenteditable="true"] {
        border: 1px solid @blue !important;
        box-shadow: 0 0 5px @blue inset;
        padding: 5px !important;
    }
    //.main .workNav > ul li.new-section a { color: @orange; }
    //.main .workNav > ul li.new-section a:hover { color: @orange; }
    //.main .workNav > ul > li.new-section h2 a { background: @orange; }
    .workNav .new-section{white-space: nowrap; a{color: @teal !important;}}
    .workActive & .workNav .new-section{a{color: lighten(@teal,50%) !important;}}
    @media @mobile{opacity: 1 !important;}
    .workContent, .workNav, .workTertiary{
        display: block;
    }
}

section.work.workReading > .main .workTextContainer:after{display: none;}


//About SA
@media @mobile{section.work .sa.container{margin-bottom:0px; margin-top:40px;}}
section.work .sa details{
    text-align: center;
    margin: -80px 0px 40px 0px;
    @media @mobile{ margin: -30px 0px -10px 0px; }
    position: relative;   // for admin control positioning

    h2{
        margin-bottom: 13px;
        font-size: 20px;
        line-height: 24px;
    }
    summary{
        .buttonColor(@orange);
        display: inline-block;
        color: @white;
        .down{display: none;position: static;}
    }

    // Admin controls
    > button {
        position: absolute;
        right: 0;
        display: block;
        background: @orange;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        box-shadow: none;
        font-size: 16px;
        height: 24px;
        width: 24px;
        padding: 0;
        margin: 5px;
        z-index: 1;
    }

    &.edit > section > section, &.edit button.edit { display: none; }

    > section {
        //.insetBoxShadow(0px,0px,10px,0px,0.1);
        //.shadow(far);
        //box-shadow: 0 10px 20px rgba(0,0,0,0.15), 3px 3px 5px 1px rgba(0,0,0,0.1);
        //-webkit-box-shadow:0 10px 20px rgba(0,0,0,0.15), 3px 3px 5px 1px rgba(0,0,0,0.1);
        margin: 40px 0px 0px 0px;
        padding: 15px 40px 15px 40px;
        min-height: 10px; // for when section is empty
        background-color: darken(@white, 1%);
        text-align: left;
        .clearfix;
        .column{
            width: 30.5%;
            padding: 0px 2% 0px 2%;
            float: left;
            &:first-child{padding: 0px 2% 0px 0px;}
            &:last-child{padding: 0px 0px 0px 2%;}
        }
        p{
            .rw;
            .font(1.4,1.8,0,@normal,none);
            text-align: left;
            width: auto;
        }
        h2{
            //color: @white;
            //border-bottom: 2px solid darken(@white, 10%);
            padding: 0px 0px 0px 0px;
            //color: @orange;
        }

        // Admin controls
        textarea {
            width: 98%;
            height: 300px;
            margin: 5px;
            margin-bottom: 0;
        }
        button {
            background: @orange;
            display: inline-block;
            margin: 5px;
        }

        @media (max-width:945px){
            padding:20px;
            .column, .column:first-child, .column:last-child{
                width: 100%;
                padding: 10px 0px;
            }
        }
        @media @mobile{
            padding: 15px;
            .shadowNone;
            background: #f9f9f9;
            margin-left: -15px;
            margin-right: -15px;
            border-top: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
            h2{
                font-size: 115%;
                line-height: 115%;
            }
            p{
                .font(1.2,1.8,0,@normal,none);
            }
        }
    }
    &[open]{
        > div {animation: detailsopen 500ms 0ms 1 @easeDefault alternate;}
        summary{
            .down{display: inline-block;}
            .up{display: none;}
            &:after{
                .fa;
                content:"\f0d7";
                color:@orange;
                position: absolute;
                bottom: -29px;
                left: 50%;
                margin-left: -8px;
                .font(2.4,2.4,0,@light,none);
            }
        }
    }
}
//Nav Landing
section.work .workNav{width: 100%;}
section.work .main > .shadow-box{
    &:before, &:after{ display: none; } //Correct Shadow Nav
    box-shadow: none; -webkit-box-shadow:none;
}
section.work .workNav{
    .backToTopWork{
        display: none;
        button{
            .rw;
            display: none;
            padding: 6px 0px 15px 0px;
            margin: 0px;
            text-indent: 0px;
            opacity: 0.9;
            text-transform: uppercase;
            font-weight: @normal;
            font-size: 14px;
            font-size: 1.4rem;
            line-height: 14px;
            line-height: 1.4rem;
            letter-spacing: 0.25px;
            letter-spacing: 0.025rem;
            font-weight: 600;
            text-transform: uppercase;
            background: @teal;
            padding: 10px 20px;
            margin-bottom: 10px;
            &:focus{box-shadow: none;}
            &:hover{opacity: 1;}
        }
        &:hover{
            box-shadow: none;
            -webkit-box-shadow:none;
        }
    }
}
section.work .workNav{
    &.grid-3 > ul > li{ width: 33%; }
    &.grid-4 > ul > li{ width: 25.08%;}
    & > ul > li{
        @media (max-width:865px){ width:42%; }
        @media @mobile{ width:100%; }
    }
}
section.work .workNav > ul{
    margin: 0px;
    .clearfix;
    width: 100%;
    text-align: center;
    @media @mobile{ padding-bottom: 0px;}
    > li {
        list-style: none;
        vertical-align: top;
        text-align: left;
        margin: 0px;
        &:hover{
            box-shadow: 0 7px 9px rgba(0, 0, 0, 0.1), 2px 2px 2px -2px rgba(0, 0, 0, 0.2);
            -webkit-box-shadow:0 7px 9px rgba(0, 0, 0, 0.1), 2px 2px 2px -2px rgba(0, 0, 0, 0.2);
        }
        margin: 0px;
        margin-left: -4px;
        display: inline-block;
        .borderRadius(2px);
        overflow: hidden;
        @media @mobile{
            margin: 0px;
            .borderRadius(0px);
            .shadowNone;
        }
        &:first-child{display: none;}
        i{display: none;}
        &:hover{
            //background-color: @white;
            //box-shadow: 0 10px 20px rgba(0,0,0,0.05), 0 6px 6px rgba(0,0,0,0.15);
            > ul{background-color: rgba(255,255,255,1);}
        }
        > ul{
            margin: 0px;
            padding: 10px 15px;
            .font(1.4,2.0,0.025,@light,none);
            background-color: lighten(#dce8e8,15%);
            //border: 1px solid rgba(210,210,210,1);
            min-height: 124px;
            @media (max-width:950px){min-height: 220px;}
            @media @mobile{
                display: none;
                min-height: 0px;
                padding: 15px;
            }
            will-change:background;
            .trans(background-color @durationDefault @easeDefault 0ms);
            > li{
                display: inline;
                position: relative;
                margin: 0px;
                &:after{
                    content: ',';
                    font-weight: @bold;
                }
                &:last-child:after{display: none;}
                a{
                    //.textButtonColor(darken(@blue, 10%));
                    position: relative;
                    //text-decoration: underline;
                    font-size: 12px;
                    line-height: 12px;
                    &:hover{
                        color: saturate(@blue, 80%);
                        color: @teal;
                    }
                }
                @media @mobile{
                    display: block;
                    &:after{display: none;}
                }
            }
        }
    }
    h2{
        display: block;
        text-align: left;
        margin: 0px;
        .font(2.4,2.4,0.025,@light,uppercase);
        a{
            display: block;
            color: @white;
            font-weight: @light;
            .buttonColor(#4b96b6);
            text-indent: 4px;
            //white-space: nowrap;
            font-weight: 500;
            font-size: 17px;
            padding: 15px;
            //border-radius: 10px 10px 0px 0px;
            //-webkit-border-radius:10px 10px 0px 0px;
            @media @mobile{
                padding:20px 15px;
                font-weight: 600;
            }
        }
        @media @mobile{
             .font(1.6,1.6,0.025,600,uppercase);
        }
        span.fa{
            font-size: 19px;
            position: relative;
            top: -1px;
            left: 2px;
            @media (min-width:768px){ display: none; }
        }
        span.fa.down{display: none;}
        i{font-style: normal;text-transform: none;}
    }
    //Gradient Titles
    li h2 a{color: @white;}
    //li:first-child h2 a{.buttonColor(lighten(@backgroundWork, 21%));}
    li:nth-child(2) h2 a{.buttonColor(lighten(@backgroundWork, 19%));}
    li:nth-child(3) h2 a{.buttonColor(lighten(@backgroundWork, 17%));}
    li:nth-child(4) h2 a{.buttonColor(lighten(@backgroundWork, 15%));}
    li:nth-child(5) h2 a{.buttonColor(lighten(@backgroundWork, 13%));}
    li:nth-child(6) h2 a{.buttonColor(lighten(@backgroundWork, 11%));}
    li:nth-child(7) h2 a{.buttonColor(lighten(@backgroundWork, 9%));}
    li:nth-child(8) h2 a{.buttonColor(lighten(@backgroundWork, 7%));}
    li:nth-child(9) h2 a{.buttonColor(lighten(@backgroundWork, 5%));}
    li:nth-child(10) h2 a{.buttonColor(lighten(@backgroundWork, 3%));}
    //Interior Links
    li:nth-child(10) a{.textButtonColor(darken(@backgroundWork, 21%));}
    li:nth-child(9) a{.textButtonColor(darken(@backgroundWork, 19%));}
    li:nth-child(8) a{.textButtonColor(darken(@backgroundWork, 17%));}
    li:nth-child(7) a{.textButtonColor(darken(@backgroundWork, 15%));}
    li:nth-child(6) a{.textButtonColor(darken(@backgroundWork, 13%));}
    li:nth-child(5) a{.textButtonColor(darken(@backgroundWork, 11%));}
    li:nth-child(4) a{.textButtonColor(darken(@backgroundWork, 9%));}
    li:nth-child(3) a{.textButtonColor(darken(@backgroundWork, 7%));}
    li:nth-child(2) a{.textButtonColor(darken(@backgroundWork, 5%));}
    //li:first-child a{.textButtonColor(darken(@backgroundWork, 3%));}

    li:first-child h2 a{.textButtonColor(desaturate(@backgroundWork,30%));}
    li a:hover{text-decoration: underline;}
    //li h2 a{background-color: rgba(6,33,49,0.2) !important;color: @white !important;}
    li h2 a{color: @white !important;text-decoration: none !important;}
    li h2{padding-bottom: 0px !important;}

}

//Nav Open
.workActive section.work .workNav{
    width: 236px;
    min-height: 601px;
    float: left;
    padding: 36px 30px 30px 30px;
    @media (max-width:945px){
        padding:20px;
        width:200px;
    }
    .backToTopWork{display: block; @media @mobile{display: none;}}
    h2.sidebarTitle{
        display: block;
        font-size: 18px;
        font-size: 1.8rem;
        line-height: 22px;
        line-height: 2.2rem;
        letter-spacing: 0.25px;
        letter-spacing: 0.025rem;
        font-weight: 600;
        text-transform: uppercase;
        color: #ffffff;
        margin: 2px 0px 16px 0px;
        padding: 0px 0px 0px 0px;
        zoom: 1;
        .opacity(0.7);
        text-align: left;
        display: block;
    }
    //media query temp for mobile UX flow
    //@media @mobile{display: none !important;}
    > ul{
        width: auto;
        margin: 0px;
        text-align: left;
        li:focus{ .shadowNone; }
        li h2 > a, a.backToIndexWorkA {
            background-color: transparent !important;
            padding: 6px 0px 15px 0px;
            margin: 0px;
            text-indent: 0px;
            .opacity(0.6);
            &:focus{ .shadowNone; }
        }
        a.backToIndexWorkA{
            .opacity(0.8);
        }
        @media @1024{width:220px;}
        @media (max-width:945px){
            width:200px;
            padding-bottom:0px;
        }
        > li.active h2 span.fa.down{display: inline;}
        > li.active h2 span.fa.up{display: none;}
        > li{
            width: auto;
            padding: 0px;
            margin: 0px;
            text-align: left;
            min-height: 0px;
            .shadowNone;
           // &:active{background-color: darken(@navy, 1.5%);}
            &.backToIndexWork{
                .fa{
                    display: inline-block !important;
                    font-size: 14px;
                    margin-right: 5px;
                }
                a:hover {
                    .trans(opacity @durationDefault @easeDefault 100ms);
                    .opacity(1);
                }
            }
            list-style: none;
            display: block;
            .font(1.4,1.7,0.025,@normal,uppercase);
            margin: 0px;
            .textButtonColor(@white);
            cursor: pointer;
            .opacity(1);
            border-bottom: 2px solid transparent;
            //padding:20px 20px;
            .trans(opacity @durationDefault @easeDefault 0ms);
            &.active{
                .opacity(1);
                //border-bottom: 2px solid @gray;
                //border-bottom: 2px solid rgba(255,255,255,0.15);
            }
            //*.fa{display: none;}
            &:last-child{
                margin:0px;
            }
            //display: block;
            position: relative;
            //margin: 0px 12px 0px 12px;
            &:after {
                pointer-events: none;
                .trans(all 250ms ease);

            }
            h2 {
                text-align: left;
                position: relative;
                display: block;
                a{.font(1.4,1.4,0.025,@normal,uppercase);}
                .fa{display: none !important;}
                &:after {
                    content: '';
                    position: absolute;
                    top: 100%;
                    left: 0px;
                    width: 100%;
                    height: 2px;
                    background-color: @white;
                    top: 83%;
                    //width: ~'calc(100% - 20px)';
                    width: 100%;
                    .opacity(0);
                    .trans(all 250ms ease);
                    .transform(translate(0px,10px));
                    transition: opacity @durationDefault @easeDefault 0ms, transform 350ms @easeDefault 0ms;
                }
                &:hover {
                    a{
                        .trans(opacity @durationDefault @easeDefault 100ms);
                        .opacity(1);
                    }
                    &:after {
                        transition: opacity @durationDefault @easeDefault 100ms, transform 350ms @easeDefault 100ms;
                        .opacity(1);
                        .transform(translate(0px,0px));
                    }
                }
            }
            ul{
                .opacity(0);
                //transition: max-height 300ms @easeDefault 100ms, opacity 200ms linear 0ms !important;
            }
            &.active{
                h2:after{
                    .opacity(1);
                    .transform(translate(0px,0px));
                    //background-color: @teal;
                }
                ul{
                    //animation: workaccordion 1000ms 0ms 1 @easeDefault alternate;
                    .opacity(1);
                }
            }
            > a{
                margin-bottom: 0px;
                padding:16px 0px 16px 0px;
                text-decoration: none;
                font-weight: @normal;
                &:after{
                    content:"\f0da";
                    .fa;
                    position: relative;
                    top: -2px;
                    margin-left: 5px;
                    font-size: 14px;
                    display: none;
                }
            }
            .icon, > a{
                display: inline-block;
                height: auto;
                width: auto;
                background-color: transparent;
                color: @white;
                //.font(2.0,2.0,0,@light,none);
                .opacity(1);
                .transform(scale(1,1));
                //.accelerate;
                //@media @1024{.font(1.6,16.0,0,@light,none);}
            }
            .icon{margin: 0px 20px 0px 5px;}
            .icon{display: none;}
            &.active > ul{
                max-height: 9999px;
            }
            > ul{
                max-height: 0px;
                padding: 0px;
                overflow: hidden;
                //background-color: darken(@navy, 3%);
                min-height: 0px;
                background-color: transparent;
                text-align: left;
                .trans(all 500ms @easeDefault 0ms);
                padding-left: 15px;
                //padding-top: 10px;
                @media (min-width:768px){ &>li:nth-child(2){padding-top: 5px;} }
                >li{
                    display: block;
                    //background-color: transparent !important;
                    &:after{display: none;}
                    .shadowNone;
                    margin: 0px;
                    padding: 0px;
                    > a{
                        padding: 0px;
                        //background-color: transparent !important;
                        display: block;
                        text-decoration: none;
                        text-indent: 0px;
                        .font(1.4,1.8,0.05,@normal,none);
                        padding: 5px 0px 5px 0px;
                        color: @white;
                        .opacity(1);
                        &:hover{background-color: transparent !important;}
                        &:hover{
                            .opacity(1);
                            //background-color: darken(@navy,7%);
                            //text-decoration: none;
                        }
                        //&:active{background-color: darken(@teal, 2.5%);}
                        //&:first-child{padding-top: 14px;}
                        //&:last-child{padding-bottom: 14px;}
                    }
                    &.active > a{
                        //background-color: darken(@navy, 2%);
                        //&:hover, &:active{background-color: darken(@teal, 2.5%);}
                    }
                    &:last-child{padding-bottom: 15px;}
                }
            }
            //Active List Item
            &.active{
                h2 > a{
                    //background-color: lighten(@navy, 10%);
                    color: @white;
                    .opacity(1);
                }
                > ul{
                    //background-color: @navy;
                    height: auto;
                    .trans(all @durationDefault @easeDefault 0ms);
                    > li > a{
                        color: @white;
                        .trans(color 200ms @easeDefault 0ms);
                        &:hover{color: lighten(@yellow, 22%);}
                    }
                    > li.active a{
                        color: @yellow;
                    }
                }
            }
        }
    }
}





//Content Styles
section.work .main.container{
    padding: 0px 0px !important;
    margin-top: 8px;
    @media (max-width:1180px){
        //margin-bottom: 40px !important;
    }
    @media (max-width:945px){
        margin:0px !important;
        //.shadowNone !important;
    }
    .workContent{
        // Only show active content articles
        article { display: none; .clearfix; }
        article.active { display: block; }
        position: absolute; //forFadeOutAnimation
        display: none;
        background-color: @white;
        padding: 40px 40px 0px 40px;
        .boxShadow(-11px,0px,5px,-6px,0.3);
        .opacity(0);
        @media (max-width:1100px){
            .shadowNone !important;
        }
        header{
            //border-bottom: 3px solid #ebf2f2;
            background: transparent;
            //color: @white;
            //padding: 12px 21px 0px 21px;
            border-bottom: 2px solid #dce8e8;
            @media @mobile{padding: 20px;}
            h2{
                margin: 0px;
                border: none;
                //color: @teal;
                color: @navy;
                display: inline-block;
                padding-bottom: 12px;
                .font(2.8,3.2,0.025,@light,none);
                @media @mobile{.font(2.4,2.4,0.1,@light,none);}
                color: #062031;
                padding: 0px 10px 10px 0px;
                margin-bottom: 10px;
            }
            /*i{
                position: relative;
                top: 5px;
                margin-right: 16px;
                font-style: normal;
                color:@black;
                .font(5.4,5.4,0,@light,none);
                @media @mobile{
                    .font(2.4,2.4,0,@light,none);
                    top: 0px;
                }
            }*/
            i{display: none;}
            .print{ //Rework Me
                position: absolute;
                right: 40px;
                font-size: 19px;
                opacity: 0.5;
                margin-top: 28px;
                display: none;
                @media @mobile{
                    display: none;
                }
            }
            button{
                font-size: 16px;
                //color: @orange;
                cursor: pointer;
                border-radius: 50%;
                -webkit-border-radius:50%;
                background: @orange;
                color: #fff;
                height: 24px;
                width: 24px;
                text-align: center;
                line-height: 25px;
                padding: 0px;
                margin-right: 5px;
                &:hover{
                    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.15);
                    -webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.15);
                }
            }
        }
        .main{
            //width: 890px;
            //padding: 20px;
            .markdown > ul, .markdown > ul ul{
                li{
                    margin: 10px 0px;
                    display: block;
                    //font-weight: 600;
                    //letter-spacing: 0.5px;
                    //font-size: 14px;
                    //padding-left: 20px;
                    &:before{
                        content:'';
                        height: 6px;
                        width: 6px;
                        background-color: darken(@teal, 5%);
                        display: block;
                        margin-top: 8px;
                        margin-left: -20px;
                        position: absolute;
                        border-radius: 50%;
                    }
                }
            }
            //.flex;
            @media @mobile{padding: 20px;}
            .workInner, .workTextContainer{display: block;}
            .workTextContainer{
                //padding-right: 40px;
                @media @mobile{padding-right: 0px;}
                *:first-child{margin-top: 0px;}
                p, li, &{
                    //font-size: 13px;
                    //line-height: 23px;
                    //font-weight: 500;
                }
                ul, ol{
                    margin-bottom: 25px;
                    margin-left: 30px;
                }
                h1, h2, h3, h4{
                    margin: 40px 0px 10px 0px;
                }
                h2, h3{border-bottom: 2px solid @gray; padding-bottom: 10px;}
            }
            .workTertiary{
                //display: none !important;
                //width: 200px;
                //position:absolute;
                position: static;
                //padding: 20px;
                //background-color: @altWhite2;
                //box-shadow:0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
                //-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
                border-bottom: 2px solid #dce8e8;
                margin: 0px 0px 25px 0px;
                padding: 0px 0px 9px 0px;
                //box-shadow: 0px 14px 9px -10px rgba(0,0,0,0.2);
                //-webkit-box-shadow:0px 14px 9px -10px rgba(0,0,0,0.2);
                .title{
                    display: inline-block;
                    padding: 0px 0px 5px 0px;
                    margin-bottom: 15px;
                    text-align: left;
                    border-bottom: 2px solid @lightBlue;
                    color: @darkBlue;
                    .font(2.0,2.0,0.025,@light,uppercase);
                }
                ul{
                    margin: 0px;
                    .columns(70px,3,20px);
                    li{
                        margin: 0px;
                        padding: 0px;
                        .font(1.2,1.4,0,@normal,none);
                        .avoidColumnSplit;
                        a{.textButtonColor(lighten(@navy, 12%));}
                        &:nth-child(even) a{.textButtonColor(lighten(@navy, 16%));}
                    }
                }
                ul li{
                    list-style: none;
                    &:before{display: none;}
                    a:before{
                        .fa;
                        content:"\f054";
                        margin: 0px;
                        padding: 0px;
                        position: absolute;
                        .borderRadius(0px);
                        background-color: transparent;
                        display: inline;
                        margin-left: -12px;
                        font-size: 8px;
                        font-weight: 100;
                        opacity: 0.3;
                    }
                    a{
                        padding: 5px 0px 6px 15px;
                        display: inline-block;
                        position: relative;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
        footer{
            position: absolute;
            text-align: center;
            background: @orange;
            width: 100%;
            margin-left: -30px;
            bottom:0px;
            .opacity(1);
            visibility: visible;
            .transform(translate(0px,0px));
            transition: visibility 0ms linear 300ms, opacity 300ms ease 0ms;
            //.shadow(closeUp);
            width: 140px;
            left: 50%;
            margin-left: -65px;
            bottom: 20px;
            &:hover{background-color: darken(@orange, 5%);}
            button{
                .rw;
                display: block;
                width: 100%;
                height: 40px;
                padding: 10px 0px;
                text-align: center;
                color: @white;
                .font(1.6,1.6,0,@normal,uppercase);
                .shadowNone;
                span{
                    font-size: 12px;
                }
            }
            @media @mobile{
                margin-left: -65px !important;
            }
        }
    }
}

// Active Work Object
body.workActive section.work .main.container{
        //margin-top: 42px;
        //background-color: desaturate(@backgroundWork,35%);
        //.shadow(closeLeft);
        //max-width: 1056px;
        //box-shadow:0 19px 38px rgba(0,0,0,0.20), 0 15px 12px rgba(0,0,0,0.05);
        //-webkit-box-shadow:0 19px 38px rgba(0,0,0,0.20), 0 15px 12px rgba(0,0,0,0.05);

    //Needs to be moved
    .workContent{
        position: relative;
        box-shadow: -11px 0px 5px -6px rgba(0, 0, 0, 0.2);
        -webkit-box-shadow:-11px 0px 5px -6px rgba(0, 0, 0, 0.2);
        min-height: 700px;
        .transform(translate(0px,0px));
        .opacity(1);
        display: block;
    }
    .workContent, li.backToIndexWork{display: block;}
    .workTertiary{
        display: block;
        @media @mobile{display: none;}
    }
    .workTextContainer{
        //table{.tableColor(@gray, @blueGray, @white);}
        //padding-right: 20px;
        //width: 661px;
        width: auto;
        table tbody td:first-child{ white-space: nowrap; }
    }
}

// Truncation Closed
section.work > .main .workContent footer.truncate button.less { display: none; }

// Truncation Opened
section.work.workReading > .main {
    .workTextContainer {
        margin-bottom: 50px;
        max-height: 9999px;
        overflow: hidden;
    }
    .workContent footer.truncate button.more { display: none; }
    .workContent footer.truncate button.less { display: inline-block; }
}

section.work > .main{overflow: visible;}
section.work > .main .workTextContainer{
    //will-change:min-height;
    //.trans(max-height 500ms ease 0ms);
}
.workReadingAnimate{
    .workContent footer.truncate{.opacity(0);visibility: hidden;pointer-events: none;}
    section.work > .main .workTextContainer{height: auto;}
}


//Animations and Transitions
body section.work > .main{
    //max-width: 1016px;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#296078+0,8299a3+100 */

//padding: 10px;
.borderRadius(2px);
//background-color: #f2f2f2;
    .workContent{overflow: hidden;}
}

body.workActive section.work > .main{
    .trans(opacity @durationDefault @easeDefault 0ms);
    //.accelerate;
    //will-change:opacity,transform;
    overflow: hidden;
    transform-origin: 50% 25%;
    //max-width: 1016px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    -webkit-box-shadow:0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    @media (max-width:945px){
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.08), 0 6px 6px rgba(0, 0, 0, 0.11);
        -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.08), 0 6px 6px rgba(0, 0, 0, 0.11);
    }
    animation: workmain 350ms 0ms 1 cubic-bezier(0.860, 0.000, 0.070, 1.000) alternate;
}

body section.work > .main{
    transition: background-color 100ms ease 0ms, opacity @durationDefault @easeDefault 0ms;
}

//Work Out
body.workFadeIn section.work > .main{
        //will-change:opacity,transform;
        animation: workfadein 350ms 0ms 1 cubic-bezier(0.860, 0.000, 0.070, 1.000) alternate;
}

body.workBack section.work > .main{
    .workNav > ul > li{opacity: 1;}
    animation: workfadeinend 300ms 0ms 1 @easeDefault alternate !important;
    .opacity(1);
}




body.workFadeIn section.work .workNav > ul > li{
    //display: none;
    &.active{
        .opacity(1);
        transform-origin:50% 50%;
        will-change:opacity,transform;
        .scale(3,3);
        .opacity(0);
        transition: opacity 175ms @easeDefault 0ms, transform 300ms @easeDefault 0ms;
        > ul, a.toggle{
            //.opacity(0);
            //will-change:opacity;
            .trans(opacity 150ms ease-out 0ms);
        }
    }
}

body.workFadeOut section.work > .main{
    .opacity(0);
    .trans(opacity 175ms @easeDefault 0ms);
}

body section.work > .main{
    .opacity(1);
    .trans(opacity 505ms @easeDefault 0ms);
}

/*body.workActive section.work .workNav > ul > li{
    .scale(1,1);
    > ul, a.toggle{.opacity(1);}
}*/

//Work Back Out
body.workBack section.work .workNav > ul > li{
    transform-origin:50% 25%;
    will-change:opacity;
    .opacity(0);
    transition: opacity 300ms ease-out 150ms, transform 250ms ease-out 150ms;
}


body.openNavItem.workActive section.work .workNav > ul > li.active > ul{
   .noAnimation;
    .opacity(1);
}

section.work .workContent article{
    .opacity(0) !important;
    .trans(opacity 300ms ease 0ms) !important;
    animation: workcontentout 1500ms 0ms 1 @easeDefault alternate !important;
}

section.work .workContent article.active{
    .opacity(1) !important;
    animation: workcontentin 400ms 0ms 1 ease alternate !important;
}

.workActive section.work > .main{
    background-color: @blue;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4097bc+0,30728f+100 */
    background: rgb(64,151,188); /* Old browsers */
    background: -moz-linear-gradient(-45deg,  rgba(64,151,188,1) 0%, rgba(48,114,143,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  rgba(64,151,188,1) 0%,rgba(48,114,143,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  rgba(64,151,188,1) 0%,rgba(48,114,143,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4097bc', endColorstr='#30728f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}






//Mobile Context
@media @mobile{
    section.work{}
    .workActive section.work{
        //Navigation
        .workNav{
            .transform(translate(0%,0px));
            .trans(all 350ms ease-out 0ms);
            width:100%;
            padding:0px;
            min-height: 0px;
            height:auto;
            overflow: auto;
            visibility: visible;
            opacity: 1;
            > .sidebarTitle{display: none !important;}
            > ul{
                padding: 15px;
                width: auto;
                &, >li, >li>ul{
                animation-duration: 0ms !important;
                transition-duration: 0ms !important;
                transition-delay:0ms !important;
                animation-delay:0ms !important;
                .trans(none) !important;
                >li a{
                    padding: 10px 0px;
                }
                }
                >li >ul{display: block;}

                >li.backToIndexWork a{
                    padding: 20px 10px;
                    background: rgba(0,0,0,0.1) !important;
                    opacity: 1;
                    margin-bottom: 20px;
                    @media @mobile{display: block;}
                }
            }
        }
        //Content
        .workContent{
            display: none !important;
            header{
                padding: 0px !important;
            }
            footer{ margin-left: -15px !important;}
            padding:15px !important;
            .transform(translate(0px,100%)) !important;
            opacity: 0 !important;
            .trans(all 350ms ease 0ms) !important;
            > article > h2{
                display: block;
            }
            .main{padding:0px !important;}
            .backToPrevious{
                padding: 20px 10px;
                background: @teal;
                color:@white;
                opacity: 1;
                margin-bottom: 20px;
                font-size: 14px;
                font-size: 1.4rem;
                line-height: 14px;
                line-height: 1.4rem;
                letter-spacing: 0.25px;
                letter-spacing: 0.025rem;
                font-weight: 600;
                text-transform: uppercase;
                display: block;

            }
        }
    }
    .workActive.mobile-article-open section.work{
        .workNav{
            height:0px;
            overflow: hidden;
            visibility: hidden;
            opacity: 0;
        }
        .workContent{
            display: block !important;
            .transform(translate(0px,0%)) !important;
            opacity: 1 !important;
        }
    }
}

main section.work h2.sidebarTitle{
    text-align: center;
    font-weight: 300;
    border-bottom: 2px solid #eee;
    margin: 20px 40px;
    padding-bottom: 10px;
    @media @mobile{
        border: none;
    }
}

@media @mobile{
    main section.work .workContent{
        height: 0px !important;
        overflow: hidden !important;
    }
    main section.work h2.sidebarTitle{ display: block; }
}

section.work .workNav > ul > li > ul > li.mobile{
    display: none !important;
    @media @mobile{
        display: block !important;
    }
}

// Admin styles
h2.workContentAdmin {
    &:hover {
        border: 2px dashed;
    }
    cursor: pointer;
    min-height: 31px; // in case there's no text
}
section.workContent article button {
    color: #fff;
    .buttonColor(@teal);
    margin-right: 5px;
}
section.workContent textarea {
    width: 100%;
    height: 450px;
}



//
//
// EOGHAN:  You may want to move this somewhere
//
//
section.workContent header button {
    color: #0d4668;
    box-shadow: none;
    font-size: 20px;
    padding: 5px;
    cursor: pointer;
}


//Shadow Effect
section.work{
    overflow: hidden;
    .workNav li{ border-radius: 0px !important; -webkit-border-radius:0px !important;}
    /*.workNav > ul{
        overflow: visible;
        z-index: 1;
        position: relative;
        &:before {
            content: '';
            background: #ccc;
            position: absolute;
            width: 100%;
            height: 200%;
            transform: rotate(60deg);
            z-index: -1;
            left: 46%;
            top: 81%;
        }
        &:after {
            content: '';
            visibility: visible;
            background: #ccc;
            position: absolute;
            width: 100%;
            height: 200%;
            transform: rotate(60deg);
            z-index: -1;
            left: 3.5%;
            top: 81%;
        }*/
        /*&:after {
            content: '';
            background: #ccc;
            position: absolute;
            width: 200%;
            height: 100%;
            transform: rotate(60deg);
            z-index: -1;
            left: -22%;
            top: 160%;
        }*/
        /*&:before, &:after{ background: desaturate(lighten(#0d4668,69%),35%); }
        &:nth-child(n + 6){
           // &:after, &:before{ background: #999;}
        }
        //.workNav > ul li h2 a{background: lighten(#0d4668,100%) !important;}
    }*/
}



.workActive section.work{
    .sticky, .main, .shadow-box{position: static;}
    .workNav > ul{
        &:before, &:after{ display: none; }
    }
    .shadow-box{
        &:after,&:before{display: none;}
    }
}

#main > section.work{
    .main { position: relative; } // Helps position sticky work nav
    border-top: 2px solid #fff;
    details section{padding: 30px; margin-bottom: 20px; background: #fff;}
    @media @mobile{ details section{ padding: 20px;}}
    details .shadow-box:before, details .shadow-box:after{z-index: -1;}
    >div > header details section p{
        max-width: 9999px !important; //header override
        .rw;
        .font(1.3,2.3,0,@light,@normal);
        text-transform: none !important;
        text-align: left;
        margin-bottom: 20px;
        @media @mobile{margin-left:0px; margin-right: 0px;}
    }
    @media (max-width:865px){
        .shadow-box:before, .shadow-box:after{ display: none;}
        .shadow-box{ box-shadow: none; -webkit-box-shadow:none; }
    }
}

p.glossary {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    opacity: 0.4;
    padding: 0px;
    margin: 0px;
    padding-top: 6px;
    padding-left: 16px;
}


section.work .workNav > ul > li.new-section {
    max-width: 100% !important;
    padding: 0px !important;
    margin: 30px auto 0 auto;
    clear: both;
    display: block;
    background: @teal;
    padding-right: 3px !important; //odd
    a{
        display: block;
        cursor: pointer;
        background: @teal;
        text-align: center !important;
        color: #fff !important;
        display: block;
        padding: 5px;
    }
    .workActive &{
        padding: 12px 0px !important;
        background:rgba(0,0,0,0.1) !important;
        a{
            text-align: left;
            text-indent: 20px;
            display: inline;
            &:after{display: none;}
            color: lighten(@teal,50%) !important;
            background: transparent;
        }
    }

}

@media @mobile{ .workActive section.work .workNav > ul > li.backToIndexWork a{display: block !important;} }
.mobile-article-open.workActive section.work.workReading .workContent{ @media @mobile{height: auto !important;}}

@media print{
    section.work .inner-container-wide{ max-width: none;}
    section.work .sa details {
        margin: 0px;
        text-align: left;
        padding: 0px;
        margin: 0px;
    }
    section.work .sa details summary {
        background: transparent;
        padding: 0px !important;
    }
    section.work .workNav > ul > li {
        width: 50%;
    }
    section.work .workNav > ul > li > ul{ padding: 0px !important; }
    section.work .workNav > ul > li > ul{ min-height: 0px !important; margin-bottom: 20px !important;}
    html body section.work menu.workNav.sticky{ display: none !important;}
    body.workActive section.work .main.container .workContent, body.workActive section.work .main.container li.backToIndexWork {
        padding: 0px;
        box-shadow: none !important; -webkit-box-shadow:none !important;
    }
    #main > section.work .main{ box-shadow: none !important; -webkit-box-shadow:none !important;}
    section.work .workContent article.active{ margin-top: 40px !important;}
    section.work button.more, section.work button.less{ display: none !important; }
    section.work > .main .workTextContainer:after{ display: none !important; }
    section.work > .main .workTextContainer {
        max-height: none !important;
    }
}