//Variables
@utilityHeight: 36px;
@utilityButtonPadding: 0px 12px;
@socialButtonPadding: 0px 6px;

// Constants
nav.utility{
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 9;
    width: 100%;
    height: @utilityHeight;
    line-height: @utilityHeight;
    > ul{
        background-color: @gray;
        height: @utilityHeight;
        width: 100%;
    }
    button{
        height: @utilityHeight;
        line-height: @utilityHeight;
        padding: @utilityButtonPadding;
        .shadowNone;
    }
}

//Button Specifics
nav.utility{
    li{
        //Button & Span Positioning
        position: relative;
        &.social, &.getHelp, &.donate, &.twitter, &.news{
            float: right;
        }
        &.login, &.accountDetails, &.notifications, &.register, &.logout{
            float: left;
        }
        &.login > button span.close, &.register > button span.close{
            left: inherit;
            right: 7px;
        }
        &.social a{
            padding: @socialButtonPadding;
            .font(1.6,1.6,@baseLS,@light,normal);
        }
        //Button Colors
        &.login > button, &.accountDetails > button, &.donate > button{
            .buttonColor(@teal);
        }
        &.twitter > button{
            .buttonColor(@midnightBlue);
        }
        &.news > button, &.register > button, &.logout > button{
            .buttonColor(@blue); 
        }
        &.getHelp > button{
            .buttonColor(@orange);
        }
        &.notifications > button{
            .buttonColor(darken(@teal, 2.5%));
        }
        &.social a{
            .textButtonColor(@midnightBlue);
        }
    }
}