//Variables
@utilityHeight: 36px;
@utilityButtonPadding: 0px 12px;
@socialButtonPadding: 0px 11px 0px 0px;

// Constants
nav.utility{
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: @utilityZ;
    width: 100%;
    height: @utilityHeight;
    line-height: @utilityHeight;
    > ul{
        background-color: lighten(@blueGray,59%);
        height: @utilityHeight;
        width: 100%;
        margin: 0px;
        list-style: none;
    }
    button{
        height: @utilityHeight;
        line-height: @utilityHeight;
        padding: @utilityButtonPadding;
        .shadowNone;
    }
}

//Button Specifics
nav.utility{
    li{
        //Button & Span Positioning
        position: relative;
        &.social, &.getHelp, &.donate, &.twitter, &.news, &.learningCenter, &.languageSelect{
            float: right;
        }
        &.login, &.accountDetails, &.notifications, &.register, &.logout{
            float: left;
        }
        &.login > button span.close, &.register > button span.close, &.accountDetails > button span.close{
            left: inherit;
            right: 9px;
            font-size: 13px;
            top: 7px;
        }
        &.login > button span.up, &.register > button span.up, &.logout > button span.up{
            top: 1px;
        }
        &.notifications.active{
            span.notificationsAlert{
                .opacity(0);
            }
        }
        &.social a{
            display: inline-block;
            height: @utilityHeight;
            padding: @socialButtonPadding;
            .font(2.2,3.6,@baseLS,@light,normal);
            .textButtonColor(@blueGray);
            background-color: darken(@gray, 5%);
        }
        &.social.facebook a{
            padding: 0px 11px 0px 11px;
            //background-color: darken(@gray, 5%);
        }
        //Button Colors
        &.login > button, &.accountDetails > button, &.donate > button{
            .buttonColor(@teal);
        }
        &.twitter > button{
            .buttonColor(lighten(@blueGray,5%));
        }
        &.learningCenter > button{
            .buttonColor(saturate(@blue, 55%));
        }
        &.news > button{
            .buttonColor(@blue); 
        }
        &.register > button, &.logout > button{
            background-color: transparent;
            .textButtonColor(@blue);
        }
        &.register.active button{
            color: @white;
        }
        &.getHelp > button{
            .buttonColor(@orange);
        }
        &.notifications > button{
            .buttonColor(@teal);
        }
        &.languageSelect {
            > button{
               .buttonColor(darken(@gray, 25%));
                span.up{
                    .font(2.2,3.6,@baseLS,@light,normal);
                }
            }
            &.active > button span.fa.close{color:@white;}
        }
    }
    //Active Button
    li.active > button:first-child, button.active{
        .color(background-color,lighten(@navy,0%),none);
        .fa.close{
            pointer-events: none;
            .opacity(1);
        }
        .fa.up{
            pointer-events: none;
            .opacity(0);
        }
        &.notifications{
            .notificationAlert{
                .opacity(0);
            }
        }
    }
}