<template name="mainNav">
    <nav>
        <ul>
            {{#each sections}}
                {{> menuItem}}
            {{/each}}
            <!--This portion below is to appear on the mobile menu-->
            <li class="hide-sm donate">
                <a class="toggle" href="javascript:void(0)">Donate</a>
            </li>
            <li class="hide-sm get-help">
                <a href="#providers">Get Help</a>
            </li>
            <li class="hide-sm social">
                <a class="fa" href="https://www.facebook.com/wcasa">&#xf082;</a>
            </li>
            <li class="hide-sm social">
                <a class="fa" href="https://www.youtube.com/user/WCASAVPCC">&#xf167;</a>
            </li>
            <li class="hide-sm social">
               <a class="fa" href="https://twitter.com/wcasa_org">&#xf099;</a>
            </li>
        </ul>
    </nav>  
</template>