nav.utility{
    background-color: @gray;
    height: 36px;
    line-height: 36px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 9;
    //.transition(all,400ms,ease-out,0ms);
    @media @mobile{
        height: auto;
        background-color: transparent;
        position: relative;
    }
    li{
        button{
            height: 36px;
            line-height: 36px;
            display: block;
            padding: 0px 12px;
            color: @white;
            .transition(all,200ms,ease-out,0ms);
            span.close{
                position: absolute;
                opacity: 0;
            }
            span.unreadNotifications {
                position: absolute;
                margin-left: 2px;
                width: 16px;
                height: 16px;
                color: @navySat;
                text-align: center;
                border-radius: 50%;
                line-height: 17px;
                top: 2px;
                right: 6px;
                font-size: 100%;
                pointer-events: none;
                .transition(opacity,200ms,ease-out,0ms);
            }
        }
        &.social, &.getHelp, &.donate, &.twitter, &.news{
            float: right;
            position: relative;
            span.close{
                left: 14px;
                top: -1px;
            }
            @media @mobile{
                float: none;
            }
        }
        &.login, &.accountDetails, &.notifications, &.register, &.logout{
            float: left;
            position: relative;
            span.close{
                right: 6px;
                top: -1px;
            }
            @media @mobile{
                float: none;
            }
        }
        &.login, &.accountDetails{
            button{
                padding: 0px 5px 0px 12px;
            }
        }
        &.login, &.accountDetails, &.donate{
            .utilityBackgroundColorButton(@teal);
        }
        &.notifications{
            .utilityBackgroundColorButton(darken(@teal, 2.5%));
            button{
                padding: 0px 12px;
                span.up{
                    position: relative;
                    left: -1px;
                }
                span.close{
                    right:14px;
                }
            }
        }
        &.twitter{
            .utilityBackgroundColorButton(mix(@gray, @navy, 60%));
        }
        &.news{
            .utilityBackgroundColorButton(@navySat);
        }
        &.getHelp{
            .utilityBackgroundColorButton(@orange);
        }
        &.register, &.logout{
            .utilityColorButton(@navySat);
        }
        &.register, &.logout, &.login, &.accountDetails{
            button span{
                font-size: 11px;
                position: relative;
                &.up{
                    top: -1px;
                    margin-left: 1px;
                }
            }
        }
        &.social{
            a{
                padding: 0px 12px 0px 0px;
                font-weight: 100;
                font-size: 18px;
                color: mix(@gray, @navy, 65%);
                &:hover{
                    color: darken(mix(@gray, @navy, 65%), 5%);
                }
                &:active{
                    color: darken(mix(@gray, @navy, 65%), 10%);
                }
            }
        }
        &.active{
            position: relative;
            .fa.close{
                opacity: 1;
            }
            .fa.up{
                opacity: 0;
            }
            &.notifications{
                .unreadNotifications{
                    opacity: 0;
                }
            }
        }
        //Animate Display when user signs in & out
        &.notifications, &.accountDetails, &.logout, &.login{
            .animateDisplay;
        }
    }
}


//Mobile Menu
/*header.mainHeader{
    background-color: transparent;
    .overlay{
        z-index: -1;
        visibility: visible;
        opacity: 0.5;
    }
    &:after, nav.mainNav, nav.utility .brand{
        display: none;
    }
    .mobileLinks{
        text-align: center;
        background-color: @white;
        .shadow(0px,0px,10px,0px,0.5);
        position: relative;
        z-index: 11;
        left: ~'calc(100vw - 54px)';
        .menuToggle{
            background: navy;
            height: 54px;
            width: 54px;
            position: absolute;
            top: 0px;
            left: 0px;
        }
        a.brandLink{
            width: 122px;
            display: inline-block;
            top: 0px;
            left: 0px;
            vertical-align: middle;
            padding: 10px 0px 7px 0px;
            img{
                width: 100%;
            }
    }
    }
    nav.utility{
        background-color: @white;
        width: ~'calc(100vw - 54px)';
        height: 100vh;
        overflow:auto;
        .shadow(0px,4px,10px,0px,0.5);
        top: -54px;
        z-index: 15;
        ul{
            text-align: left;
            li, li.register, li.logout, li.login, li.accountDetails, li.social, li.getHelp, li.donate, li.twitter, li.news{
                text-align: left;
                display: block;
                padding: 0px;
                width: 100%;
                height: auto;
                text-indent: 0px;
                margin: 0px;
                a, button{
                    background-color: transparent;
                    color: @navy;
                    text-transform: none;
                    line-height: 46px;
                    display: block;
                    vertical-align: middle;
                    height: auto;
                    padding: 0px 30px;
                    margin: 0px;

                }
            }
            li.social{
                display: inline-block;
                width: 30px;
                text-align: left;
                a{
                    display: inline-block;
                }
            }
        }
    }
}*/
