header.mainHeader{
    background-color: @white;
    font-weight: 700;
    position: fixed;
    z-index: 11;
    padding-top: 32px;
    .transition(all,375ms,ease-out,0ms);
    &:after{
        content: '';
        position: absolute;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
        background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.25) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
        background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.25) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
        background: radial-gradient(ellipse at center,  rgba(0,0,0,0.25) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        margin-top: -50px;
        z-index: -10 !important;
        border-radius: 50%;
        left: -35%;
        height: 55px;
        width: 170%;
        border-radius: 50%;
    }
    a:focus{
        outline: none;
    }
    nav.mainNav{
        text-align: center;
        background-color: @white;
        //margin: 233px 0px 36px 0px;
        //position: relative;
        z-index: 1;
        .transition(all,375ms,ease-out,0ms); //Previously set to margin, changed to all for margin & transform transition
        will-change: transform, margin; //changed to transform as above
        ul{
            padding: 225px 0px 65px 0px;
            .transition(all,375ms,ease-out,0ms); //padding and text-align
            will-change: padding;
            background-color: @white;
            li{
                display: inline-block;
                a {
                    transition: font 375ms ease, color 100ms linear;
                    -webkit-transition: font 375ms ease, color 100ms linear;
                    //.transition(all, 400ms, linear, 0ms);
                    will-change: margin, padding, font-size, color;
                    display: block;
                    font-size: 18px;
                    letter-spacing: 2px;
                    font-weight: 600;
                    text-transform: uppercase;
                    //color: @navy;
                    color: lighten(@navy, 2.5%);
                    padding-bottom: 8px;
                    //border-bottom: 3px solid @gray;
                    margin: 0px 36px 0px 36px;
                    /* Effect 3: bottom line slides/fades in */
                    //padding: 8px 0;
                    position: relative;
                    &:after {
                        position: absolute;
                        top: 100%;
                        left: 0;
                        width: 100%;
                        height: 3px;
                        background: darken(@gray, 5%);
                        content: '';
                        opacity: 0;
                        -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
                        -moz-transition: opacity 0.3s, -moz-transform 0.3s;
                        transition: opacity 0.3s, transform 0.3s;
                        -webkit-transform: translateY(10px);
                        -moz-transform: translateY(10px);
                        transform: translateY(10px);
                    }
                    &:hover{
                        &:after {
                            opacity: 1;
                            -webkit-transform: translateY(0px);
                            -moz-transform: translateY(0px);
                            transform: translateY(0px);
                        }
                    }
                    &:focus{
                        &:after{
                            opacity: 0;
                            background-color: @teal;
                        }
                    }
                }
                &.brand {
                    .transition(all,375ms,ease-out,0ms);
                    will-change: translate, left, top, margin, width;
                    //-webkit-backface-visibility: hidden;
                    //.logoAnimatedFixed;
                    z-index: 10;
                    display: block;
                    position: absolute;
                    left: 50%;
                    margin-left: -200px;
                    top: 64px;
                    width: 400px;
                    text-indent: 0px;
                    margin-bottom: 42px;
                    height: 90px;
                    a{
                        border: none;
                        display: block;
                        padding: 0px;
                        margin: 0px;
                        &:active, &:hover, &:focus{
                            border: none;
                        }
                        svg, svg image{
                            //width: 400px;
                            //-webkit-backface-visibility: hidden;
                            width: 100%;
                            height: 90px;
                            .transition(all,375ms,ease-out,0ms);
                        }
                        &:after{
                            display: none;
                        }
                    }
                }
            }
        }
    }
}






.fixedHeader header.mainHeader{
    nav.mainNav{
        margin: 0px;
        ul{
            padding:0px;
        }
        li{
            margin-bottom: 0px;
            a{
                margin: 6px 24px 3px 24px;
                padding: 0px;
                border-color: transparent;
                font-size: 14px;
                line-height: 66px;
                color: lighten(@navy, 2.5%);
                &:after{
                    display: none;
                }
                &:hover{
                    border-color: transparent;
                    color: darken(@teal, 2.5%);
                }
                &:focus{
                    //color: darken(@teal, 5%);
                }
            }
            &.brand{
                top: 47px;
                //.logoAnimatedFixed;
                .translate(0px, -30px);
                .logoAnimatedFixed;
                width: 132px;
                left: 12px;
                height: 36px;
                margin-left: 0px;
                //top: 13px;
                svg, svg image{
                    height: 36px;
                }
                a{
                    //padding: 0px;
                    //margin: 0px;
                }
            }
        }
    }
}



