<template name="tabsTop">
    <menu class="tabs">
        <!--<h4 class="section-title">Community Involvement</h4>
                <h4> is not valid child of <menu> - Micah -->
        <ul>
            {{#each tabs}}
                {{> tab id=this}}
            {{/each}}
            <!--<li class="active">Events</li>
            <li>Advocacy</li>
            <li>Evaluation</li>-->
        </ul>
    </menu>
    <main>
        {{#each tabs}}
            {{> article id=this}}
        {{/each}}
        <!--<article class="active carousel">
            {{> calendar}}
        </article>
        <article>
            Another tab
        </article>
        <article>
            Another tab
        </article>-->
    </main>
</template>