<template name="languageSelect">
    <section class="languageSelect rightSmall hasSidebar">
        <div class="scroller">
            <div>
                <h2><span class="fa">&#xf024;</span> Select Language</h2>
                <div class="languageList">
                    <ul class="stripes hoverLi">
                        <li class="active">English</li>
                        <li>Español</li>
                        <li>Hmong Daw</li>
                        <li>Pусский</li>
                    </ul>
                </div>
                 <button type="button" class="closeTab">Close</button>
            </div>
        </div>
    </section>
</template>