//Custom Resets
    a, a:link, a:hover, a:active, a:focus{
        outline: none;
        text-decoration: none;
    }
    a, a:link{
        color: @teal;
    }

    a:hover{
        color: lighten(@teal, 5%);
    }
    a:visited{
        color: darken(@teal, 5%);
    }
    p{
        margin-bottom: 20px;
    }

    #login-buttons a, .accounts-dialog a {
        text-decoration: none;
    }
    body{
        overflow-x: hidden; //Something is over 100% width. Will have to look into.
    }

//Media Queries
    @desk-lg:  ~"(min-width: 1600px)";
    @desk-sm:  ~"(max-width: 1200px)";
    @tab-lg:  ~"(max-width: 1024px)";
    @tab-sm:  ~"(max-width: 900px)";
    @mob-lg:  ~"(max-width: 767px)";
    @mob-sm:  ~"(max-width: 500px)";
    //Use @media @query-size {}

//Displays
    .clearFix{
        content:"";
        display:table;
        clear:both;
    }

    section:after{
            .clearFix;
    }


body, p, ul, ol, h1, h2, h3, h4, h5{
    font-family: @baseFont;
    letter-spacing: @baseLetterSpacing;
}

body, p, ul, ol{
    font-size: @baseFontSize;
    letter-spacing: @baseLetterSpacing;
    line-height: @baseLineHeight;
    color: @fontBlack;
}

body {
    // We shouldn't use padding to separate sections for the sole
    // reason of ensuring a particular background color between those sections.
    // We can be more deliberate here. - Micah
    background: @darkGray;
}

///////////////////////// // THIS NEEDS A HOME
.va-object{
    display: table-cell;
    vertical-align: middle;
}

.pure-g > div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.l-box {
    padding: 1em;
}

.centered{
    margin: 0 auto;
    text-align: center;
}



/////////////////////////////// Need a home END


// Buttons
button, .button {
    border: none;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    color: #fff;
    padding: 20px;
    display: block;
    text-transform: uppercase;
    border-bottom: 5px solid #222;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 1px;
    cursor: pointer;
    &:focus{
        outline: none;
    }
}

.button-aqua{
    background-color: @aqua;
    border-color: @gray50;
    &:hover{
        background-color: lighten(@aqua, 10%);
        border-color: lighten(@gray50, 10%);
    }
}

.button-melon{
    background-color: @melon;
    border-color: @gray50;
    &:hover{
        background-color: lighten(@melon, 10%);
        border-color: lighten(@gray50, 10%);
    }
}





//Hides

.hide-sm{
    display: none !important;
    @media (max-width:767px){
        display: block !important;
    }
}




////////////////////////////////// Media Queries

//@mobileDown: "'only screen and (max-width: 767px)'";






/////////////////////////////////// TODOS
/*
-Add new logos
-Add new brand colors
-Update favicon
-Donate tab
-Get help tab
-Add active state to menu item on scroll
-Event Detail?
-Smooth scroll + ofset on menu
-update masthead
-Section by section: correct member slider, move map to 2 column + tab
-bind esc key to close all active states
-Improve animations, placement & z-indexing
-Look through all WCASA notes to ensure everything is complete
-Print CSS + add btn?
-Admin CSS
-Write full summary for Micah. CC Peter?
-Consider preloader? Make note of content load observation
-Dude email: Johnny, Iris & Clark
-Some CSS needs a home
-Will need final .eps or .ai files for logos
-Note: small amounts of further animation detailing & margins detailing to occur once we are good with UX.
-Dude check: todoist
-Form validation
-I cant target menu items for smooth scroll. hmmm
-Donate need more work with actual form
-Assume some JS cleanup required
-Note your shortlist to micah
*/



/////////////////////////////////// NOTES:
/*
-We Should probably add a body class if you are signed in for style specific changes.
-Thoughts on how to edit the login form? There is an ugly overlap on the users login name when the form is open containing "close"
-Observe the notification system front-end built. max-height set to 600px with overflow-y scroll


*/



