
//Typography
    @baseFontSize: 16px;
    @baseLineHeight: 24px;
    @baseLetterSpacing : 1px;
    @baseFont: "Raleway", sans-serif;
    @heroHeadlineFontSize: 5em;
    .fa{font-family: "FontAwesome";}