// Positioning Transitions

.easeInOutAll{
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
}

.colorChangeLinear{
    -webkit-transition: color 250ms linear;
    -moz-transition: color 250ms linear;
    -ms-transition: color 250ms linear;
    -o-transition: color 250ms linear;
    transition: color 250ms linear;
}