<template name="inTheNews">
  <header class="mobile"><h2>{{title}}</h2></header>
  {{#each lists}}
    {{>list}}
  {{/each}}
</template>

<template name="press">
  <header class="mobile"><h2>{{title}}</h2></header>
  {{#each lists}}
    {{>list}}
  {{/each}}
</template>

<template name="actionAlerts">
  <header class="mobile"><h2>{{title}}</h2></header>
  {{#each lists}}
    {{>list}}
  {{/each}}
</template>

<template name="pressMediaKits">
  <header class="mobile"><h2>{{title}}</h2></header>
  {{#each lists}}
    {{>list}}
  {{/each}}
</template>

<template name="annualReports">
  <header class="mobile"><h2>{{title}}</h2></header>
  {{#each lists}}
    {{>list}}
  {{/each}}
</template>

<template name="newsletters">
  <header class="mobile"><h2>{{title}}</h2></header>
  {{#each lists}}
    {{>list}}
  {{/each}}
</template>

<template name="newsSubHead">
  <div class="links">
      <a href="/account/subscriptions" class="manageSubscriptions">
        Manage News Subscriptions <span class="fa"></span>
      </a> |
      <button id="inquire" class="inquire">
        Inquire About our News <span class="fa"></span>
        <span class="contactInfo">
            For information regarding WCASA News: email Peter Fiala at <a href="mailto:peterf@wcasa.org">peterf@wcasa.org</a>.
        </span>
    </button>
  </div>
  {{#if isAdmin}}
    <aside class="admin">
      <div class="admin-tools" id="admin-tools-news">
        <button class="fa add">&#xf067; News Item</button>
      </div>
      <section class="admin-form-container hide" id="admin-form-container-news-add">
        <div class="form-container">
          <h4>Add News Item</h4>
          <button class="fa add exit">&#xf00d;</button>
          <form id="newsForm">
            <label>
              Title
              <input type="text" name="title" id="news-add-form-title" required />
            </label>
            <label>
              Publisher
              <input type="text" name="publisher" id="news-add-form-publisher" required />
            </label>
            <label class="clear-both">
              Description
              <textarea rows="5" name="content" id="news-add-form-content" ></textarea>
            </label>
            <hr />
            <div class="styledSelect fullBlockMob w-50">
              <label>Type</label>
              <select name="type" id="news-add-form-type" required >
                {{#each types}}
                  <option name="{{this}}">{{this}}</option>
                {{/each}}
              </select>
            </div>
            <label class="w-50 margin-right-0">
              Date
              <input type="date" name="date" id="news-add-form-date" required />
            </label>
            <label class="clear-both">
              Url
              <input type="text" name="url" id="news-add-form-url" required />
            </label>
            <input type="submit" class="btn btn-primary" value="Add Item" />
          </form>
        </div>
      </section>
    </aside>
  {{/if}}
</template>
