.carousel.events{
    width: 100%;
    overflow: hidden;
    position: relative;
    nav{
        position: absolute;
        top: 50%;
        margin-top: -30px;
        width: 100%;
        li{
            cursor: pointer;
            font-size: 20px;
            color: @blueAsh;
            padding: 40px;
            &:hover{
                color: darken(@blueAsh, 5%);
            }
        }
        .prev{
            float: left;
        }
        .next{
            float: right;
        }
    }
    figure{
        width: 100%;
        margin:0px;
        display: inline-block;
        text-align: center;
        position: relative;
        img.featured{
            -webkit-border-radius:50%;
            border-radius: 50%;
            height: 210px;
            width: 210px;
            margin-top: 50px;
        }
        h2{
            position: relative;
            font-size: 28px;
            line-height: 32px;
            font-weight: 100;
            padding: 20px 20px 10px 20px;
            border-bottom: 4px solid #ebebeb;
            max-width: 800px;
            margin: 0 auto;
            margin-bottom: 40px;
        }
        p{
            max-width: 800px;
            margin: 0 auto;
            padding-bottom: 20px;
            white-space: normal;
        }

        button{
            border-color: #c7d1d2;
            display: inline-block;
            &:after{
                content: '\25BA';
                font-size: 10px;
                position: relative;
                top: -1px;
                left: 6px;
            }
        }

        button.map-details{
            background-color: #f3f3f3;
            position: absolute;
            top: 0px;
            right: 0px;
            padding: 0px 0px 0px 20px;
            border:none;
            color: @fontBlack;
            font-size: 16px;
            text-transform: none;
            &:after{
                display: none;
            }
            span {
                display: inline-block;
                background-color: @bgBlack;
                color: #fff;
                padding: 20px 25px 20px 20px;
                text-transform: uppercase;
                &:after{
                    content: '\25BA';
                    font-size: 10px;
                    position: relative;
                    top: -1px;
                    left: 6px;
                }
            }
            &:hover{
                background-color: darken(#f3f3f3, 2%);
                span{
                    background-color: darken(@bgBlack, 2%);
                    color: @yellow;
                }
            }
        }
    }
    main{
        width: 100%;
        overflow: visible;
        white-space: nowrap;
        position: relative;
        left:0%;
        .easeInOutAll;
    }
}