footer.footer{
    clear: both;
    ul{
        padding: 70px 20px 20px 20px;
        display: block;
        width: 100%;
        text-align: center;
        li {
            color: #fff;
            display: inline;
            font-size: 12px;
            margin-right: 20px;
        }
    }
    a, .top{
        color: @yellow;
        cursor: pointer;
        &:hover{
            color: lighten(@yellow, 10%);
            text-decoration: underline;
        }
    }

}