@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    src: local('Raleway Light'), local('Raleway-Light'), url(http://fonts.gstatic.com/s/raleway/v9/-_Ctzj9b56b8RgXW8FAriQzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local('Raleway'), url(http://fonts.gstatic.com/s/raleway/v9/QAUlVt1jXOgQavlW5wEfxQLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: local('Raleway Bold'), local('Raleway-Bold'), url(http://fonts.gstatic.com/s/raleway/v9/JbtMzqLaYbbbCL9X6EvaIwzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.3.0');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*font: inherit;        this is a really bad idea - Micah */
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


//Custom Resets
    a, a:link, a:hover, a:active, a:focus{
        outline: none;
        text-decoration: none;
    }
    p{
        margin-bottom: 20px;
    }


//Typography
    @baseFontSize: 16px;
    @baseLineHeight: 24px;
    @baseLetterSpacing : 1px;
    @baseFont: "Raleway", sans-serif;
    @heroHeadlineFontSize: 5em;
    .fa{font-family: "FontAwesome";}

//Colors
    //Neutrals
        @lightGray: rgb(244,244,244);
        @gray: rgb(235,235,235);
        @darkGray: rgb(222,222,222);
        @deepGray: rgb(28,28,28);
        @gray50: rgb(48,48,48);
        @gray34: rgb(34,34,34);
        @gray91: rgb(91,91,91);
        @gray75: rgb(75,75,75);
        @gray195: rgb(195,195,195);
        @gray150: rgb(150,150,150);
        @fontBlack: rgb(41,41,41);
        @bgBlack: rgb(15,15,15);
        @white: rgb(255,255,255);
    //Accents
        @blue: rgb(24,134,197);
        @skyBlue: rgb(58,185,254);
        @yellow: rgb(255,227,63);
        @darkYellow: rgb(255,213,67);
        @teal: rgb(44,181,191);
        @melon: rgb(223,79,79);
        @aqua: rgb(56,109,141);
        @blueAsh: rgb(66,70,70);

//Displays
    .clearFix{
        content:"";
        display:table;
        clear:both;
    }

    section:after{
            .clearFix;
    }


body, p, ul, ol, h1, h2, h3, h4, h5{
    font-family: @baseFont;
    letter-spacing: @baseLetterSpacing;
}

body, p, ul, ol{
    font-size: @baseFontSize;
    letter-spacing: @baseLetterSpacing;
    line-height: @baseLineHeight;
    color: @fontBlack;
}

body {
    // We shouldn't use padding to separate sections for the sole
    // reason of ensuring a particular background color between those sections.
    // We can be more deliberate here. - Micah
    background: @darkGray;
}

///////////////////////// // THIS NEEDS A HOME
.va-object{
    display: table-cell;
    vertical-align: middle;
}

.pure-g > div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.l-box {
    padding: 1em;
}

.centered{
    margin: 0 auto;
    text-align: center;
}

.callout{ 
    // We shouldn't use padding to separate sections for the sole
    // reason of ensuring a particular background color between those sections.
    // We can be more deliberate here. - Micah
    background: @white;
    h3 {
        border-left: 100px solid #386d8d;
        padding:2em;
        margin: 0px;
        max-width: 900px;
    }
    h3, h3 p {
        font-size: 32px;
        font-weight: 300;
        text-transform: uppercase;
        color: #2b2b2b;
        letter-spacing: 0.05em;
        line-height: 1.5em;
    }
    h3 :last-child { margin-bottom: 0; } // added to remove excess white space
}


/////////////////////////////// Need a home END


// Buttons
button, .button {
    border: none;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    color: #fff;
    padding: 20px;
    display: block;
    text-transform: uppercase;
    border-bottom: 5px solid #222;
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 1px;
    cursor: pointer;
}

.button-aqua{
    background-color: @aqua;
    border-color: @gray50;
    &:hover{
        background-color: lighten(@aqua, 10%);
        border-color: lighten(@gray50, 10%);
    }
}

.button-melon{
    background-color: @melon;
    border-color: @gray50;
    &:hover{
        background-color: lighten(@melon, 10%);
        border-color: lighten(@gray50, 10%);
    }
}