.header {
    background-color: #fff;
    border-bottom: 5px solid #d6d6d6;
    margin-bottom: 1em;
    -webkit-font-smoothing: antialiased;
    height: 4.5em;
    position: fixed;
    width: 100%;
    line-height: 4em;
    top: 0px;
    z-index: 9;
    .brand img.top{
        display: none;
    }
    .utility-nav{
        width: 100%;
        background-color: #0c2e41;
        height: 33px;
        text-align: right;
        position: fixed;
        z-index: 99;
        ul{
            display: block;
            width: 100%;
        }
        ul, li{
            line-height: 33px;
        }
        li{
            color: rgba(255,255,255,0.8);
            text-transform: none;
            font-size: 14px;
            font-weight: 800;
        }
        a{
            .colorChangeLinear;
            color: @white;
            &:hover{
                color:@yellow;
            }
        }
        a#login-sign-in-link{
            text-decoration: none;
            text-transform: uppercase;
            padding-right: 20px;
            &:after {
            content: "\f090";
            .fa;
            }
        }

    }
    .brand img {
        height: 42px;
        padding-top: 16px;
        padding-left: 25px;
        }
    nav, ul, li{
        display: inline-block;
        height: 100%;
    }
    nav{
        text-align: right;
        float: right;
        ul{
            margin-top: 33px;
            margin-right: 30px;
            font-size: 18px;
            color: #fff;
            font-weight: 800;
        }
        li{
            height: auto;
            line-height: 72px;
            margin-right: 15px;
            #login-buttons a, .accounts-dialog a{
                text-decoration: none;
            }
        }
        li.login a.login-link-text {
            line-height: 72px;
            color: @white;
            background-color: @teal;
            padding-left: 25px;
            padding-right: 25px;
            &:hover{
                background-color: darken(@teal, 10%);
            }
        }
        a{
            color: @gray91;
            font-weight: bold;
            display: block;
            padding-right: 25px;
            &:hover{
                color: @deepGray;
            }
        }
    }
}


div#login-dropdown-list {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -166px;
    margin-left: -157px;
    padding: 40px;
    box-shadow: 0px 0px 19px rgba(0,0,0,1);
    -webkit-box-shadow: 0px 0px 19px rgba(0,0,0,1);
    z-index: 999;
    &:after{
        content: '';
        width: 100%;
        height: 100%;
        background-color: rgba(255,255,255,0.2);
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: -2;
    }
    a.login-close-text {
        position: absolute;
        right: 0px;
        top: 20px;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 12px;
        color:@white;
        &:after {
            content: "\f00d";
            color: #bbb;
            font-size: 25px;
            font-family: fontawesome;
            position: relative;
            top: -13px;
            right: -15px;
            font-weight: 100 !important;
        }
        &:hover:after{
            color: #999;
        }

    }
    label {
        float: left;
        padding-bottom: 2px;
        font-size: 16px;
    }
    .login-form.login-password-form input {
        background-color: #ddd;
        border: none;
        line-height: 30px;
        &:focus{
            outline: none;
            background-color: #bbb;
        }
    }
    .additional-link-container a {
        display: inline-block;
        padding: 0px;
        font-size: 12px;
        margin-top: 10px;
    }
    .login-button, .login-button {
        background-color: @teal;
        font-weight: bold;
        text-transform: uppercase;
        border: none;
        line-height: 31px;
        margin-top: 20px;
        &:hover{
            background-color: darken(@teal, 10%);
        }
    }
}

.header.top{
    background-color: transparent;
    border: none;
    position: absolute;
    nav ul{
        margin-top: 33px;
        margin-right: 40px;
        font-size: 18px;
        color: #fff;
        font-weight: 800;
        li{ 

            a{
                line-height: 40px;
                padding-right: 10px;
                margin-top: 50px;
                font-weight: 800;
                color: #fff;
                opacity: 0.8;
                .colorChangeLinear;
                &:hover{
                    color: @yellow;
                }
            }
        }
        li.social{
            margin-right:4px;
            a{
                padding: 0px;
                font-size: 20px;
                font-weight: 100;
            }
        }
    }
    .brand img{
        display: none;
    }
    .brand img.top{
        display: block;
        width: auto;
        height: auto;
        position: absolute;
        left: 16px;
        top: 57px;
    }
}