.va-object{
	display: table-cell;
	vertical-align: middle;
}

.pure-g > div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.l-box {
    padding: 1em;
}

.centered{
	margin: 0 auto;
	text-align: center;
}

.callout{ 
	h3{
		font-size: 2em;
		font-weight: 300;
		text-transform: uppercase;
		border-left: 100px solid #386d8d;
		padding:2em;
		margin: 0px;
		max-width: 900px;
		color: #2b2b2b;
		letter-spacing: 0.05em;
		line-height: 1.5em;
	}
}

h2{
	font-weight: 100;
	text-transform: uppercase;
}