.masthead{
	height: 100vh;
	background: url('/lib/img/masthead.jpg') no-repeat center;
	display: table;
	position: relative;
	width: 100%;
	h1{
		display: inline-block;
		border: 6px solid #fff;
		font-size: 5em;
		vertical-align: middle;
		color: #fff;
		padding: 0.2em 0.4em;
		position: relative;
		top: 0.5em;
		font-weight: 300;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		line-height: 1.5em;
	}
	.down-arrow{
	  position: absolute;
	  bottom: 1em;
	  left: 50%;
	  width: 1em;
	  height: 1em;
	  transform: rotate(90deg);
	  text-align: center;
	  color: #fff;
	}
}
