.providers{
	background: #fff;
    border-bottom: 5px solid @melon;
	text-align: center;
	font-size: 1.5em;
	color: #111111;
    padding-top: 150px; // changed to padding from margin by Micah for admin controls
    h2{
        position: relative;
        text-transform: uppercase;
        font-size: 28px;
        line-height: 32px;
        font-weight: 100;
        margin-bottom: 70px;
        &:before{
            content: "\f041";
            position: absolute;
            .fa;
            font-size: 60px;
            line-height: 60px;
            margin-top: -100px;
            left:50%;
            margin-left: -20px;
        }
    }
    .map, .details{
        display: none;
    }
    .map.active, .details.active{
        display: block;
    }
    form{
        max-width: 502px;
        margin: 0 auto;
        padding-bottom: 70px;
        overflow: hidden;
        label{
            float: left;
            clear: both;
            width: 41%;
            text-align: right;
        }
        .select, .float-right{
            float: right;
        }
    }

    .map{
        height: 400px;
        overflow: hidden;
        width: 100%;
        position: relative;
        border-top: 5px solid @melon;
        &:after{
            content:'';
            position: absolute;
            bottom: 0px;
            left:70px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 31.5px 24px 31.5px;
            border-color: transparent transparent @melon transparent;
        }
    }
    .details{
        padding: 70px;
        color: @white;
        background: @gray50;
        border-top: 5px solid @melon;
        text-align: left;
        font-weight: 100;
        overflow: hidden;
        .left, .right{
            float: left;
            width: 50%;
        }
        a.icon{
            color: @skyBlue;
            display: block;
            font-size: 16px;
            position: relative;
            text-indent: 40px;
            line-height: 40px;
            &:hover{
                color:darken(@skyBlue, 10%);
                text-decoration: underline;
                &:after{
                    color:darken(@skyBlue, 10%);
                }
            }
        }
        .icon:before{
            content:'x';
            color: @skyBlue;
            display: block;
            position: absolute;
            left: -40px;
            top: 0px;
            font-size: 26px;
            .fa;
        }
        .facebook:before{
            content:"\f230";
            left: -38px;
        }
        .email:before{
            content:"\f0e0";
        }
        .website:before{
            content:"\f108";
        }
        p.county-served{
            margin-bottom: 20px;
        }
        p{
            color: @white;
            font-weight: 100;
            margin-bottom: 0px;
        }
        h2{
            font-size: 32px;
            line-height: 38px;
            max-width: 1400px;
            margin-bottom: 0px;
            &:before{
                display: none;
            }
        }
        address {
            font-style: normal;
            font-size: 16px;
            line-height: 20px;
            padding-bottom:20px;
        }
        button{
            position: absolute;
            right: 30px;
            bottom: 30px;
        }
   }
}