.who-we-are{
	background: #363636;
	ul{
		padding:0px;
		margin: 0px;
		li{
			display: block;
			float: left;
			width: 50%;
			text-align: center;
			text-transform: uppercase;
			color: #1e1e1c;
			font-size: 2em;
			letter-spacing: 0.05em;
			font-weight: 100;
			padding:1.2em 0em;
			&:first-child{
				background: #ffe344;
			}
			&:nth-child(2){
				background: #ffd543;
			}
		}
	}
	.members{
		height: 600px;
	}
}