#map-canvas {
min-width: 200px;
width: 100%;
min-height: 200px;
height: 414px;
}

p.providerTitle {
text-transform: uppercase;
font-family: raleway, sans-serif;
letter-spacing: 1px;
font-size: 16px;
margin: 4px 0px 0px 0px;
color: #222;
text-indent: 16px;
}

/*Hides close for infobox*/
.gm-style-iw + div {display: none;}