<template name="canvas">
  {{#if Template.subscriptionsReady}}
    <!--[if lte IE 9]>
      <p class="browsehappy"><span class="inner"><span class="fa">&#xf071;</span> You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</span></p>
    <![endif]-->
    <div id="canvas" class="canvas" data-canvas-position="" data-canvas-state="closed" data-canvas-width="">
      {{> utility}}
      {{> navigation}}
      {{> navigationMobile}}
      <main class="main masterContainer" id="main" data-focus="group" aria-hidden="false">
        {{#if sectionsExist}}
          {{#each sections}}
            {{> Template.dynamic template=template}}
          {{/each}}
        {{else}}
          <p>There currently aren't any sections.  To add one, login with an administrator account and drag the puzzle piece on the lower left onto the page.  If there aren't any accounts created yet, the first account created will automatically become an administrator.</p>
        {{/if}}
        {{>top}}
      </main>
      {{> aside}}
      {{> toasts}}
      <div class="overlay" id="overlay" role="presentational" aria-hidden="true"></div>
    </div>
    {{#if gaID}}
      <!-- Google Analytics -->
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  
        ga('create', '{{gaID}}', 'auto');
        ga('send', 'pageview');
      </script>
    {{/if}}
  {{else}}
    {{> preloader}}
  {{/if}}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://js.stripe.com/v3/"></script>
</template>

<template name="toasts">
  <ul id="toasts-list"></ul>
</template>
