@import (reference) "/views/styles/index.less";

section.markdown {
  margin-top: 25px;

  section.markdown-editor {
    border: 1px solid #ddd;
    display: flex;
    padding: 1rem;
    margin-bottom: 25px;

    textarea {
      border: none;
    }

    .preview {
      width: 100%;
    }
  }

  /* Markdown editor menu items */
  section.menu {
    display: flex;

    ul {
      display: flex;
      margin: 0 !important;

      li:before {
        content: none !important;
      }
      li {
        list-style: none;
        display: inline-block !important;
        border: 1px solid #ddd;
        border-bottom: none;
        margin: 0 !important;
        padding: 5px 10px;
        cursor: pointer;
        i.fa {
          pointer-events: none;
        }
      }

      /* Headers drop down menu */
      li.headers ul {
        position: absolute;
        display: block;
        border: 1px solid #ddd;
        margin-top: 5px !important;
        margin-left: -11px !important;

        li {
          display: list-item !important;
          border: none;
          background: #fff;
          border-top: 1px solid #ddd;
          border-radius: 0;
        }
        li:hover {
          background: @teal;
          color: @white;
        }
      }

      li:first-child {
        border-radius: 10px 0 0 0;
      }
      li:last-child {
        border-left: none;
        border-radius: 0 10px 0 0;
      }
      li.active {
        background: @teal;
        color: @white;
      }
    }

    ul.markdown-menu {
      width: 100%;
      justify-content: flex-end;
    }
  }
}
  