section.markdown-editor {
  display: flex;
  margin: 1rem 0;

  textarea {
    width: 50%;
    margin-right: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1rem;
  }

  section.preview {
    min-width: 50%;
  }
}
