@import (reference) "/views/styles/index.less";

section.markdown {
  margin-top: 25px;

  section.markdown-editor {
    border: 1px solid #ddd;
    display: flex;
    padding: 1rem;
    margin-bottom: 25px;
    min-height: 150px;

    textarea {
      border: none;
    }

    .preview {
      width: 100%;
    }
  }

  /* Markdown editor menu items */
  section.menu {
    display: flex;

    ul {
      display: flex;
      margin: 0 !important;

      li:before {
        content: none !important;
      }
      li {
        list-style: none;
        display: inline-block !important;
        border: 1px solid #ddd;
        border-bottom: none;
        margin: 0 !important;
        padding: 5px 10px;
        position: relative;
        cursor: pointer;
        i.fa {
          pointer-events: none;
        }
      }
      &.markdown-menu > li{
        &:hover{
          background: rgba(0,0,0,0.025);
          &:after{
            content: attr(data-title);
            position: absolute;
            top: -23px;
            left: 0;
            background: #35809d;
            color: #fff;
            padding: 2px 4px;
            white-space: nowrap;
            font-weight: 600;
            line-height: 1;
            border-radius: 3px;
          }
          &:before{
            content: '' !important; //override li
            position: absolute;
            left: 39%;
            top: -7px;
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid #35809d;
            display: block;
          }
        }
      }
      &.edit-menu{
        li{ font-weight: 600; }
      }

      /* Headers drop down menu */
      li.headers ul {
        position: absolute;
        display: block;
        border: 1px solid #ddd;
        white-space: nowrap;
        margin-top: 5px !important;
        margin-left: -11px !important;

        li {
          display: list-item !important;
          border: none;
          background: #fff;
          border-top: 1px solid #ddd;
          border-radius: 0;
        }
        li:hover {
          background: @teal;
          color: @white;
        }
      }

      li.a aside, li.img aside {
        position: absolute;
        background: #fff;
        padding: 1rem;
        margin-top: 5px;
        margin-left: -130px;
        border: 1px solid #ddd;
      }
      li.img aside {
        margin-left: -240px;
      }

      li:first-child {
        border-radius: 3px 0 0 0;
      }
      li:last-child {
        border-left: none;
        border-radius: 0 3px 0 0;
      }
      li.active {
        background: @teal;
        color: @white;
      }
    }

    ul.markdown-menu {
      width: 100%;
      justify-content: flex-start;
    }
  }
}
  