@import (reference) "/views/styles/index.less";

#main section.providers{padding-bottom: 0px !important;}
section.providers{
    z-index: 1;
    position: relative;
    label{display: block}
    article.details{
        width: 700px;
        background: @navy;
        position: relative;
        vertical-align: top;
        &:before{
            content:"\f0d9";
            .fa;
            position: absolute;
            top: 101px;
            left: -59px;
            font-size: 200px;
            color: @lightBlue;
        }
        header{
            background: @lightBlue;
            padding: 80px 40px;
        }
        .crisis-line{
            margin-top:10px;
            .fa{color: @orange; margin-right: 5px;}

            &[data-tty="TTY"]::after {
              content: attr(data-tty);
              background: @teal;
              border-radius: 5px;
              padding: 3px;
              font-size: 10px;
              font-weight: bold;
            }
        }
        .main{
            padding: 40px;
        }
        h2{
            font-size: 27px;
            border-bottom: none;
            font-weight: 100;
            padding-bottom: 0px;
        }
        address{
            font-style: normal;
            font-size: 17px;
            margin: 15px 0px;
            display: block;
            color:@white;
        }
        ul{
            li{
                color:@white;
                line-height: 16px;
                letter-spacing: 0.5px;
                a{
                    font-weight: 800;
                }
                &:before{
                    .fa;
                    margin-right: 5px;
                    display: inline-block !important;
                }
                &.email:before{content:"\f0e0";}
                &.website:before{content:"\f108";}
                &.facebook:before{content:"\f09a";}
                &.twitter:before{content:"\f099";}
            }
        }
        ul.phones{
            margin-bottom: 20px;
        }
        ul.outreach li{
            padding: 5px 0px;
            @media @1024{
                padding: 2px 0px;
            }
        }
        ul.outreach{
            margin-bottom: 10px;
        }
        button.cta{
            display: inline-block;
            padding: 17px 24px;
            font-size: 18px;
            text-transform: uppercase;
            font-weight: 600;
            letter-spacing: 1px;
            background-color: @orange;
            color: @white;
            position: relative;
            z-index: 2;
            margin-top: 20px;
            height: auto;
            line-height: 18px;
            &:hover, &:focus{
                background-color: darken(@orange, 2.5%);
            }
            &:active{
                background-color: darken(@orange, 5%);
            }
        }
        @media @1450{
            width: 500px;
        }
        @media @1024{
            width: 300px;
            header, .main{
                padding: 20px;
            }
            &:before{
                top: 67px;
            }
        }
        @media @mobile{
            height: auto;
            display: block;
            width: 100%;
        }
    }
}


section.providers{
    padding-bottom: 0px;
    background-color: darken(@white, 1%);
    @media (max-width:767px){ button.pdf{ display: none !important; } }
    p.other-offices {
        padding: 20px 20px 20px 23px;
        a{ color: #f5d76e !important; }
    }
    .providerSearch{
        margin: 0 auto;
        padding: 0px 0px 20px 0px;
        text-align: center;
        .boxShadow(none);
        position: relative;
        z-index: 9;
        form{
            margin-top: -10px;
            div, button{
                display: inline-block;
                margin: 0px;
                text-align: left;
                width: 270px;
                &:first-child,&:nth-child(2){
                    margin-right: 10px;
                }
            }
            div.geolocate { width: auto; }
            button{
                width: auto;
            }
            label, input{
                .rw;
                text-transform: uppercase;
                .borderRadius(0px);
            }
            .styledSelect{
                background-color: @orange;
                &:active, &:hover{
                    box-shadow: 2px 2px 3px 1px rgba(0,0,0,0.1);
                    -webkit-box-shadow: 2px 2px 3px 1px rgba(0,0,0,0.1);
                }
                float: none;
                &:focus, input:focus{
                    background-color: darken(@orange, 5%);
                }
            }
            [data-error] input#zip {
              background: @darkOrange;
            }
            [data-error]::after {
              content: attr(data-error);
              font: 18px FontAwesome;
              background-color: transparent;
              padding: 0;
              margin-top: -47px;
              margin-right: 10px;
              width: 18px;
              float: right;
              position: relative;
            }
            input#zip{
                width: 100%;
                background: @blue;
                display: inline-block;
                &:active, &:hover{
                    box-shadow: 2px 2px 3px 1px rgba(0,0,0,0.1);
                    -webkit-box-shadow: 2px 2px 3px 1px rgba(0,0,0,0.1);
                }
            }
            input.submit{
                width: 30%;
                display: inline-block;
                margin-left: -4px;
                line-height: 29px;
                position: relative;
                top: -1px;
                .buttonColor(saturate(@blue, 30%));
                .borderRadius(0px);
                &:active, &:hover{
                    box-shadow: 2px 2px 3px 1px rgba(0,0,0,0.1);
                    -webkit-box-shadow: 2px 2px 3px 1px rgba(0,0,0,0.1);
                }
                text-indent: 0px;
            }
            button.button {
                .buttonColor(saturate(@blue, 55%));
                line-height: 29px;
                border-radius: 0px;
                margin-left: -1px;
                &:nth-child(3){
                    background: @teal;
                    margin-left: -15px;
                }
                @media @mobile{
                    width: 50%;
                    text-align: center;
                }
            }
        }
        > a{
            margin-top: 25px;
            margin-bottom: 10px;
            display: inline-block;
        }
    }



    .main.mapTool{
        display: table;
        width: 100%;
        @media @mobile{
            display: block;
        }
    }
    figure.map{
        #mapCanvas{
            height: 100%;
        }
        // Map popups
        p.providerTitle {
            .rw;
            .font(1.6,1.6,0.025,@normal,none) !important;
            margin: 9px 0px 0px 0px;
            white-space: nowrap;
            overflow: hidden;
        }
    }
    figure.map{
        #mapCanvas{
            height: 100%;
        }
    }
    article.details{ width:500px;}
    figure.map, article.details{
        display: table-cell;
        height: 600px;
        @media (max-width:1000px){
            display: block;
            width: 100%;
            height: 300px;
            #mapCanvas{
                height: 100%;
            }
        }
    }
    article.details{
        @media (Max-width:1000px){
            height:auto;
        }
    }


    article.details{
        background-color: @blue;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2c5465+0,1a2c3d+100 */
        background: rgb(44,84,101); /* Old browsers */
        background: -moz-linear-gradient(60deg,  rgba(44,84,101,1) 0%, rgba(26,44,61,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(60deg,  rgba(44,84,101,1) 0%,rgba(26,44,61,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(60deg,  rgba(44,84,101,1) 0%,rgba(26,44,61,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c5465', endColorstr='#1a2c3d',GradientType=1 ); /* IE6-9 */
        position: relative;
        vertical-align: top;
        color: @white;
        p{
            color: @white;
            opacity: 0.8;
            .font(1.4,1.7,0.025,@normal,none);
            margin-bottom: 0px;
        }
        h2{
            color: @white;
            font-size: 28px;
            line-height: 32px;
            font-weight: 100;
            padding: 0px 10px 10px 0px;
            margin-bottom: 0px;
            margin-top: 0px;
            @media @mobile{
                font-size: 22px;
                line-height: 26px;
            }
        }
        h3{
            display: inline-block;
            font-size: 12px;
            text-transform: uppercase;
            color: #fff;
            margin-bottom: 0px;
            margin-left: 38px;
            & + a, & + span{
                display: block;
                font-weight: @bold;
                margin-left: 39px;
                margin-top: -5px;
            }
        }
        address{
            .font(1.6,2,0.025,@normal,none);
            white-space: pre-wrap;
            padding: 0px;
            font-style:normal;
            margin: 0px 0px 10px 0px;
            @media @mobile{
                font-weight: 500;
                font-size: 14px;
                margin-bottom: 10px;
            }
        }
        ul{
            margin: 20px 0px;
            list-style: none;
            margin-top: 10px;
        }
        a{
            .textButtonColor(@teal);
        }
        ul.phones {
            margin: 0px !important;
            padding: 20px 20px 13px 20px;
            background: rgba(0,0,0,0.15);
            li{
                display: inline-block;
                width: 48%;
                padding: 0px; margin: 0;
                &:last-child{}
            }
        }
        ul.outreach{
            padding-left: 20px;
            @media (max-width:1000px){
                padding-bottom: 20px;
            }
            li{
                color:@white;
                line-height: 20px;
                letter-spacing: 0.5px;
                a{
                    color: @yellow;
                    font-weight: 800;
                }
                &:before{
                    .fa;
                    margin-right: 5px;
                    font-size: 17px;
                    //margin-left:-20px;
                    font-size: 31px;
                    position: absolute;
                    margin-top: 9px;
                    opacity: 1;
                    color: #2c5465;
                    background: lighten(#2c5465,20%);
                    height: 27px;
                    line-height: 28px;
                    text-align: center;
                    font-size: 14px;
                    border-radius: 50%;
                    width: 27px;
                }
                &.phone:before{content:"\f095";}
                &.phone a[data-tty="TTY"]::after {
                  content: attr(data-tty);
                  background: @teal;
                  border-radius: 5px;
                  padding: 3px;
                  font-size: 10px;
                  font-weight: bold;
                  margin-left: 5px;
                }
                &.email:before{content:"\f0e0";}
                &.website:before{content:"\f108";}
                &.facebook:before{content:"\f082";}
                &.twitter:before{content:"\f099";}
                @media @1024{
                    margin-bottom: 8px;
                    &:before{
                        display: none;
                    }
                }
            }
        }
        p.notes,
        p.other-offices {
          margin: 15px 0;
        }
        &:before{
            content: '';
            width: 0;
            height: 0;
            border-right: 30px solid #192D39;
            border-top: 30px solid transparent;
            border-bottom: 30px solid transparent;
            position: absolute;
            left: -30px;
            top: 40px;
            .opacity(1);
        }
        header{
            background: rgba(0,0,0,0.3);
            padding: 40px;
        }
        .main{
            padding: 20px;
        }
    }
}

.providersList{
    padding: 20px;
    @media @mobile{padding: 20px 10px;}
    ul{
        .columns(5,100px,20px);
        padding-bottom: 0px;
        @media @mobile{
            -webkit-columns: initial;
            -moz-columns: initial;
            columns: initial;
        }
    }
    display: none;
    h1{
        border-bottom: 2px solid #dce8e8;
        color: #fff;
        font-size: 28px;
        line-height: 32px;
        font-weight: 100;
        padding: 0px 10px 10px 0px;
        margin-bottom: 10px;
        text-align: center;
        margin: 0px 20px 0px 20px;
        padding-top: 10px;
        @media @mobile{
            font-size: 22px;
            line-height: 26px;
            text-align: left;
        }
    }
    ul, li{margin: 0px;padding: 0px;}
    ul{padding: 0px 20px;}
    li{
        //margin-top: 10px;
        cursor: pointer;
        .textButtonColor(@white);
        .avoidColumnSplit;
        .pad{
            padding: 10px 0px;
            font-weight: 500;
            font-size: 13px;
        }
        &:hover{
            color: @yellow;
        }
        .font(1.4,1.4,0.025,@normal,none);
        b{
            font-size: 14px;
            color: lighten(@teal,5%);
            font-weight: 600;
        }
        span{font-style: italic;font-size: 12px;}
        //border-bottom: 1px solid lighten(@navy,5%);
        //padding-bottom: 10px;
    }
}

.providersListOpen{
    .providersList{display: block;}
    .locationDetails.details{
        width: 100%;
    }
    .providers article .inner{display: none;}

}

.mapView{
    display: block;
    .buttonColor(@teal);
    margin: 0 auto;

}

//Responsive Styles
@media (max-width:1000px){
    #main section.providers{
         article.details{
             background: #2c5465;
             padding-bottom: 20px;
             &:before{display: none;}
             header{
                 padding: 20px 20px 10px 20px;
                 background: transparent;
             }
             .main{
                 padding: 0px 20px;
             }
             address{
                 margin: 0px;
                 padding: 0px;
             }
             ul.phones{
                background: transparent !important;
                padding: 0px;
             }
             ul.outreach{ margin-bottom:-10px; padding: 0px;}
             @media (max-width:1000px){ ul.outreach{ padding-bottom: 20px;}}
             @media @mobile{ ul.outreach{ margin-top: 0px; padding-bottom: 0px; } }
         }
    }
}

@media @mobile{
    #main section.providers{
        form#search > *, form#search > * label {
            //margin: 0px !important;
            margin-top: 9px !important;
            &[for="zip"], &[for="county"]{
                margin-bottom: 10px !important;
            }
            &[for="county"]{
                //position: relative;
                top: -33px;
            }
        }
    }
}


//Full View
.full-view{
    article.locationDetails.details{
        display: none;
    }
}

.providersListOpen figure.map {
    display: none !important;
}

// Admin Styles
section.providers div.providerSearch button.addProvider.button {
    background: @teal;
    margin-left: -23px;
}
section.addProvider header button.close {
    position: absolute;
    right: 10px;
    top: 10px;
    background: @teal;
}
#providerForm {
    padding: 10px 0 0 10px;
    height: 600px;
    overflow-y: auto;

    div.af-checkbox-group {
        columns: 3;
    }
    div.checkbox label {
        display: inline;

        input {
            display: initial;
            -webkit-appearance: checkbox;
        }
        &::after {
            content: '';
        }
    }
    textarea {
      min-height: 0;
    }

    div.radio input {
      -webkit-appearance: radio;
      display: inline;
    }

    div.panel h3.panel-title {
      margin: initial;
    }

    select {
      -webkit-appearance: menulist;
      margin: 10px 0 25px;
    }

    input[type="text"],
    input[type="tel"],
    input[type="email"],
    input[type="url"],
    input[type="number"] { height: 18px; }

    .form-group { margin-right: 10px; }

    .list-group-item.autoform-array-item .autoform-remove-item-wrap { padding-right: 10px; }
}
#providerForm label {
    color: #fff;
    font-weight: normal;
}

// Add Provider form styles
#providerForm [data-required="true"] label::after {
    content: '\f069';
    font: 10px FontAwesome;
    color: @orange;
    margin-left: 5px;
}
.glyphicon::after { font: 12px FontAwesome; }
.glyphicon-plus::after  { content: '\f067'; }
.glyphicon-minus::after { content: '\f068'; }
#providerForm button { background: @teal; }
#providerForm li { list-style-type: none; }
#providerForm span.help-block {
    color: #f55;
    font-weight: bold;
    float: right;
    margin-top: -53px;
    margin-right: 10px;
}

div.mapTool article.details aside.adminControls {
    position: absolute;
    width: auto;
    right: 5px;
    top: 20px;

    span.fa {
        font-size: 16px;
        color: #fff;
        background: @teal;
        cursor: pointer;
        width: 24px;
        height: 24px;
        text-align: center;
        padding: 0;
        margin-right: 5px;
        line-height: 25px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
    }
    span.delete {
        background: @orange;
    }
}

@media print{
    section.providers .providerSearch{ display: none; }
    section.providers article.details{ background: transparent !important;}
    #main section.providers article.details header{ padding: 20px 0px !important;}
    section.providers p.other-offices{ padding: 0px !important;}
    #main section.providers article.details .main{ padding: 0px !important;}

}