//Structure
section.learningCenter {
    width: 1100px;
    height: ~"calc(100vh - 32px)";
    text-align: left;
    top: 0px;
    .tabStyle(@blueGray,25%,65px,true);
    ul.resourcesItems > li .inner {
        padding: 0px;
        margin: 0 auto;
        .clearfix;
    }
    .closeTab{
        display: block;
    }
    ul.newsItems > li .inner{
        max-width: 600px;
        padding: 30px;
        margin: 0 auto;
    }
    @media @1250{
        width: 900px;
    }
    @media @1024{
        width: 700px;
    }
}

//Element Styles
section.learningCenter{
    h3{
        padding: 0px;
        text-align: left;
    }
    h3 a{
        .font(1.4,1.4,0.01,@normal,none);
        .textButtonColor(lighten(@teal, 5%));
    }
    a h3, a .icon{
        margin-top: 0px;
        padding-top: 0px;
        text-align: center;
        .textButtonColor(lighten(@teal, 2.5%));
        .font(1.4,1.4,0.01,@normal,none);
    }
    form{
        .styledSelect{
            width:100%;
            margin: 10px 1% 0px 0px;
        }
        input[type=submit]{
            margin-top: 10px;
            text-indent: 0px;
            margin-bottom: 6px;
        }
        button.viewAll{
            .textButtonColor(@gray);
            .shadowNone;
        }
    }
    li.loadMore{
        text-align: center;
        padding: 30px 0px;
        button{
            .buttonColor(@blueGray);
            margin: 0 auto;
            & + span.everything {
                display: none;
                margin: 0 auto;
            }
        }
        &.everything { display: none; }
        &.everything + span.everything { display: block; }
    }
}




//Library
.library > li{
    details{background-color: darken(@sidebarContentBgColor, 3%);}
    &:nth-child(even) details{background-color: darken(@sidebarContentBgColor, 1%);}
    p{margin:0px;}
    details{
        width: 429px;
        float: left;
        margin: 30px;
        .shadow(far);
        summary{
            padding: 30px;
            h5{
                .font(1.4,2.0,0.025,@normal,none);
                color: @gray;
                margin: 0px;
            }
            p{
                .font(1.2,1.2,0.025,@normal,none);
                color: @teal;
                margin: 10px 0px 0px 0px;
            }
            &:hover{
                h5{
                    color: @white;
                }
                p{
                    color: lighten(@teal, 5%);
                }
            }
        }
    }
    dl{
        .dlColors(@black,@white,@white);
        margin:0px 0px 10px 0px;
        display: block;
        //white-space: nowrap;
        dd{
            &.statusStockAvailable{color: @teal;}
            &.statusStockUnavailable{color: @yellow;}
        }
    }
    dl dt, dl dd, button{.font(1.2,1.6,0.025,@normal,none)};
    button.requestLibraryItem{display: block;width: 100%;}
    dl{background-color: darken(@sidebarContentBgColor, 8.5%);}
    button{.buttonColor(darken(@sidebarContentBgColor, 3%));}
    //summary{background-color: darken(@sidebarContentBgColor, 8.5%);}
    &:nth-child(even){
        dl{background-color: darken(@sidebarContentBgColor, 6.5%);}
        button{.buttonColor(darken(@sidebarContentBgColor, 1%));}
        //summary{background-color: darken(@sidebarContentBgColor, 6.5%);}
    }
    dl.material dt{display: none;}
    aside.info{
        width: 137px;
        padding: 30px 30px 30px 0px;
        float: left;
    }
    details dl{
        .dlColors(darken(@sidebarContentBgColor, 8.5%),@gray,@yellow);
        margin: 0px 20px 20px 20px;
        padding: 20px;
        dt{font-weight: @normal;}
        dd,dt{
            //padding: 10px 0px 10px;
            .font(1.2,2.0,0.025,@normal,none);
        }
        dd{
            font-weight: bold;
            .clearfix;
        }
    }

    span.loginToRequest{
        .font(1.2,2.0,0.025,@normal,none);
        white-space: nowrap;
        position: relative;
        left: 3px;
        top: 6px;
        button{
            .shadowNone;
            background-color:transparent !important;
            white-space: nowrap;
            margin-left: -9px;
            padding: 0px;
            margin: 0px;
            .textButtonColor(@yellow);
        }
    }
}



.requestResults{
    p{
        color: @white;
        .font(1.2,2.0,0.025,@normal,none);
        .fa{.font(1.8,2.0,0.025,@light,none);}
        button{
            .textButtonColor(@teal);
            background-color: transparent !important;
            .shadowNone;
            margin: 0px;
            padding: 0px;
            display: block;
        }
    }
    p.requestSuccess{.fa{color: @teal;}}
    p.requestFailed{.fa{color:@orange;}}
}

